.vscode/allianceuat_compare/force-app/main/default/flows/ALN_202_TEST_FLOW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Next_Customer_Number</name>
        <label>Assign Next Customer Number</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignNextCustomerNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Next_Customer_Number_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Next_Customer_Number_Text</name>
        <label>Assign Next Customer Number (Text)</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AssignCx</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignCxWith0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Custom_ID_on_Account</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>AssignCxWith0</name>
        <dataType>String</dataType>
        <expression>&apos;0&apos; + TEXT({!AssignNextCustomerNumber})</expression>
    </formulas>
    <formulas>
        <name>AssignNextCustomerNumber</name>
        <dataType>Number</dataType>
        <expression>{!Get_Last_Customer_Number.Sequential_Customer_Number_del__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ALN 202 TEST FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Customer ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Last_Customer_Number</name>
        <label>Get Last Customer Number</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Next_Customer_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00D9p00000C4Ngf</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>nuuco_settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Custom_ID_on_Account</name>
        <label>Update Custom ID on Account</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Sequential_Customer_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_ID__c</field>
            <value>
                <elementReference>AssignCx</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sequential_Customer_Number</name>
        <label>Update Sequential Customer Number</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00D9p00000C4Ngf</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sequential_Customer_Number_del__c</field>
            <value>
                <elementReference>AssignNextCustomerNumber</elementReference>
            </value>
        </inputAssignments>
        <object>nuuco_settings__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_Customer_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_ID__c</field>
            <operator>EqualTo</operator>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignCx</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
