.vscode/allianceuat_compare/force-app/main/default/flows/AN_Add_New_BSB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Branch_Code</name>
        <label>Create Branch Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowCustomMetadataCreator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Branch_Details</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>tc9_pr__Branch_Code__mdt</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customMetadataTypeName</name>
            <value>
                <stringValue>tc9_pr__Branch_Code__mdt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>developerName</name>
            <value>
                <elementReference>apiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>masterLabel</name>
            <value>
                <elementReference>BSBNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowCustomMetadataCreator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Deploy_branch_Details</name>
        <label>Deploy branch Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CustomMetadataSaver</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen2</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__customMetadataRecords</typeName>
            <typeValue>tc9_pr__Branch_Code__mdt</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customMetadataRecords</name>
            <value>
                <elementReference>bsbCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailOnError</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailOnSuccess</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>CustomMetadataSaver</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Branch_Code_to_Collection</name>
        <label>Assign Branch Code to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bsbCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Branch_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deploy_branch_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Branch_Details</name>
        <label>Set Branch Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Create_Branch_Code.tc9_pr__Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Australia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Create_Branch_Code.tc9_pr__State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Create_Branch_Code.tc9_pr__Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Create_Branch_Code.tc9_pr__City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Create_Branch_Code.tc9_pr__Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Create_Branch_Code.tc9_pr__Financial_Institution_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Financial_Institution</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Branch_Code_to_Collection</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Existing_BSB_Found</name>
        <label>Existing BSB Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Branch_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE  - Existing BSB Found?</defaultConnectorLabel>
        <rules>
            <name>TRUE_Existing_BSB_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_BSB.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BSB_Found</targetReference>
            </connector>
            <label>TRUE - Existing BSB Found?</label>
        </rules>
    </decisions>
    <description>BSB metadata for validating bank details in the BH connect app</description>
    <dynamicChoiceSets>
        <name>statePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>tc9_pr__State__c</picklistField>
        <picklistObject>tc9_pr__Branch_Code__mdt</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>apiName</name>
        <dataType>String</dataType>
        <expression>&quot;x&quot;+{!BSBNumber}</expression>
    </formulas>
    <interviewLabel>AN - Add New BSB {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>AN - Add New BSB</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Existing_BSB</name>
        <label>Get Existing BSB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_BSB_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BSBNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Branch_Code__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Branch_Details</name>
        <label>Branch Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Branch_Code</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_BSBNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BSBNumber</elementReference>
            </defaultValue>
            <fieldText>BSB</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Financial_Institution</name>
            <dataType>String</dataType>
            <fieldText>Financial Institution</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>State</name>
            <choiceReferences>statePL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Post_Code</name>
            <dataType>String</dataType>
            <fieldText>Post Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Post Code must be 4 digits long &lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(REGEX(TRIM({!BSBNumber}), &quot;^[0-9]{4}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BSB_Found</name>
        <label>BSB Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_successMessage</name>
            <extensionName>flowruntime:message</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageContent</name>
                <value>
                    <stringValue>This BSB Already Exists</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_BSBNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Existing_BSB.Label</elementReference>
            </defaultValue>
            <fieldText>BSB</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Financial_Institution</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Existing_BSB.tc9_pr__Financial_Institution_Name__c</elementReference>
            </defaultValue>
            <fieldText>Financial Institution</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Existing_BSB.tc9_pr__Address__c</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Existing_BSB.tc9_pr__City__c</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>State3</name>
            <choiceReferences>statePL</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Existing_BSB.tc9_pr__State__c</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Post_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Existing_BSB.tc9_pr__Postcode__c</elementReference>
            </defaultValue>
            <fieldText>Post Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Post Code must be 4 digits long &lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(
  REGEX(
    SUBSTITUTE({!Post_Code},&quot; &quot;,&quot;&quot;),
    &quot;^[0-9]{4}$&quot;
  )
)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_BSB_Screen</name>
        <label>Enter BSB Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Existing_BSB</targetReference>
        </connector>
        <fields>
            <name>BSBNumber</name>
            <dataType>String</dataType>
            <fieldText>BSB</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;BSB must be exactly 6 digits (e.g., 012345). Letters or symbols are not allowed.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX(TRIM({!BSBNumber}), &quot;^[0-9]{6}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMessage_0</name>
            <extensionName>flowruntime:message</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageContent</name>
                <value>
                    <elementReference>faultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_BSBNumber_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BSBNumber</elementReference>
            </defaultValue>
            <fieldText>BSB</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Financial_Institution_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Financial_Institution</elementReference>
            </defaultValue>
            <fieldText>Financial Institution</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Street_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Street</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_City_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>City</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_State_0</name>
            <choiceReferences>statePL</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>State</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Post_Code2_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Post_Code</elementReference>
            </defaultValue>
            <fieldText>Post Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen2</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMessage</name>
            <extensionName>flowruntime:message</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageContent</name>
                <value>
                    <elementReference>sucessText</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_BSBNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BSBNumber</elementReference>
            </defaultValue>
            <fieldText>BSB</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Financial_Institution</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Financial_Institution</elementReference>
            </defaultValue>
            <fieldText>Financial Institution</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Street</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>City</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_State</name>
            <choiceReferences>statePL</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>State</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Post_Code2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Post_Code</elementReference>
            </defaultValue>
            <fieldText>Post Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_BSB_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>faultMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Unable to save new BSB. Please reach out to your Salesforce admin.</text>
    </textTemplates>
    <textTemplates>
        <name>sucessText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New BSB successfully saved</text>
    </textTemplates>
    <variables>
        <name>bsbCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Branch_Code__mdt</objectType>
    </variables>
</Flow>
