.vscode/allianceuat_compare/force-app/main/default/flows/appTest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>fault</name>
        <label>fault</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>appTest flow error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>005QE000003L6WvYAK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>appTest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>appTest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>test2</name>
        <label>test2</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <faultConnector>
            <targetReference>fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012QE000000TsD7YAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Applicant__c</field>
            <value>
                <stringValue>0039t00000YryNRAAZ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Job__c</field>
            <value>
                <stringValue>a42QE0000005QDBYA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Stage__c</field>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </inputAssignments>
        <object>TR1__Application_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Test</name>
        <label>Test</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>test2</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Test</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
