.vscode/allianceuat_compare/force-app/main/default/flows/Assignment_Create_Perm_Contract_Invoiceable_Fees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_rec_to_rcs</name>
        <label>Add rec to rcs</label>
        <locationX>1725</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>rcs_invoiceable_fee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_invoiceable_fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Fee_quantity</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>ff_quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_fees_remaining</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ff_fee_total</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoiceable_Fee</name>
        <label>Assign Invoiceable Fee</label>
        <locationX>1854</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.To_be_Invoiced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_to_be_invoiced</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.tc9_et__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.tc9_et__Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.tc9_et__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Employee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.tc9_et__Fee_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_fee_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.tc9_et__Invoice_Alone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.tc9_et__Invoice_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.tc9_et__Invoice_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_Invoice_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.tc9_et__Invoice_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_et__Invoice_Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.tc9_et__Invoice_Tax_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_et__Invoice_Tax_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.tc9_et__Invoice_Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_et__Invoice_Taxable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.tc9_et__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_invoiceable_fee.tc9_et__Fee_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_Fee_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_rec_to_rcs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Invoice_Qty_from_Fee_Qty</name>
        <label>Subtract Invoice Qty from Fee Qty</label>
        <locationX>1726</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>var_date_counter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ff_quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_test_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeeDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contract_Fee_Type</name>
        <label>Contract Fee Type</label>
        <locationX>1023</locationX>
        <locationY>643</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Off_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Fee_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One Off Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecType</targetReference>
            </connector>
            <label>One Off Fee</label>
        </rules>
        <rules>
            <name>Weekly_or_Monthly_Fee</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Fee_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly Fee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Fee_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType</targetReference>
            </connector>
            <label>Weekly or Monthly Fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Fee</name>
        <label>Create Fee</label>
        <locationX>1425</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>Fees_to_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_create_next</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Fee_quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ff_quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_Invoice_Qty_from_Fee_Qty</targetReference>
            </connector>
            <label>Yes create next</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fees_to_create</name>
        <label>Fees to create</label>
        <locationX>1428</locationX>
        <locationY>712</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcs_invoiceable_fee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_0</name>
        <label>Quantity != 0</label>
        <locationX>1727</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>Create_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ff_quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invoiceable_Fee</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation</name>
        <label>RecordType</label>
        <locationX>1024</locationX>
        <locationY>457</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Perm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perm</stringValue>
                </rightValue>
            </conditions>
            <label>Perm</label>
        </rules>
        <rules>
            <name>Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract_Perm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Fee_Type</targetReference>
            </connector>
            <label>Contract</label>
        </rules>
    </decisions>
    <description>ALN-21 - Support creation of Invoicable Fees for &quot;Fee for Service&quot; model</description>
    <environments>Default</environments>
    <formulas>
        <name>FeeDate</name>
        <dataType>Date</dataType>
        <expression>CASE({!$Record.Contract_Fee_Type__c}, 
&apos;Weekly Fee&apos;,  ({!$Record.tc9_pr__Assignment_Start_Date__c} -7) + ({!var_date_counter}* 7), 
&apos;Monthly Fee&apos;, 
ADDMONTHS({!$Record.tc9_pr__Assignment_Start_Date__c},{!var_date_counter})  ,  
{!$Flow.CurrentDate}
  )</expression>
    </formulas>
    <formulas>
        <name>ff_fee_date</name>
        <dataType>Date</dataType>
        <expression>if({!FeeDate} &gt; {!$Record.tc9_pr__Assignment_End_Date__c} , {!$Record.tc9_pr__Assignment_End_Date__c}, {!FeeDate})</expression>
    </formulas>
    <formulas>
        <name>ff_fee_total</name>
        <dataType>Number</dataType>
        <expression>{!ff_quantity}*{!$Record.Contract_Invoice_Amount__c}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>ff_oneoff_to_be_invoiced</name>
        <dataType>Boolean</dataType>
        <expression>if({!$Record.tc9_pr__Assignment_Start_Date__c} &lt;= {!$Flow.CurrentDate}, true, false)</expression>
    </formulas>
    <formulas>
        <name>ff_quantity</name>
        <dataType>Number</dataType>
        <expression>if({!var_Fee_quantity}&gt;=1, 1, {!var_Fee_quantity})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ff_to_be_invoiced</name>
        <dataType>Boolean</dataType>
        <expression>if({!ff_fee_date} &lt;= {!$Flow.CurrentDate}, true, false)</expression>
    </formulas>
    <formulas>
        <name>InvoiceDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Candidate: &quot; &amp; {!$Record.Employee_Name__c} &amp; BR() &amp; 
&quot;Position: &quot; &amp; {!$Record.tc9_pr__Assignment_Name__c} &amp; BR() &amp; 
&quot;Start Date: &quot; &amp; TEXT(DAY({!$Record.tc9_pr__Assignment_Start_Date__c})) &amp; &quot;/&quot; &amp; TEXT(MONTH({!$Record.tc9_pr__Assignment_Start_Date__c})) &amp; &quot;/&quot; &amp; TEXT(YEAR({!$Record.tc9_pr__Assignment_Start_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>InvoiceDescriptionContract</name>
        <dataType>String</dataType>
        <expression>&quot;Candidate: &quot; &amp; {!$Record.Employee_Name__c} &amp; BR() &amp; 
&quot;Position: &quot; &amp; {!$Record.tc9_pr__Assignment_Name__c} &amp; BR() &amp; 
&quot;Week Commencing: &quot; &amp; TEXT(DAY({!ff_fee_date})) &amp; &quot;/&quot; &amp; TEXT(MONTH({!ff_fee_date})) &amp; &quot;/&quot; &amp; TEXT(YEAR({!ff_fee_date})) &amp; BR()</expression>
    </formulas>
    <formulas>
        <name>Number_of_contract_fees</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Number_of_Contract_Fees__c}
/* IF(
    ISPICKVAL({!$Record.Contract_Fee_Type__c}, &quot;Weekly Fee&quot;),
    ROUND(({!$Record.tc9_pr__Assignment_End_Date__c} - {!$Record.tc9_pr__Assignment_Start_Date__c}) / 7, 2),
    IF(
        ISPICKVAL({!$Record.Contract_Fee_Type__c}, &quot;Monthly Fee&quot;),
        ROUND(
            (
                (YEAR({!$Record.tc9_pr__Assignment_End_Date__c}) - YEAR({!$Record.tc9_pr__Assignment_Start_Date__c})) * 12 +
                MONTH({!$Record.tc9_pr__Assignment_End_Date__c}) - MONTH({!$Record.tc9_pr__Assignment_Start_Date__c})
            ) +
            IF(
                DAY({!$Record.tc9_pr__Assignment_End_Date__c}) &gt;= DAY({!$Record.tc9_pr__Assignment_Start_Date__c}),
                1,
                0
            ),
            2
        ),
        NULL
    )
) */</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Assignment - Create Perm/Contract Invoiceable Fees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment - Create Perm/Contract Invoiceable Fees</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Fees</name>
        <label>Create Fees</label>
        <locationX>1434</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Update_Assignment1</targetReference>
        </connector>
        <inputReference>rcs_invoiceable_fee</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoiceable_Fee</name>
        <label>Create Invoiceable Fee</label>
        <locationX>715</locationX>
        <locationY>781</locationY>
        <connector>
            <targetReference>Update_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_be_Invoiced__c</field>
            <value>
                <elementReference>ff_oneoff_to_be_invoiced</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Assignment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Client__c</field>
            <value>
                <elementReference>$Record.tc9_pr__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Employee__c</field>
            <value>
                <elementReference>$Record.tc9_pr__Employee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Fee_Date__c</field>
            <value>
                <elementReference>$Record.tc9_pr__Assignment_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Fee_Type__c</field>
            <value>
                <stringValue>One Off Fee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Alone__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Description__c</field>
            <value>
                <elementReference>InvoiceDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Rate__c</field>
            <value>
                <elementReference>$Record.Contract_Invoice_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Schedule__c</field>
            <value>
                <elementReference>$Record.tc9_et__Invoice_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Tax_ID__c</field>
            <value>
                <elementReference>$Record.tc9_et__Invoice_Tax_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Taxable__c</field>
            <value>
                <elementReference>$Record.tc9_et__Invoice_Taxable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>tc9_et__Invoiceable_Fee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>1282</locationX>
        <locationY>570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payroll_Services_Fee</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_et__Invoiceable_Fee__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecType</name>
        <label>Get RecType</label>
        <locationX>716</locationX>
        <locationY>673</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Invoiceable_Fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payroll_Services_Fee</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_et__Invoiceable_Fee__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assignment</name>
        <label>Update Assignment</label>
        <locationX>716</locationX>
        <locationY>889</locationY>
        <inputAssignments>
            <field>Contract_Fees_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fees_Charged_to_Date__c</field>
            <value>
                <elementReference>$Record.Contract_Invoice_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fees_Remaining__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assignment1</name>
        <label>Update Assignment</label>
        <locationX>1430</locationX>
        <locationY>975</locationY>
        <inputAssignments>
            <field>Contract_Fees_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fees_Remaining__c</field>
            <value>
                <elementReference>var_fees_remaining</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>903</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Confirmed_Started__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Fees_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Perm_Fee_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>tc9_pr__Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countforloop</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>rcs_invoiceable_fee</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Invoiceable_Fee__c</objectType>
    </variables>
    <variables>
        <name>rec_invoiceable_fee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Invoiceable_Fee__c</objectType>
    </variables>
    <variables>
        <name>var_date_counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_fee_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Fee_quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Number_of_contract_fees</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_fees_remaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_test_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_test_datecounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
