.vscode/allianceuat_compare/force-app/main/default/flows/Assignment_on_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Job_Role_fields</name>
        <label>Check Job Role fields</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Custom_Group_By</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FT_PT_IR_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Role.FT_PT_Interpretation_Rule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assignment</targetReference>
            </connector>
            <label>FT/PT IR is not null</label>
        </rules>
        <rules>
            <name>PT_FT_Rate_Calc_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Role.FT_PT_Rate_Calculator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assignment</targetReference>
            </connector>
            <label>PT FT Rate Calc is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_Group_By</name>
        <label>Custom Group By?</label>
        <locationX>358</locationX>
        <locationY>1421</locationY>
        <defaultConnector>
            <targetReference>Update_Invoice_To_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_ext_sirint__Job_Role__r.sirenum__Account__r.Custom_Invoice_Group_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Custom_Group_By</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employee_Casual_or_not</name>
        <label>Employee Casual or not?</label>
        <locationX>358</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Custom_Group_By</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Casual</defaultConnectorLabel>
        <rules>
            <name>Not_Casual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Payee__r.Employment_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Casual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Payee__r.Employment_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Check_Job_Role_fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Not Casual</label>
        </rules>
        <rules>
            <name>Employment_Type_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Payee__r.Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Custom_Group_By</targetReference>
            </connector>
            <label>Employment Type is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rate_Calculator_Set</name>
        <label>Rate Calculator Set?</label>
        <locationX>358</locationX>
        <locationY>1721</locationY>
        <defaultConnector>
            <targetReference>Start_Date_today</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YEs2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_et__Rate_Calculator_Template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tc9_et__Rate_Calculator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RC</targetReference>
            </connector>
            <label>YEs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Date_today</name>
        <label>Start Date &lt;= today</label>
        <locationX>358</locationX>
        <locationY>2021</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_update_PLRs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Assignment_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PLRs</targetReference>
            </connector>
            <label>Yes - update PLRs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Temp_Only</name>
        <label>Temp Only</label>
        <locationX>600</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Temp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Temp</label>
        </rules>
    </decisions>
    <description>ALN-21 - Added more logic
ALN-222 - Updated logic on Get Invoice Settings to get the correct invoice setting
ALN-268 - Setting RC Template for PT/FT
ALN-216 - Added update to assignment on PLR</description>
    <environments>Default</environments>
    <formulas>
        <name>ff_invoice_setting_client</name>
        <dataType>String</dataType>
        <expression>if(isblank({!$Record.tc9_ext_sirint__Job_Role__r.sirenum__Account__r.tc9_ext_sirint__Invoice_To_Account__c}), 
{!$Record.tc9_pr__Client__c}, 
{!$Record.tc9_ext_sirint__Job_Role__r.sirenum__Account__r.tc9_ext_sirint__Invoice_To_Account__c})</expression>
    </formulas>
    <formulas>
        <name>frmContract</name>
        <dataType>String</dataType>
        <expression>IF(
ISPICKVAL({!$Record.tc9_ext_sirint__Job_Role__r.sirenum__Account__r.Invoice_Settings_Source__c}, &quot;Contract&quot;),
{!$Record.tc9_ext_sirint__Job_Role__r.sirenum__Account__c},NULL
)</expression>
    </formulas>
    <formulas>
        <name>frmCrossAssignmentID</name>
        <dataType>String</dataType>
        <expression>{!$Record.tc9_pr__Payee__c} + &quot;_&quot; + {!$Record.tc9_et__Interpretation_Rule__c}</expression>
    </formulas>
    <formulas>
        <name>frmInvoiceEntity</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.tc9_ext_sirint__Job_Role__r.sirenum__Account__r.Default_Invoice_Entity__c})),{!$Record.tc9_ext_sirint__Job_Role__r.sirenum__Account__r.Default_Invoice_Entity__c},{!$Record.tc9_pr__Client__r.Default_Invoice_Entity__c}
)</expression>
    </formulas>
    <formulas>
        <name>frmPHCalendar</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.tc9_ext_sirint__AssignmentString__c},18)</expression>
    </formulas>
    <interviewLabel>Assignment on Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment on Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>358</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice to Account Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Casual_Record_Type</name>
        <label>Get Casual Record Type</label>
        <locationX>358</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee_Casual_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Employee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Setting</name>
        <label>Get Invoice Setting</label>
        <locationX>358</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ff_invoice_setting_client</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Invoice_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmInvoiceEntity</elementReference>
            </value>
        </filters>
        <filters>
            <field>WFM_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmContract</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Invoice_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payroll_Items</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Invoice_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Role</name>
        <label>Get Job Role</label>
        <locationX>358</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Casual_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_ext_sirint__Job_Role__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assignment</name>
        <label>Update Assignment</label>
        <locationX>50</locationX>
        <locationY>1229</locationY>
        <connector>
            <targetReference>Custom_Group_By</targetReference>
        </connector>
        <inputAssignments>
            <field>Payroll_Invoice_Setting_ID__c</field>
            <value>
                <elementReference>Get_Invoice_Setting.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Interpretation_Rule__c</field>
            <value>
                <elementReference>Get_Job_Role.FT_PT_Interpretation_Rule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Public_Holiday_Calendar__c</field>
            <value>
                <elementReference>frmPHCalendar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Rate_Calculator_Template__c</field>
            <value>
                <elementReference>Get_Job_Role.FT_PT_Rate_Calculator__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Custom_Group_By</name>
        <label>Update Custom Group By</label>
        <locationX>226</locationX>
        <locationY>1529</locationY>
        <connector>
            <targetReference>Rate_Calculator_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>Cross_Assignment_Group_By_ID__c</field>
            <value>
                <elementReference>frmCrossAssignmentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payroll_Invoice_Setting_ID__c</field>
            <value>
                <elementReference>Get_Invoice_Setting.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_To_Account__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_To_Account</name>
        <label>Update Invoice To Account</label>
        <locationX>490</locationX>
        <locationY>1529</locationY>
        <connector>
            <targetReference>Rate_Calculator_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>tc9_et__Invoice_To_Account__c</field>
            <value>
                <elementReference>$Record.tc9_ext_sirint__Job_Role__r.sirenum__Account__r.tc9_ext_sirint__Invoice_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PLRs</name>
        <label>Update PLRs</label>
        <locationX>226</locationX>
        <locationY>2129</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payee__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Assignment_Start_Date__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_pr__Assignment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_pr__Payee_Leave_Rule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RC</name>
        <label>Update RC</label>
        <locationX>226</locationX>
        <locationY>1829</locationY>
        <connector>
            <targetReference>Start_Date_today</targetReference>
        </connector>
        <inputAssignments>
            <field>Create_Rate_Calculator__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Temp_Only</targetReference>
        </connector>
        <filterFormula>AND(
    ISBLANK({!$Record.tc9_et__Rate_Calculator__c}),
    OR(
        NOT(ISBLANK(TEXT({!$Record.tc9_ext_sirint__Job_Role__r.sirenum__Account__r.Custom_Invoice_Group_By__c}))), 
        NOT(ISBLANK({!$Record.tc9_et__Rate_Calculator_Template__c}))
    ),
    NOT(ISBLANK({!$Record.tc9_ext_sirint__Job_Role__c}))
)</filterFormula>
        <object>tc9_pr__Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
