.vscode/allianceuat_compare/force-app/main/default/flows/Bulk_Approve_Timesheet_from_Bulk_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Approval_Fields_on_Each_EXP</name>
        <label>Set Approval Fields on Each EXP</label>
        <locationX>534</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>rec_EXP.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_EXPs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approval_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approval_Status_No_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Rejection_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EXP_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_EXP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_EXP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_EXPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_Each_PLE</name>
        <label>Set Approval Fields on Each PLE</label>
        <locationX>534</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>rec_PLE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_PLEs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PLE.tc9_pr__Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PLE.tc9_pr__Approved_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PLE.tc9_pr__Approved_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PLE_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_PLE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_PLE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_PLEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_Each_TSE</name>
        <label>Set Approval Fields on Each TSE</label>
        <locationX>534</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>rec_TSE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_TSEs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approval_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TSE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_TSE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TSE_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_TSEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_Each_TSI</name>
        <label>Set Approval Fields on Each TSI</label>
        <locationX>534</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>rec_TSI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_TSIs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approval_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approval_Status_No_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Rejection_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TSI_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_TSI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_TSI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_TSIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_TS_Header</name>
        <label>Set Approval Fields on TS Header</label>
        <locationX>446</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TS_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Transaction_Creation_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TS_Header</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_TS_Header</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TSEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Submitted_Fields_on_TS_Header</name>
        <label>Set Submitted Fields on TS Header</label>
        <locationX>94</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TS_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Transaction_Creation_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TS_Header</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_TS_Header</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TSEs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Record_Still_Pending</name>
        <label>Is Record Still Pending?</label>
        <locationX>490</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Bulk_Job_Request_to_Failed_TS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.agx_Processing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.agx_2c9_Timesheet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TSEs_to_Approve</targetReference>
            </connector>
            <label>Yes-Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Scheduled_Start_Time_in_the_Past</name>
        <label>Is Scheduled Start Time in the Past</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.agx_Scheduled_Time__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TSEs_to_Approve</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_or_Approve</name>
        <label>Submit or Approve</label>
        <locationX>270</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Loop_over_TSEs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Approve</defaultConnectorLabel>
        <rules>
            <name>Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.agx_Job_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Timesheet Submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Submitted_Fields_on_TS_Header</targetReference>
            </connector>
            <label>Submit</label>
        </rules>
    </decisions>
    <description>31-Jul-2025: Created this version to allow temporary approval of 0/zero hour timesheets</description>
    <environments>Default</environments>
    <formulas>
        <name>fmla_Start_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate-28}),MONTH({!$Flow.CurrentDate-28}),1)</expression>
    </formulas>
    <interviewLabel>Bulk Approve Timesheet from Bulk Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Approve Timesheet from Bulk Request</label>
    <loops>
        <name>Loop_over_EXPs</name>
        <label>Loop over EXPs</label>
        <locationX>446</locationX>
        <locationY>1811</locationY>
        <collectionReference>Get_EXPs_to_Approve</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Fields_on_Each_EXP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_PLEs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_PLEs</name>
        <label>Loop over PLEs</label>
        <locationX>446</locationX>
        <locationY>2111</locationY>
        <collectionReference>Get_PLEs_to_Approve</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Fields_on_Each_PLE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Approval_Fields_on_TS_Header</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_TSEs</name>
        <label>Loop over TSEs</label>
        <locationX>446</locationX>
        <locationY>1211</locationY>
        <collectionReference>Get_TSEs_to_Approve</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Fields_on_Each_TSE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_TSIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_TSIs</name>
        <label>Loop over TSIs</label>
        <locationX>446</locationX>
        <locationY>1511</locationY>
        <collectionReference>Get_TSIs_to_Approve</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Fields_on_Each_TSI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_EXPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_EXPs_to_Approve</name>
        <label>Get EXPs to Approve</label>
        <locationX>270</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PLEs_to_Approve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Approval_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Expense__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PLEs_to_Approve</name>
        <label>Get PLEs to Approve</label>
        <locationX>270</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_or_Approve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Processing_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Payee_Leave_Event__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TSEs_to_Approve</name>
        <label>Get TSEs to Approve</label>
        <locationX>270</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TSIs_to_Approve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Entry__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TSIs_to_Approve</name>
        <label>Get TSIs to Approve</label>
        <locationX>270</locationX>
        <locationY>779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EXPs_to_Approve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_bgl__Cost_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Approval_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Item__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Bulk_Job_Request_to_Failed_TS</name>
        <label>Set Bulk Job Request to Failed_TS</label>
        <locationX>842</locationX>
        <locationY>3251</locationY>
        <inputAssignments>
            <field>agx_Processing_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agx_Status_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bulk_Job_Request</name>
        <label>Update Bulk Job Request</label>
        <locationX>270</locationX>
        <locationY>3143</locationY>
        <faultConnector>
            <targetReference>Set_Bulk_Job_Request_to_Failed_TS</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>agx_Processing_Status__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agx_Status_Message__c</field>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EXPs</name>
        <label>Update EXPs</label>
        <locationX>270</locationX>
        <locationY>2819</locationY>
        <connector>
            <targetReference>Update_TS_Header</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Bulk_Job_Request_to_Failed_TS</targetReference>
        </faultConnector>
        <inputReference>coll_EXP</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PLEs</name>
        <label>Update PLEs</label>
        <locationX>270</locationX>
        <locationY>3035</locationY>
        <connector>
            <targetReference>Update_Bulk_Job_Request</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Bulk_Job_Request_to_Failed_TS</targetReference>
        </faultConnector>
        <inputReference>coll_PLE</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TS_Header</name>
        <label>Update TS Header</label>
        <locationX>270</locationX>
        <locationY>2927</locationY>
        <connector>
            <targetReference>Update_PLEs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Bulk_Job_Request_to_Failed_TS</targetReference>
        </faultConnector>
        <inputReference>col_TS_Header</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TSEs</name>
        <label>Update TSEs</label>
        <locationX>270</locationX>
        <locationY>2603</locationY>
        <connector>
            <targetReference>Update_TSIs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Bulk_Job_Request_to_Failed_TS</targetReference>
        </faultConnector>
        <inputReference>col_TSE</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TSIs</name>
        <label>Update TSIs</label>
        <locationX>270</locationX>
        <locationY>2711</locationY>
        <connector>
            <targetReference>Update_EXPs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Bulk_Job_Request_to_Failed_TS</targetReference>
        </faultConnector>
        <inputReference>coll_TSI</inputReference>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Scheduled_Start_Time_in_the_Past</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>agx_2c9_Timesheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agx_Processing_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>agx_Job_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Timesheet Approve</stringValue>
            </value>
        </filters>
        <filters>
            <field>agx_Job_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Timesheet Submit</stringValue>
            </value>
        </filters>
        <object>AGX_Bulk_Job_Req__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Asynchronous_Path</name>
            <connector>
                <targetReference>Is_Record_Still_Pending</targetReference>
            </connector>
            <label>Asynchronous Path</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>agx_Scheduled_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>col_TS_Header</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet__c</objectType>
    </variables>
    <variables>
        <name>col_TS_selection_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet__c</objectType>
    </variables>
    <variables>
        <name>col_TSE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>coll_EXP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Expense__c</objectType>
    </variables>
    <variables>
        <name>coll_PLE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Leave_Event__c</objectType>
    </variables>
    <variables>
        <name>coll_TS_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_TSI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Item__c</objectType>
    </variables>
    <variables>
        <name>rec_EXP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Expense__c</objectType>
    </variables>
    <variables>
        <name>rec_PLE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Leave_Event__c</objectType>
    </variables>
    <variables>
        <name>rec_TS_Header</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet__c</objectType>
    </variables>
    <variables>
        <name>rec_TSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>rec_TSI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Item__c</objectType>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_EXP_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_PLE_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TS_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TSE_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TSI_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
