.vscode/allianceuat_compare/force-app/main/default/flows/Bulk_Unprocess_Timesheets_Request_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Payment_Entity_to_Collection</name>
        <label>Add Payment Entity to Collection</label>
        <locationX>3834</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>var_Single_PE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmla_Single_PE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Selected_Payment_Entities</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmla_Update_PE_List</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_Payment_Entities_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Single_PE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>If_Creation_of_Payment_Entity_Collection_is_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Payroll_Tax_Location_to_Collection</name>
        <label>Add Payroll Tax Location to Collection</label>
        <locationX>3570</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>var_Single_PT_Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmla_Single_PT_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Selected_PT_Locations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmla_Updated_PT_Location_List</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_PT_Locations_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Single_PT_Location</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>If_Creation_of_Collection_of_PT_Locations_is_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Bulk_Job_Request_NEW</name>
        <label>Add to Bulk Job Request (NEW)</label>
        <locationX>1534</locationX>
        <locationY>5006</locationY>
        <assignmentItems>
            <assignToReference>rec_ABJR.agx_2c9_Timesheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Selected_Timesheets_NEW.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ABJR.agx_Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Timesheet Unprocess to NEW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ABJR.agx_Processing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ABJR.agx_Scheduled_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmla_Scheduled_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TS_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_ABJR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ABJR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Selected_Timesheets_NEW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Bulk_Job_Request_READY</name>
        <label>Add to Bulk Job Request (READY)</label>
        <locationX>1838</locationX>
        <locationY>5006</locationY>
        <assignmentItems>
            <assignToReference>rec_ABJR.agx_2c9_Timesheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Selected_Timesheets_READY.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ABJR.agx_Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Timesheet Unprocess to READY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ABJR.agx_Processing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ABJR.agx_Scheduled_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmla_Scheduled_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TS_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_ABJR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ABJR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Selected_Timesheets_READY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Starting_Parameters</name>
        <label>Assign Starting Parameters</label>
        <locationX>3256</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_Start_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmla_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_End_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmla_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selection_Parameters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Records_in_Filter_All</name>
        <label>Count Records in Filter (All)</label>
        <locationX>3196</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_to_Pay_Transactions_linked_to_TS_All</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_Pay_Transactions_in_PPBs_Found_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Records_in_Filter_All_By_Client</name>
        <label>Count Records in Filter (All) (By Client)</label>
        <locationX>2580</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_to_Pay_Transactions_linked_to_TS_All_By_Client</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_Pay_Transactions_in_PPBs_Found_All_By_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Records_in_Filter_Employee</name>
        <label>Count Records in Filter (Employee)</label>
        <locationX>1436</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_to_Pay_Transactions_linked_to_TS_Employee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_Pay_Transactions_in_PPBs_Found_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Records_in_Filter_Employee_By_Client</name>
        <label>Count Records in Filter (Employee) (By Client)</label>
        <locationX>820</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_to_Pay_Transactions_linked_to_TS_Employee_By_Client</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_Pay_Transactions_in_PPBs_Found_Employee_By_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_IR_Text_Collection</name>
        <label>Populate IR Text Collection</label>
        <locationX>3344</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>coll_IR_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_IRs_to_Create_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_IRs_to_Create_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_TS_IDs_from_PTs_in_Text_Collection_All</name>
        <label>Populate TS IDs from PTs in Text Collection (All)</label>
        <locationX>3064</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>coll_TS_IDs_in_PTs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Each_Timesheet_All.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_TS_IDs_in_PTs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Timesheet_All.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Timesheet_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_TS_IDs_from_PTs_in_Text_Collection_All_By_Client</name>
        <label>Populate TS IDs from PTs in Text Collection (All) (By Client)</label>
        <locationX>2448</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>coll_TS_IDs_in_PTs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Each_Timesheet_All_By_Client.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_TS_IDs_in_PTs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Timesheet_All_By_Client.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Timesheet_All_By_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_TS_IDs_from_PTs_in_Text_Collection_Employee</name>
        <label>Populate TS IDs from PTs in Text Collection (Employee)</label>
        <locationX>1304</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>coll_TS_IDs_in_PTs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Each_Timesheet_Employee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_TS_IDs_in_PTs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Timesheet_Employee.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Timesheet_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_TS_IDs_from_PTs_in_Text_Collection_Employee_By_Client</name>
        <label>Populate TS IDs from PTs in Text Collection (Employee) (By Client)</label>
        <locationX>688</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>coll_TS_IDs_in_PTs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Each_Timesheet_Employee_By_Client.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_TS_IDs_in_PTs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Timesheet_Employee_By_Client.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Timesheet_Employee_By_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TS_Selection_List_All_Both</name>
        <label>Set TS Selection List (All) (Both)</label>
        <locationX>2074</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>col_TS_selection_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approved_Timesheets_All_Both</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_TS_selection_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TS_Selection_List_All_Both_By_Client</name>
        <label>Set TS Selection List (All) (Both) (By Client)</label>
        <locationX>1810</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>col_TS_selection_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approved_Timesheets_All_Both_by_Client</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_TS_selection_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TS_Selection_List_All_Sirenum</name>
        <label>Set TS Selection List (All) (Sirenum)</label>
        <locationX>2602</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>col_TS_selection_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approved_Timesheets_All_Sirenum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_TS_selection_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TS_Selection_List_All_Sirenum_By_Client</name>
        <label>Set TS Selection List (All) (Sirenum) (By Client)</label>
        <locationX>2338</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>col_TS_selection_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approved_Timesheets_All_Sirenum_by_Client</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_TS_selection_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TS_Selection_List_All_Skedulo</name>
        <label>Set TS Selection List (All) (Skedulo)</label>
        <locationX>3130</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>col_TS_selection_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approved_Timesheets_All_Skedulo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_TS_selection_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TS_Selection_List_All_Skedulo_By_Client</name>
        <label>Set TS Selection List (All) (Skedulo) (By Client)</label>
        <locationX>2866</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>col_TS_selection_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approved_Timesheets_All_Skedulo_by_Client</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_TS_selection_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TS_Selection_List_by_Employee_Both</name>
        <label>Set TS Selection List by Employee (Both)</label>
        <locationX>314</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>col_TS_selection_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approved_Timesheets_by_Employee_Both</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_TS_selection_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TS_Selection_List_by_Employee_Both_By_Client</name>
        <label>Set TS Selection List by Employee (Both) (By Client)</label>
        <locationX>50</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>col_TS_selection_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approved_Timesheets_by_Employee_Both_By_Client</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_TS_selection_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TS_Selection_List_by_Employee_Sirenum</name>
        <label>Set TS Selection List by Employee (Sirenum)</label>
        <locationX>842</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>col_TS_selection_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approved_Timesheets_by_Employee_Sirenum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_TS_selection_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TS_Selection_List_by_Employee_Sirenum_By_Client</name>
        <label>Set TS Selection List by Employee (Sirenum) (By Client)</label>
        <locationX>578</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>col_TS_selection_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approved_Timesheets_by_Employee_Sirenum_by_Client</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_TS_selection_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TS_Selection_List_by_Employee_Skedulo</name>
        <label>Set TS Selection List by Employee (Skedulo)</label>
        <locationX>1370</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>col_TS_selection_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approved_Timesheets_by_Employee_Skedulo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_TS_selection_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TS_Selection_List_by_Employee_Skedulo_By_Client</name>
        <label>Set TS Selection List by Employee (Skedulo) (By Client)</label>
        <locationX>1106</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>col_TS_selection_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approved_Timesheets_by_Employee_Skedulo_by_Client</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_TS_selection_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parameters</name>
        <label>Update Parameters</label>
        <locationX>3256</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>var_Start_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_End_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Selected_PT_Locations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payroll_Tax_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Selected_Payment_Entities</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Selected_PT_Locations</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Selected_Payment_Entities</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Selected_Client</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Lookup.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_IRs_to_Create_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>TCS_Failed</name>
        <choiceText>Failed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>TCS_Processed</name>
        <choiceText>Processed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>TCS_Ready</name>
        <choiceText>Ready</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unprocess_Approved_Ready</name>
        <choiceText>Approved / Ready</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved / Ready</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unprocessed_New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_to_Pay_Transactions_linked_to_TS_All</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Pay Transactions linked to TS (All)</label>
        <locationX>3196</locationX>
        <locationY>2870</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Pay_Transactions_linked_to_TS_All_By_Client</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Pay_Transactions_with_PPB_or_Invoice_Between_Date_Range_All</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Pay_Transactions_linked_to_TS_All_By_Client.tc9_et__Timesheet__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Each_Timesheet_All.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Records_in_Filter_All</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Pay_Transactions_linked_to_TS_All_By_Client</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Pay Transactions linked to TS (All) (By Client)</label>
        <locationX>2580</locationX>
        <locationY>2870</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Pay_Transactions_linked_to_TS_All_By_Client</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Pay_Transactions_with_PPB_or_Invoice_Between_Date_Range_All_by_Client</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Pay_Transactions_linked_to_TS_All_By_Client.tc9_et__Timesheet__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Each_Timesheet_All_By_Client.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Records_in_Filter_All_By_Client</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Pay_Transactions_linked_to_TS_Employee</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Pay Transactions linked to TS (Employee)</label>
        <locationX>1436</locationX>
        <locationY>2870</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Pay_Transactions_linked_to_TS_Employee_By_Client</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Pay_Transactions_with_PPB_or_Invoice_Between_Date_Range_Employee</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Pay_Transactions_linked_to_TS_Employee_By_Client.tc9_et__Timesheet__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Each_Timesheet_Employee.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Records_in_Filter_Employee</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Pay_Transactions_linked_to_TS_Employee_By_Client</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Pay Transactions linked to TS (Employee) (By Client)</label>
        <locationX>820</locationX>
        <locationY>2870</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Pay_Transactions_linked_to_TS_Employee_By_Client</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Pay_Transactions_with_PPB_or_Invoice_Between_Date_Range_Employee_by_Client</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Pay_Transactions_linked_to_TS_Employee_By_Client.tc9_et__Timesheet__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Each_Timesheet_Employee_By_Client.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Records_in_Filter_Employee_By_Client</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_Timesheets_Found_to_Unprocess</name>
        <label>Are Timesheets Found to Unprocess?</label>
        <locationX>1788</locationX>
        <locationY>4406</locationY>
        <defaultConnector>
            <targetReference>No_Timesheets_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timesheets_to_Unprocess</targetReference>
            </connector>
            <label>Yes-Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>By_Client</name>
        <label>By Client</label>
        <locationX>182</locationX>
        <locationY>3758</locationY>
        <defaultConnector>
            <targetReference>Get_Approved_Timesheets_by_Employee_Both</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Selected_Client</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approved_Timesheets_by_Employee_Both_By_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>By_Client_2</name>
        <label>By Client</label>
        <locationX>710</locationX>
        <locationY>3758</locationY>
        <defaultConnector>
            <targetReference>Get_Approved_Timesheets_by_Employee_Sirenum</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Selected_Client</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approved_Timesheets_by_Employee_Sirenum_by_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>By_Client_3</name>
        <label>By Client</label>
        <locationX>1238</locationX>
        <locationY>3758</locationY>
        <defaultConnector>
            <targetReference>Get_Approved_Timesheets_by_Employee_Skedulo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Selected_Client</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approved_Timesheets_by_Employee_Skedulo_by_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>By_Client_4</name>
        <label>By Client</label>
        <locationX>1942</locationX>
        <locationY>3758</locationY>
        <defaultConnector>
            <targetReference>Get_Approved_Timesheets_All_Both</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Selected_Client</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approved_Timesheets_All_Both_by_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>By_Client_5</name>
        <label>By Client</label>
        <locationX>2470</locationX>
        <locationY>3758</locationY>
        <defaultConnector>
            <targetReference>Get_Approved_Timesheets_All_Sirenum</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Selected_Client</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approved_Timesheets_All_Sirenum_by_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>By_Client_6</name>
        <label>By Client</label>
        <locationX>2998</locationX>
        <locationY>3758</locationY>
        <defaultConnector>
            <targetReference>Get_Approved_Timesheets_All_Skedulo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Selected_Client</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approved_Timesheets_All_Skedulo_by_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Creation_of_Collection_of_PT_Locations_is_Complete</name>
        <label>If Creation of Collection of PT Locations is Complete</label>
        <locationX>2679</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Add_Payroll_Tax_Location_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Complete</defaultConnectorLabel>
        <rules>
            <name>Yes_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Selected_PT_Locations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Employee_Filter_Used</targetReference>
            </connector>
            <label>Yes-Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Creation_of_Payment_Entity_Collection_is_Complete</name>
        <label>If Creation of Payment Entity Collection is Complete</label>
        <locationX>3256</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Add_Payment_Entity_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Complete</defaultConnectorLabel>
        <rules>
            <name>Yes_PE_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Selected_Payment_Entities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Creation_of_Collection_of_PT_Locations_is_Complete</targetReference>
            </connector>
            <label>Yes-Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Client_Filter_Used_All</name>
        <label>Is Client Filter Used (All)</label>
        <locationX>2668</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Get_All_Approved_Timesheets_in_Date_Range</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Filter by Client</defaultConnectorLabel>
        <rules>
            <name>Yes_Filter_by_Client_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Selected_Client</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Approved_Timesheets_in_Date_Range_by_Client</targetReference>
            </connector>
            <label>Yes-Filter by Client (All)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Client_Filter_Used_Employee</name>
        <label>Is Client Filter Used (Employee)</label>
        <locationX>908</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Get_All_Approved_Timesheets_by_Employee_in_Date_Range</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Filter by Client</defaultConnectorLabel>
        <rules>
            <name>Yes_Filter_by_Client_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Selected_Client</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Approved_Timesheets_by_Employee_in_Date_Range_By_Client</targetReference>
            </connector>
            <label>Yes-Filter by Client (Employee)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Employee_Filter_Used</name>
        <label>Is Employee Filter Used</label>
        <locationX>1788</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Is_Client_Filter_Used_All</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No-Get All</defaultConnectorLabel>
        <rules>
            <name>Yes_Filter_by_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Employee_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Client_Filter_Used_Employee</targetReference>
            </connector>
            <label>Yes-Filter by Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_IR_in_Selection</name>
        <label>Is IR in Selection</label>
        <locationX>3476</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_IRs_to_Create_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IR_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interpretation_Rules</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Over_IRs_to_Create_Collection.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_IR_Text_Collection</targetReference>
            </connector>
            <label>Yes-IR Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Process_Cancelled</name>
        <label>Is Process Cancelled</label>
        <locationX>1346</locationX>
        <locationY>4646</locationY>
        <defaultConnector>
            <targetReference>Revert_to_NEW_or_READY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unprocess</defaultConnectorLabel>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <label>Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Selection_All_Employees</name>
        <label>Record Selection All Employees</label>
        <locationX>2668</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Both_All_Employees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sirenum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skedulo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>By_Client_4</targetReference>
            </connector>
            <label>Both (All Employees)</label>
        </rules>
        <rules>
            <name>Non_Skedulo_Only_All_Employees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sirenum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skedulo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>By_Client_5</targetReference>
            </connector>
            <label>Non-Skedulo Only (All Employees)</label>
        </rules>
        <rules>
            <name>Skedulo_Only_All_Employees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sirenum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skedulo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>By_Client_6</targetReference>
            </connector>
            <label>Skedulo Only (All Employees)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Selection_by_Employee</name>
        <label>Record Selection by Employee</label>
        <locationX>908</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>Are_Timesheets_Found_to_Unprocess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sirenum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skedulo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>By_Client</targetReference>
            </connector>
            <label>Both</label>
        </rules>
        <rules>
            <name>Sirenum_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sirenum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skedulo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>By_Client_2</targetReference>
            </connector>
            <label>Sirenum Only</label>
        </rules>
        <rules>
            <name>Skedulo_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sirenum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skedulo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>By_Client_3</targetReference>
            </connector>
            <label>Skedulo Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Revert_to_NEW_or_READY</name>
        <label>Revert to NEW or READY</label>
        <locationX>1598</locationX>
        <locationY>4766</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Selected_Timesheets_READY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>READY</defaultConnectorLabel>
        <rules>
            <name>NEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unprocess_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unprocessed_New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Selected_Timesheets_NEW</targetReference>
            </connector>
            <label>NEW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Pay_Transactions_in_PPBs_Found_All</name>
        <label>Were Pay Transactions in PPBs Found (All)</label>
        <locationX>3196</locationX>
        <locationY>3110</locationY>
        <defaultConnector>
            <targetReference>Each_Timesheet_All</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PTs_in_PPBs_Found_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_TS_IDs_from_PTs_in_Text_Collection_All</targetReference>
            </connector>
            <label>Yes-PTs in PPBs Found (All)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Pay_Transactions_in_PPBs_Found_All_By_Client</name>
        <label>Were Pay Transactions in PPBs Found (All) (By Client)</label>
        <locationX>2580</locationX>
        <locationY>3110</locationY>
        <defaultConnector>
            <targetReference>Each_Timesheet_All_By_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PTs_in_PPBs_Found_All_By_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_TS_IDs_from_PTs_in_Text_Collection_All_By_Client</targetReference>
            </connector>
            <label>Yes-PTs in PPBs Found (All) (By Client)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Pay_Transactions_in_PPBs_Found_Employee</name>
        <label>Were Pay Transactions in PPBs Found (Employee)</label>
        <locationX>1436</locationX>
        <locationY>3110</locationY>
        <defaultConnector>
            <targetReference>Each_Timesheet_Employee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PTs_in_PPBs_Found_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_TS_IDs_from_PTs_in_Text_Collection_Employee</targetReference>
            </connector>
            <label>Yes-PTs in PPBs Found (Employee)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Pay_Transactions_in_PPBs_Found_Employee_By_Client</name>
        <label>Were Pay Transactions in PPBs Found (Employee) (By Client)</label>
        <locationX>820</locationX>
        <locationY>3110</locationY>
        <defaultConnector>
            <targetReference>Each_Timesheet_Employee_By_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PTs_in_PPBs_Found_Employee_By_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_TS_IDs_from_PTs_in_Text_Collection_Employee_By_Client</targetReference>
            </connector>
            <label>Yes-PTs in PPBs Found (Employee) (By Client)</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_IR</name>
        <collectionReference>coll_IR</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>tc9_et__Interpretation_Rule__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_Locations</name>
        <collectionReference>coll_PT_Locations</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>tc9_pr__Location__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_PE</name>
        <collectionReference>coll_PE</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fmla_End_Date</name>
        <dataType>Date</dataType>
        <expression>BLANKVALUE({!var_End_Date}, {!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>fmla_Scheduled_Time</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+(10/86400)</expression>
    </formulas>
    <formulas>
        <name>fmla_Single_PE</name>
        <dataType>String</dataType>
        <expression>TRIM(                                                                                                         
SUBSTITUTE(
LEFT( {!var_Selected_Payment_Entities} , FIND(&quot;;&quot;,  {!var_Selected_Payment_Entities} )),
&quot;;&quot;,                                                                                          
&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>fmla_Single_PT_Location</name>
        <dataType>String</dataType>
        <expression>TRIM(                                                                                                         
SUBSTITUTE(
LEFT( {!var_Selected_PT_Locations} , FIND(&quot;;&quot;,  {!var_Selected_PT_Locations} )),
&quot;;&quot;,                                                                                          
&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>fmla_Start_Date</name>
        <dataType>Date</dataType>
        <expression>BLANKVALUE({!var_Start_Date},DATE(YEAR({!$Flow.CurrentDate-28}),MONTH({!$Flow.CurrentDate-28}),1))</expression>
    </formulas>
    <formulas>
        <name>fmla_Update_PE_List</name>
        <dataType>String</dataType>
        <expression>TRIM(
SUBSTITUTE( {!var_Selected_Payment_Entities} ,  {!var_Single_PE}+&quot;;&quot; ,  &quot;&quot;  )
)</expression>
    </formulas>
    <formulas>
        <name>fmla_Updated_PT_Location_List</name>
        <dataType>String</dataType>
        <expression>TRIM(
SUBSTITUTE( {!var_Selected_PT_Locations} ,  {!var_Single_PT_Location}+&quot;;&quot; ,  &quot;&quot;  )
)</expression>
    </formulas>
    <interviewLabel>Bulk Unprocess Timesheets Request Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Unprocess Timesheets Request Screen</label>
    <loops>
        <name>Each_Timesheet_All</name>
        <label>Each Timesheet (All)</label>
        <locationX>2976</locationX>
        <locationY>2750</locationY>
        <collectionReference>Get_All_Approved_Timesheets_in_Date_Range</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_to_Pay_Transactions_linked_to_TS_All</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Record_Selection_All_Employees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Timesheet_All_By_Client</name>
        <label>Each Timesheet (All) (By Client)</label>
        <locationX>2360</locationX>
        <locationY>2750</locationY>
        <collectionReference>Get_All_Approved_Timesheets_in_Date_Range_by_Client</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_to_Pay_Transactions_linked_to_TS_All_By_Client</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Record_Selection_All_Employees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Timesheet_Employee</name>
        <label>Each Timesheet (Employee)</label>
        <locationX>1216</locationX>
        <locationY>2750</locationY>
        <collectionReference>Get_All_Approved_Timesheets_by_Employee_in_Date_Range</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_to_Pay_Transactions_linked_to_TS_Employee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Record_Selection_by_Employee</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Timesheet_Employee_By_Client</name>
        <label>Each Timesheet (Employee) (By Client)</label>
        <locationX>600</locationX>
        <locationY>2750</locationY>
        <collectionReference>Get_All_Approved_Timesheets_by_Employee_in_Date_Range_By_Client</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_to_Pay_Transactions_linked_to_TS_Employee_By_Client</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Record_Selection_by_Employee</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_IRs_to_Create_Collection</name>
        <label>Loop Over IRs to Create Collection</label>
        <locationX>3256</locationX>
        <locationY>1478</locationY>
        <collectionReference>coll_IR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_IR_in_Selection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Creation_of_Payment_Entity_Collection_is_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Selected_Timesheets_NEW</name>
        <label>Loop over Selected Timesheets (NEW)</label>
        <locationX>1446</locationX>
        <locationY>4886</locationY>
        <collectionReference>Timesheet_List.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Bulk_Job_Request_NEW</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Bulk_Job_Requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Selected_Timesheets_READY</name>
        <label>Loop over Selected Timesheets (READY)</label>
        <locationX>1750</locationX>
        <locationY>4886</locationY>
        <collectionReference>Timesheet_List.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Bulk_Job_Request_READY</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Bulk_Job_Requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bulk_Job_Requests</name>
        <label>Create Bulk Job Requests</label>
        <locationX>1598</locationX>
        <locationY>5318</locationY>
        <connector>
            <targetReference>Timesheets_Unprocessed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>coll_ABJR</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Approved_Timesheets_by_Employee_in_Date_Range</name>
        <label>Get All Approved Timesheets by Employee in Date Range</label>
        <locationX>1216</locationX>
        <locationY>2510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pay_Transactions_with_PPB_or_Invoice_Between_Date_Range_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employee_Lookup.selectedValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Approved_Timesheets_by_Employee_in_Date_Range_By_Client</name>
        <label>Get All Approved Timesheets by Employee in Date Range (By Client)</label>
        <locationX>600</locationX>
        <locationY>2510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pay_Transactions_with_PPB_or_Invoice_Between_Date_Range_Employee_by_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employee_Lookup.selectedValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Client_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Client_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Approved_Timesheets_in_Date_Range</name>
        <label>Get All Approved Timesheets in Date Range</label>
        <locationX>2976</locationX>
        <locationY>2510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pay_Transactions_with_PPB_or_Invoice_Between_Date_Range_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Approved_Timesheets_in_Date_Range_by_Client</name>
        <label>Get All Approved Timesheets in Date Range by Client</label>
        <locationX>2360</locationX>
        <locationY>2510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pay_Transactions_with_PPB_or_Invoice_Between_Date_Range_All_by_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Client_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Client_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Timesheets_All_Both</name>
        <label>Get Approved Timesheets (All) (Both)</label>
        <locationX>2074</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TS_Selection_List_All_Both</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Timesheets_All_Both_by_Client</name>
        <label>Get Approved Timesheets (All) (Both) by Client</label>
        <locationX>1810</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TS_Selection_List_All_Both_By_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Client_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Client_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Timesheets_All_Sirenum</name>
        <label>Get Approved Timesheets (All) (Sirenum)</label>
        <locationX>2602</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TS_Selection_List_All_Sirenum</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Assignment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sirenum</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Timesheets_All_Sirenum_by_Client</name>
        <label>Get Approved Timesheets (All) (Sirenum) by Client</label>
        <locationX>2338</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TS_Selection_List_All_Sirenum_By_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Assignment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sirenum</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Client_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Client_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Timesheets_All_Skedulo</name>
        <label>Get Approved Timesheets (All) (Skedulo)</label>
        <locationX>3130</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TS_Selection_List_All_Skedulo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Assignment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Skedulo</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Timesheets_All_Skedulo_by_Client</name>
        <label>Get Approved Timesheets (All) (Skedulo) by Client</label>
        <locationX>2866</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TS_Selection_List_All_Skedulo_By_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Assignment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Skedulo</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Client_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Client_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Timesheets_by_Employee_Both</name>
        <label>Get Approved Timesheets by Employee (Both)</label>
        <locationX>314</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TS_Selection_List_by_Employee_Both</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employee_Lookup.selectedValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Timesheets_by_Employee_Both_By_Client</name>
        <label>Get Approved Timesheets by Employee (Both) By Client</label>
        <locationX>50</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TS_Selection_List_by_Employee_Both_By_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employee_Lookup.selectedValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Client_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Selected_Client</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Timesheets_by_Employee_Sirenum</name>
        <label>Get Approved Timesheets by Employee (Sirenum)</label>
        <locationX>842</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TS_Selection_List_by_Employee_Sirenum</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employee_Lookup.selectedValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Assignment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sirenum</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Timesheets_by_Employee_Sirenum_by_Client</name>
        <label>Get Approved Timesheets by Employee (Sirenum) by Client</label>
        <locationX>578</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TS_Selection_List_by_Employee_Sirenum_By_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employee_Lookup.selectedValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Assignment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sirenum</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Client_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Client_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Timesheets_by_Employee_Skedulo</name>
        <label>Get Approved Timesheets by Employee (Skedulo)</label>
        <locationX>1370</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TS_Selection_List_by_Employee_Skedulo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employee_Lookup.selectedValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Assignment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Skedulo</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Timesheets_by_Employee_Skedulo_by_Client</name>
        <label>Get Approved Timesheets by Employee (Skedulo) by Client</label>
        <locationX>1106</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TS_Selection_List_by_Employee_Skedulo_By_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employee_Lookup.selectedValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Assignment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Skedulo</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_TS_IDs_in_PTs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_TS_with_Processing_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_IR_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Client_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Client_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_From</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TS_Last_Modified_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client</name>
        <label>Get Client</label>
        <locationX>3256</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Parameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Selected_Client</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_Client_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Account_Record_Type</name>
        <label>Get Client Account Record Type</label>
        <locationX>3256</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Entity_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_et</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Record_Type</name>
        <label>Get Employee Record Type</label>
        <locationX>3256</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client_Account_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Interpretation_Rules</name>
        <label>Get Interpretation Rules</label>
        <locationX>3256</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Starting_Parameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Variation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>tc9_et__Interpretation_Rule__c</object>
        <outputReference>coll_IR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Transactions_with_PPB_or_Invoice_Between_Date_Range_All</name>
        <label>Get Pay Transactions with PPB or Invoice Between Date Range (All)</label>
        <locationX>2976</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Timesheet_All</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7) AND 8 AND 9</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Entry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Entry_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Employee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Batch_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Invoice_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Transactions_with_PPB_or_Invoice_Between_Date_Range_All_by_Client</name>
        <label>Get Pay Transactions with PPB or Invoice Between Date Range (All) by Client</label>
        <locationX>2360</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Timesheet_All_By_Client</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7) AND 8 AND 9 AND 10</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Entry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Entry_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Employee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Batch_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Invoice_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Selected_Client</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Transactions_with_PPB_or_Invoice_Between_Date_Range_Employee</name>
        <label>Get Pay Transactions with PPB or Invoice Between Date Range (Employee)</label>
        <locationX>1216</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Timesheet_Employee</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8) AND 9 AND 10</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Entry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Entry_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Employee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employee_Lookup.selectedValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Batch_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Invoice_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Transactions_with_PPB_or_Invoice_Between_Date_Range_Employee_by_Client</name>
        <label>Get Pay Transactions with PPB or Invoice Between Date Range (Employee) by Client</label>
        <locationX>600</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Timesheet_Employee_By_Client</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8) AND 9 AND 10 AND 11</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Entry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Entry_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>var_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Employee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employee_Lookup.selectedValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Batch_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Invoice_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agx_Payroll_Tax_Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PT_Locations_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Payment_Entity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_Payment_Entities_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Client_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Entities</name>
        <label>Get Payment Entities</label>
        <locationX>3256</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payroll_Tax_Locations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Entity_Record_Type.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>coll_PE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Entity_Record_Type</name>
        <label>Get Payment Entity Record Type</label>
        <locationX>3256</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Entities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment_Entity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payroll_Tax_Locations</name>
        <label>Get Payroll Tax Locations</label>
        <locationX>3256</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Interpretation_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Payroll_Tax_Locality__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>tc9_pr__Location__c</object>
        <outputReference>coll_PT_Locations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Saved_Parameters_for_User</name>
        <label>Get Saved Parameters for User</label>
        <locationX>3256</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>agx_Job_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Timesheet Process Parameters</stringValue>
            </value>
        </filters>
        <object>AGX_Bulk_Job_Req__c</object>
        <outputAssignments>
            <assignToReference>var_Start_Date</assignToReference>
            <field>agx_Date_From__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_End_Date</assignToReference>
            <field>agx_Date_To__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1966</locationX>
        <locationY>5438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_TS_count_display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(253, 44, 44); font-size: 16px;&quot;&gt;Unable to submit Bulk Request Jobs.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Error:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Timesheets_Found</name>
        <label>No Timesheets Found</label>
        <locationX>2230</locationX>
        <locationY>4526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Timesheets_Found_Before_PPB</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 54, 54); font-size: 14px;&quot;&gt;NO TIMESHEETS FOUND TO UNPROCESS.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 54, 54); font-size: 14px;&quot;&gt;TIMESHEETS CANNOT BE UNPROCESSED IF THEY ARE IN A PAY BATCH.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_Parameters</name>
        <label>Selection Parameters</label>
        <locationX>3256</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Client</targetReference>
        </connector>
        <fields>
            <name>Selection_Parameters_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selection_Parameters_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>var_Start_Date</elementReference>
                    </defaultValue>
                    <fieldText>TS Start Date from</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Selection_Parameters_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>var_End_Date</elementReference>
                    </defaultValue>
                    <fieldText>TS End Date to</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Selection_Parameters_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selection_Parameters_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TS_Last_Modified_From</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>TS Last Modified From</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Selection_Parameters_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TS_Last_Modified_To</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>TS Last Modified To</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot;TS Last Modified From&quot; datetime must be before &quot;TS Last Modified To&quot; datetime.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!TS_Last_Modified_To}&gt;={!TS_Last_Modified_From}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_TS_with_Processing_Status</name>
            <choiceReferences>TCS_Failed</choiceReferences>
            <choiceReferences>TCS_Ready</choiceReferences>
            <choiceReferences>TCS_Processed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TCS_Failed</defaultSelectedChoiceReference>
            <fieldText>Select TS with Processing Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payroll_Tax_Location</name>
            <choiceReferences>choice_Locations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payroll Tax Location</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Entity</name>
            <choiceReferences>choice_PE</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Entity</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Interpretation_Rules</name>
            <choiceReferences>choice_IR</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interpretation Rules</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Selection_Parameters_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selection_Parameters_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sirenum</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Sirenum</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Selection_Parameters_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Skedulo</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Skedulo</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Client_Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_Client_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Client (Optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>RecordTypeId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Get_Client_Account_Record_Type.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sirenum</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Employee_Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>RecordTypeId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Get_Employee_Record_Type.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Unprocess_Option</name>
            <choiceReferences>Unprocess_Approved_Ready</choiceReferences>
            <choiceReferences>Unprocessed_New</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Unprocess_Approved_Ready</defaultSelectedChoiceReference>
            <fieldText>Revert Timesheets To</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Timesheets_to_Unprocess</name>
        <label>Timesheets to Unprocess</label>
        <locationX>1346</locationX>
        <locationY>4526</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Process_Cancelled</targetReference>
        </connector>
        <fields>
            <name>Selected_start_date</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;TS Start Date from:&lt;/strong&gt; {!Start_Date}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;TS End Date to:&lt;/strong&gt; {!End_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Max_Warning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 37, 37);&quot;&gt;WARNING: Only the maximum limit of 500 rows are being shown from the total of {!var_Count} timesheets which match the selection criteria.  You may need to run the process again after unprocessing the first 500.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Count</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>500.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Timesheet_List</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>tc9_et__Timesheet__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>tc9_et__Timesheet__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>col_TS_selection_list</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>col_TS_selection_list</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Timesheets</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom95</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxNumberOfRows</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,tc9_et__Employee_Full_Name__c,tc9_et__Assignment__c,tc9_et__Assignment_Name__c,agx_Assignment_Type__c,tc9_et__Interpretation_Rule__c,tc9_et__Start_Date__c,tc9_et__End_Date__c,tc9_et__Total_Hours__c,tc9_et__Transaction_Creation_Status_Colour__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:160, tc9_et__Employee_Full_Name__c:137, tc9_et__Assignment__c:160, tc9_et__Assignment_Name__c:179, agx_Assignment_Type__c:100, tc9_et__Interpretation_Rule__c:165, tc9_et__Start_Date__c:113, tc9_et__End_Date__c:115, tc9_et__Total_Hours__c:122, tc9_et__Transaction_Creation_Status_Colour__c:265</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, tc9_et__Employee_Full_Name__c:true, tc9_et__Assignment__c:false, tc9_et__Assignment_Name__c:true, agx_Assignment_Type__c:true, tc9_et__Interpretation_Rule__c:true, tc9_et__Start_Date__c:false, tc9_et__End_Date__c:false, tc9_et__Total_Hours__c:false, tc9_et__Transaction_Creation_Status_Colour__c:false</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Button_bar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Unprocess&quot;,&quot;value&quot;:&quot;Unprocess&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Timesheets_Unprocessed</name>
        <label>Timesheets Unprocessed</label>
        <locationX>1598</locationX>
        <locationY>5438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TS_count_display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(2, 182, 8);&quot;&gt;{!var_TS_count} Timesheets successfully submitted for Bulk Unprocessing&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Please allow a few minutes for all timesheets to complete unprocessing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3130</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Saved_Parameters_for_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_TS_selection_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet__c</objectType>
    </variables>
    <variables>
        <name>coll_ABJR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AGX_Bulk_Job_Req__c</objectType>
    </variables>
    <variables>
        <name>coll_IR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Interpretation_Rule__c</objectType>
    </variables>
    <variables>
        <name>coll_IR_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_Payment_Entities_Text</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_PE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>coll_PT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>coll_PT_Locations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Location__c</objectType>
    </variables>
    <variables>
        <name>coll_PT_Locations_Text</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_TS_IDs_in_PTs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Out_Nulls_in_PT_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Pay_Transactions_linked_to_TS_All_By_Client</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Pay_Transactions_linked_to_TS_Employee_By_Client</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_remove_TS_with_PT_in_PPB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet__c</objectType>
    </variables>
    <variables>
        <name>rec_ABJR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AGX_Bulk_Job_Req__c</objectType>
    </variables>
    <variables>
        <name>var_Client_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>[ALL]</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_End_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Selected_Client</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Selected_Payment_Entities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Selected_PT_Locations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Single_PE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Single_PT_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TS_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
