.vscode/allianceuat_compare/force-app/main/default/flows/Bulk_Unprocess_Timesheet_from_Bulk_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_PT_to_Text_Collection</name>
        <label>Add PT to Text Collection</label>
        <locationX>534</locationX>
        <locationY>4223</locationY>
        <assignmentItems>
            <assignToReference>coll_PTs_to_Delete_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_PT_to_Delete.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_PT_to_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_PT_to_Delete</name>
        <label>Count PT to Delete</label>
        <locationX>446</locationX>
        <locationY>3983</locationY>
        <assignmentItems>
            <assignToReference>var_PT_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Out_Nulls_in_PT_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_PT_to_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Collection_of_PTs_to_Delete</name>
        <label>Create Collection of PTs to Delete</label>
        <locationX>446</locationX>
        <locationY>3743</locationY>
        <assignmentItems>
            <assignToReference>coll_PTs_to_Delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Pay_Transactions_to_Delete_by_TSE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_PTs_to_Delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Pay_Transactions_to_Delete_by_TSI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_PTs_to_Delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Pay_Transactions_to_Delete_by_EXP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Out_Nulls_in_PT_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_Each_EXP_back_to_Approved_Ready</name>
        <label>Set Approval Fields on Each EXP back to Approved/Ready</label>
        <locationX>358</locationX>
        <locationY>2615</locationY>
        <assignmentItems>
            <assignToReference>rec_EXP.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_EXPs_Approved_Ready.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approval_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approval_Status_No_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Rejection_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Submitted_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EXP_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Date_Pay_Transaction_Generated__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_EXP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_EXP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_EXP_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_EXPs_Approved_Ready.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_EXPs_Approved_Ready</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_Each_EXP_back_to_New</name>
        <label>Set Approval Fields on Each EXP back to New</label>
        <locationX>710</locationX>
        <locationY>2615</locationY>
        <assignmentItems>
            <assignToReference>rec_EXP.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_EXPs_New.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approval_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approval_Status_No_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Rejection_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Submitted_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EXP_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_EXP.tc9_et__Date_Pay_Transaction_Generated__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_EXP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_EXP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_EXP_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_EXPs_New.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_EXPs_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_Each_PLE_back_to_Approved_Ready</name>
        <label>Set Approval Fields on Each PLE back to Approved/Ready</label>
        <locationX>358</locationX>
        <locationY>2951</locationY>
        <assignmentItems>
            <assignToReference>rec_PLE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_PLEs_Approved_Ready.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PLE.tc9_pr__Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PLE.tc9_pr__Approved_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PLE_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PLE.tc9_pr__Approved_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_PLE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_PLE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_PLEs_Approved_Ready</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_Each_PLE_back_to_New</name>
        <label>Set Approval Fields on Each PLE back to New</label>
        <locationX>710</locationX>
        <locationY>2951</locationY>
        <assignmentItems>
            <assignToReference>rec_PLE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_PLEs_New.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PLE.tc9_pr__Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PLE.tc9_pr__Approved_On__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PLE_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PLE.tc9_pr__Approved_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_PLE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_PLE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_PLEs_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_Each_TSE_back_to_Approved_Ready</name>
        <label>Set Approval Fields on Each TSE back to Approved/Ready</label>
        <locationX>358</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>rec_TSE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_TSEs_Approved_Ready.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approval_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approval_Status_No_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Rejection_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Submitted_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TSE_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_TSE_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_TSEs_Approved_Ready.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Date_Pay_Transaction_Generated__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TSE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_TSE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_TSEs_Approved_Ready</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_Each_TSE_back_to_New</name>
        <label>Set Approval Fields on Each TSE back to New</label>
        <locationX>710</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>rec_TSE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_TSEs_New.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approval_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approval_Status_No_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Rejection_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Submitted_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TSE_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_TSE_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_TSEs_New.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSE.tc9_et__Date_Pay_Transaction_Generated__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TSE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_TSE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_TSEs_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_Each_TSI_back_to_Approved_Ready</name>
        <label>Set Approval Fields on Each TSI back to Approved/Ready</label>
        <locationX>358</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>rec_TSI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_TSIs_Approved_Ready.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approval_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approval_Status_No_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Rejection_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Submitted_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TSI_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Date_Pay_Transaction_Generated__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Submitted_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_TSI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_TSI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_TSI_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_TSIs_Approved_Ready.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_TSIs_Approved_Ready</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_Each_TSI_back_to_New</name>
        <label>Set Approval Fields on Each TSI back to New</label>
        <locationX>710</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>rec_TSI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_TSIs_New.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approval_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approval_Status_No_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Rejection_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Submitted_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TSI_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Date_Pay_Transaction_Generated__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TSI.tc9_et__Submitted_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_TSI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_TSI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_TSI_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_TSIs_New.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_TSIs_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_TS_Header_back_to_Approved_Ready</name>
        <label>Set Approval Fields on TS Header back to Approved/Ready</label>
        <locationX>270</locationX>
        <locationY>3167</locationY>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TS_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Transaction_Creation_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TS_Header</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_TS_Header</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pay_Transactions_to_Delete_by_TSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Fields_on_TS_Header_back_to_New</name>
        <label>Set Approval Fields on TS Header back to New</label>
        <locationX>622</locationX>
        <locationY>3167</locationY>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TS_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Transaction_Creation_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TS_Header.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TS_Header</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_TS_Header</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pay_Transactions_to_Delete_by_TSE</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Out_Nulls_in_PT_Collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Out Nulls in PT Collection</label>
        <locationX>446</locationX>
        <locationY>3863</locationY>
        <assignNextValueToReference>currentItem_Filter_Out_Nulls_in_PT_Collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>coll_PTs_to_Delete</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Nulls_in_PT_Collection.Id</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_PT_to_Delete</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_Any_PTs_in_PPB</name>
        <label>Are Any PTs in PPB</label>
        <locationX>160</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Get_TSEs_to_Unprocess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PTs_in_PPB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Re_check_for_TS_in_PPB.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bulk_Job_Request_TS_not_Valid</targetReference>
            </connector>
            <label>Yes-PTs in PPB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Pay_Transactions_to_Delete</name>
        <label>Are there Pay Transactions to Delete</label>
        <locationX>446</locationX>
        <locationY>5039</locationY>
        <defaultConnector>
            <targetReference>Update_Bulk_Job_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PT_to_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PT_count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Pay_Transaction_Distributions</targetReference>
            </connector>
            <label>Yes-PT to Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Scheduled_Time_in_the_Past</name>
        <label>Is Scheduled Time in the Past</label>
        <locationX>1161</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.agx_Scheduled_Time__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TS_to_Unprocess</targetReference>
            </connector>
            <label>Yes-Past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Bulk_Request_Still_Pending</name>
        <label>Is the Bulk Request Still Pending?</label>
        <locationX>1601</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Bulk_Job_Request_with_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.agx_Processing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.agx_2c9_Timesheet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TS_to_Unprocess</targetReference>
            </connector>
            <label>Yes-Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_TS_Found</name>
        <label>Is TS Found</label>
        <locationX>1381</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Update_Bulk_Job_Request_TS_not_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TS_to_Unprocess</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_check_for_TS_in_PPB</targetReference>
            </connector>
            <label>Yes-Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Revert_to_Approved_Ready_or_New</name>
        <label>Revert to Approved/Ready or New</label>
        <locationX>446</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Loop_over_TSEs_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Approved_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.agx_Job_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Timesheet Unprocess to READY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_TSEs_Approved_Ready</targetReference>
            </connector>
            <label>Approved/Ready</label>
        </rules>
    </decisions>
    <description>Unprocess timesheets from request jobs submitted to AGX Bulk Request Job object</description>
    <environments>Default</environments>
    <formulas>
        <name>fmla_Start_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate-28}),MONTH({!$Flow.CurrentDate-28}),1)</expression>
    </formulas>
    <interviewLabel>Bulk Unprocess Timesheet from Bulk Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Unprocess Timesheet from Bulk Request</label>
    <loops>
        <name>Each_PT_to_Delete</name>
        <label>Each PT to Delete</label>
        <locationX>446</locationX>
        <locationY>4103</locationY>
        <collectionReference>Filter_Out_Nulls_in_PT_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_PT_to_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_TSEs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_EXPs_Approved_Ready</name>
        <label>Loop over EXPs (Approved/Ready)</label>
        <locationX>270</locationX>
        <locationY>2495</locationY>
        <collectionReference>Get_EXPs_to_Unprocess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Fields_on_Each_EXP_back_to_Approved_Ready</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_PLEs_Approved_Ready</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_EXPs_New</name>
        <label>Loop over EXPs (New)</label>
        <locationX>622</locationX>
        <locationY>2495</locationY>
        <collectionReference>Get_EXPs_to_Unprocess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Fields_on_Each_EXP_back_to_New</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_PLEs_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_PLEs_Approved_Ready</name>
        <label>Loop over PLEs (Approved/Ready)</label>
        <locationX>270</locationX>
        <locationY>2831</locationY>
        <collectionReference>Get_PLEs_to_Unprocess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Fields_on_Each_PLE_back_to_Approved_Ready</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Approval_Fields_on_TS_Header_back_to_Approved_Ready</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_PLEs_New</name>
        <label>Loop over PLEs (New)</label>
        <locationX>622</locationX>
        <locationY>2831</locationY>
        <collectionReference>Get_PLEs_to_Unprocess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Fields_on_Each_PLE_back_to_New</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Approval_Fields_on_TS_Header_back_to_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_TSEs_Approved_Ready</name>
        <label>Loop over TSEs (Approved/Ready)</label>
        <locationX>270</locationX>
        <locationY>1823</locationY>
        <collectionReference>Get_TSEs_to_Unprocess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Fields_on_Each_TSE_back_to_Approved_Ready</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_TSIs_Approved_Ready</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_TSEs_New</name>
        <label>Loop over TSEs (New)</label>
        <locationX>622</locationX>
        <locationY>1823</locationY>
        <collectionReference>Get_TSEs_to_Unprocess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Fields_on_Each_TSE_back_to_New</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_TSIs_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_TSIs_Approved_Ready</name>
        <label>Loop over TSIs (Approved/Ready)</label>
        <locationX>270</locationX>
        <locationY>2159</locationY>
        <collectionReference>Get_TSIs_to_Unprocess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Fields_on_Each_TSI_back_to_Approved_Ready</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_EXPs_Approved_Ready</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_TSIs_New</name>
        <label>Loop over TSIs (New)</label>
        <locationX>622</locationX>
        <locationY>2159</locationY>
        <collectionReference>Get_TSIs_to_Unprocess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approval_Fields_on_Each_TSI_back_to_New</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_EXPs_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Pay_Transaction_Distributions</name>
        <label>Delete Pay Transaction Distributions</label>
        <locationX>50</locationX>
        <locationY>5159</locationY>
        <connector>
            <targetReference>Delete_Pay_Transactions</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Bulk_Job_Request_with_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Pay_Transaction__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PTs_to_Delete_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Transaction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>tc9_pr__Pay_Transaction_Distribution__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Pay_Transactions</name>
        <label>Delete Pay Transactions</label>
        <locationX>50</locationX>
        <locationY>5279</locationY>
        <connector>
            <targetReference>Update_Bulk_Job_Request</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Bulk_Job_Request_with_Error</targetReference>
        </faultConnector>
        <inputReference>coll_PTs_to_Delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_EXPs_to_Unprocess</name>
        <label>Get EXPs to Unprocess</label>
        <locationX>446</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PLEs_to_Unprocess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Approval_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Expense__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Transactions_to_Delete_by_EXP</name>
        <label>Get Pay Transactions to Delete by EXP</label>
        <locationX>446</locationX>
        <locationY>3623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Collection_of_PTs_to_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Expense__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_EXP_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expense__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Transactions_to_Delete_by_TSE</name>
        <label>Get Pay Transactions to Delete by TSE</label>
        <locationX>446</locationX>
        <locationY>3383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pay_Transactions_to_Delete_by_TSI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet_Entry__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_TSE_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet_Entry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Transactions_to_Delete_by_TSI</name>
        <label>Get Pay Transactions to Delete by TSI</label>
        <locationX>446</locationX>
        <locationY>3503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pay_Transactions_to_Delete_by_EXP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet_Item__c</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_TSI_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PLEs_to_Unprocess</name>
        <label>Get PLEs to Unprocess</label>
        <locationX>446</locationX>
        <locationY>1583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revert_to_Approved_Ready_or_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Processing_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Payee_Leave_Event__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TS_to_Unprocess</name>
        <label>Get TS to Unprocess</label>
        <locationX>1381</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_TS_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TSEs_to_Unprocess</name>
        <label>Get TSEs to Unprocess</label>
        <locationX>446</locationX>
        <locationY>1223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TSIs_to_Unprocess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Approval_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Entry__c</object>
        <sortField>tc9_et__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TSIs_to_Unprocess</name>
        <label>Get TSIs to Unprocess</label>
        <locationX>446</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EXPs_to_Unprocess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_bgl__Cost_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Approval_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Item__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Re_check_for_TS_in_PPB</name>
        <label>Re-check for TS in PPB</label>
        <locationX>160</locationX>
        <locationY>983</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Any_PTs_in_PPB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agx_2c9_Timesheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Batch_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bulk_Job_Request</name>
        <label>Update Bulk Job Request</label>
        <locationX>446</locationX>
        <locationY>5531</locationY>
        <faultConnector>
            <targetReference>Update_Bulk_Job_Request_with_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>agx_Processing_Status__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agx_Status_Message__c</field>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bulk_Job_Request_TS_not_Valid</name>
        <label>Update Bulk Job Request (TS not Valid)</label>
        <locationX>1381</locationX>
        <locationY>6107</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Bulk_Job_Request_with_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>agx_Processing_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agx_Status_Message__c</field>
            <value>
                <stringValue>Failed - TS not found or no longer valid status or Pay Transactions now in Pay Batch</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bulk_Job_Request_with_Error</name>
        <label>Update Bulk Job Request with Error</label>
        <locationX>1018</locationX>
        <locationY>5651</locationY>
        <inputAssignments>
            <field>agx_Processing_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agx_Status_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EXPs</name>
        <label>Update EXPs</label>
        <locationX>446</locationX>
        <locationY>4679</locationY>
        <connector>
            <targetReference>Update_TS_Headers</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Bulk_Job_Request_with_Error</targetReference>
        </faultConnector>
        <inputReference>coll_EXP</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PLEs</name>
        <label>Update PLEs</label>
        <locationX>446</locationX>
        <locationY>4919</locationY>
        <connector>
            <targetReference>Are_there_Pay_Transactions_to_Delete</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Bulk_Job_Request_with_Error</targetReference>
        </faultConnector>
        <inputReference>coll_PLE</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TS_Headers</name>
        <label>Update TS Headers</label>
        <locationX>446</locationX>
        <locationY>4799</locationY>
        <connector>
            <targetReference>Update_PLEs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Bulk_Job_Request_with_Error</targetReference>
        </faultConnector>
        <inputReference>col_TS_Header</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TSEs</name>
        <label>Update TSEs</label>
        <locationX>446</locationX>
        <locationY>4439</locationY>
        <connector>
            <targetReference>Update_TSIs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Bulk_Job_Request_with_Error</targetReference>
        </faultConnector>
        <inputReference>col_TSE</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TSIs</name>
        <label>Update TSIs</label>
        <locationX>446</locationX>
        <locationY>4559</locationY>
        <connector>
            <targetReference>Update_EXPs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Bulk_Job_Request_with_Error</targetReference>
        </faultConnector>
        <inputReference>coll_TSI</inputReference>
    </recordUpdates>
    <start>
        <locationX>1255</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Scheduled_Time_in_the_Past</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>agx_2c9_Timesheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agx_Processing_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>agx_Job_Type__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Timesheet Unprocess</stringValue>
            </value>
        </filters>
        <object>AGX_Bulk_Job_Req__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Asynchronous_Path</name>
            <connector>
                <targetReference>Is_the_Bulk_Request_Still_Pending</targetReference>
            </connector>
            <label>Asynchronous Path</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>agx_Scheduled_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>col_TS_Header</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet__c</objectType>
    </variables>
    <variables>
        <name>col_TSE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>coll_EXP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Expense__c</objectType>
    </variables>
    <variables>
        <name>coll_EXP_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_PLE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Leave_Event__c</objectType>
    </variables>
    <variables>
        <name>coll_PTs_to_Delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>coll_PTs_to_Delete_Text</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_TSE_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_TSI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Item__c</objectType>
    </variables>
    <variables>
        <name>coll_TSI_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Out_Nulls_in_PT_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_remove_TS_with_PT_in_PPB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet__c</objectType>
    </variables>
    <variables>
        <name>rec_EXP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Expense__c</objectType>
    </variables>
    <variables>
        <name>rec_PLE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Leave_Event__c</objectType>
    </variables>
    <variables>
        <name>rec_TS_Header</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet__c</objectType>
    </variables>
    <variables>
        <name>rec_TSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>rec_TSI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Item__c</objectType>
    </variables>
    <variables>
        <name>var_EXP_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_PLE_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_PT_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TS_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TSE_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TSI_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
