.vscode/allianceuat_compare/force-app/main/default/flows/Classification_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Classification_Found</name>
        <label>Classification Found</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Employee has an existing active Qualification related to the same Award Classification. Employees can only have 1 Active Qualification for the same Award Classification.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>IR_Group_Classification_Found</name>
        <label>IR Group Classification Found</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Employee has an existing active Qualification related to the same Interpretation Template Group. Employees can only have 1 Active Qualification for the same Interpretation Template Group.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>IR_Group</name>
        <label>IR Group?</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Qualifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_IR_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__r.Interpretation_Template_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IR_Group_Qualifications</targetReference>
            </connector>
            <label>Yes IR Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>IR_Group_Qualification_Found</name>
        <label>IR Group Qualification Found</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Group_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IR_Group_Qualifications</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IR_Group_Classification_Found</targetReference>
            </connector>
            <label>Yes Group Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qualification_Found</name>
        <label>Qualification Found</label>
        <locationX>622</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Qualifications</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Classification_Found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Classification Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Classification Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_IR_Group_Qualifications</name>
        <label>Get IR Group Qualifications</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IR_Group_Qualification_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 5 AND (3 OR 4)</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interpretation_Rule_Template_Group_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__TicketType__r.Interpretation_Template_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_until__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_until__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Valid_from__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Qualifications</name>
        <label>Get Qualifications</label>
        <locationX>622</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Qualification_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 5 AND (3 OR 4)</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Award_Classification_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__TicketType__r.Award_Classification__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_until__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_until__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Valid_from__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IR_Group</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Award_Classification_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Award_Classification_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>sirenum__Ticket__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Ticket__c</objectType>
    </variables>
</Flow>
