.vscode/allianceuat_compare/force-app/main/default/flows/Community_Manage_Allowances.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Claimed_Allowances</name>
        <label>Assign Claimed Allowances</label>
        <locationX>1312</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varClaimedAllowances</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Claimed_Custom_Rules.Payee_Allowance_Record__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClaimTSActivities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Claimed_Custom_Rules.Timesheet_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Claimed_Custom_Rules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>1224</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varCustomRulesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Claimed_Custom_Rule_Allowances</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allowance_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Rule</name>
        <label>Assign Custom Rule</label>
        <locationX>2107</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>varCustomRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Custom_Rule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Contract__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Job_Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Site__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Location__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Available_on_Active_App__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmCustomRuleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Custom_Rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Rule_Collection</name>
        <label>Assign Custom Rule Collection</label>
        <locationX>1458</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>varCustomRuleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Custom_Rules_to_Remove_Duplicates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAllowances</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Custom_Rules_to_Remove_Duplicates.Payee_Allowance_Record__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTimesheetActivities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Custom_Rules_to_Remove_Duplicates.Timesheet_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Custom_Rules_to_Remove_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Rule_One_Per_Shift</name>
        <label>Assign Custom Rule-One Per Shift</label>
        <locationX>1843</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>varCustomRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Custom_Rule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Contract__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Job_Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Site__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Location__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Available_on_Active_App__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmCustomRuleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Custom_Rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Rule_StartEndTimes</name>
        <label>Assign Custom Rule-StartEndTimes</label>
        <locationX>1579</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>varCustomRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Custom_Rule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Job_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Available_on_Active_App__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmCustomRuleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmConvertStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmConvertEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomRule.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmSETimestoQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Custom_Rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Variable</name>
        <label>Clear Variable</label>
        <locationX>1018</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>buttonClaim.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scrSelection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceCreateAllowance</name>
        <choiceText>Claim Allowance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ClaimAllowance</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceViewEditAllowances</name>
        <choiceText>View/Edit Allowances</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ViewEditAllowances</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Allowance_Actions</name>
        <label>Allowance Actions</label>
        <locationX>1224</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>scrSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_Shift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shift.sirenum__Approved_By_Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrDisplay</targetReference>
            </connector>
            <label>Approved Shift</label>
        </rules>
        <rules>
            <name>No_Allowances_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ALL_Custom_Rule_Allowances</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Claimable_Allowances</targetReference>
            </connector>
            <label>No Allowances Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Allowances_to_Claim</name>
        <label>Allowances to Claim</label>
        <locationX>1018</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Select_Custom_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_More_Allowances</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Filtered_Custom_Rules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Claims_Available</targetReference>
            </connector>
            <label>No More Allowances</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancelled_Rule_Type</name>
        <label>Cancelled Rule Type</label>
        <locationX>3207</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Delete_Custom_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Timesheet_Activity_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataTableClaimedAllowances.outputSelectedRow.Timesheet_Activity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shift_Remove_TS_Activity</targetReference>
            </connector>
            <label>Timesheet Activity Cancelled</label>
        </rules>
        <rules>
            <name>Allowance_Only_Canncelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataTableClaimedAllowances.outputSelectedRow.Allowance_Payment_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One Per Shift - Allowance Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DataTableClaimedAllowances.outputSelectedRow.Allowance_Payment_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shift Hours - Allowance Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shift_Remove_Allowance_Only</targetReference>
            </connector>
            <label>Allowance Only Canncelled</label>
        </rules>
        <rules>
            <name>Payment_Rule_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataTableClaimedAllowances.outputSelectedRow.Award_Classification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shift_Remove_MPR</targetReference>
            </connector>
            <label>Payment Rule Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_Rule_MPR_Found</name>
        <label>Custom Rule MPR Found?</label>
        <locationX>2239</locationX>
        <locationY>3254</locationY>
        <defaultConnector>
            <targetReference>Update_Shift_Payment_Rule_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No MPR Found</defaultConnectorLabel>
        <rules>
            <name>Custom_Rule_MPR_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Rule_MPR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shift_Payment_Rule</targetReference>
            </connector>
            <label>Custom Rule MPR Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_Rule_Record_Duplicate</name>
        <label>Custom Rule Record Duplicate?</label>
        <locationX>1282</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Assign_Custom_Rule_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate NOT Found</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Found</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>varAllowances</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Custom_Rules_to_Remove_Duplicates.Payee_Allowance_Record__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Custom_Rules_to_Remove_Duplicates.Payee_Allowance_Record__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTimesheetActivities</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Custom_Rules_to_Remove_Duplicates.Timesheet_Activity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Custom_Rules_to_Remove_Duplicates.Timesheet_Activity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Custom_Rules_to_Remove_Duplicates</targetReference>
            </connector>
            <label>Duplicate Found</label>
        </rules>
        <rules>
            <name>Already_Claimed</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>varClaimedAllowances</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Custom_Rules_to_Remove_Duplicates.Payee_Allowance_Record__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Custom_Rules_to_Remove_Duplicates.Payee_Allowance_Record__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClaimTSActivities</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Custom_Rules_to_Remove_Duplicates.Timesheet_Activity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Custom_Rules_to_Remove_Duplicates.Timesheet_Activity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Custom_Rules_to_Remove_Duplicates</targetReference>
            </connector>
            <label>Already Claimed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigation</name>
        <label>Navigation</label>
        <locationX>1425</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Custom_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonNavigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Variable</targetReference>
            </connector>
            <label>Back</label>
        </rules>
        <rules>
            <name>No_Selection_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Allowance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_No_Selection</targetReference>
            </connector>
            <label>No Selection Made</label>
        </rules>
    </decisions>
    <decisions>
        <name>Option_Selected</name>
        <label>Option Selected</label>
        <locationX>2398</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>No_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Allowance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonClaim.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Custom_Rules_to_Remove_Duplicates</targetReference>
            </connector>
            <label>Create Allowance</label>
        </rules>
        <rules>
            <name>Cancel_Allowance1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonCancel.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DataTableClaimedAllowances.outputSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelled_Rule_Type</targetReference>
            </connector>
            <label>Cancel Allowance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_Rule</name>
        <label>Quantity Rule</label>
        <locationX>1975</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Custom_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allowance_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Custom_Rule.Allowance_Payment_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allowance Hours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Times</targetReference>
            </connector>
            <label>Allowance Hours</label>
        </rules>
        <rules>
            <name>One_Per_Shift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Custom_Rule.Allowance_Payment_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One Per Shift - Allowance Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Custom_Rule_One_Per_Shift</targetReference>
            </connector>
            <label>One Per Shift</label>
        </rules>
        <rules>
            <name>Quantity_APF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Custom_Rule.Allowance_Payment_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quantity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Quantity</targetReference>
            </connector>
            <label>Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shift_Found</name>
        <label>Shift Found</label>
        <locationX>1224</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_ALL_Custom_Rule_Allowances</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_varShift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varShift</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Shift</targetReference>
            </connector>
            <label>No varShift</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_End_Times_not_NULL</name>
        <label>Start/End Times not NULL?</label>
        <locationX>1711</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>Update_Shift_Allowance_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Times_not_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Start_Time_input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>End_Time_input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shift_Allowance_Start_End_Times</targetReference>
            </connector>
            <label>Times not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Shift1</name>
        <label>Update Shift</label>
        <locationX>1975</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TS_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Custom_Rule.Timesheet_Activity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shift_TS_Activity</targetReference>
            </connector>
            <label>TS Activity</label>
        </rules>
        <rules>
            <name>Allowance_Only</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Custom_Rule.Allowance_Payment_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One Per Shift - Allowance Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Custom_Rule.Allowance_Payment_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shift Hours - Allowance Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Custom_Rule.Allowance_Payment_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allowance Hours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_End_Times_not_NULL</targetReference>
            </connector>
            <label>Allowance Only</label>
        </rules>
        <rules>
            <name>Payment_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Custom_Rule.Award_Classification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Custom_Rule.Award_Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Rule_MPR</targetReference>
            </connector>
            <label>Payment Rule</label>
        </rules>
    </decisions>
    <description>ALN-293: Adjust time fields for Allowance Hours, add in decision outcome for Allowance Hours to update shift. Add in missing variables for Allowance Hours assignment element
ALN-479 - Correct start/end time quantities to cater for over midnight and 24h period.
ALN-479 - Removed Allowance Hours Frequency from setting &apos;allowance only&apos; to true</description>
    <dynamicChoiceSets>
        <name>choiceCustomRule</name>
        <collectionReference>Get_Filtered_Custom_Rules</collectionReference>
        <dataType>String</dataType>
        <displayField>Name_for_Community__c</displayField>
        <object>Custom_Rule__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frmConvALWET_DT</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!End_Time_input})</expression>
    </formulas>
    <formulas>
        <name>frmConvALWET_TXT</name>
        <dataType>String</dataType>
        <expression>{!End_Time_input}</expression>
    </formulas>
    <formulas>
        <name>frmConvALWST_DT</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Start_Time_input})</expression>
    </formulas>
    <formulas>
        <name>frmConvALWST_TXT</name>
        <dataType>String</dataType>
        <expression>{!Start_Time_input}</expression>
    </formulas>
    <formulas>
        <name>frmConvertEndTime</name>
        <dataType>Time</dataType>
        <expression>TIMEVALUE({!End_Time_input}+&quot;.000&quot;)</expression>
    </formulas>
    <formulas>
        <name>frmConvertStartTime</name>
        <dataType>Time</dataType>
        <expression>TIMEVALUE({!Start_Time_input}+&quot;.000&quot;)</expression>
    </formulas>
    <formulas>
        <name>frmCustomRuleName</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!Get_Selected_Custom_Rule.Payee_Allowance_Record__c})),
&quot;Employee Claimed Allowance - &quot; &amp; {!Get_Selected_Custom_Rule.Payee_Allowance_Record__r.Name},
IF(
NOT(ISBLANK({!Get_Selected_Custom_Rule.Timesheet_Activity__c})),
&quot;Employee Claimed Timesheet Activity - &quot; &amp; {!Get_Selected_Custom_Rule.Timesheet_Activity__r.Name},
&quot;Employee Claimed Payment Rule - &quot; &amp; {!Get_Selected_Custom_Rule.Award_Classification__r.Name} + &quot; &quot; + {!Get_Selected_Custom_Rule.Award_Level__r.Name}
))</expression>
    </formulas>
    <formulas>
        <name>frmSETimestoQuantity</name>
        <dataType>Number</dataType>
        <expression>IF(
    HOUR({!frmConvertEndTime}) - HOUR({!frmConvertStartTime}) = 0,
    24,
    IF(
        HOUR({!frmConvertEndTime}) - HOUR({!frmConvertStartTime}) &lt; 0,
        (HOUR({!frmConvertEndTime}) - HOUR({!frmConvertStartTime})) * -1,
        HOUR({!frmConvertEndTime}) - HOUR({!frmConvertStartTime})
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmShiftID</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!varShift})), {!varShift}, &quot;No Shift Variable&quot;
)</expression>
    </formulas>
    <interviewLabel>Community - Manage Allowances {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Community - Manage Allowances</label>
    <loops>
        <name>Loop_Claimed_Custom_Rules</name>
        <label>Loop Claimed Custom Rules</label>
        <locationX>1224</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Claimed_Custom_Rule_Allowances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Claimed_Allowances</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Custom_Rules_to_Remove_Duplicates</name>
        <label>Loop Custom Rules to Remove Duplicates</label>
        <locationX>1018</locationX>
        <locationY>1490</locationY>
        <collectionReference>Get_ALL_Custom_Rule_Allowances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Custom_Rule_Record_Duplicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Filtered_Custom_Rules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Custom_Rule</name>
        <label>Create Custom Rule</label>
        <locationX>1975</locationX>
        <locationY>2930</locationY>
        <connector>
            <targetReference>Update_Shift1</targetReference>
        </connector>
        <inputReference>varCustomRule</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Custom_Rule</name>
        <label>Delete Custom Rule</label>
        <locationX>3207</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataTableClaimedAllowances.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>Custom_Rule__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_ALL_Custom_Rule_Allowances</name>
        <label>Get ALL Custom Rule Allowances</label>
        <locationX>1224</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Claimed_Custom_Rule_Allowances</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR (4 AND 10) OR 5) AND 6 AND 7 AND (8 OR 9)</filterLogic>
        <filters>
            <field>Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Location__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Job_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Team__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_on_Active_App__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Scheduled_Local_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Scheduled_Local_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Custom_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claimed_Custom_Rule_Allowances</name>
        <label>Get Claimed Custom Rule Allowances</label>
        <locationX>1224</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Claimed_Custom_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_on_Active_App__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Custom_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Rule_MPR</name>
        <label>Get Custom Rule MPR</label>
        <locationX>2239</locationX>
        <locationY>3146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_Rule_MPR_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 9 AND (7 OR 8)</filterLogic>
        <filters>
            <field>tc9_et__Rate_Calculator_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Team__r.Rate_Template_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Award_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Custom_Rule.Award_Classification__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Award_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Custom_Rule.Award_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Allowance_Pay_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Project_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Scheduled_Start_Time__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Scheduled_Start_Time__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet_Activity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Minimum_Pay_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Filtered_Custom_Rules</name>
        <label>Get Filtered Custom Rules</label>
        <locationX>1018</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Allowances_to_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varCustomRuleCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Custom_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Custom_Rule</name>
        <label>Get Selected Custom Rule</label>
        <locationX>1975</locationX>
        <locationY>2414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quantity_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Allowance</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Custom_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shift</name>
        <label>Get Shift</label>
        <locationX>1224</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shift_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varShift</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shift_Allowance_Only</name>
        <label>Update Shift - Allowance Only</label>
        <locationX>1843</locationX>
        <locationY>3254</locationY>
        <connector>
            <targetReference>Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_ext_sirint__Allowance_Only__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__Allowance__c</field>
            <value>
                <elementReference>Get_Selected_Custom_Rule.Payee_Allowance_Record__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift_Allowance_Start_End_Times</name>
        <label>Update Shift - Allowance Start/End Times</label>
        <locationX>1579</locationX>
        <locationY>3254</locationY>
        <connector>
            <targetReference>Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allowance_End_Time_TXT__c</field>
            <value>
                <elementReference>frmConvALWET_TXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allowance_Start_Time_TXT__c</field>
            <value>
                <elementReference>frmConvALWST_TXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__Allowance_Only__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__Allowance__c</field>
            <value>
                <elementReference>Get_Selected_Custom_Rule.Payee_Allowance_Record__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift_Payment_Rule</name>
        <label>Update Shift - Payment Rule</label>
        <locationX>2107</locationX>
        <locationY>3362</locationY>
        <connector>
            <targetReference>Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Minimum_Pay_Rate__c</field>
            <value>
                <elementReference>Get_Custom_Rule_MPR.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rates_Assignment_Status__c</field>
            <value>
                <stringValue>Rates Successfully Assigned from Custom Rule - Employee Claimed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__Award_Classification__c</field>
            <value>
                <elementReference>Get_Custom_Rule_MPR.tc9_et__Award_Classification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__Award_Level__c</field>
            <value>
                <elementReference>Get_Custom_Rule_MPR.tc9_et__Award_Level__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift_Payment_Rule_Not_Found</name>
        <label>Update Shift - Payment Rule (Not Found)</label>
        <locationX>2371</locationX>
        <locationY>3362</locationY>
        <connector>
            <targetReference>Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Minimum_Pay_Rate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Rates_Assignment_Status__c</field>
            <value>
                <stringValue>No Custom Rule MPR Found - Employee Claimed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__Award_Classification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__Award_Level__c</field>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift_Remove_Allowance_Only</name>
        <label>Update Shift Remove Allowance Only</label>
        <locationX>3075</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Delete_Custom_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_ext_sirint__Allowance_Only__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__Allowance__c</field>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift_Remove_MPR</name>
        <label>Update Shift Remove MPR</label>
        <locationX>3339</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Delete_Custom_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Re_run_Rates_Assignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift_Remove_TS_Activity</name>
        <label>Update Shift Remove TS Activity</label>
        <locationX>2811</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Delete_Custom_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_ext_sirint__Timesheet_Activity__c</field>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift_TS_Activity</name>
        <label>Update Shift - TS Activity</label>
        <locationX>1315</locationX>
        <locationY>3146</locationY>
        <connector>
            <targetReference>Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_ext_sirint__Timesheet_Activity__c</field>
            <value>
                <elementReference>Get_Selected_Custom_Rule.Timesheet_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cancelled</name>
        <label>Cancelled</label>
        <locationX>3207</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtCancelled</name>
            <fieldText>&lt;p&gt;Allowance successfully cancelled.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_No_Selection</name>
        <label>Copy 1 of No Selection</label>
        <locationX>1051</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_txtNoSelection</name>
            <fieldText>&lt;p&gt;No Selection Made&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Created</name>
        <label>Created</label>
        <locationX>1975</locationX>
        <locationY>3638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtCreated</name>
            <fieldText>&lt;p&gt;Allowance successfully claimed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Quantity</name>
        <label>Enter Quantity</label>
        <locationX>2107</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Custom_Rule</targetReference>
        </connector>
        <fields>
            <name>txtQuantity</name>
            <fieldText>&lt;p&gt;The selected Allowance requires you to enter a quantity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Times</name>
        <label>Enter Times</label>
        <locationX>1579</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Custom_Rule_StartEndTimes</targetReference>
        </connector>
        <fields>
            <name>StartEndTimes</name>
            <fieldText>&lt;p&gt;The selected Allowance requires you to enter Start and End times.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Enter_Times_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Times_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Time_input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>00:00:00</stringValue>
                    </defaultValue>
                    <fieldText>Start Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please enter a valid time input - e.g. 14:00:00, 01:00:00.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(REGEX( {!Start_Time_input}, &quot;([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Times_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Time_input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>00:00:00</stringValue>
                    </defaultValue>
                    <fieldText>End Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please enter a valid time input - e.g. 14:00:00, 01:00:00.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(REGEX( {!End_Time_input},  &quot;([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Times_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Claimable_Allowances</name>
        <label>No Claimable Allowances</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtnoclaimableallowances</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Allowances cannot be claimed for this Shift.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Claims_Available</name>
        <label>No Claims Available</label>
        <locationX>611</locationX>
        <locationY>2198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clear_Variable</targetReference>
        </connector>
        <fields>
            <name>txtnomoreclaims</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;No more allowances can be claimed for this shift.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Selection</name>
        <label>No Selection</label>
        <locationX>3779</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scrSelection</targetReference>
        </connector>
        <fields>
            <name>txtNoSelection</name>
            <fieldText>&lt;p&gt;No Selection Made&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Shift</name>
        <label>No Shift</label>
        <locationX>1092</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ALL_Custom_Rule_Allowances</targetReference>
        </connector>
        <fields>
            <name>txtShift</name>
            <fieldText>&lt;p&gt;Allowances cannot be loaded for this Shift.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrDisplay</name>
        <label>scrDisplay</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtApproved</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This Shift has already been approved and cannot be edited.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DataTableApprovedTS</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Custom_Rule__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Custom_Rule__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Claimed_Custom_Rule_Allowances</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name_for_Community__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name_for_Community__c:596</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Claimed Allowances</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name_for_Community__c:Allowance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPagination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom11</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCustomRulesCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrSelection</name>
        <label>scrSelection</label>
        <locationX>2398</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Option_Selected</targetReference>
        </connector>
        <fields>
            <name>buttonClaim</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Claim Allowance&quot;,&quot;value&quot;:&quot;Claim&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txtblank1</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DataTableClaimedAllowances</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Custom_Rule__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Custom_Rule__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Claimed_Custom_Rule_Allowances</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name_for_Community__c,Quantity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name_for_Community__c:246, Quantity__c:101</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name_for_Community__c:Claimed Allowances</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCustomRulesCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>buttonCancel</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel Allowance&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varCustomRulesCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtCancel</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 8px;&quot;&gt;To update a quantity, cancel the allowance and claim a new one.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCustomRulesCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Custom_Rule</name>
        <label>Select Custom Rule</label>
        <locationX>1425</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigation</targetReference>
        </connector>
        <fields>
            <name>Select_Allowance</name>
            <choiceReferences>choiceCustomRule</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Allowance</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>buttonNavigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:back&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Claim&quot;,&quot;value&quot;:&quot;Create&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:record_create&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1098</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Shift</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Allowance_Record__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Rule__c</objectType>
    </variables>
    <variables>
        <name>varAllowances</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClaimedAllowances</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClaimTSActivities</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Rule__c</objectType>
    </variables>
    <variables>
        <name>varCustomRuleCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomRulesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varShift</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShiftRulesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTimesheetActivities</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
