.vscode/allianceuat_compare/force-app/main/default/flows/Community_Capture_Personal_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Community Capture Personal Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Community Capture Personal Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1327</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Personal_Details_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>1124</locationX>
        <locationY>721</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>HomePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>PrimaryAddressDetails.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>PrimaryAddressDetails.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>PrimaryAddressDetails.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>PrimaryAddressDetails.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>PrimaryAddressDetails.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobilePhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Personal_Details_Screen</name>
        <label>Personal Details Screen</label>
        <locationX>1019</locationX>
        <locationY>439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Update_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>PersonalInformationText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(69, 145, 221); font-family: sans-serif; font-size: 16px;&quot;&gt;Personal Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Personal_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Birthdate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Birthdate</elementReference>
                    </defaultValue>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ContactDetailsText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(69, 145, 221);&quot;&gt;Contact Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Personal_Details_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_Details_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HomePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Contact.HomePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Home Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Email</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_Details_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MobilePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Contact.MobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Alternative_Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.tc9_pr__Alternative_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Alternative Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Personal_Details_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_Details_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrimaryAddressDetailsText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(69, 145, 221); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Primary Address Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PrimaryAddressDetails</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Get_Contact.MailingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Get_Contact.MailingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Mailing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Get_Contact.MailingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Get_Contact.MailingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Get_Contact.MailingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_Details_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AlternativeAddressDetails</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Get_Contact.OtherCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Get_Contact.OtherCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Get_Contact.OtherPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Get_Contact.OtherState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Get_Contact.OtherStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Other Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AlternativeAddressText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(195, 25, 25);&quot;&gt;Please use Alternative Address if you have an Overseas Mailing Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1489</locationX>
        <locationY>717</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Success Your personal details have been updated. Please click &lt;/span&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Finish &lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;to close this window&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
