.vscode/allianceuat_compare/force-app/main/default/flows/Community_Capture_Superannuation_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_File</name>
        <label>Add File</label>
        <locationX>2233</locationX>
        <locationY>3566</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Content_Document_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_APRA</name>
        <label>Assign APRA</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varRTAPRA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Super_RecTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Super_RecTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default</name>
        <label>Assign Default</label>
        <locationX>1810</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varRTDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Super_RecTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Super_RecTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMSF</name>
        <label>Assign SMSF</label>
        <locationX>1546</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varRTSMSF</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Super_RecTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Super_RecTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_File_to_PW</name>
        <label>Link File to PW</label>
        <locationX>2233</locationX>
        <locationY>3458</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Content_Document_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewPWId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_File</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceACT</name>
        <choiceText>ACT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACT</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceAddFund</name>
        <choiceText>Add a new superannuation fund</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>choiceChangeFund</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceAPRA</name>
        <choiceText>Search for my Super fund</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APRA</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceChangeFund</name>
        <choiceText>Change my superannuation fund</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Fund</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceChangeMember</name>
        <choiceText>Change my membership number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Member</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultFund</name>
        <choiceText>Use the default employer Super Fund</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Default</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNSW</name>
        <choiceText>NSW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NSW</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNT</name>
        <choiceText>NT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NT</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceQLD</name>
        <choiceText>QLD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QLD</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSA</name>
        <choiceText>SA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SA</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSMSF</name>
        <choiceText>Add a self-managed Super Fund</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMSF</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceTAS</name>
        <choiceText>TAS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TAS</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUploadDocuments</name>
        <choiceText>Upload supporting documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upload Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceVIC</name>
        <choiceText>VIC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIC</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceWA</name>
        <choiceText>WA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WA</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decAction</name>
        <label>Action</label>
        <locationX>2299</locationX>
        <locationY>2222</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decUpdate_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceChangeMember</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Number</targetReference>
            </connector>
            <label>Update Member</label>
        </rules>
        <rules>
            <name>decUpload_Documents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceUploadDocuments</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenDocuments_Uploaded</targetReference>
            </connector>
            <label>Upload Documents</label>
        </rules>
        <rules>
            <name>decChange_Fund</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>radioAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceChangeFund</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>radioActionCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceAddFund</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decCreate_Fund</targetReference>
            </connector>
            <label>Change Fund</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCreate_Files</name>
        <label>Create Files?</label>
        <locationX>2409</locationX>
        <locationY>3242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screenFund_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decFilesYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmLengthIds</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Content_Document_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCreate_Fund</name>
        <label>Create Fund?</label>
        <locationX>2409</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>New_or_Update_Withholding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decCreateFundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioSelect_Superannuation_Fund_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceSMSF</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMSF</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSuper_Type</name>
        <label>Super Type</label>
        <locationX>1678</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_Super_RecTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>decAPRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Super_RecTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APRA_and_RSA_Funds</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_APRA</targetReference>
            </connector>
            <label>APRA</label>
        </rules>
        <rules>
            <name>decSMSF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Super_RecTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self_Managed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SMSF</targetReference>
            </connector>
            <label>SMSF</label>
        </rules>
        <rules>
            <name>decDefault</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Super_RecTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default_Employer_Fund</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default</targetReference>
            </connector>
            <label>Default</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Fund_Not_Found</name>
        <label>Default Fund Not Found</label>
        <locationX>1194</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>File_Upload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Default_Fund</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>radioSelect_Superannuation_Fund_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceDefaultFund</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrNoDefaultFund</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>File_Upload</name>
        <label>File Upload</label>
        <locationX>1650</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>decAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Uploaded or Not Mandatory</defaultConnectorLabel>
        <rules>
            <name>Mandatory_Not_Uploaded</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>frmLengthIds</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choiceAPRA</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Custom_Settings.tc9_pr__Super_APRA_File_Mandatory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choiceSMSF</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Custom_Settings.tc9_pr__Super_SMSF_File_Mandatory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenDocument_Not_Uploaded</targetReference>
            </connector>
            <label>Mandatory Not Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Update_Withholding</name>
        <label>New or Update Withholding</label>
        <locationX>2409</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>Create_Payee_Withholding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmEffectiveDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>frmToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payee_Withholding</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payee_Found</name>
        <label>Payee Found?</label>
        <locationX>622</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_PW_Rec_TYpe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Payee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Payee1</targetReference>
            </connector>
            <label>No Payee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Last_PW_Found</name>
        <label>Was a Last PW Found?</label>
        <locationX>1194</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Help_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE  - Was a Last PW Found?</defaultConnectorLabel>
        <rules>
            <name>TRUE_Was_a_Last_PW_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_PW_Super.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSuperannuationDetails</targetReference>
            </connector>
            <label>TRUE - Was a Last PW Found?</label>
        </rules>
    </decisions>
    <description>This Screen Flow is designed for use in a Salesforce Community, allowing employees to securely submit and manage their Superannuation Withholding records.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmEffectiveDate</name>
        <dataType>Date</dataType>
        <expression>If ( AND ( NOT ( ISBLANK ( {!Get_Last_Pay.Id} ) ) , ISBLANK({!Get_Last_PW_Super.Id})), {!Get_Last_Pay.tc9_pr__Pay_Batch__r.tc9_pr__Payment_Date__c} + 1,
If ( ISBLANK ( {!Get_Last_PW_Super.Id} ) , {!Get_Payee.tc9_pr__Payroll_Start_Date__c} , 
If ( AND ( {!Get_Last_PW_Super.tc9_pr__Effective_Date__c} &lt; TODAY() , ISBLANK ( {!Get_Last_Pay.Id} ) ) , TODAY() ,
If ( AND ( {!Get_Last_PW_Super.tc9_pr__Effective_Date__c} = TODAY() , ISBLANK ( {!Get_Last_Pay.Id} ) ) , TODAY()+1 ,
If ( AND ( {!Get_Last_PW_Super.tc9_pr__Effective_Date__c} &gt; TODAY() , ISBLANK ( {!Get_Last_Pay.Id} ) ) , {!Get_Last_PW_Super.tc9_pr__Effective_Date__c} + 1  ,
If ( AND ( {!Get_Last_PW_Super.tc9_pr__Effective_Date__c} &gt;= TODAY() , NOT ( ISBLANK ( {!Get_Last_Pay.Id} ) ) , {!Get_Last_Pay.tc9_pr__Pay_Batch__r.tc9_pr__Payment_Date__c} &lt; TODAY() ) , {!Get_Last_PW_Super.tc9_pr__Effective_Date__c} + 1 , 
If ( AND ( NOT ( ISBLANK ( {!Get_Last_Pay.Id} ) ) , {!Get_Last_Pay.tc9_pr__Pay_Batch__r.tc9_pr__Payment_Date__c} &lt; TODAY() ), TODAY() ,
{!Get_Last_Pay.tc9_pr__Pay_Batch__r.tc9_pr__Payment_Date__c} + 1 ) ) ) ) ) ))</expression>
    </formulas>
    <formulas>
        <name>frmFutureEffectiveDate</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!Get_Last_PW_Super.tc9_pr__Effective_Date__c} &gt; TODAY(), TRUE, FALSE
)</expression>
    </formulas>
    <formulas>
        <name>frmLengthIds</name>
        <dataType>Number</dataType>
        <expression>LEN ( {!varTContentDocumentIds} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmNewFundID</name>
        <dataType>String</dataType>
        <expression>If ( NOT ( ISBLANK ( {!varNewFundId} ) ) , {!varNewFundId} , 
If ( {!radioSelect_Superannuation_Fund_Type} = {!choiceAPRA} , {!searchAPRA.selectedValue} , null ) )</expression>
    </formulas>
    <formulas>
        <name>frmNewMemberNumber</name>
        <dataType>String</dataType>
        <expression>If ( {!radioSelect_Superannuation_Fund_Type} = {!choiceAPRA} , {!inputMember_number} , 
If ( {!radioSelect_Superannuation_Fund_Type} = {!choiceDefaultFund} , &quot;New Member&quot; , {!Get_Payee.tc9_pr__Last_Name__c} ) )</expression>
    </formulas>
    <formulas>
        <name>frmNomination</name>
        <dataType>String</dataType>
        <expression>If ( {!radioSelect_Superannuation_Fund_Type} = {!choiceDefaultFund} , &quot;Default Employer Fund&quot; , 
If ( {!radioSelect_Superannuation_Fund_Type} = {!choiceAPRA} , &quot;APRA or RSA Fund&quot; , &quot;Self Managed Fund&quot; ) )</expression>
    </formulas>
    <formulas>
        <name>frmRTAPRA</name>
        <dataType>String</dataType>
        <expression>If ( {!Loop_Super_RecTypes.DeveloperName} = &apos;APRA_and_RSA_Funds&apos; , {!Loop_Super_RecTypes.Id} , null )</expression>
    </formulas>
    <formulas>
        <name>frmRTDefault</name>
        <dataType>String</dataType>
        <expression>If ( {!Loop_Super_RecTypes.DeveloperName} = &apos;Default_Employer_Fund&apos; , {!Loop_Super_RecTypes.Id} , null )</expression>
    </formulas>
    <formulas>
        <name>frmRTSMSF</name>
        <dataType>String</dataType>
        <expression>If ( {!Loop_Super_RecTypes.DeveloperName} = &apos;Self_Managed&apos; , {!Loop_Super_RecTypes.Id} , null )</expression>
    </formulas>
    <formulas>
        <name>frmSuperRecordTypes</name>
        <dataType>String</dataType>
        <expression>If ( {!Loop_Super_RecTypes.DeveloperName} = &apos;APRA_and_RSA_Funds&apos; , {!Loop_Super_RecTypes.Id} , 
If ( {!Loop_Super_RecTypes.DeveloperName} = &apos;Default_Employer_Fund&apos; , {!Loop_Super_RecTypes.Id} , 
If ( {!Loop_Super_RecTypes.DeveloperName} = &apos;Self_Managed&apos; , {!Loop_Super_RecTypes.Id} , null ) ) )</expression>
    </formulas>
    <formulas>
        <name>frmToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Community Capture Superannuation Fund {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2c9 Utilities - Community Capture Superannuation Details</label>
    <loops>
        <name>Loop_Content_Document_Ids</name>
        <label>Loop Content Document Ids</label>
        <locationX>2145</locationX>
        <locationY>3350</locationY>
        <collectionReference>varTContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_File_to_PW</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Files</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Super_RecTypes</name>
        <label>Loop Super RecTypes</label>
        <locationX>1194</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Super_RecTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decSuper_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Default_Fund</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Files</name>
        <label>Create Files</label>
        <locationX>2145</locationX>
        <locationY>3758</locationY>
        <connector>
            <targetReference>screenFund_Changed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenFault</targetReference>
        </faultConnector>
        <inputReference>varRContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Payee_Withholding</name>
        <label>Create Payee Withholding</label>
        <locationX>2541</locationX>
        <locationY>2786</locationY>
        <assignRecordIdToReference>varNewPWId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_PBE</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screenFault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_PW_Rec_TYpe.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Distribution_Type__c</field>
            <value>
                <stringValue>Balance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Effective_Date__c</field>
            <value>
                <elementReference>frmEffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Employee_Influenced_Super_Variation__c</field>
            <value>
                <elementReference>Get_Last_PW_Super.tc9_pr__Employee_Influenced_Super_Variation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Employee__c</field>
            <value>
                <elementReference>Get_Payee.tc9_pr__Employee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Maximum_Super_Contribution_Base__c</field>
            <value>
                <elementReference>Get_Last_PW_Super.tc9_pr__Maximum_Super_Contribution_Base__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Minimum_Monthly_Earnings__c</field>
            <value>
                <elementReference>Get_Last_PW_Super.tc9_pr__Minimum_Monthly_Earnings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Payee__c</field>
            <value>
                <elementReference>Get_Payee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Sort_Order__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Super_Exempt__c</field>
            <value>
                <elementReference>Get_Last_PW_Super.tc9_pr__Super_Exempt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Super_Membership_Number__c</field>
            <value>
                <elementReference>frmNewMemberNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Super_Variation_Amount__c</field>
            <value>
                <elementReference>Get_Last_PW_Super.tc9_pr__Super_Variation_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Super_Variation_Percentage__c</field>
            <value>
                <elementReference>Get_Last_PW_Super.tc9_pr__Super_Variation_Percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Superannuation_Fund_Nomination__c</field>
            <value>
                <elementReference>frmNomination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Superannuation_Fund__c</field>
            <value>
                <elementReference>frmNewFundID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Superannuation_Type__c</field>
            <value>
                <stringValue>Superannuation Guarantee</stringValue>
            </value>
        </inputAssignments>
        <object>tc9_pr__Payee_Withholding__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SMSF</name>
        <label>Create SMSF</label>
        <locationX>2145</locationX>
        <locationY>2438</locationY>
        <assignRecordIdToReference>varNewFundId</assignRecordIdToReference>
        <connector>
            <targetReference>New_or_Update_Withholding</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screenFault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRTSMSF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Fund_ABN__c</field>
            <value>
                <elementReference>inputFund_ABN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Fund_Account_Number__c</field>
            <value>
                <elementReference>inputFund_bank_account_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Fund_Branch__c</field>
            <value>
                <elementReference>inputFund_BSB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Fund_City__c</field>
            <value>
                <elementReference>inputSuburb_town</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Fund_Country__c</field>
            <value>
                <stringValue>Australia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Fund_Electronic_Service_Address__c</field>
            <value>
                <elementReference>inputESA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Fund_Name__c</field>
            <value>
                <elementReference>inputFund_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Fund_Phone__c</field>
            <value>
                <elementReference>inputPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Fund_State_Province__c</field>
            <value>
                <elementReference>inputState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Fund_Street__c</field>
            <value>
                <elementReference>inputFund_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Fund_Zip_Postal_Code__c</field>
            <value>
                <elementReference>inputPostcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>tc9_pr__Superannuation_Fund__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Settings</name>
        <label>Get Custom Settings</label>
        <locationX>1194</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Super_RecTypes</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Utility_Extension_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Fund</name>
        <label>Get Default Fund</label>
        <locationX>1194</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_PW_Super</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTDefault</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Payment_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payee.tc9_pr__Payment_Entity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Default_Employer_Fund_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Superannuation_Fund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Pay</name>
        <label>Get Last Pay</label>
        <locationX>1194</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_Last_PW_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payee.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Pay_Batch_Item__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_PW_Super</name>
        <label>Get Last PW Super</label>
        <locationX>1194</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Pay</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 5 AND (3 OR 4)</filterLogic>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Sort_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PW_Rec_TYpe.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Payee_Withholding__c</object>
        <sortField>tc9_pr__Effective_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payee</name>
        <label>Get Payee</label>
        <locationX>622</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payee_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Primary_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Payee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payee_Withholding</name>
        <label>Get Payee Withholding</label>
        <locationX>1194</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Super_RecTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PW_Rec_TYpe.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payee.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Payee_Withholding__c</object>
        <sortField>tc9_pr__Effective_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PBE</name>
        <label>Get PBE</label>
        <locationX>2541</locationX>
        <locationY>2894</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PWR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Payee_Withholding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewPWId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Pay_Batch_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PW_Rec_TYpe</name>
        <label>Get PW Rec TYpe</label>
        <locationX>1194</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Payee_Withholding__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AU_SUPER</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Super_RecTypes</name>
        <label>Get Super RecTypes</label>
        <locationX>1194</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payee_Withholding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Superannuation_Fund__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Member_Number</name>
        <label>Update Member Number</label>
        <locationX>1265</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>screenMembershipUpdated</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screenFault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Last_PW_Super.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_pr__Super_Membership_Number__c</field>
            <value>
                <elementReference>inputNewMemberNumber</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_pr__Payee_Withholding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payee_Withholding</name>
        <label>Update Payee Withholding</label>
        <locationX>2277</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>decCreate_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Last_PW_Super.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_pr__Super_Membership_Number__c</field>
            <value>
                <elementReference>frmNewMemberNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Superannuation_Fund_Nomination__c</field>
            <value>
                <elementReference>frmNomination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Superannuation_Fund__c</field>
            <value>
                <elementReference>frmNewFundID</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_pr__Payee_Withholding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PWR</name>
        <label>Update PWR</label>
        <locationX>2541</locationX>
        <locationY>3002</locationY>
        <connector>
            <targetReference>decCreate_Files</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screenFault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewPWId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Batch_Event__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_pr__Pay_Batch_Event__c</field>
            <value>
                <elementReference>Get_PBE.Id</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_pr__Payee_Withholding__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Help_Screen</name>
        <label>Help Screen</label>
        <locationX>1282</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screenSuperannuationDetails</targetReference>
        </connector>
        <fields>
            <name>helpText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Let&apos;s Get Your Super Setup. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;When adding your super fund, you’ll be able to choose one of three options:&lt;/span&gt;&lt;/p&gt;&lt;h3&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;1. Search for my Super Fund (make sure you have your USI handy)&lt;/strong&gt;&lt;/h3&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Use this option if you have an existing super fund.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Search for your fund by name.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Enter your member number.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Upload any required documents.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;h3&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;2. Add a Self‑Managed Super Fund (SMSF)&lt;/strong&gt;&lt;/h3&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Choose this if you manage your own fund.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Enter all required SMSF details such as:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Fund ABN, name, address&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Contact details&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;ESA&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Bank account details&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Upload any supporting documents.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;h3&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;3. Use the Default Employer Super Fund&lt;/strong&gt;&lt;/h3&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Select this to use the super fund chosen by your employer.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If no default fund is available, you’ll be asked to select another option.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Ready? Tap &lt;strong&gt;Next &lt;/strong&gt;to add your super details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Payee1</name>
        <label>No Payee</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtnoPayee</name>
            <fieldText>&lt;p&gt;No Active Payee record found for this user record.&lt;/p&gt;&lt;p&gt;Please contact your payroll department.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenDocument_Not_Uploaded</name>
        <label>Document Not Uploaded</label>
        <locationX>1001</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayNoFileAPRA</name>
            <fieldText>&lt;p&gt;You must attach a letter from the fund trustee or RSA provider confirming that the fund or RSA:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;is a complying fund or RSA, and&lt;/li&gt;&lt;li&gt;will accept payments from your employer.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;This letter may contain other information to help your employer make super contributions using the SuperStream standard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>choiceAPRA</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayNoFileSMSF</name>
            <fieldText>&lt;p&gt;Please note we will only make payments into your SMSF if you have a document confirming that the SMSF is regulated - this can be printed from superfundlookup.gov.au and uploaded into the file upload.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>choiceSMSF</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenDocuments_Uploaded</name>
        <label>Documents Uploaded</label>
        <locationX>1793</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayHeader3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Superannuation Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayUploadSuccess</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Success!  &lt;/b&gt;Your supporting documents have been uploaded.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFault</name>
        <label>Fault Screen</label>
        <locationX>2409</locationX>
        <locationY>3866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayRecordError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error: &lt;/b&gt;The following issues were encountered.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFund_Changed</name>
        <label>Fund Changed</label>
        <locationX>2145</locationX>
        <locationY>3866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayHeader4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Superannuation Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayChangeSuccess</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Success!  &lt;/b&gt;Your superannuation details have been changed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenMembershipUpdated</name>
        <label>Membership Updated</label>
        <locationX>1265</locationX>
        <locationY>2438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayHeader3_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Superannuation Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayUploadSuccess_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Success!  &lt;/b&gt;Your membership details have been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSuperannuationDetails</name>
        <label>Superannuation Details</label>
        <locationX>1194</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Fund_Not_Found</targetReference>
        </connector>
        <fields>
            <name>displayHeader2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Superannuation Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayExistingFund</name>
            <fieldText>&lt;p&gt;Your existing superannuation membership details are as follows.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fund Name: &lt;/strong&gt;{!Get_Last_PW_Super.tc9_pr__Superannuation_Fund__r.tc9_pr__Fund_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Member Number: &lt;/strong&gt;{!Get_Last_PW_Super.tc9_pr__Super_Membership_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Effective Date: &lt;/strong&gt;{!Get_Last_PW_Super.tc9_pr__Effective_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Last_PW_Super.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>radioActionCreate</name>
            <choiceReferences>choiceAddFund</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceAddFund</defaultSelectedChoiceReference>
            <fieldText>I would like to</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Last_PW_Super.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>radioAction</name>
            <choiceReferences>choiceUploadDocuments</choiceReferences>
            <choiceReferences>choiceChangeMember</choiceReferences>
            <choiceReferences>choiceChangeFund</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I would like to</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Last_PW_Super.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Upload_to_Existing_Fund</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Last_PW_Super.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioAction</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceUploadDocuments</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputNewMemberNumber</name>
            <dataType>String</dataType>
            <fieldText>New membership number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioAction</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceChangeMember</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenSuperannuationDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenSuperannuationDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayEffectiveDate</name>
                    <fieldText>&lt;p&gt;This nomination will become effective on {!frmEffectiveDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>radioSelect_Superannuation_Fund_Type</name>
                    <choiceReferences>choiceAPRA</choiceReferences>
                    <choiceReferences>choiceSMSF</choiceReferences>
                    <choiceReferences>choiceDefaultFund</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How would you like to add your Super Fund?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>radioAction</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceChangeFund</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>radioActionCreate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceAddFund</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenSuperannuationDetails_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenSuperannuationDetails_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>usiHelp</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Make sure you have your USI handy&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>searchAPRA</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>tc9_pr__Superannuation_Fund__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>Search_Display_Value__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search Fund</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>RecordTypeId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>varRTAPRA</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchFieldName</name>
                        <value>
                            <stringValue>tc9_pr__Fund_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputMember_number</name>
                    <dataType>String</dataType>
                    <fieldText>Member number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>radioSelect_Superannuation_Fund_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceAPRA</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenSuperannuationDetails_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenSuperannuationDetails_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaySMSF</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Nominating your self-managed super fund (SMSF)&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputFund_ABN</name>
                    <dataType>String</dataType>
                    <fieldText>Fund ABN</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputFund_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Fund name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputFund_Address</name>
                    <dataType>String</dataType>
                    <fieldText>Fund address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputSuburb_town</name>
                    <dataType>String</dataType>
                    <fieldText>Suburb/town</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputState</name>
                    <choiceReferences>choiceACT</choiceReferences>
                    <choiceReferences>choiceNSW</choiceReferences>
                    <choiceReferences>choiceNT</choiceReferences>
                    <choiceReferences>choiceQLD</choiceReferences>
                    <choiceReferences>choiceSA</choiceReferences>
                    <choiceReferences>choiceTAS</choiceReferences>
                    <choiceReferences>choiceVIC</choiceReferences>
                    <choiceReferences>choiceWA</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputPostcode</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputPhone</name>
                    <dataType>String</dataType>
                    <fieldText>Fund phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputESA</name>
                    <dataType>String</dataType>
                    <fieldText>Fund electronic service address (ESA)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>displayFundBank</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Fund bank account details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputFund_BSB</name>
                    <dataType>String</dataType>
                    <fieldText>Fund BSB</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputFund_bank_account_number</name>
                    <dataType>String</dataType>
                    <fieldText>Fund bank account number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>radioSelect_Superannuation_Fund_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceSMSF</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UploadNewFund</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload supporting documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varTContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>radioSelect_Superannuation_Fund_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceAPRA</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>radioSelect_Superannuation_Fund_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceSMSF</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenSuperannuationDetails_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenSuperannuationDetails_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayDefault</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Default employer fund details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Business name: {!Get_Default_Fund.tc9_pr__Payment_Entity__r.Name}&lt;/p&gt;&lt;p&gt;ABN: {!Get_Default_Fund.tc9_pr__Payment_Entity__r.tc9_pr__ABN__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Super fund name: {!Get_Default_Fund.tc9_pr__Default_Superannuation_Fund__r.tc9_pr__Fund_Name__c}&lt;/p&gt;&lt;p&gt;Unique superannuation identifier (USI): {!Get_Default_Fund.tc9_pr__Default_Superannuation_Fund__r.tc9_pr__Unique_Superannuation_Identifier__c}&lt;/p&gt;&lt;p&gt;Phone: {!Get_Default_Fund.tc9_pr__Default_Superannuation_Fund__r.tc9_pr__Fund_Phone__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>radioSelect_Superannuation_Fund_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceDefaultFund</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Default_Fund.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayDefaultError</name>
            <fieldText>&lt;p&gt;Your employer has not nominated a default superannuation fund.&lt;/p&gt;&lt;p&gt;Please contact your employer or choose another option.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Default_Fund.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>radioSelect_Superannuation_Fund_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceDefaultFund</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrNoDefaultFund</name>
        <label>scrNoDefaultFund</label>
        <locationX>737</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>screenSuperannuationDetails</targetReference>
        </connector>
        <fields>
            <name>txtnodefaultfund</name>
            <fieldText>&lt;p&gt;Your employer has not nominated a default superannuation fund.&lt;/p&gt;&lt;p&gt;Please contact your employer or choose another option.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>true</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varNewFundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewPWId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRTAPRA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRTDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRTSMSF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedAPRAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>searchAPRA.selectedValue</elementReference>
        </value>
    </variables>
    <variables>
        <name>varTContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
