.vscode/allianceuat_compare/force-app/main/default/flows/Competency_JSON_Text_Builder_For_Shift.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AND_Bundle_Fragment_JSON_Close</name>
        <label>AND Bundle Fragment JSON Close</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ANDSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OR_Skill_Bundle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AND_Bundle_Fragment_JSON_Open</name>
        <label>AND Bundle Fragment JSON Open</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ANDSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResolveSeparator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ANDSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;Skill AND Bundle&quot;: [</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_AND_Bundle_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AND_Bundle_Fragment_Middle</name>
        <label>AND Bundle Fragment Middle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ANDSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResolveSeparator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ANDSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ANDSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_AND_Bundle_Items.Competency_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ANDSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_AND_Bundle_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Bundle_JSON</name>
        <label>Build Bundle JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSONBundle</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSONBundle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RoleBundleJSONFragment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSONBundle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ANDSkillBundleJSONFragment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSONBundle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ORSkillBundleJSONFragment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSONBundle</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shift_JSON_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OR_Bundle_Fragment_JSON_Close</name>
        <label>OR Bundle Fragment JSON Close</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ORSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Bundle_JSON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OR_Bundle_Fragment_JSON_Open</name>
        <label>OR Bundle Fragment JSON Open</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ORSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResolveSeparator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ORSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;Skill OR Bundle&quot;: [</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OR_Bundle_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OR_Bundle_Fragment_Middle</name>
        <label>OR Bundle Fragment Middle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ORSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResolveSeparator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ORSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ORSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OR_Bundle_Items.Competency_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ORSkillBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OR_Bundle_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Role_Bundle_Fragment_JSON_Close</name>
        <label>Role Bundle Fragment JSON Close</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RoleBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_AND_Skill_Bundle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Role_Bundle_Fragment_JSON_Open</name>
        <label>Role Bundle Fragment JSON Open</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RoleBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;Role Bundle&quot;:[</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Role_Bundle_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Role_Bundle_Fragment_Middle</name>
        <label>Role Bundle Fragment Middle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RoleBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResolveSeparator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoleBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoleBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Role_Bundle_Items.Competency_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoleBundleJSONFragment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Role_Bundle_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AND_Bundle_Found</name>
        <label>AND Bundle Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_OR_Skill_Bundle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AND_Bundle_Found_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AND_Skill_Bundle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AND_Bundle_Fragment_JSON_Open</targetReference>
            </connector>
            <label>AND Bundle Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>OR_Bundle_Found</name>
        <label>OR Bundle Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Build_Bundle_JSON</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OR_Bundle_found_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OR_Skill_Bundle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OR_Bundle_Fragment_JSON_Open</targetReference>
            </connector>
            <label>OR Bundle found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Bundle_Found</name>
        <label>Role Bundle Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_AND_Skill_Bundle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Role_Bundle_found_gate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Role_Bundle_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Role_Bundle_Fragment_JSON_Open</targetReference>
            </connector>
            <label>Role Bundle found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ResolveSeparator</name>
        <dataType>String</dataType>
        <expression>If({!Counter}&gt;0, &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Competency JSON Text Builder For Shift {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Competency JSON Text Builder For Shift</label>
    <loops>
        <name>Loop_AND_Bundle_Items</name>
        <label>Loop AND Bundle Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_AND_Skill_Bundle</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AND_Bundle_Fragment_Middle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AND_Bundle_Fragment_JSON_Close</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_OR_Bundle_Items</name>
        <label>Loop OR Bundle Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_OR_Skill_Bundle</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OR_Bundle_Fragment_Middle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OR_Bundle_Fragment_JSON_Close</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Role_Bundle_Items</name>
        <label>Loop Role Bundle Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Role_Bundle_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Role_Bundle_Fragment_Middle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Role_Bundle_Fragment_JSON_Close</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AND_Skill_Bundle</name>
        <label>Get AND Skill Bundle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AND_Bundle_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__CompetencyBundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_shift_Details.sirenum__CompetencyBundle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__CompetencyBundleItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OR_Skill_Bundle</name>
        <label>Get OR Skill Bundle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OR_Bundle_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__CompetencyBundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_shift_Details.Skill_Attribute_OR_Bundle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__CompetencyBundleItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Role_Bundle_Items</name>
        <label>Get Role Bundle Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Role_Bundle_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__CompetencyBundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_shift_Details.Role_OR_Bundle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__CompetencyBundleItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_shift_Details</name>
        <label>Get shift Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Role_Bundle_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShiftId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role_OR_Bundle__c</queriedFields>
        <queriedFields>sirenum__CompetencyBundle__c</queriedFields>
        <queriedFields>Skill_Attribute_OR_Bundle__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shift_JSON_Text</name>
        <label>Update Shift JSON Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShiftId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Competency_JSON__c</field>
            <value>
                <elementReference>JSONBundle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_shift_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ANDSkillBundleJSONFragment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>JSONBundle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ORSkillBundleJSONFragment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoleBundleJSONFragment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShiftId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
