.vscode/allianceuat_compare/force-app/main/default/flows/Create_and_Edit_Pay_Transactions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_rec_to_rcs</name>
        <label>add rec to rcs</label>
        <locationX>1203</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>rcs_PTIX</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_PTIX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PTIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_updates</name>
        <label>assign updates</label>
        <locationX>1203</locationX>
        <locationY>864</locationY>
        <assignmentItems>
            <assignToReference>rec_PTIX.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PTIX.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PTIX.tc9_pr__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sel_PTIX_Descr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PTIX.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>edit_Pay_Transaction_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PTIX.tc9_pr__Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>edit_Pay_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PTIX.tc9_et__Invoice_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>edit_Invoice_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PTIX.tc9_pr__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>edit_Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_rec_to_rcs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Transaction</name>
        <label>Payment Transaction</label>
        <locationX>1484</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Entry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pay_Amount_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_et__Invoice_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Amount_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Pay_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PayCode.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Payee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignment.tc9_pr__Payee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignment.tc9_pr__Employee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignment.tc9_pr__Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignment.tc9_pr__Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_et__Invoice_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignment.tc9_et__Invoice_Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_et__T2P_Product_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_et__Manual_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_et__Invoice_Alone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_et__Invoice_Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment.tc9_et__Invoice_Tax_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_et__Invoice_Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_invoice_taxable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Payment_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment.tc9_pr__Payment_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_PT_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Assignment_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_Rates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Exclude_From_Pay_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_et__Quantity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_quantity_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_et__Invoice_Tax_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment.tc9_et__Invoice_Tax_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_et__To_Be_Invoiced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiced</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Invoice_Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Invoiced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create2_Pay_Transaction_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Pay_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_pr__Funding_Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Funding Requirement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_et__Timesheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_TSE.tc9_et__Timesheet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransaction.tc9_et__Timesheet_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_TSE.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Pay_Transactions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Edit_or_Create_Transaction</name>
        <label>Edit or Create Transaction</label>
        <locationX>494</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>Get_PTIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggle_is_active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pay_Transaction_Creation</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_PTIX_been_processed</name>
        <label>Has PTIX been processed</label>
        <locationX>699</locationX>
        <locationY>858</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_PTIX.tc9_pr__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_PTIX_Edit_0_0</targetReference>
            </connector>
            <label>Processed</label>
        </rules>
        <rules>
            <name>Not_Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_PTIX.tc9_pr__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_PTIX_Edit</targetReference>
            </connector>
            <label>Not Processed</label>
        </rules>
    </decisions>
    <decisions>
        <name>PT_Record_Type_Found</name>
        <label>PT Record Type Found?</label>
        <locationX>1171</locationX>
        <locationY>245</locationY>
        <defaultConnector>
            <targetReference>RT_not_found_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_RecordType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_TSE</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>scr_invoice_payment_status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>tc9_pr__Invoice_Payment_Status__c</picklistField>
        <picklistObject>tc9_pr__Pay_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ff_invoice_tax_rate</name>
        <dataType>String</dataType>
        <expression>IF( 
{!Get_Assignment_Rates.tc9_pr__Pay_code__r.tc9_pr__GST_Exempt__c}=false,{!Get_Assignment.tc9_et__Invoice_Tax_ID__c} ,null)</expression>
    </formulas>
    <formulas>
        <name>ff_invoice_taxable</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL(
{!Get_Assignment_Rates.tc9_pr__Pay_code__r.tc9_et__Invoice_Taxable__c}, &quot;Yes&quot;),&quot;YES&quot;,&quot;NO&quot;)</expression>
    </formulas>
    <formulas>
        <name>ff_quantity_type</name>
        <dataType>String</dataType>
        <expression>if({!get_pay_code.RecordType.Name} = &quot;Payment&quot;, &quot;Hours&quot;, &quot;Units&quot;)</expression>
    </formulas>
    <formulas>
        <name>invoiced</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Invoice_Amount_0}&gt;0, True, False)</expression>
    </formulas>
    <formulas>
        <name>PTIX_Formula_ID</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_510})) &amp; 
   {!varPayTransaction.Id}</expression>
    </formulas>
    <interviewLabel>Create and Edit Pay Transactions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create and Edit Pay Transactions</label>
    <loops>
        <name>Loop_PTIX</name>
        <label>Loop PTIX</label>
        <locationX>709</locationX>
        <locationY>672</locationY>
        <collectionReference>Get_PTIX</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_PTIX_been_processed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pay_Transactions_Edited</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Pay_Transactions</name>
        <label>Create Pay Transactions</label>
        <locationX>1622</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Get_Ptix_Created</targetReference>
        </connector>
        <inputReference>varPayTransaction</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Assignment</name>
        <label>Get Assignment</label>
        <locationX>176</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr_transType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssignment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignment_Rates</name>
        <label>Get Assignment Rates</label>
        <locationX>642</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pay_Transaction_Pay_and_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssignment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PayCode.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_pay_code</name>
        <label>get pay code</label>
        <locationX>901</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PT_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PayCode_0.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Pay_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PT_RecordType</name>
        <label>get PT RecordType</label>
        <locationX>1036</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PT_Record_Type_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Pay_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_pay_code.RecordType.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PTIX</name>
        <label>Get PTIX</label>
        <locationX>496</locationX>
        <locationY>673</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_PTIX</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scr_PTIX_Edit_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Entry_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ptix_Created</name>
        <label>Get Ptix Created</label>
        <locationX>1760</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pay_Transactions_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPayTransaction.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_TSE</name>
        <label>get TSE</label>
        <locationX>1309</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PTIX</name>
        <label>Update PTIX</label>
        <locationX>968</locationX>
        <locationY>673</locationY>
        <connector>
            <targetReference>Loop_PTIX</targetReference>
        </connector>
        <inputReference>rcs_PTIX</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Pay_Transaction_Creation</name>
        <label>Pay Transaction Creation</label>
        <locationX>502</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Assignment_Rates</targetReference>
        </connector>
        <fields>
            <name>info</name>
            <fieldText>&lt;p&gt;Input the Corresponding Pay Code below, then in the next screen Validate the Pay &amp;amp; Invoice Amount from the Pay Code&apos;s Assignment Rate&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>create_Pay_Transaction_Name</name>
            <dataType>String</dataType>
            <fieldText>Pay Transaction Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Transaction_Date</elementReference>
            </defaultValue>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Entry date cannot be earlier than assignment start date ({!Get_Assignment.tc9_pr__Assignment_Start_Date__c})&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_Date}&gt;={!Get_Assignment.tc9_pr__Assignment_Start_Date__c}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>PayCode</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>tc9_pr__Pay_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pay Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>tc9_pr__Pay_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pay_Transaction_Pay_and_Invoice</name>
        <label>Pay Transaction Pay and Invoice</label>
        <locationX>769</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_pay_code</targetReference>
        </connector>
        <fields>
            <name>create2_Pay_Transaction_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>create_Pay_Transaction_Name</elementReference>
            </defaultValue>
            <fieldText>Pay Transaction Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PayCode_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>tc9_pr__Pay_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pay Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>tc9_pr__Pay_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>PayCode.recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AssignmentRate_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>tc9_pr__Assignment_Rate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assignment Rate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>tc9_pr__Pay_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Assignment_Rates.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>create_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Pay_Amount_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Assignment_Rates.tc9_pr__Pay_Rate__c</elementReference>
            </defaultValue>
            <fieldText>Pay Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Invoice_Amount_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Assignment_Rates.tc9_et__Invoice_Rate__c</elementReference>
            </defaultValue>
            <fieldText>Invoice Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pay_Transactions_Created</name>
        <label>Pay Transactions Created</label>
        <locationX>1905</locationX>
        <locationY>221</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Pay Transaction has been successfully created. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PTIX_ID</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; background-color: rgb(255, 255, 255);&quot;&gt;ID: &lt;/span&gt;&lt;a href=&quot;{!PTIX_Formula_ID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; background-color: rgb(255, 255, 255);&quot;&gt;{!varPayTransaction.Id}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Pay Transaction Name: {!Get_Ptix_Created.Name}&lt;/p&gt;&lt;p&gt;Quantity: {!Get_Ptix_Created.tc9_pr__Quantity__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; background-color: rgb(255, 255, 255);&quot;&gt;Pay Total: {!Get_Ptix_Created.tc9_pr__Pay_Total__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Invoice Total Inc. Tax: {!Get_Ptix_Created.tc9_et__Invoice_Total_Inc_Tax__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pay_Transactions_Edited</name>
        <label>Pay Transactions Edited</label>
        <locationX>717</locationX>
        <locationY>503</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Pay Transaction(s) have been successfully updated&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RT_not_found_error</name>
        <label>RT not found error</label>
        <locationX>1159</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Assignment</targetReference>
        </connector>
        <fields>
            <name>dt_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 2, 22); font-size: 16px;&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Corresponding Record Type for Pay Transaction not found for Pay Code record type of: &lt;strong&gt;{!get_pay_code.RecordType.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_PTIX_Edit</name>
        <label>scr_PTIX_Edit</label>
        <locationX>943</locationX>
        <locationY>864</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr_PTIX_Edit_0</targetReference>
        </connector>
        <fields>
            <name>dt_edit_ViewOnly</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;VIEW ONLY - This Transaction Has Been Paid&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Transactions&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Transaction Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_PTIX.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Transaction Type: {!Loop_PTIX.RecordType.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Entry Date: {!Transaction_Date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Code: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_PTIX.tc9_pr__Pay_Code__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Amount: {!Loop_PTIX.tc9_pr__Pay_Rate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Invoice Amount: {!Loop_PTIX.tc9_et__Invoice_Rate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Quantity: {!Loop_PTIX.tc9_pr__Quantity__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Total: {!Loop_PTIX.tc9_pr__Pay_Total__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Invoice Total Ex. Tax: {!Loop_PTIX.tc9_et__Invoice_Total_Ex_Tax__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Invoice Total Inc. Tax: {!Loop_PTIX.tc9_et__Invoice_Total_Inc_Tax__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Description: {!Loop_PTIX.tc9_pr__Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_PTIX.tc9_pr__Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Processed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Edit_PTIX_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;EDIT PAY TRANSACTIONS&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Please be aware some fields are READ ONLY&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Transaction Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_PTIX.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;﻿Pay Transaction Type: {!Loop_PTIX.RecordType.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Entry Date: {!Transaction_Date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Code: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_PTIX.tc9_pr__Pay_Code__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Amount: {!Loop_PTIX.tc9_pr__Pay_Rate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Invoice Amount: {!Loop_PTIX.tc9_et__Invoice_Rate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿Quantity: {!Loop_PTIX.tc9_pr__Quantity__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Total: {!Loop_PTIX.tc9_pr__Pay_Total__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Invoice Total Ex. Tax: {!Loop_PTIX.tc9_et__Invoice_Total_Ex_Tax__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Invoice Total Inc. Tax: {!Loop_PTIX.tc9_et__Invoice_Total_Inc_Tax__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_PTIX.tc9_pr__Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>edit_Pay_Transaction_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_PTIX.Name</elementReference>
            </defaultValue>
            <fieldText>Pay Transaction Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_PTIX.tc9_pr__Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>edit_Pay_Amount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Loop_PTIX.tc9_pr__Pay_Rate__c</elementReference>
            </defaultValue>
            <fieldText>Pay Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_PTIX.tc9_pr__Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>edit_Invoice_Amount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Loop_PTIX.tc9_et__Invoice_Rate__c</elementReference>
            </defaultValue>
            <fieldText>Invoice Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_PTIX.tc9_pr__Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>edit_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Loop_PTIX.tc9_pr__Quantity__c</elementReference>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_PTIX.tc9_pr__Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sel_PTIX_Descr</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_PTIX.tc9_pr__Description__c</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_PTIX.tc9_pr__Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_PTIX_Edit_0</name>
        <label>scr_PTIX_Edit</label>
        <locationX>1079</locationX>
        <locationY>864</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_updates</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;EDIT PAY TRANSACTIONS&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please Confirm the Updated Pay &amp;amp; Invoice Amounts and Quantity&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Pay Transaction Name: {!edit_Pay_Transaction_Name} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Pay Amount: {!edit_Pay_Amount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Invoice Amount: {!edit_Invoice_Amount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Quantity: {!edit_Quantity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Description: {!sel_PTIX_Descr}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_PTIX_Edit_0_0</name>
        <label>scr_PTIX_Edit</label>
        <locationX>703</locationX>
        <locationY>1041</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_edit_ViewOnly_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;VIEW ONLY - This Transaction Has Been Paid&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Transaction Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_PTIX.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Transaction Type: {!Loop_PTIX.RecordType.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Entry Date: {!Transaction_Date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Code: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_PTIX.tc9_pr__Pay_Code__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Amount: {!Loop_PTIX.tc9_pr__Pay_Rate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Invoice Amount: {!Loop_PTIX.tc9_et__Invoice_Rate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Quantity: {!Loop_PTIX.tc9_pr__Quantity__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pay Total: {!Loop_PTIX.tc9_pr__Pay_Total__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Invoice Total Ex. Tax: {!Loop_PTIX.tc9_et__Invoice_Total_Ex_Tax__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Invoice Total Inc. Tax: {!Loop_PTIX.tc9_et__Invoice_Total_Inc_Tax__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Description: {!Loop_PTIX.tc9_pr__Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_PTIX.tc9_pr__Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Processed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_PTIX_Edit_0_0_0</name>
        <label>scr_PTIX_Edit</label>
        <locationX>457</locationX>
        <locationY>859</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_edit_ViewOnly_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;No Transactions for the Date Entered&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_transType</name>
        <label>scr_transType</label>
        <locationX>357</locationX>
        <locationY>443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_or_Create_Transaction</targetReference>
        </connector>
        <fields>
            <name>tog_edit</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Edit or Create Transactions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Create Pay Transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Edit Pay Transactions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>toggle_is_active</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>toggle_is_active</assignToReference>
                <name>value</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Transaction_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Transaction Date cannot be earlier than assignment start date ({!Get_Assignment.tc9_pr__Assignment_Start_Date__c})&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Transaction_Date} &gt;={!Get_Assignment.tc9_pr__Assignment_Start_Date__c}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>Get_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rcs_PTIX</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>rec_PTIX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>rvs_pay_transaction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>tog_Transtype</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toggle_is_active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Assignment__c</objectType>
    </variables>
    <variables>
        <name>varPayTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
</Flow>
