.vscode/allianceuat_compare/force-app/main/default/flows/Enable_Employee_Community_PS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection_to_Create</name>
        <label>Add to Collection to Create</label>
        <locationX>604</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>CollectionToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewUserPermissionSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_User_Permission_Set</name>
        <label>Build User Permission Set</label>
        <locationX>371</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>NewUserPermissionSet.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUserPermissionSet.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_to_Create</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Enable Employee Community PS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enable Employee Community PS</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>378</locationX>
        <locationY>239</locationY>
        <collectionReference>Lookup_Permission_Set</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_User_Permission_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_User_Permission_Set_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_User_Permission_Set_Collection</name>
        <label>Create User Permission Set Collection</label>
        <locationX>671</locationX>
        <locationY>116</locationY>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
        <inputReference>CollectionToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Permission_Set</name>
        <label>Lookup Permission Set</label>
        <locationX>241</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>Label</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Employee Community Permission Set</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Community Flow User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>919</locationX>
        <locationY>112</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_GB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>Australia/Sydney</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Permission_Set</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CollectionToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>NewUserPermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
