.vscode/allianceuat_compare/force-app/main/default/flows/Expire_Payee_Withholding_on_new_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_to_rcs</name>
        <label>add to rcs</label>
        <locationX>491</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>rcs_payee_withholding</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_payee_withholding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Payee_Withholdings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_withholding</name>
        <label>assign withholding</label>
        <locationX>351</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>rec_payee_withholding.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Payee_Withholdings.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_payee_withholding.tc9_pr__Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_expiry_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_rcs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_rcs_exists</name>
        <label>check if rcs exists</label>
        <locationX>642</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcs_payee_withholding</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payee_Withholdings</targetReference>
            </connector>
            <label>exists</label>
        </rules>
    </decisions>
    <description>Expire existing Payee Withholdings automatically when a new PW is created.</description>
    <environments>Default</environments>
    <formulas>
        <name>ff_expiry_date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.tc9_pr__Effective_Date__c} -1</expression>
    </formulas>
    <interviewLabel>Expire Payee Withholding on new creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expire Payee Withholding on new creation</label>
    <loops>
        <name>Loop_Payee_Withholdings</name>
        <label>Loop Payee Withholdings</label>
        <locationX>348</locationX>
        <locationY>327</locationY>
        <collectionReference>get_Other_Payee_Withholdings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_withholding</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_if_rcs_exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Other_Payee_Withholdings</name>
        <label>get Other Payee Withholdings</label>
        <locationX>172</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Payee_Withholdings</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Effective_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.tc9_pr__Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.tc9_pr__Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Payee_Withholding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payee_Withholdings</name>
        <label>Update Payee Withholdings</label>
        <locationX>841</locationX>
        <locationY>331</locationY>
        <inputReference>rcs_payee_withholding</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Other_Payee_Withholdings</targetReference>
        </connector>
        <object>tc9_pr__Payee_Withholding__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rcs_payee_withholding</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Withholding__c</objectType>
    </variables>
    <variables>
        <name>rec_payee_withholding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Withholding__c</objectType>
    </variables>
</Flow>
