.vscode/allianceuat_compare/force-app/main/default/flows/Invoice_Settings_auto_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add</name>
        <label>add</label>
        <locationX>358</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>curInvoiceSettings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varInvoiceSetting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_0</name>
        <label>add</label>
        <locationX>358</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>curInvoiceSettings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varInvoiceSetting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_0_0</name>
        <label>add</label>
        <locationX>358</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>curInvoiceSettings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varInvoiceSetting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_0_0_0</name>
        <label>add</label>
        <locationX>358</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>curInvoiceSettings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varInvoiceSetting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_entity_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Invoice_Entities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>358</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Payroll_Items_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Delivery_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email with PDF Attachment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_effective_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Email_Template_Online__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard_Email_Invoice_URL_AUS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Email_Template_Single_PDF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard_Email_Invoice_Single_PDF_AUS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_0_and_Negative_Invoices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Project_Codes_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Rate_Ex_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Total_Ex_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Total_Inc_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Total_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Include_Backing_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Invoice_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Invoice_Entities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Invoice_Record_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payroll_Items</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Invoice_Visualforce_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NursingItemised</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_default_payment_terms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Send_Invoice_Emails_From_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Invoice_Entities.tc9_et__Send_Invoice_Emails_From_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Send_Invoice_Emails_Setting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_send_Email_Setting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Split_Expenses_to_Own_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Split_Invoice_By_Project_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Timesheet_Attachments_with_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Split_Loading_Pay_Transactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Full_Approval_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Exp_Claim_Attachments_with_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.WFM_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WFMContractID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.Backing_Sheet_Layout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nurse &amp; Level</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_0</name>
        <label>Assign</label>
        <locationX>358</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Payroll_Items_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Delivery_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email with PDF Attachment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_effective_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Email_Template_Online__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard_Email_Invoice_URL_AUS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Email_Template_Single_PDF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard_Email_Invoice_Single_PDF_AUS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_0_and_Negative_Invoices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Project_Codes_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Rate_Ex_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Total_Ex_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Total_Inc_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Total_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Include_Backing_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Invoice_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Invoice_Entities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Invoice_Record_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit_Payroll_Items</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Invoice_Visualforce_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InvoiceCreditPayrollItemsAUS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_default_payment_terms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Send_Invoice_Emails_From_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Invoice_Entities.tc9_et__Send_Invoice_Emails_From_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Send_Invoice_Emails_Setting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_send_Email_Setting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Split_Expenses_to_Own_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Split_Invoice_By_Project_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Timesheet_Attachments_with_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Split_Loading_Pay_Transactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Full_Approval_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Exp_Claim_Attachments_with_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.WFM_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WFMContractID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.Backing_Sheet_Layout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nurse &amp; Level</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_0_0</name>
        <label>Assign</label>
        <locationX>358</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Invoice_Fees_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Delivery_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email with PDF Attachment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_effective_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Email_Template_Online__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard_Email_Invoice_URL_AUS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Email_Template_Single_PDF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard_Email_Invoice_Single_PDF_AUS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_0_and_Negative_Invoices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Project_Codes_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Rate_Ex_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Total_Ex_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Total_Inc_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Total_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Include_Backing_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Invoice_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Invoice_Entities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Invoice_Record_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoiceable_Fees</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Invoice_Visualforce_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NursingItemised</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_default_payment_terms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Send_Invoice_Emails_From_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Invoice_Entities.tc9_et__Send_Invoice_Emails_From_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Send_Invoice_Emails_Setting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_send_Email_Setting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Split_Expenses_to_Own_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Split_Invoice_By_Project_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Timesheet_Attachments_with_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Split_Loading_Pay_Transactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Full_Approval_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Exp_Claim_Attachments_with_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.WFM_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WFMContractID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_0_0_0</name>
        <label>Assign</label>
        <locationX>358</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Invoice_Fees_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Delivery_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email with PDF Attachment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_effective_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Email_Template_Online__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard_Email_Invoice_URL_AUS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Email_Template_Single_PDF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard_Email_Invoice_Single_PDF_AUS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_0_and_Negative_Invoices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Project_Codes_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Rate_Ex_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Total_Ex_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Total_Inc_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Total_Tax_on_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Include_Backing_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Invoice_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Invoice_Entities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Invoice_Record_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit_Invoiceable_Fees</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Invoice_Visualforce_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InvoiceCreditInvoiceableFeesAUS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_default_payment_terms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Send_Invoice_Emails_From_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Invoice_Entities.tc9_et__Send_Invoice_Emails_From_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Send_Invoice_Emails_Setting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_send_Email_Setting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Split_Expenses_to_Own_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Split_Invoice_By_Project_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Timesheet_Attachments_with_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Split_Loading_Pay_Transactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Enable_Full_Approval_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.tc9_et__Exp_Claim_Attachments_with_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceSetting.WFM_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WFMContractID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>270</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WFM_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WFMContractID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WFM_Contract</targetReference>
            </connector>
            <label>WFM Contract</label>
        </rules>
        <rules>
            <name>Create_Invoice_Settings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Client_RT.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Payroll_Items_RT</targetReference>
            </connector>
            <label>Create Invoice Settings</label>
        </rules>
    </decisions>
    <description>Automatically create the Invoice settings on account creation</description>
    <environments>Default</environments>
    <formulas>
        <name>ff_default_payment_terms</name>
        <dataType>String</dataType>
        <expression>if(isblank({!$Record.Default_Payment_Terms__c}),{!$Record.Default_Invoice_Entity__r.Default_Payment_Terms__c}, 
{!$Record.Default_Payment_Terms__c})</expression>
    </formulas>
    <formulas>
        <name>ff_effective_date</name>
        <dataType>Date</dataType>
        <expression>DATE(2023, 01, 01) + {!v_entity_count}</expression>
    </formulas>
    <interviewLabel>Invoice Settings auto creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Settings auto creation</label>
    <loops>
        <name>loop_Invoice_Entities</name>
        <label>loop Invoice Entities</label>
        <locationX>270</locationX>
        <locationY>1163</locationY>
        <collectionReference>get_Invoice_Entities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create</name>
        <label>create</label>
        <locationX>270</locationX>
        <locationY>2219</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Account</targetReference>
        </faultConnector>
        <inputReference>curInvoiceSettings</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Client_RT</name>
        <label>get Client RT</label>
        <locationX>270</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Invoice_Entities</name>
        <label>get Invoice Entities</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Invoice_Entities</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Invoice_Entity_RT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Active__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Default_Invoice_Entity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WFM_Contract.Default_Invoice_Entity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Invoice_Entity_RT</name>
        <label>get Invoice Entity RT</label>
        <locationX>270</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Invoice_Entities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice_Entity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Invoice_Fees_RT</name>
        <label>get Invoice Fees RT</label>
        <locationX>270</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Invoice_Entity_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_et__Invoice_Setting__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoiceable_Fees</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Payroll_Items_RT</name>
        <label>get Payroll Items RT</label>
        <locationX>270</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Invoice_Fees_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_et__Invoice_Setting__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payroll_Items</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WFM_Contract</name>
        <label>Get WFM Contract</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Payroll_Items_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WFMContractID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__ProActiveContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>270</locationX>
        <locationY>2327</locationY>
        <inputAssignments>
            <field>Retrigger_Invoice_Settings__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WFMContractID__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Client_RT</targetReference>
        </connector>
        <filterFormula>OR(
    ISNEW(),
    {!$Record.Retrigger_Invoice_Settings__c} = true,
    AND(
        ISCHANGED({!$Record.Default_Invoice_Entity__c}),
        NOT(ISBLANK({!$Record.Default_Invoice_Entity__c}))
    ),
    AND(
        ISCHANGED({!$Record.WFMContractID__c}),
        NOT(ISBLANK({!$Record.WFMContractID__c}))
    )
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Invoice Settings have been created for the account &quot;{!$Record.Name}&quot;.

Please review the Invoice Settings prior to processing any timesheets to confirm that the information is correct.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Invoice Settings created for {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>curInvoiceSettings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Invoice_Setting__c</objectType>
    </variables>
    <variables>
        <name>v_entity_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_send_Email_Setting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Invoice Setting Defined</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInvoiceSetting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Invoice_Setting__c</objectType>
    </variables>
</Flow>
