.vscode/allianceuat_compare/force-app/main/default/flows/Job_Role_Role_And_Skill_Match_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Duplicate_Job_Role_Error</name>
        <label>Duplicate Job Role Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>There is already a Job Role with this combination of competency role and competency skill</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_for_JobRoleId_and_SkillId_as_Null</name>
        <label>Check for JobRoleId and SkillId as Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip Duplicate Check</defaultConnectorLabel>
        <rules>
            <name>FoundNotNullJobRoleIdandSkillRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job_Role_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Skill_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_matching_Job_Role</targetReference>
            </connector>
            <label>FoundNotNullRecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Job_Role_Found</name>
        <label>Matching Job Role Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_matching_Job_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Job_Role_Error</targetReference>
            </connector>
            <label>Found Match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Job Role Role And Skill Match Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Role Role And Skill Match Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_matching_Job_Role</name>
        <label>Get matching Job Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_Job_Role_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Role_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job_Role_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Skill_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Skill_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_JobRoleId_and_SkillId_as_Null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Job_Role_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sirenum__Team__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
