.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Create_Payee_Allowance_Records_from_Assignment_Rates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_CurrentAssignmentRate_to_Collection</name>
        <label>Add CurrentAssignmentRate to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAssignmentRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Pay_Code_to_ExistingAssignmentRatePayCodeIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CurrentPayeeAllowanceRecord_to_Collection</name>
        <label>Add CurrentPayeeAllowanceRecord to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PayeeAllowanceRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentPayeeAllowanceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Pay_Code_to_ExistingPayCodeIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Pay_Code_to_ExistingAssignmentRatePayCodeIds</name>
        <label>Add Pay Code to ExistingAssignmentRatePayCodeIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExistingAssignmentRatePayCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_MPR.tc9_et__Allowance_Pay_Code__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_MPR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Pay_Code_to_ExistingPayCodeIds</name>
        <label>Add Pay Code to ExistingPayCodeIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExistingPayCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentPayeeAllowanceRecord.tc9_pr__Pay_Code__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Assignment_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Payee_Allowance_Record_Pay_Code_to_ExistingPayCodeIds</name>
        <label>Add Payee Allowance Record Pay Code to ExistingPayCodeIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExistingPayCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Payee_Allowance_Records.tc9_pr__Pay_Code__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Payee_Allowance_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_ExistingAssignmentRatePayCodeIds</name>
        <label>Add to ExistingAssignmentRatePayCodeIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExistingAssignmentRatePayCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Existing_Assignment_Rates.tc9_pr__Pay_code__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Assignment_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_CurrentAssignmentRate</name>
        <label>Assign to CurrentAssignmentRate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRate.tc9_pr__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRate.tc9_pr__Pay_code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_MPR.tc9_et__Allowance_Pay_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AR_Timesheet_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRate.tc9_pr__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRate.tc9_pr__Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_MPR.tc9_et__Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRate.tc9_pr__Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_MPR.tc9_et__Expiry_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRate.tc9_pr__Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRate.tc9_pr__Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_MPR.tc9_et__Pay_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRate.tc9_et__Invoice_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_MPR.tc9_et__Custom_Pay_Rate_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRate.tc9_et__To_Be_Invoiced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRate.tc9_et__Invoice_Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_et__Invoice_Taxable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRate.tc9_et__Invoice_Tax_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_et__Invoice_Tax_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAssignmentRate.tc9_pr__Auto_Pay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CurrentAssignmentRate_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_CurrentPayeeAllowanceRecord</name>
        <label>Assign to CurrentPayeeAllowanceRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentPayeeAllowanceRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Related_Assignment_Rates.tc9_pr__Pay_code__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPayeeAllowanceRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timesheet_Allowance_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPayeeAllowanceRecord.tc9_et__Available_on_Employee_Community__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPayeeAllowanceRecord.tc9_et__Timesheet_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Weekly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPayeeAllowanceRecord.tc9_pr__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPayeeAllowanceRecord.tc9_pr__Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPayeeAllowanceRecord.tc9_pr__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Employee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPayeeAllowanceRecord.tc9_pr__Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPayeeAllowanceRecord.tc9_pr__Pay_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Related_Assignment_Rates.tc9_pr__Pay_code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPayeeAllowanceRecord.tc9_pr__Payee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPayeeAllowanceRecord.tc9_pr__Payment_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payment_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPayeeAllowanceRecord.tc9_pr__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CurrentPayeeAllowanceRecord_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Pay_Code_already_been_added</name>
        <label>Has Pay Code already been added?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_to_CurrentPayeeAllowanceRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPayCodeIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Related_Assignment_Rates.tc9_pr__Pay_code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Related_Assignment_Rates</targetReference>
            </connector>
            <label>Already Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_the_MPR_Pay_Code_already_been_created_in_Assignment_Rates</name>
        <label>Has the MPR Pay Code already been created in Assignment Rates?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_to_CurrentAssignmentRate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AR_Already_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingAssignmentRatePayCodeIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_MPR.tc9_et__Allowance_Pay_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_MPR</targetReference>
            </connector>
            <label>AR Already Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Assignment_Rate_Pay_Code_Record_Type_equal_to_Allowance</name>
        <label>Is the Assignment Rate Pay Code Record Type equal to Allowance?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Related_Assignment_Rates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AR_Pay_Code_RT_equals_Allowance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Related_Assignment_Rates.tc9_pr__Pay_code__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Pay_Code_Allowance_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Pay_Code_already_been_added</targetReference>
            </connector>
            <label>AR Pay Code RT equals Allowance</label>
        </rules>
    </decisions>
    <description>ALN-332 - created</description>
    <environments>Default</environments>
    <interviewLabel>nuuco - Create Assignment Rates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - Create Payee Allowance Records from Assignment Rates</label>
    <loops>
        <name>Loop_Existing_Assignment_Rates</name>
        <label>Loop Existing Assignment Rates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Existing_Assignment_Rates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_ExistingAssignmentRatePayCodeIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_MPR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop the MPR&apos;s - this will give you the rates.  For each (where doesnt exist as an AR) create an  assignment rate with the pay rate = MPR pay rate and invoice rate = MPR.invoiceRate (where not null) OR MPR.PayRate and dates the same as MPR record.  

Also Use the same loop to get the Allowance pay code, and create a payee allowance record for the assignment.</description>
        <name>Loop_MPR</name>
        <label>Loop MPR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_MPR_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_the_MPR_Pay_Code_already_been_created_in_Assignment_Rates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Missing_Assignment_Rates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Related_Assignment_Rates</name>
        <label>Loop Related Assignment Rates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Assignment_Rates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_Assignment_Rate_Pay_Code_Record_Type_equal_to_Allowance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Payee_Allowance_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Related_Payee_Allowance_Records</name>
        <label>Loop Related Payee Allowance Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Payee_Allowance_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Payee_Allowance_Record_Pay_Code_to_ExistingPayCodeIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Related_Assignment_Rates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Missing_Assignment_Rates</name>
        <label>Create Missing Assignment Rates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pay_Code_Allowance_Record_Type</targetReference>
        </connector>
        <inputReference>CurrentAssignmentRateCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Payee_Allowance_Records</name>
        <label>Create Payee Allowance Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>PayeeAllowanceRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Allowance_Only</name>
        <label>get Allowance Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_General</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allowance Only</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Award_Classifications_and_Levels__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AR_Timesheet_Record_Type</name>
        <label>Get AR Timesheet Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Allowance_Only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Assignment_Rate__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Timesheet</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Assignment_Rates</name>
        <label>Get Existing Assignment Rates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Assignment_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Assignment_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_General</name>
        <label>get General</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MPR_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Award_Classifications_and_Levels__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MPR_Records</name>
        <label>Get MPR Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Assignment_Rates</targetReference>
        </connector>
        <filterLogic>((1 AND 2 AND 3) OR (10 AND ((1 AND 2) OR (8 AND 9)))) AND 4 AND 5 AND (6 OR 7)</filterLogic>
        <filters>
            <field>tc9_et__Award_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Award_Classification__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Award_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Award_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Rate_Calculator_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_ext_sirint__Job_Role__r.Rate_Template_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pay_Code_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allowance</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Assignment_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Assignment_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Award_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Allowance_Only.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Award_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_General.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Rate_Calculator_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_ext_sirint__Job_Role__r.Allowance_Template_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Minimum_Pay_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Code_Allowance_Record_Type</name>
        <label>Get Pay Code Allowance Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timesheet_Allowance_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Pay_Code__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allowance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Assignment_Rates</name>
        <label>Get Related Assignment Rates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Payee_Allowance_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Assignment_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Payee_Allowance_Records</name>
        <label>Get Related Payee Allowance Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Assignment_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Payee_Allowance_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet_Allowance_Record_Type</name>
        <label>Get Timesheet Allowance Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Payee_Allowance_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Payee_Allowance_Record__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Timesheet_Allowance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AR_Timesheet_Record_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Has_Assignment_Rate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>tc9_pr__Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentAssignmentRate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Assignment_Rate__c</objectType>
    </variables>
    <variables>
        <name>CurrentAssignmentRateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Assignment_Rate__c</objectType>
    </variables>
    <variables>
        <name>CurrentPayeeAllowanceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Allowance_Record__c</objectType>
    </variables>
    <variables>
        <name>ExistingAssignmentRatePayCodeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingPayCodeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PayeeAllowanceRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Allowance_Record__c</objectType>
    </variables>
</Flow>
