.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Invoice_Set_fields_on_Credit_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Credit_Record_Type</name>
        <label>Credit Record Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fields_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Credit_Payroll_Items_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Credit_Payroll_Items_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <label>No - Credit Payroll Items Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fields_Set</name>
        <label>Fields Set?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fields_Not_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_et__Invoice_Setting__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tc9_et__Invoice_To_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tc9_et__Invoice_To_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tc9_et__Payment_Terms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tc9_et__Delivery_Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Original_Invoice</targetReference>
            </connector>
            <label>Fields Not Set</label>
        </rules>
    </decisions>
    <description>ALN-500: Create flow</description>
    <environments>Default</environments>
    <interviewLabel>nuuco - Invoice: Set fields on Credit Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - Invoice: Set fields on Credit Note</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Credit_Payroll_Items_Record_Type</name>
        <label>Get Credit Payroll Items Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Credit_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_et__Invoice__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit_Payroll_Items</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Invoice</name>
        <label>Get Original Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Original_Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>tc9_et__Delivery_Method__c</field>
            <value>
                <elementReference>Get_Original_Invoice.tc9_et__Delivery_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Setting__c</field>
            <value>
                <elementReference>Get_Original_Invoice.tc9_et__Invoice_Setting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_To_Account__c</field>
            <value>
                <elementReference>Get_Original_Invoice.tc9_et__Invoice_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_To_Contact__c</field>
            <value>
                <elementReference>Get_Original_Invoice.tc9_et__Invoice_To_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Payment_Terms__c</field>
            <value>
                <elementReference>Get_Original_Invoice.tc9_et__Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Credit_Payroll_Items_Record_Type</targetReference>
        </connector>
        <object>tc9_et__Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
