.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Timesheet_Oncall_Hourly_Reduction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_PayCode</name>
        <label>Add PayCode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PayCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ff_Pay_code_short</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PayCodes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_totalhours</name>
        <label>Add totalhours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TSE_Payment_Hours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_filter_TSE_PTIX.tc9_pr__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_filter_TSE_PTIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_PTIX.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_TSI_PTIX.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PTIX.tc9_pr__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_PTIX_UpdateQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PTIX.tc9_pr__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcs_PTIX</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_PTIX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_TSI_PTIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DEBUG</name>
        <label>DEBUG</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_start_TSI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_TSI_StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_end_TSI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_TSI_EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_start_TSE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_TSE_Start_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TSE_End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_TSE_End_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TSI_Start_TEXT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_TSI_StartDateTime_TEXT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_overlapping_hours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_OverlapHours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Overlap</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Variable</name>
        <label>Reset Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TSE_Payment_Hours</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_TSE_Filter</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_matching_TSE</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter matching TSE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_matching_TSE</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Timesheet_Entries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_matching_TSE.tc9_et__Start_Date__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_TSI.tc9_et__Date_Incurred__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_TSE_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_TSE_PTIX</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter TSE PTIX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_TSE_PTIX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_PTIX</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_TSE_PTIX.tc9_et__Timesheet_Entry__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_TSE_Filter.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_filter_TSE_PTIX</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_TSI_PTIX</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter TSI PTIX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_filter_TSI_PTIX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_PTIX</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_TSI_PTIX.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>get_Allowance_PTX_RT.Id</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_filter_TSI_PTIX.Shift__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_TSI.tc9_ext_sirint__Shift__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_filter_TSI_PTIX.tc9_et__Timesheet_Item__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_TSI_PTIX</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Hours_to_reduce</name>
        <label>Hours to reduce</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Reset_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_TSE_Payment_Hours</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_TSI_PTIX</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overlap</name>
        <label>Overlap</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_TSE_Filter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_overlapping_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ff_OverlapHours</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_TSE_PTIX</targetReference>
            </connector>
            <label>Yes overlapping time</label>
        </rules>
    </decisions>
    <decisions>
        <name>PTIX_to_Update</name>
        <label>PTIX to Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcs_PTIX</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PTIX_Quantity</targetReference>
            </connector>
            <label>Yes - update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Creation_Stage</name>
        <label>Transaction Creation Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_et__Transaction_Creation_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Allowance_TSI_RT</targetReference>
            </connector>
            <label>Processed</label>
        </rules>
    </decisions>
    <description>ALN-479 - Created</description>
    <environments>Default</environments>
    <formulas>
        <name>ff_description</name>
        <dataType>String</dataType>
        <expression>{!Loop_TSI_PTIX.tc9_pr__Description__c} + &quot; -- &quot; +
&quot;Oncall Qty Reduced by: &quot; + text({!var_TSE_Payment_Hours})</expression>
    </formulas>
    <formulas>
        <name>ff_EarliestEndDT</name>
        <dataType>DateTime</dataType>
        <expression>IF(
  {!ff_TSI_EndDateTime} &lt;= {!ff_TSE_End_Date_Time},
  {!ff_TSI_EndDateTime},
  {!ff_TSE_End_Date_Time}
)</expression>
    </formulas>
    <formulas>
        <name>ff_LatestStartDT</name>
        <dataType>DateTime</dataType>
        <expression>IF(
  {!ff_TSI_StartDateTime} &gt;= {!ff_TSE_Start_Date_Time},
  {!ff_TSI_StartDateTime},
  {!ff_TSE_Start_Date_Time}
)</expression>
    </formulas>
    <formulas>
        <name>ff_OverlapHours</name>
        <dataType>Number</dataType>
        <expression>ROUND(
  IF(
    {!ff_EarliestEndDT} &gt; {!ff_LatestStartDT},
    ({!ff_EarliestEndDT} - {!ff_LatestStartDT}) * 24,
    0
  ),
  4
)</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>ff_Pay_code_short</name>
        <dataType>String</dataType>
        <expression>left({!Loop_PayCodes.Id},15)</expression>
    </formulas>
    <formulas>
        <name>ff_PTIX_UpdateQty</name>
        <dataType>Number</dataType>
        <expression>if(
({!Loop_TSI_PTIX.tc9_pr__Quantity__c} - {!var_TSE_Payment_Hours}) &lt; 0, 0,
({!Loop_TSI_PTIX.tc9_pr__Quantity__c} - {!var_TSE_Payment_Hours})
)</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>ff_TSE_End_Date_Time</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT({!Loop_TSE_Filter.tc9_et__End_Date__c})
&amp; &quot; &quot;
&amp; LPAD(TEXT(HOUR({!Loop_TSE_Filter.tc9_et__End_Time__c})), 2, &quot;0&quot;)
&amp; &quot;:&quot;
&amp; LPAD(TEXT(MINUTE({!Loop_TSE_Filter.tc9_et__End_Time__c})), 2, &quot;0&quot;)
&amp; &quot;:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ff_TSE_Start_Date_Time</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT({!Loop_TSE_Filter.tc9_et__Start_Date__c})
&amp; &quot; &quot;
&amp; LPAD(TEXT(HOUR({!Loop_TSE_Filter.tc9_et__Start_Time__c})), 2, &quot;0&quot;)
&amp; &quot;:&quot;
&amp; LPAD(TEXT(MINUTE({!Loop_TSE_Filter.tc9_et__Start_Time__c})), 2, &quot;0&quot;)
&amp; &quot;:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ff_TSI_EndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
  TEXT(
    IF(
      {!Loop_TSI.tc9_util__End_Time__c} &lt;= {!Loop_TSI.tc9_util__Start_Time__c},
      {!Loop_TSI.tc9_et__Date_Incurred__c} + 1,
      {!Loop_TSI.tc9_et__Date_Incurred__c}
    )
  )
  &amp; &quot; &quot; &amp;
  LPAD(TEXT(HOUR({!Loop_TSI.tc9_util__End_Time__c})), 2, &quot;0&quot;)
  &amp; &quot;:&quot; &amp;
  LPAD(TEXT(MINUTE({!Loop_TSI.tc9_util__End_Time__c})), 2, &quot;0&quot;)
  &amp; &quot;:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ff_TSI_StartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT({!Loop_TSI.tc9_et__Date_Incurred__c})
&amp; &quot; &quot;
&amp; LPAD(TEXT(HOUR({!Loop_TSI.tc9_util__Start_Time__c})), 2, &quot;0&quot;)
&amp; &quot;:&quot;
&amp; LPAD(TEXT(MINUTE({!Loop_TSI.tc9_util__Start_Time__c})), 2, &quot;0&quot;)
&amp; &quot;:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ff_TSI_StartDateTime_TEXT</name>
        <dataType>String</dataType>
        <expression>TEXT({!Loop_TSI.tc9_et__Date_Incurred__c})
&amp; &quot; &quot;
&amp; LPAD(TEXT(HOUR({!Loop_TSI.tc9_util__Start_Time__c})), 2, &quot;0&quot;)
&amp; &quot;:&quot;
&amp; LPAD(TEXT(MINUTE({!Loop_TSI.tc9_util__Start_Time__c})), 2, &quot;0&quot;)
&amp; &quot;:00&quot;</expression>
    </formulas>
    <interviewLabel>nuuco - Timesheet - Oncall Hourly Reduction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - Timesheet - Oncall Hourly Reduction</label>
    <loops>
        <name>Loop_filter_TSE_PTIX</name>
        <label>Loop filter TSE PTIX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_TSE_PTIX</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_totalhours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Hours_to_reduce</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_PayCodes</name>
        <label>Loop PayCodes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_Oncall_Allowance_Hourly_PayCode</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_PayCode</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Timesheet_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_TSE_Filter</name>
        <label>Loop TSE Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_matching_TSE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEBUG</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_TSI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_TSI</name>
        <label>Loop TSI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_Timesheet_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_matching_TSE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PTIX_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_TSI_PTIX</name>
        <label>Loop TSI PTIX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>filter_TSI_PTIX</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_Variable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Allowance_PC_RT</name>
        <label>get Allowance PC RT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Oncall_Allowance_Hourly_PayCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Pay_Code__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allowance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Allowance_PTX_RT</name>
        <label>get Allowance PTX RT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Allowance_PC_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Pay_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allowance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Allowance_TSI_RT</name>
        <label>get Allowance TSI RT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Payment_PTX_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_et__Timesheet_Item__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allowance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Oncall_Allowance_Hourly_PayCode</name>
        <label>get Oncall Allowance Hourly PayCode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Timesheet_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>On Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Allowance_PC_RT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reduce_Paid_Hours__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Hourly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Payment_PTX_RT</name>
        <label>get Payment PTX RT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Allowance_PTX_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Pay_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PTIX</name>
        <label>get PTIX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_PayCodes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <sortField>tc9_pr__Entry_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Timesheet_Entries</name>
        <label>get Timesheet Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PTIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Timesheet_Items</name>
        <label>get Timesheet Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_TSI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Allowance_TSI_RT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pay_Code_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>var_PayCodes</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Item__c</object>
        <sortField>tc9_et__Date_Incurred__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PTIX_Quantity</name>
        <label>Update PTIX Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rcs_PTIX</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transaction_Creation_Stage</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Minimum_Engagement_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>tc9_et__Timesheet__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_matching_TSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_TSE_PTIX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_TSI_PTIX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>rcs_PTIX</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>rec_PTIX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>var_end_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_end_TSI</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_overlapping_hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>var_PayCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_start_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_start_TSE</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_start_TSI</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TSE_End</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TSE_Payment_Hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>var_TSI_Start_TEXT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
