.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Payee_On_Create_FFU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>location_found</name>
        <label>location found?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Overtime_treatment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_primary_location_and_leave_template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overtime_treatment</name>
        <label>Overtime treatment</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overtime_Treatment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_contact.aa_Employment_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_overtime_treatment</targetReference>
            </connector>
            <label>To set</label>
        </rules>
    </decisions>
    <description>ALN-61 - Set Primary Location and Default Leave Template from location
ALN-62 - Support setting the OT treatment based on the Contact.EmploymentType (Paid or TOIL)</description>
    <environments>Default</environments>
    <formulas>
        <name>ff_OT_Treatment</name>
        <dataType>String</dataType>
        <expression>CASE({!get_contact.aa_Employment_Type__c}, 
&quot;Full Time&quot;, &quot;Time Off in Lieu&quot;,
&quot;Part Time&quot;, &quot;Time Off in Lieu&quot;,
 &quot;OT Paid&quot;)</expression>
    </formulas>
    <interviewLabel>nuuco - Payee - On Create FFU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - Payee - On Create FFU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Employee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Location</name>
        <label>get Location</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>location_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact.MailingState</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_primary_location_and_leave_template</name>
        <label>Set primary location and leave template</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Overtime_treatment</targetReference>
        </connector>
        <inputAssignments>
            <field>tc9_pr__Leave_Template__c</field>
            <value>
                <elementReference>get_Location.Default_Leave_Template__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Primary_Location__c</field>
            <value>
                <elementReference>get_Location.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_overtime_treatment</name>
        <label>Update overtime treatment</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Overtime_Treatment__c</field>
            <value>
                <elementReference>ff_OT_Treatment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
        <object>tc9_pr__Payee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
