.vscode/allianceuat_compare/force-app/main/default/flows/Nuuco_Client_Defaults_from_Parent_Account_OnCreate_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>644</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ExpenseRuleCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExpenseRuleSingleVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Expense_Rules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Single_Variable</name>
        <label>Assign To Single Variable</label>
        <locationX>644</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ExpenseRuleSingleVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Expense_Rules</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseRuleSingleVar.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseRuleSingleVar.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseRuleSingleVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Child_Expense_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseRuleSingleVar.Source_Expense_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Expense_Rules.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseRuleSingleVar.Update_with_Parent_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Expense_Management_versus_Payroll_Tax_Exemptions</name>
        <label>Expense Management versus Payroll Tax Exemptions</label>
        <locationX>710</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>PT_Exemption_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Payroll_Tax_Exempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes - Workcover Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Approval_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Charged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PT_Exmpt_Fields</targetReference>
            </connector>
            <label>PT Exemption Only</label>
        </rules>
        <rules>
            <name>Expense_Mgmt_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Approval_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Always Charged - As Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Payroll_Tax_Exempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Margin_vs_Markup</targetReference>
            </connector>
            <label>Expense Mgmt Only</label>
        </rules>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Payroll_Tax_Exempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes - Workcover Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Approval_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Always Charged - As Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Margin_vs_Markup_Both</targetReference>
            </connector>
            <label>Both</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expense_Rules_Exist</name>
        <label>Expense Rules Exist?</label>
        <locationX>556</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Create_Expense_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Expense_Rules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Current_Expense_Rules</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Margin_vs_Markup</name>
        <label>Margin vs Markup</label>
        <locationX>446</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Expense_Mgmt_Fields_Markup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Markup</defaultConnectorLabel>
        <rules>
            <name>Margin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Oncost_Setting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Margin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expense_Mgmt_Fields_Margin</targetReference>
            </connector>
            <label>Margin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Margin_vs_Markup_Both</name>
        <label>Margin vs Markup Both</label>
        <locationX>974</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Both_Fields_Markup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Markup Both</defaultConnectorLabel>
        <rules>
            <name>Margin_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Oncost_Setting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Margin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Both_Fields_Margin</targetReference>
            </connector>
            <label>Margin Both</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Expense_Rules_Found</name>
        <label>Parent Expense Rules Found?</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Triggering_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Expense_Rules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Expense_Record_Type</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>ALN-35
ALN-28: Include payroll tax exempt fields and expense management fields</description>
    <environments>Default</environments>
    <interviewLabel>Nuuco: Client Defaults from Parent Account OnCreate [Account] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nuuco: Client Defaults from Parent Account OnCreate [Account]</label>
    <loops>
        <name>Loop_Through_Expense_Rules</name>
        <label>Loop Through Expense Rules</label>
        <locationX>556</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Parent_Expense_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_To_Single_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_Expense_Rules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Expense_Rules</name>
        <label>Create Expense Rules</label>
        <locationX>556</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Update_Triggering_Account_Record</targetReference>
        </connector>
        <inputReference>ExpenseRuleCollectionVar</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Current_Expense_Rules</name>
        <label>Delete Current Expense Rules</label>
        <locationX>424</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Create_Expense_Rules</targetReference>
        </connector>
        <inputReference>Get_Current_Expense_Rules</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Child_Expense_Record_Type</name>
        <label>Get Child Expense Record Type</label>
        <locationX>556</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Expense_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Expense_Rule__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Child_Expense</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Expense_Rules</name>
        <label>Get Current Expense Rules</label>
        <locationX>556</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expense_Rules_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Expense_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Expense_Rules</name>
        <label>Get Parent Expense Rules</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Expense_Rules_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Do_Not_Auto_Copy_to_New_Child_Accounts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Expense_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Both_Fields_Margin</name>
        <label>Both Fields Margin</label>
        <locationX>842</locationX>
        <locationY>1979</locationY>
        <inputAssignments>
            <field>Approval_Type__c</field>
            <value>
                <stringValue>Always Charged - As Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oncost_Margin__c</field>
            <value>
                <elementReference>$Record.Parent.Oncost_Margin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oncost_Setting__c</field>
            <value>
                <stringValue>Margin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payroll_Tax_Exempt_Reason__c</field>
            <value>
                <elementReference>$Record.Parent.Payroll_Tax_Exempt_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payroll_Tax_Exempt__c</field>
            <value>
                <elementReference>$Record.Parent.Payroll_Tax_Exempt__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Both_Fields_Markup</name>
        <label>Both Fields Markup</label>
        <locationX>1106</locationX>
        <locationY>1979</locationY>
        <inputAssignments>
            <field>Approval_Type__c</field>
            <value>
                <stringValue>Always Charged - As Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oncost_Markup__c</field>
            <value>
                <elementReference>$Record.Parent.Oncost_Markup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oncost_Setting__c</field>
            <value>
                <stringValue>Markup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payroll_Tax_Exempt_Reason__c</field>
            <value>
                <elementReference>$Record.Parent.Payroll_Tax_Exempt_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payroll_Tax_Exempt__c</field>
            <value>
                <elementReference>$Record.Parent.Payroll_Tax_Exempt__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Expense_Mgmt_Fields_Margin</name>
        <label>Expense Mgmt Fields Margin</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <inputAssignments>
            <field>Approval_Type__c</field>
            <value>
                <stringValue>Always Charged - As Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oncost_Margin__c</field>
            <value>
                <elementReference>$Record.Parent.Oncost_Margin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oncost_Setting__c</field>
            <value>
                <stringValue>Margin</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Expense_Mgmt_Fields_Markup</name>
        <label>Expense Mgmt Fields Markup</label>
        <locationX>578</locationX>
        <locationY>1979</locationY>
        <inputAssignments>
            <field>Approval_Type__c</field>
            <value>
                <stringValue>Always Charged - As Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oncost_Markup__c</field>
            <value>
                <elementReference>$Record.Parent.Oncost_Markup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oncost_Setting__c</field>
            <value>
                <stringValue>Markup</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PT_Exmpt_Fields</name>
        <label>PT Exmpt Fields</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <inputAssignments>
            <field>Payroll_Tax_Exempt_Reason__c</field>
            <value>
                <elementReference>$Record.Parent.Payroll_Tax_Exempt_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payroll_Tax_Exempt__c</field>
            <value>
                <elementReference>$Record.Parent.Payroll_Tax_Exempt__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Account_Record</name>
        <label>Update Triggering Account Record</label>
        <locationX>710</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Expense_Management_versus_Payroll_Tax_Exemptions</targetReference>
        </connector>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>$Record.Parent.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Invoice_Entity__c</field>
            <value>
                <elementReference>$Record.Parent.Default_Invoice_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Payment_Terms__c</field>
            <value>
                <elementReference>$Record.Parent.Default_Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timesheet_Calendar__c</field>
            <value>
                <elementReference>$Record.Parent.Timesheet_Calendar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Default_Invoice_Schedule__c</field>
            <value>
                <elementReference>$Record.Parent.tc9_et__Default_Invoice_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Default_Invoice_Tax_ID__c</field>
            <value>
                <elementReference>$Record.Parent.tc9_et__Default_Invoice_Tax_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Default_Invoice_Taxable__c</field>
            <value>
                <elementReference>$Record.Parent.tc9_et__Default_Invoice_Taxable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Contact__c</field>
            <value>
                <elementReference>$Record.Parent.tc9_et__Invoice_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Email_CC__c</field>
            <value>
                <elementReference>$Record.Parent.tc9_et__Invoice_Email_CC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Group_By__c</field>
            <value>
                <elementReference>$Record.Parent.tc9_et__Invoice_Group_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Message__c</field>
            <value>
                <elementReference>$Record.Parent.tc9_et__Invoice_Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Send_Invoice_Emails_From_Email__c</field>
            <value>
                <elementReference>$Record.Parent.tc9_et__Send_Invoice_Emails_From_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Schedule__c</field>
            <value>
                <elementReference>$Record.Parent.tc9_pr__Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Expense_Rules</targetReference>
        </connector>
        <filterFormula>OR(
AND(
ISNEW(),
{!$Record.RecordType.DeveloperName} = &apos;Client&apos;,
{!$Record.ParentId} != &apos;&apos;,
{!$Setup.Automation_Kill_Switch__c.Disabled__c} = False
),
AND(
NOT(ISNEW()),
{!$Record.RecordType.DeveloperName} = &apos;Client&apos;,
{!$Record.ParentId} != &apos;&apos;,
ISCHANGED({!$Record.ParentId}),
{!$Setup.Automation_Kill_Switch__c.Disabled__c} = False
)
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ExpenseRuleCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Expense_Rule__c</objectType>
    </variables>
    <variables>
        <name>ExpenseRuleSingleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Expense_Rule__c</objectType>
    </variables>
</Flow>
