.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Timesheet_Entry_Add_Shift_details_when_TSE_manual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>found_other_TSE</name>
        <label>found other TSE?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_update_shift_details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_other_TSE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_manual_TSE_with_shift_details</targetReference>
            </connector>
            <label>Yes - update shift details</label>
        </rules>
    </decisions>
    <description>ALN-222 - Created</description>
    <environments>Default</environments>
    <interviewLabel>nuuco - Timesheet Entry - Add Shift details when TSE manual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - Timesheet Entry - Add Shift details when TSE manual</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_other_TSE</name>
        <label>get other TSE</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>found_other_TSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Timesheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_manual_TSE_with_shift_details</name>
        <label>Update manual TSE with shift details</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>tc9_ext_sirint__Contract__c</field>
            <value>
                <elementReference>get_other_TSE.tc9_ext_sirint__Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__Location__c</field>
            <value>
                <elementReference>get_other_TSE.tc9_ext_sirint__Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__Shift__c</field>
            <value>
                <elementReference>get_other_TSE.tc9_ext_sirint__Shift__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__Site__c</field>
            <value>
                <elementReference>get_other_TSE.tc9_ext_sirint__Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_ext_sirint__Shift__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>tc9_et__Timesheet_Entry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>get_other_TSE</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
