.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Soft_Delete_Shift_Allowance_Pay_Transactions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_True_to_Marked_for_Deletion</name>
        <label>Assign True to Marked for Deletion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Allowance_Pay_Transaction.Marked_For_Deletion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Created_from_Pay_Transaction_ID_Not_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Created_from_Pay_Transaction_ID_Not_Null</name>
        <label>Is Created from Pay Transaction ID Not Null?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created_from_Pay_Transaction_ID_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Allowance_Pay_Transaction.Created_From_Pay_Transaction_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Override</targetReference>
            </connector>
            <label>Created from Pay Transaction ID is Not Null</label>
        </rules>
    </decisions>
    <description>ALN-379 - Created.</description>
    <environments>Default</environments>
    <interviewLabel>nuuco - Soft Delete Shift Allowance Pay Transactions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - Soft Delete Shift Allowance Pay Transactions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Allowance_Pay_Transaction</name>
        <label>Get Allowance Pay Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_True_to_Marked_for_Deletion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pay_Transactions_Allowance_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_From_Pay_Transaction_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Timesheet__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Transactions_Allowance_Record_Type</name>
        <label>Get Pay Transactions Allowance Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Allowance_Pay_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Pay_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allowance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Disable_Override</name>
        <label>Disable Override</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>tc9_pr__OV_Pay_Transaction__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>tc9_pr__Override_TC9P_Validation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Enable_Override</name>
        <label>Enable Override</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mark_Pay_Transaction_for_Deletion</targetReference>
        </connector>
        <inputAssignments>
            <field>tc9_pr__OV_Pay_Transaction__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>tc9_pr__Override_TC9P_Validation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Pay_Transaction_for_Deletion</name>
        <label>Mark Pay Transaction for Deletion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disable_Override</targetReference>
        </connector>
        <inputReference>Get_Allowance_Pay_Transaction</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pay_Transactions_Allowance_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Record_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </filters>
        <object>tc9_pr__Pay_Transaction__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
