.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_RCR_Copy_Expiry_Date_from_Minimum_Pay_Rate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>ALN-504 PROD: Expired Minimum Pay Rates showing up in new rate calculator lines</description>
    <environments>Default</environments>
    <interviewLabel>nuuco - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - RCR – Copy Expiry Date from Minimum Pay Rate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Minimum_Pay_Rate</name>
        <label>Get Minimum Pay Rate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Rate_Calculator_Rate_Expiry_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Minimum_Pay_Rate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Minimum_Pay_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Rate_Calculator_Rate_Expiry_Date</name>
        <label>Update Rate Calculator Rate Expiry Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>tc9_et__Expiry_Date__c</field>
            <value>
                <elementReference>Get_Minimum_Pay_Rate.tc9_et__Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Minimum_Pay_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Minimum_Pay_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>tc9_et__Rate_Calculator_Rate__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
