.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Create_FFS_Bonus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_mpr_rate</name>
        <label>assign mpr rate</label>
        <locationX>138</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>var_Bonus_Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_MPRRate.tc9_et__Pay_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_pay_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_MPRRate.tc9_et__Allowance_Pay_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_MPRRate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>bonus_amount_assign</name>
        <label>bonus amount assign</label>
        <locationX>138</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>var_total_bonus_amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_bonus_amounts.tc9_pr__Pay_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_bonus_amounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_award_details</name>
        <label>set award details</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_award_classification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_placement.TR1__Job__r.s5m__JobRole__r.tc9_ext_sirint__Award_Classification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_award_level</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Qualifications.sirenum__TicketType__r.Award_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RC_group</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_placement.TR1__Job__r.s5m__JobRole__r.Rate_Template_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_candidate_award_level_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Qualifications.sirenum__TicketType__r.Award_Level__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Qualifications</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>get_mpr_rate1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>get mpr rate</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <assignNextValueToReference>currentItem_get_mpr_rate1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>rcs_mpr</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_get_mpr_rate1.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Bonus_Type</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_MPRRate</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Award_Classification_matches_Job</name>
        <label>Award Classification matches Job</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Qualifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Qualifications.sirenum__TicketType__r.Award_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rec_placement.TR1__Job__r.s5m__JobRole__r.tc9_ext_sirint__Award_Classification__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_award_details</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_MPR_records</name>
        <label>found MPR records</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcs_mpr</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Payment_RT</targetReference>
            </connector>
            <label>Yes - Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>validation</name>
        <label>validation</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Valid_Proceed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>rec_placement.X2c9_Assignment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rec_placement.TR1__Person_Placed__r.tc9_pr__Primary_Payee_Record__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rec_placement.TR1__Person_Placed__r.tc9_pr__Primary_Payee_Record__r.tc9_pr__Cessation_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rec_placement.TR1__Person_Placed__r.tc9_pr__Primary_Payee_Record__r.tc9_pr__Cessation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Person_Qualification</targetReference>
            </connector>
            <label>Valid - Proceed</label>
        </rules>
    </decisions>
    <description>ALN-274 - Created for ability to create bonus payment on placement
Amended to include invoice tax ID, tax rate and taxable</description>
    <dynamicChoiceSets>
        <name>rcs_bonus_type</name>
        <collectionReference>rcs_mpr</collectionReference>
        <dataType>String</dataType>
        <displayField>Pay_Code_Name__c</displayField>
        <object>tc9_et__Minimum_Pay_Rate__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>nuuco - Create FFS Bonus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - Create FFS Bonus</label>
    <loops>
        <name>Loop_bonus_amounts</name>
        <label>Loop bonus amounts</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <collectionReference>get_total_bonus_to_date</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>bonus_amount_assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>scr_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_MPRRate</name>
        <label>loop MPRRate</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <collectionReference>get_mpr_rate1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_mpr_rate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>scr_bonus_amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Qualifications</name>
        <label>Loop qualifiications</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>get_Person_Qualification</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Award_Classification_matches_Job</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_MPR_Bonus_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Bonus_PTIX</name>
        <label>create Bonus PTIX</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>success</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Payment_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Tax_ID__c</field>
            <value>
                <elementReference>rec_placement.X2c9_Assignment__r.tc9_et__Invoice_Tax_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Tax_Rate__c</field>
            <value>
                <elementReference>rec_placement.X2c9_Assignment__r.tc9_et__Invoice_Tax_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Taxable__c</field>
            <value>
                <elementReference>rec_placement.X2c9_Assignment__r.tc9_et__Invoice_Taxable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Manual_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__To_Be_Invoiced__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Assignment__c</field>
            <value>
                <elementReference>rec_placement.X2c9_Assignment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Client__c</field>
            <value>
                <elementReference>rec_placement.X2c9_Assignment__r.tc9_et__Invoice_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Description__c</field>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Employee__c</field>
            <value>
                <elementReference>rec_placement.TR1__Person_Placed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Entry_Date__c</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Pay_Code__c</field>
            <value>
                <elementReference>var_pay_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Pay_Multiplier__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Pay_Rate__c</field>
            <value>
                <elementReference>Bonus_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Payee__c</field>
            <value>
                <elementReference>rec_placement.TR1__Person_Placed__r.tc9_pr__Primary_Payee_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Payment_Entity__c</field>
            <value>
                <elementReference>rec_placement.TR1__Person_Placed__r.tc9_pr__Primary_Payee_Record__r.tc9_pr__Payment_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Schedule__c</field>
            <value>
                <elementReference>rec_placement.TR1__Person_Placed__r.tc9_pr__Primary_Payee_Record__r.tc9_pr__Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_pr__Pay_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_MPR_Bonus_Records</name>
        <label>get MPR Bonus Records</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>found_MPR_records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</filterLogic>
        <filters>
            <field>tc9_et__Award_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_award_classification</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Award_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_award_level</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Rate_Calculator_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RC_group</elementReference>
            </value>
        </filters>
        <filters>
            <field>STP_Payment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonus and Commission</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>tc9_et__Minimum_Pay_Rate__c</object>
        <outputReference>rcs_mpr</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pay_Code_Name__c</queriedFields>
        <queriedFields>tc9_et__Pay_Rate__c</queriedFields>
        <queriedFields>tc9_et__Allowance_Pay_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Payment_RT</name>
        <label>get Payment RT</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_total_bonus_to_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Pay_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Person_Qualification</name>
        <label>get Person Qualification</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Qualifications</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_placement.TR1__Person_Placed__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_from__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>rec_placement.TR1__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_until__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>rec_placement.TR1__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_until__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_total_bonus_to_date</name>
        <label>get total bonus to date</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_bonus_amounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_placement.X2c9_Assignment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>STP_Payment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonus and Commission</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Payment_RT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_assignment</name>
        <label>update assignment</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>create_Bonus_PTIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_placement.X2c9_Assignment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_pr__Payee__c</field>
            <value>
                <elementReference>rec_placement.TR1__Person_Placed__r.tc9_pr__Primary_Payee_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Payment_Entity__c</field>
            <value>
                <elementReference>rec_placement.TR1__Person_Placed__r.tc9_pr__Primary_Payee_Record__r.tc9_pr__Payment_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Schedule__c</field>
            <value>
                <elementReference>rec_placement.TR1__Person_Placed__r.tc9_pr__Primary_Payee_Record__r.tc9_pr__Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_pr__Assignment__c</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>336</locationX>
        <locationY>2798</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(254, 18, 18); font-size: 16px;&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A bonus transaction is unable to be created against this placement.  In order to pay a bonus you require the following: &lt;/p&gt;&lt;ul&gt;&lt;li&gt;At least one Fee for Service has been created - placement has an assignment&lt;/li&gt;&lt;li&gt;The person placed has an active payee record&lt;/li&gt;&lt;li&gt;There is an MPR record for a bonus pay code for the appropriate Template Group, Award Classification and Award Level (based on job role and candidates ticket)&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_bonus_amount</name>
        <label>scr_bonus_amount</label>
        <locationX>50</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_assignment</targetReference>
        </connector>
        <fields>
            <name>dt_amount</name>
            <fieldText>&lt;p&gt;BONUS DETAILS&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Type: {!Bonus_Type}&lt;/p&gt;&lt;p&gt;Details: {!Details}&lt;/p&gt;&lt;p&gt;Date: {!Payment_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Bonus_Amount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>var_Bonus_Rate</elementReference>
            </defaultValue>
            <fieldText>Bonus Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Bonus</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_create</name>
        <label>scr_create</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_mpr_rate1</targetReference>
        </connector>
        <fields>
            <name>dt_explain</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(58, 22, 237);&quot;&gt;CREATE BONUS&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This will allow the creation of a bonus payment to the person placed based on details below.  The bonus type is restricted to those set up in &apos;Minimum Pay Rate&apos; Records.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Person Placed: &lt;strong&gt;{!rec_placement.TR1__Person_Placed__r.FirstName} {!rec_placement.TR1__Person_Placed__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Award Classification: &lt;strong&gt;{!rec_placement.TR1__Job__r.s5m__JobRole__r.tc9_ext_sirint__Award_Classification__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Award Level (Candidate): &lt;strong&gt;{!var_candidate_award_level_name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_legacy_bonus</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 16, 182);&quot;&gt;NOTE: Total Bonus Payments of &lt;/span&gt;&lt;strong style=&quot;color: rgb(247, 16, 182);&quot;&gt;${!var_total_bonus_amount} &lt;/strong&gt;&lt;span style=&quot;color: rgb(247, 16, 182);&quot;&gt;have already been paid previously for this placement&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_total_bonus_amount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Bonus_Type</name>
            <choiceReferences>rcs_bonus_type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bonus Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Details</name>
            <dataType>String</dataType>
            <fieldText>Details</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Payment Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Payment Date must be within the start/end date of the placement: {!rec_placement.TR1__Start_Date__c}&amp;nbsp;- {!rec_placement.TR1__End_Date__c}&amp;nbsp;&amp;nbsp;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Payment_Date} &gt; {!rec_placement.TR1__Start_Date__c} &amp;&amp; {!Payment_Date} &lt; {!rec_placement.TR1__End_Date__c}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Get Bonus Rate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>success</name>
        <label>success</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(9, 240, 86); font-size: 16px;&quot;&gt;SUCCESS&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Bonus successfully created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>validation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_get_mpr_rate1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Minimum_Pay_Rate__c</objectType>
    </variables>
    <variables>
        <name>rcs_mpr</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Minimum_Pay_Rate__c</objectType>
    </variables>
    <variables>
        <name>rec_placement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TR1__Closing_Report__c</objectType>
    </variables>
    <variables>
        <name>var_award_classification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_award_level</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Bonus_Rate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_candidate_award_level_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_pay_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RC_group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_total_bonus_amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
