.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Update_Timesheet_Item_for_Allowances_Start_End_Times.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>ALN-293: Separate updating timesheet items from Timesheet Post Processing flow. Add in element to update related pay transaction record for quantity. Bulkify design</description>
    <environments>Default</environments>
    <formulas>
        <name>frmAllowanceHoursQuantity</name>
        <dataType>Number</dataType>
        <expression>IF(
     ISPICKVAL({!Get_Custom_Rules_Allowance.Allowance_Payment_Frequency__c}, &quot;Allowance Hours&quot;),
{!Get_Custom_Rules_Allowance.Quantity__c}
,1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmSetTSIEndTime01</name>
        <dataType>String</dataType>
        <expression>{!Get_Custom_Rules_Allowance.frmEndTimeTXT__c}</expression>
    </formulas>
    <formulas>
        <name>frmSetTSIEndTime02</name>
        <dataType>Time</dataType>
        <expression>TIMEVALUE({!frmSetTSIEndTime01})</expression>
    </formulas>
    <formulas>
        <name>frmSetTSIStartTime01</name>
        <dataType>String</dataType>
        <expression>{!Get_Custom_Rules_Allowance.frmStartTimeTXT__c}</expression>
    </formulas>
    <formulas>
        <name>frmSetTSIStartTime02</name>
        <dataType>Time</dataType>
        <expression>TIMEVALUE({!frmSetTSIStartTime01})</expression>
    </formulas>
    <interviewLabel>nuuco: Update Timesheet Item for Allowances Start/End Times {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco: Update Timesheet Item for Allowances Start/End Times</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Rules_Allowance</name>
        <label>Get Custom Rules Allowance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_TSIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Custom_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shift</name>
        <label>Get Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timesheet_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_ext_sirint__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Timesheet__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Allowance_Start_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Allowance_End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet_Items</name>
        <label>Get Timesheet Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Rules_Allowance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TSIs</name>
        <label>Update TSIs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>tc9_et__Quantity__c</field>
            <value>
                <elementReference>frmAllowanceHoursQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_util__End_Time__c</field>
            <value>
                <elementReference>frmSetTSIEndTime02</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_util__Start_Time__c</field>
            <value>
                <elementReference>frmSetTSIStartTime02</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>tc9_ext_sirint__Shift__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_util__Start_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_util__End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payee_Allowance_Record__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Approval_Status_No_Colour__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>tc9_et__Timesheet_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_after_1_minute</name>
            <connector>
                <targetReference>Get_Shift</targetReference>
            </connector>
            <label>Run after 1 minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
