.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Shift_Create_Expense.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_ContentDocumentLinks</name>
        <label>Add to ContentDocumentLinks</label>
        <locationX>490</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ContentVersionIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_currentDocumentLink</name>
        <label>Assign to currentDocumentLink</label>
        <locationX>490</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>currentContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ContentVersionId.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCustomRuleID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContentDocumentLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContentDocumentLink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_ContentDocumentLinks</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>null</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Shift_found</name>
        <label>Is Shift found?</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Shift_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shift_is_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shift</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ALL_Filtered_Custom_Rules</targetReference>
            </connector>
            <label>Shift is found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shift_Decision</name>
        <label>Shift Decision</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>srnDefaultScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Approved_Shift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shift.sirenum__Approved_By_Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrDisplay</targetReference>
            </connector>
            <label>Shift already approved</label>
        </rules>
        <rules>
            <name>Shift_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shift.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Custom_Rule_Expenses_Related_to_Contract</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Expense_Details</targetReference>
            </connector>
            <label>Shift exists and expense custom rules exist</label>
        </rules>
    </decisions>
    <description>ALN-249 - Built to cater for &apos;expense&apos; entry for candidates in BH WFM app.  Updating to expense pay codes only
Custom rule for employee claimed expense updated to include employee, shift, shift processing status and update name
ALN-249 - Replace default screen error. Check to see if shift is not null. Make uploading of receipt mandatory.</description>
    <dynamicChoiceSets>
        <name>choice_PayCode</name>
        <collectionReference>coll_Paycodes</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>tc9_pr__Pay_Code__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CustomRuleExpenseTypeList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>expenseRecordtypeID</elementReference>
            </value>
        </filters>
        <object>Custom_Rule__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>expenseTypeChoices</name>
        <dataType>String</dataType>
        <displayField>Available_on_Active_App__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>expenseRecordtypeID</elementReference>
            </value>
        </filters>
        <object>Custom_Rule__c</object>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalculatingTax</name>
        <dataType>Currency</dataType>
        <expression>{!Total_Inc_Tax}/11</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatingTotalExTax</name>
        <dataType>Currency</dataType>
        <expression>{!Total_Inc_Tax}-{!CalculatingTax}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmCustomRulesName</name>
        <dataType>String</dataType>
        <expression>&quot;Employee Claimed Expense -&quot; &amp; {!varCustomRule.Expense_Pay_Code__r.Name}</expression>
    </formulas>
    <formulas>
        <name>totalExTaxFormula</name>
        <dataType>Number</dataType>
        <expression>{!totalIncTax} - {!totalTax}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totaltaxFormula</name>
        <dataType>Number</dataType>
        <expression>{!totalIncTax} / 11</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>nuuco - Shift Create Expense {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - Shift Create Expense</label>
    <loops>
        <name>Loop_ContentVersionIds</name>
        <label>Loop ContentVersionIds</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <collectionReference>Upload_Receipt.contentVersionIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_ContentVersionId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ContentDocumentLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ContentDocumentLinks</name>
        <label>Create ContentDocumentLinks</label>
        <locationX>402</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>ExpenseCreated</targetReference>
        </connector>
        <inputReference>ContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Custom_Rule_Expense</name>
        <label>Create Custom Rule Expense</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>newCustomRuleID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_ContentVersionIds</targetReference>
        </connector>
        <inputAssignments>
            <field>Expense_Description__c</field>
            <value>
                <elementReference>Expense_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expense_Pay_Code__c</field>
            <value>
                <elementReference>varCustomRule.Expense_Pay_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Includes_GST__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>frmCustomRulesName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCustomRule.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shift__c</field>
            <value>
                <elementReference>varShift</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount_Ex_Tax__c</field>
            <value>
                <elementReference>CalculatingTotalExTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount_Inc_Tax__c</field>
            <value>
                <elementReference>Total_Inc_Tax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Tax_Amount__c</field>
            <value>
                <elementReference>CalculatingTax</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Rule__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_ALL_Filtered_Custom_Rules</name>
        <label>Get ALL Filtered Custom Rules</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Rule_Expenses_Related_to_Contract</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR (4 AND 10) OR 5) AND 6 AND 7 AND (8 OR 9)</filterLogic>
        <filters>
            <field>Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Location__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Job_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Team__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_on_Active_App__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Scheduled_Local_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Scheduled_Local_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Custom_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentVersionId</name>
        <label>Get ContentVersionId</label>
        <locationX>490</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_currentDocumentLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_ContentVersionIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Rule_Expenses_Related_to_Contract</name>
        <label>Get Custom Rule Expenses Related to Contract</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shift_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expense_Rule</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Custom_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Expense_Claim</name>
        <label>Get Selected Expense Claim</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upload_Receipt_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCustomRule.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Expense_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shift</name>
        <label>Get Shift</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Shift_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varShift</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Enter_Expense_Details</name>
        <label>Enter Expense Details</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Expense_Claim</targetReference>
        </connector>
        <fields>
            <name>See_all_Expenses_applicable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Custom_Rule__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Available Expenses on Shift</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Custom_Rule_Expenses_Related_to_Contract</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4798&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Custom Rule Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCustomRule</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Expense_Description</name>
            <dataType>String</dataType>
            <fieldText>Expense Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_Inc_Tax</name>
            <dataType>Currency</dataType>
            <fieldText>Total (Inc Tax)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ExpenseCreated</name>
        <label>ExpenseCreated</label>
        <locationX>402</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExpenseClaimed</name>
            <fieldText>&lt;p&gt;Your Expense has been successfully claimed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Shift_Found</name>
        <label>No Shift Found</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noShiftError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Shift ID not found.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrDisplay</name>
        <label>scrDisplay</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtApproved</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This Shift has already been approved and cannot be edited.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>srnDefaultScreen</name>
        <label>srnDefaultScreen</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>defaultErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Expenses cannot be claimed for this Shift.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Receipt_Screen</name>
        <label>Upload Receipt Screen</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Custom_Rule_Expense</targetReference>
        </connector>
        <fields>
            <name>Upload_Receipt_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please upload the receipt(s) here&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Upload_Receipt_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_Receipt_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Upload_Receipt_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Upload_Receipt</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Receipt</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>uploadedFileIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentVersionIds</name>
                        <value>
                            <elementReference>uploadedContentVersions</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 4, 4);&quot;&gt;Please upload at least one receipt to proceed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Upload_Receipt.contentDocIds})&gt;2,TRUE,FALSE)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Upload_Receipt_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Shift</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>coll_Paycodes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Code__c</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CurrentContentDocumentId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>currentContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>expenseRecordtypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>includesGST</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newCustomRuleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newFileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds one file ID at a time in the loop</description>
        <name>singleFileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalExTax</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalIncTax</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>hold the calculated GST</description>
        <name>totalTax</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>uploadedContentVersions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadedFileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedFileName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClaimableExpenses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Rule__c</objectType>
    </variables>
    <variables>
        <name>varCutomRulesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varExpenseGST</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varExpenseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShift</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
