.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Pay_Transaction_on_Create_Update_Set_Shift_for_Expense_PTIX.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>ALN-498: Created Flow
ALN-514 - Made FFU Flow</description>
    <environments>Default</environments>
    <interviewLabel>nuuco: Pay Transaction on Create/Update - Set Shift for Expense PTIX {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco: Pay Transaction on Create/Update - Set Shift for Expense PTIX</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_TSE_from_related_Timesheet_with_Matching_Shift</name>
        <label>Get TSE from related Timesheet with Matching Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Shift_from_Matching_TSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Timesheet__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_ext_sirint__Shift__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Entry_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shift_from_Matching_TSE</name>
        <label>Update Shift from Matching TSE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Shift__c</field>
            <value>
                <elementReference>Get_TSE_from_related_Timesheet_with_Matching_Shift.tc9_ext_sirint__Shift__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TSE_from_related_Timesheet_with_Matching_Shift</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Transaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expense</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expense__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shift__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>tc9_pr__Pay_Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>800</triggerOrder>
</Flow>
