.vscode/allianceuat_compare/force-app/main/default/flows/Nuuco_Payroll_Tax_Exemption_On_Create_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Payroll_Exemption_Type</name>
        <label>Payroll Exemption Type</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>WorkCoverOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Client__r.Payroll_Tax_Exempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes - Workcover Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Workcover_Only_EC_record</targetReference>
            </connector>
            <label>WorkCoverOnly</label>
        </rules>
        <rules>
            <name>Both</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Client__r.Payroll_Tax_Exempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Client__r.Payroll_Tax_Exempt__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Both_EC_record</targetReference>
            </connector>
            <label>Both</label>
        </rules>
    </decisions>
    <description>ALN-31 - Arran F
ALN-31 - Updated to cater for correct EC types</description>
    <environments>Default</environments>
    <interviewLabel>Nuuco: Payroll Tax Exemption On Create [Assignment] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nuuco: Payroll Tax Exemption On Create [Assignment]</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Both_EC_record</name>
        <label>Get Both EC record</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Triggering_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Template_Group_Employment_Costs_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exemption_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payroll Tax and Workcover</stringValue>
            </value>
        </filters>
        <object>tc9_pr__Template_Group__c</object>
        <outputAssignments>
            <assignToReference>EmploymentCostTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Group_Employment_Costs_Record_Type</name>
        <label>Get Template Group Employment Costs Record Type</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payroll_Exemption_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Template_Group__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employment_Cost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Workcover_Only_EC_record</name>
        <label>Get Workcover Only EC record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Triggering_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Template_Group_Employment_Costs_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exemption_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Workcover Only</stringValue>
            </value>
        </filters>
        <object>tc9_pr__Template_Group__c</object>
        <outputAssignments>
            <assignToReference>EmploymentCostTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Triggering_Assignment</name>
        <label>Update Triggering Assignment</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>tc9_pr__Employment_Cost_Template_Group__c</field>
            <value>
                <elementReference>EmploymentCostTemplateId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Template_Group_Employment_Costs_Record_Type</targetReference>
        </connector>
        <filterFormula>AND(
NOT(ISNULL({!$Record.tc9_pr__Client__c}))
)</filterFormula>
        <object>tc9_pr__Assignment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmploymentCostTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
