.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Delete_Old_Debug_Logs_and_Headers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_colDebugHeaders_not_empty</name>
        <label>Is colDebugHeaders not empty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Debug_Headers_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colDebugHeaders</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Debug_Headers</targetReference>
            </connector>
            <label>Debug Headers Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_colDebugLogs_not_empty</name>
        <label>Is colDebugLogs not empty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_All_Debug_Headers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Debug_Logs_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colDebugLogs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Debug_Logs</targetReference>
            </connector>
            <label>Debug Logs Not Empty</label>
        </rules>
    </decisions>
    <description>ALN-545 - Created</description>
    <environments>Default</environments>
    <formulas>
        <name>sevenDaysAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 7</expression>
    </formulas>
    <interviewLabel>nuuco - Delete Old Debug Logs and Headers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - Delete Old Debug Logs and Headers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Debug_Headers</name>
        <label>Delete Debug Headers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>colDebugHeaders</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Debug_Logs</name>
        <label>Delete Debug Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Debug_Headers</targetReference>
        </connector>
        <inputReference>colDebugLogs</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Debug_Headers</name>
        <label>Get All Debug Headers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_colDebugHeaders_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>sevenDaysAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Do_Not_Delete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <limit>
            <numberValue>2000.0</numberValue>
        </limit>
        <object>tc9_pr__Debug_Header__c</object>
        <outputReference>colDebugHeaders</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Debug_Logs</name>
        <label>Get Debug Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_colDebugLogs_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>sevenDaysAgo</elementReference>
            </value>
        </filters>
        <limit>
            <numberValue>8000.0</numberValue>
        </limit>
        <object>tc9_pr__Debug_Log__c</object>
        <outputReference>colDebugLogs</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Debug_Logs</targetReference>
        </connector>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-03-23</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colDebugHeaders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Debug_Header__c</objectType>
    </variables>
    <variables>
        <name>colDebugLogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Debug_Log__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Debug_Log__c</objectType>
    </variables>
</Flow>
