.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Pay_Batch_ATO_KM_allowances_to_be_processed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ATO_KM_Pay_Code</name>
        <label>ATO KM Pay Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Pay_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.tc9_util__Kilometre_Settings__c.tc9_util__Post_Tax_Paycode__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Pay_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.tc9_util__Kilometre_Settings__c.tc9_util__Pre_Tax_Paycode__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Pay_Batch_Item__r.tc9_pr__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uncalculated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pay_Batch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>ALN-339 - Created</description>
    <environments>Default</environments>
    <interviewLabel>nuuco - Pay Batch - ATO KM allowances to be processed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - Pay Batch - ATO KM allowances to be processed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Pay_Batch</name>
        <label>Update Pay Batch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Pay_Batch_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_pr__Flag_Custom_Indicator__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Flag_Custom_Text__c</field>
            <value>
                <stringValue>ATO Kilometre allowances to process</stringValue>
            </value>
        </inputAssignments>
        <object>tc9_pr__Pay_Batch_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ATO_KM_Pay_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Pay_Batch_Item__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Batch_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>tc9_pr__Pay_Transaction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
