.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Laundry_Allowance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_up_weekly_total</name>
        <label>Add up weekly total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_weekly_total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_throguh_weekly_trans.tc9_pr__Pay_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_throguh_weekly_trans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Clone_Record</name>
        <label>Create Clone Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ClonedPTIX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_PTIX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedPTIX.tc9_pr__Pay_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_taxable_paycode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedPTIX.tc9_et__Invoice_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedPTIX.tc9_pr__Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_pay_rate_difference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedPTIX.tc9_et__T2P_Product_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedPTIX.tc9_et__To_Be_Invoiced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPTIX_ToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClonedPTIX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Exiting_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_remainder_PTIX_to_weekly</name>
        <label>Create remainder PTIX - to weekly</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ClonedPTIX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_PTIX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedPTIX.tc9_pr__Pay_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_taxable_paycode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedPTIX.tc9_et__Invoice_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedPTIX.tc9_pr__Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_weekly_split_pay_rate_taxable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedPTIX.tc9_et__T2P_Product_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedPTIX.tc9_et__To_Be_Invoiced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPTIX_ToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClonedPTIX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_insert_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Exiting_split_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Exiting_PTIX_to_Taxable</name>
        <label>Update Exiting PTIX to Taxable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdatedPTIX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_PTIX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPTIX.tc9_pr__Pay_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_taxable_paycode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPTIX.tc9_et__T2P_Product_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTIX_ToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedPTIX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_PTIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Exiting_Record</name>
        <label>Update Exiting Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdatedPTIX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_PTIX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPTIX.tc9_pr__Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_cloned_split_quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPTIX.tc9_et__T2P_Product_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTIX_ToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedPTIX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_PTIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Exiting_split_record</name>
        <label>Update Exiting split record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdatedPTIX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_PTIX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPTIX.tc9_pr__Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_weekly_split_update_nontaxabke</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPTIX.tc9_pr__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPTIX.tc9_et__T2P_Product_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTIX_ToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedPTIX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_update_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_PTIX</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_LA_exceed_the_weekly_limit</name>
        <label>Does LA exceed the weekly limit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Does_LA_exceeds_Daily_Limit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_already_at_limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_weekly_total</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.nuuco_ATO_Laundry_Allowance__c.Weekly_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exiting_PTIX_to_Taxable</targetReference>
            </connector>
            <label>Yes - already at limit</label>
        </rules>
        <rules>
            <name>Yes_Split_transactions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ff_weeklylimit_transactionamt</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Setup.nuuco_ATO_Laundry_Allowance__c.Weekly_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_remainder_PTIX_to_weekly</targetReference>
            </connector>
            <label>Yes - Split transactions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_LA_exceeds_Daily_Limit</name>
        <label>Does LA exceeds Daily Limit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_PTIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_PTIX.tc9_pr__Pay_Total__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Setup.nuuco_ATO_Laundry_Allowance__c.Daily_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Clone_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>ALN-343 - nuuco - Created to determine daily/weekly allowance limits for Laundry Allowance.</description>
    <environments>Default</environments>
    <formulas>
        <name>DerivedAmount</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Through_PTIX.tc9_pr__Quantity__c} * {!Loop_Through_PTIX.tc9_pr__Pay_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ExceedsDailyLimit</name>
        <dataType>Boolean</dataType>
        <expression>{!DerivedAmount} &gt; {!$Setup.nuuco_ATO_Laundry_Allowance__c.Daily_Limit__c}</expression>
    </formulas>
    <formulas>
        <name>ff_cloned_split_quantity</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.nuuco_ATO_Laundry_Allowance__c.Daily_Limit__c} / {!Loop_Through_PTIX.tc9_pr__Quantity__c}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>ff_debug</name>
        <dataType>String</dataType>
        <expression>&quot;Insert: &quot; + text({!var_insert_count}) + &quot; Update: &quot; + text({!var_update_count})</expression>
    </formulas>
    <formulas>
        <name>ff_pay_rate_difference</name>
        <dataType>Number</dataType>
        <expression>({!Loop_Through_PTIX.tc9_pr__Pay_Total__c} / {!Loop_Through_PTIX.tc9_pr__Quantity__c}) - {!$Setup.nuuco_ATO_Laundry_Allowance__c.Daily_Limit__c}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>ff_taxable_paycode</name>
        <dataType>String</dataType>
        <expression>IF(
  {!Loop_Through_PTIX.tc9_pr__Pay_Code__c} = {!$Setup.nuuco_ATO_Laundry_Allowance__c.Non_Taxable_Paycode_Uniform__c},
  {!$Setup.nuuco_ATO_Laundry_Allowance__c.Taxable_Paycode_Uniform__c},
  IF(
    {!Loop_Through_PTIX.tc9_pr__Pay_Code__c} = {!$Setup.nuuco_ATO_Laundry_Allowance__c.NonTaxable_NonUniform_Paycode_c__c},
    {!$Setup.nuuco_ATO_Laundry_Allowance__c.Taxable_Paycode_Non_Uniform__c},
    {!Loop_Through_PTIX.tc9_pr__Pay_Code__c}
  )
)</expression>
    </formulas>
    <formulas>
        <name>ff_weekly_split_pay_rate_taxable</name>
        <dataType>Number</dataType>
        <expression>({!Loop_Through_PTIX.tc9_pr__Pay_Total__c} - ({!$Setup.nuuco_ATO_Laundry_Allowance__c.Weekly_Limit__c} - {!var_weekly_total})) / {!Loop_Through_PTIX.tc9_pr__Quantity__c}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>ff_weekly_split_update_nontaxabke</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.nuuco_ATO_Laundry_Allowance__c.Weekly_Limit__c} - {!var_weekly_total}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>ff_weeklylimit_transactionamt</name>
        <dataType>Number</dataType>
        <expression>{!var_weekly_total} + {!Loop_Through_PTIX.tc9_pr__Pay_Total__c}</expression>
        <scale>6</scale>
    </formulas>
    <interviewLabel>nuuco Laundry Allowance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco Laundry Allowance</label>
    <loops>
        <name>Loop_throguh_weekly_trans</name>
        <label>Loop throguh weekly trans</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Weekly_PTIX</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_up_weekly_total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_PTIX_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_PTIX</name>
        <label>Loop Through PTIX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_PTIX_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_LA_exceed_the_weekly_limit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Original_PTIX</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cloned_PTIX_Records</name>
        <label>Create Cloned PTIX Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>NewPTIX_ToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Weekly_PTIX</name>
        <label>Get All Weekly PTIX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_throguh_weekly_trans</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND 6</filterLogic>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Payee__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Entry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.nuuco_ATO_Laundry_Allowance__c.Non_Taxable_Paycode_Uniform__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.nuuco_ATO_Laundry_Allowance__c.NonTaxable_NonUniform_Paycode_c__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Entry_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__End_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_PTIX_Records</name>
        <label>Get Related PTIX Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_PTIX</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.nuuco_ATO_Laundry_Allowance__c.Non_Taxable_Paycode_Uniform__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.nuuco_ATO_Laundry_Allowance__c.NonTaxable_NonUniform_Paycode_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <sortField>tc9_pr__Entry_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Original_PTIX</name>
        <label>Update Original PTIX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Cloned_PTIX_Records</targetReference>
        </connector>
        <inputReference>PTIX_ToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <object>tc9_et__Timesheet__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1m_after</name>
            <connector>
                <targetReference>Get_All_Weekly_PTIX</targetReference>
            </connector>
            <label>1m after</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>ClonedPTIX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>ClonedPTIX_Weekly</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>CumulativeTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewPTIX_ToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>PTIX_ToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>PTIX_WeeklyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>UpdatedPTIX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>UpdatedPTIX_Weekly</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>var_insert_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_update_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_weekly_total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>WeeklyTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
