.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_SHIFT_Rates_Quoting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_set_error</name>
        <label>set error</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>var_ERROR_MPR</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_main</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_set_loading</name>
        <label>Set No Loading</label>
        <locationX>1106</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>var_loading_percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_other_MPR_rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_No_Loading</name>
        <label>Set No Loading</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>var_loading_percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_other_MPR_rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_variables</name>
        <label>reset variables</label>
        <locationX>330</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_ERROR_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BUT_GetRates.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ERROR_MPR</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_rates_found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_error_employment_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_candidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_error</name>
        <label>set error</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>var_ERROR_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_main</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_error3</name>
        <label>set error</label>
        <locationX>198</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_error_employment_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Candidate_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_loading</name>
        <label>set loading</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>var_loading_percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Pay_Rate_Loading_if_casual.tc9_et__Loading_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_other_MPR_rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_rates_found</name>
        <label>set rates found</label>
        <locationX>908</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>var_rates_found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_main</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Button</name>
        <label>Button</label>
        <locationX>850</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Rates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BUT_GetRates.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GetRates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reset_variables</targetReference>
            </connector>
            <label>Get Rates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Candidate_no_employment_type</name>
        <label>Candidate no employment type?</label>
        <locationX>330</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>get_Candidate_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_candidate.aa_Employment_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_error3</targetReference>
            </connector>
            <label>Yes error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Casual</name>
        <label>Casual?</label>
        <locationX>908</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_set_loading</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_candidate.aa_Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Casual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Casual_Loading_RT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loading_Found</name>
        <label>Loading Found?</label>
        <locationX>710</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_No_Loading</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YEs_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Pay_Rate_Loading_if_casual</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_loading</targetReference>
            </connector>
            <label>Yes - set</label>
        </rules>
    </decisions>
    <decisions>
        <name>MPR_Found</name>
        <label>MPR Found?</label>
        <locationX>611</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Casual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Error2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_MPR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_set_error</targetReference>
            </connector>
            <label>No - Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ticket_exists</name>
        <label>Ticket exists?</label>
        <locationX>330</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>get_MPR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_ERROR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Candidate_Ticket</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_error</targetReference>
            </connector>
            <label>No - ERROR</label>
        </rules>
    </decisions>
    <description>ALN-156 - Created as a Rates tab on the shift to lookup candidate rates</description>
    <environments>Default</environments>
    <formulas>
        <name>ff_Base_pay_rate</name>
        <dataType>Number</dataType>
        <expression>{!get_MPR.tc9_et__Pay_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ff_interpretation_rule</name>
        <dataType>String</dataType>
        <expression>CASE({!get_candidate.aa_Employment_Type__c},
&quot;Casual&quot;, {!get_Job_Role.tc9_ext_sirint__Interpretation_Rule__c},
{!get_Job_Role.FT_PT_Interpretation_Rule__c})</expression>
    </formulas>
    <formulas>
        <name>ff_InterpretationRule_Name</name>
        <dataType>String</dataType>
        <expression>CASE({!get_candidate.aa_Employment_Type__c},
&quot;Casual&quot;, {!get_Job_Role.tc9_ext_sirint__Interpretation_Rule__r.Name},
{!get_Job_Role.FT_PT_Interpretation_Rule__r.Name})</expression>
    </formulas>
    <formulas>
        <name>ff_loaded_pay_rate</name>
        <dataType>Number</dataType>
        <expression>{!get_MPR.tc9_et__Pay_Rate__c} + ({!get_MPR.tc9_et__Pay_Rate__c} * ({!var_loading_percentage}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ff_RC_Template</name>
        <dataType>String</dataType>
        <expression>CASE({!get_candidate.aa_Employment_Type__c},
&quot;Casual&quot;, {!get_Job_Role.tc9_ext_sirint__Rate_Calculator__c},
{!get_Job_Role.FT_PT_Rate_Calculator__c})</expression>
    </formulas>
    <interviewLabel>nuuco - SHIFT - Rates Quoting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - SHIFT - Rates Quoting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_candidate</name>
        <label>get candidate</label>
        <locationX>330</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Candidate_no_employment_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Candidate.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Candidate_Ticket</name>
        <label>get Candidate Ticket</label>
        <locationX>330</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ticket_exists</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Candidate.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Award_Classification_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Job_Role.tc9_ext_sirint__Award_Classification__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_from__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>rec_shift.tc9_ext_sirint__TSE_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_until__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>rec_shift.tc9_ext_sirint__TSE_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_until__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Casual_Loading_RT</name>
        <label>get Casual Loading RT</label>
        <locationX>710</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Pay_Rate_Loading_if_casual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_et__PayRate_Loading__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casual_Loading</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Job_Role</name>
        <label>get Job Role</label>
        <locationX>850</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr_main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_shift.sirenum__Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_MPR</name>
        <label>get MPR</label>
        <locationX>611</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MPR_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</filterLogic>
        <filters>
            <field>tc9_et__Rate_Calculator_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Job_Role.Rate_Template_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Award_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Job_Role.tc9_ext_sirint__Award_Classification__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Award_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Candidate_Ticket.sirenum__TicketType__r.Award_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ff_interpretation_rule</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Allowance_Pay_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Default_Pay_Rate_Pay_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Minimum_Pay_Rate__c</object>
        <sortField>tc9_et__Allowance_Pay_Code__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_other_MPR_rates</name>
        <label>get other MPR rates</label>
        <locationX>908</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_rates_found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8)</filterLogic>
        <filters>
            <field>tc9_et__Rate_Calculator_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Job_Role.Rate_Template_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Award_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Job_Role.tc9_ext_sirint__Award_Classification__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Award_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Candidate_Ticket.sirenum__TicketType__r.Award_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ff_interpretation_rule</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>get_MPR.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>rec_shift.tc9_ext_sirint__TSE_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>rec_shift.tc9_ext_sirint__TSE_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>tc9_et__Minimum_Pay_Rate__c</object>
        <outputReference>rcs_Other_MPRs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pay_Code_Name__c</queriedFields>
        <queriedFields>tc9_et__Rate_Entered__c</queriedFields>
        <queriedFields>tc9_et__Pay_Rate__c</queriedFields>
        <queriedFields>tc9_et__Custom_Pay_Rate_1__c</queriedFields>
        <queriedFields>tc9_et__Effective_Date__c</queriedFields>
        <queriedFields>tc9_et__Expiry_Date__c</queriedFields>
        <sortField>Pay_Code_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_Pay_Rate_Loading_if_casual</name>
        <label>get Pay Rate Loading (if casual)</label>
        <locationX>710</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loading_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>tc9_et__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>rec_shift.tc9_ext_sirint__TSE_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>rec_shift.tc9_ext_sirint__TSE_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Casual_Loading_RT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Loading_Rate_Based_On__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>% of Base Pay Rate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__PayRate_Loading__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scr_main</name>
        <label>scr_main</label>
        <locationX>850</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Button</targetReference>
        </connector>
        <fields>
            <name>scr_main_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_main_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Candidate</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>sirenum__Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Candidate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>sirenum__Shift__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>rec_shift.sirenum__Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>dt_warning</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(225, 147, 14);&quot;&gt;WARNING&lt;/strong&gt;: &lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Candidate does not have an employment type set.  Therefore cannot accurately get a rate.  Please set the employment type on candidate record.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_error_employment_type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_main_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BUT_GetRates</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Get Rates&quot;,&quot;value&quot;:&quot;GetRates&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:adduser&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Candidate.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(247, 40, 40);&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Candidate &lt;strong&gt;{!get_candidate.Name}&lt;/strong&gt; does not have a ticket for the Shift Job Role Award Classification (&lt;strong&gt;{!get_Job_Role.tc9_ext_sirint__Award_Classification__r.Name}&lt;/strong&gt;).  &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please select another candidate or update the candidates tickets.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ERROR_Rates</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>error_MPR</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(247, 40, 40);&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;No matching Minimum Pay Rate was found.  &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u&gt;Details&lt;/u&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Award Classification:  &lt;strong&gt;{!get_Job_Role.tc9_ext_sirint__Award_Classification__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Award Level: &lt;strong&gt;{!get_Candidate_Ticket.sirenum__TicketType__r.Award_Level__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Template Group: &lt;strong&gt;{!get_Job_Role.Rate_Template_Group__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Interpretation Rule: &lt;strong&gt;{!ff_InterpretationRule_Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ERROR_MPR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_Details</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(41, 30, 247);&quot;&gt;RATE DETALS&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(254, 28, 186);&quot;&gt;{!get_candidate.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(254, 28, 186);&quot;&gt;{!get_candidate.MobilePhone}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Job Role: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!rec_shift.sirenum__Team__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Award Classification: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!get_Job_Role.tc9_ext_sirint__Award_Classification__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Award Level: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!get_Candidate_Ticket.sirenum__TicketType__r.Award_Level__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Rate Template Group: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!get_Job_Role.Rate_Template_Group__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Employment Type: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!get_candidate.aa_Employment_Type__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Minimum Pay Rate Name: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!get_MPR.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_rates_found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rates</name>
            <fieldText>Rates</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Rates_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_base_rate</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(4, 8, 234);&quot;&gt;BASE PAY RATE&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;${!ff_Base_pay_rate}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!get_MPR.Pay_Code_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Rates_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_loaded</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(4, 8, 234);&quot;&gt;LOADED PAY RATE&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;${!ff_loaded_pay_rate}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Loading: {!var_loading_percentage}%&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_loading_percentage</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_rates_found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_other</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(4, 8, 234);&quot;&gt;RELATED PAY CODES&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_rates_found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_main_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_main_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT_rates</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>tc9_et__Minimum_Pay_Rate__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>tc9_et__Minimum_Pay_Rate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>rcs_Other_MPRs</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>tc9_et__Effective_Date__c,tc9_et__Expiry_Date__c,Pay_Code_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>tc9_et__Effective_Date__c:149, tc9_et__Expiry_Date__c:100, Pay_Code_Name__c:185</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showSelectedCount</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_rates_found</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>724</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Job_Role</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rcs_Other_MPRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Minimum_Pay_Rate__c</objectType>
    </variables>
    <variables>
        <name>rec_shift</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift__c</objectType>
    </variables>
    <variables>
        <name>var_error_employment_type</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ERROR_MPR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ERROR_Rates</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_loading_percentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_rates_found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
