.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Pay_Transaction_On_Create_Overrides_for_Weekend_PH.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Assignment_rate_present</name>
        <label>Assignment rate present?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Timesheet_Allowance_Record_Type_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YEs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Assignment_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Assignment_Rate2</targetReference>
            </connector>
            <label>YEs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Weekend_Pay_Code_Exist</name>
        <label>Does Weekend Pay Code Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Weekend_Pay_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payee_Allowance_Record.Weekend_PH_Pay_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assignment_Rate</targetReference>
            </connector>
            <label>Has Weekend Pay Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Allowance_Weekend_or_Public_Holiday</name>
        <label>Is Allowance Weekend or Public Holiday?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allowance_on_Weekend_or_PH</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Timesheet_Allowance_Record_Type_ID.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Timesheet_Allowance_Record_Type_ID.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Weekday_or_Weekend</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Pay_Code__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Public Holiday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Timesheet_Item</targetReference>
            </connector>
            <label>Allowance on Weekend or PH</label>
        </rules>
    </decisions>
    <description>ALN-333
ALN-386 - Added stamping base pay rate on PT from RCL</description>
    <environments>Default</environments>
    <formulas>
        <name>Weekday_or_Weekend</name>
        <dataType>String</dataType>
        <expression>CASE(
WEEKDAY({!$Record.tc9_pr__Entry_Date__c}),
1, &quot;Weekend&quot;,
7, &quot;Weekend&quot;,
&quot;Weekday&quot;
)</expression>
    </formulas>
    <interviewLabel>nuuco - Pay Transaction On Create - Overrides for Weekend/PH {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - Pay Transaction On Create - Overrides for Weekend/PH</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assignment_Rate</name>
        <label>Get Assignment Rate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Triggering_Pay_Transaction</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Assignment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payee_Allowance_Record.Weekend_PH_Pay_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Entry_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Entry_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Assignment_Rate2</name>
        <label>get Assignment Rate - MPR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RCL_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Assignment_Rate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payee_Allowance_Record</name>
        <label>Get Payee Allowance Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Weekend_Pay_Code_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Timesheet_Item__r.tc9_et__Payee_Allowance_Record__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Payee_Allowance_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RCL_record</name>
        <label>get RCL record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Base_Pay_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Assignment_Rate2.tc9_et__Rate_Calculator_Line__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Rate_Calculator_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet_Allowance_Record_Type_ID</name>
        <label>Get Timesheet Allowance Record Type ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Allowance_Weekend_or_Public_Holiday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Payee_Allowance_Record__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Timesheet_Allowance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet_Item</name>
        <label>Get Timesheet Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payee_Allowance_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Timesheet_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Base_Pay_Rate</name>
        <label>Update Base Pay Rate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Timesheet_Allowance_Record_Type_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Pay_Rate__c</field>
            <value>
                <elementReference>get_RCL_record.tc9_et__Base_Pay_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Pay_Transaction</name>
        <label>Update Triggering Pay Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>tc9_et__Invoice_Rate__c</field>
            <value>
                <elementReference>Get_Assignment_Rate.tc9_et__Invoice_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__T2P_Product_Override__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Assignment_Rate__c</field>
            <value>
                <elementReference>Get_Assignment_Rate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Pay_Code__c</field>
            <value>
                <elementReference>Get_Payee_Allowance_Record.Weekend_PH_Pay_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Pay_Rate__c</field>
            <value>
                <elementReference>Get_Assignment_Rate.tc9_pr__Pay_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_rate_present</targetReference>
        </connector>
        <object>tc9_pr__Pay_Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
