.vscode/allianceuat_compare/force-app/main/default/flows/nuuco_Invoice_Item_Set_TSE_on_blank_ones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Shift_exists</name>
        <label>Shift exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Timesheet_Item_is_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Timesheet_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Shift</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Shift.tc9_ext_sirint__Timesheet_Entry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_timesheet_entry</targetReference>
            </connector>
            <label>Yes - Timesheet Entry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timesheet_Entry_is_NULL</name>
        <label>Timesheet Entry is NULL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Timesheet_Item_is_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_et__Timesheet_Entry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Shift</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timesheet_Item_is_NULL</name>
        <label>Timesheet Item is NULL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Retrigger_field_to_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_et__Timesheet_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Pay_Transaction.tc9_et__Timesheet_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_timesheet_item</targetReference>
            </connector>
            <label>Yes2</label>
        </rules>
    </decisions>
    <description>ALN-479/480 - Re-add the TSE on the Invoice Item where its blank.  For purposes of showing the correct date/time/shift type field on the invoice</description>
    <environments>Default</environments>
    <interviewLabel>nuuco - Invoice Item - Set TSE on blank ones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nuuco - Invoice Item - Set TSE on blank ones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Pay_Transaction</name>
        <label>get Pay Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Timesheet_Entry_is_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Pay_Transaction__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Shift</name>
        <label>get Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shift_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Pay_Transaction.Shift__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Retrigger_field_to_false</name>
        <label>Set Retrigger field to false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Retrigger_TSE_stamp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Retrigger_TSE_stamp__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_timesheet_entry</name>
        <label>Set timesheet entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Timesheet_Item_is_NULL</targetReference>
        </connector>
        <inputAssignments>
            <field>tc9_et__Timesheet_Entry__c</field>
            <value>
                <elementReference>get_Shift.tc9_ext_sirint__Timesheet_Entry__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_timesheet_item</name>
        <label>Set timesheet item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Retrigger_field_to_false</targetReference>
        </connector>
        <inputAssignments>
            <field>tc9_et__Timesheet_Item__c</field>
            <value>
                <elementReference>get_Pay_Transaction.tc9_et__Timesheet_Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Pay_Transaction</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 4) AND 3</filterLogic>
        <filters>
            <field>tc9_et__Timesheet_Entry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Retrigger_TSE_stamp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012QE000000QzMrYAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>tc9_et__Invoice_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
