.vscode/allianceuat_compare/force-app/main/default/flows/Payee_fix_payment_details_missing_message_2_00pm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Payee - fix payment details missing message - 2:00pm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payee - fix payment details missing message - 2:00pm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_payment_details</name>
        <label>get payment details</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Payment_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Payment_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_Details</name>
        <label>Update Payment Details</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_payment_details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_pr__External_ID__c</field>
            <value>
                <elementReference>get_payment_details.tc9_pr__External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_pr__Payment_Detail__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_payment_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Payment_Details_Incomplete_reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>tc9_pr__Payee__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-11-15</startDate>
            <startTime>14:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
