.vscode/allianceuat_compare/force-app/main/default/flows/Recreate_GL_Journals_PT_Distributions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Journals</name>
        <label>Create Journals</label>
        <locationX>248</locationX>
        <locationY>2258</locationY>
        <actionName>tc9_bgl__InvokeBatch_CreateJournalsForEarning</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Leave_Accrual_Option</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error2</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accSysSetupId</name>
            <value>
                <elementReference>$Setup.tc9_bgl__GL_Configuration__c.tc9_bgl__Default_Accounting_System_Setup_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>payBatchId</name>
            <value>
                <elementReference>PayBatchIDFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tc9_bgl__InvokeBatch_CreateJournalsForEarning</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Leave_Journal</name>
        <label>Create Leave Journal</label>
        <locationX>116</locationX>
        <locationY>2618</locationY>
        <actionName>tc9_bgl__InvokeBatch_CreateJournalsForLeaveAccr</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>accSysSetupId</name>
            <value>
                <elementReference>$Setup.tc9_bgl__GL_Configuration__c.tc9_bgl__Default_Accounting_System_Setup_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>payBatchId</name>
            <value>
                <elementReference>PayBatchIDFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tc9_bgl__InvokeBatch_CreateJournalsForLeaveAccr</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Values_to_Collection</name>
        <label>Add Values to Collection</label>
        <locationX>402</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>JNLLinestodelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Journal_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Header_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Journal_ID</name>
        <label>Set Journal ID</label>
        <locationX>402</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>JournalID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Header_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Journal_Lines</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A</name>
        <choiceText>&lt;strong&gt;A - Delete and Recreate Journals&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A</stringValue>
        </value>
    </choices>
    <choices>
        <name>B</name>
        <choiceText>&lt;strong&gt;B - Delete and Recreate  PT Distributions and Journals&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateLeaveJNL</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Leave Journal&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Copy_1_of_Option_A_or_B</name>
        <label>Repeat of Option A or B</label>
        <locationX>534</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Create_Platform_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Option B</defaultConnectorLabel>
        <rules>
            <name>Repeat_1_of_Option_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Option_A_or_B</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>A</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Journals</targetReference>
            </connector>
            <label>Repeat of Option A</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Leave_Accrual_or_Not</name>
        <label>Create Leave Accrual or Not</label>
        <locationX>248</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_LJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Leave_Accrual_Journal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateLeaveJNL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Leave_Journal</targetReference>
            </connector>
            <label>Create LJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_any_lines_exist</name>
        <label>Do any lines exist</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Delete_Headers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lines_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JNLLinestodelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Journal_Lines</targetReference>
            </connector>
            <label>Lines Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Jnl_Headers_Exist</name>
        <label>Do Jnl Headers Exist</label>
        <locationX>534</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Option_A_or_B</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Headers_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Journal_Headers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Header_Records</targetReference>
            </connector>
            <label>Headers Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Option_A_or_B_1</name>
        <label>Option A or B</label>
        <locationX>534</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Delete_PTD_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Option B</defaultConnectorLabel>
        <rules>
            <name>Option_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Option_A_or_B</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>A</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Journal_Headers</targetReference>
            </connector>
            <label>Option A</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PayBatchIDFormula</name>
        <dataType>String</dataType>
        <expression>{!PayBatch.recordId}</expression>
    </formulas>
    <interviewLabel>Recreate GL Journals &amp; PT Distributions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recreate GL Journals &amp; PT Distributions</label>
    <loops>
        <name>Loop_through_Header_Records</name>
        <label>Loop through Header Records</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Journal_Headers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Journal_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Do_any_lines_exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event for PTD Creation</label>
        <locationX>820</locationX>
        <locationY>2258</locationY>
        <connector>
            <targetReference>You_have_successfully_completed_Option_B</targetReference>
        </connector>
        <inputAssignments>
            <field>tc9_pr__Pay_Batch_Action__c</field>
            <value>
                <stringValue>Payment File Released</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Pay_Batch_Id__c</field>
            <value>
                <elementReference>PayBatch.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_pr__Payroll_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Headers</name>
        <label>Delete Headers</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Copy_1_of_Option_A_or_B</targetReference>
        </connector>
        <inputReference>Get_Journal_Headers</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Journal_Lines</name>
        <label>Delete Journal Lines</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Delete_Headers</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_Headers</targetReference>
        </faultConnector>
        <inputReference>JNLLinestodelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_PTD_Records</name>
        <label>Delete PTD Records</label>
        <locationX>622</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Journal_Headers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Pay_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PayBatch.recordId</elementReference>
            </value>
        </filters>
        <object>tc9_pr__Pay_Transaction_Distribution__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Journal_Headers</name>
        <label>Get Journal Headers</label>
        <locationX>534</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Jnl_Headers_Exist</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>tc9_bgl__Pay_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PayBatch.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_bgl__Acc_Payroll_Journal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Journal_Lines</name>
        <label>Get Journal Lines</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Values_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_bgl__Accounting_Payroll_Journal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JournalID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_bgl__Acc_Payroll_Journal_Lines__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Option_A_or_B_1</targetReference>
        </connector>
        <fields>
            <name>Confirm</name>
            <fieldText>&lt;p&gt;Please confirm that you are wanting to action the following&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Option_A_or_B}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm and Process</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error2</name>
        <label>Error</label>
        <locationX>556</locationX>
        <locationY>2378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;Please ensure either the pay batch is selected, or the ID is populated on the previous screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GL_Admin_Recreate_Journals_for_a_Pay_Batch</name>
        <label>GL Admin Recreate Journals for a Pay Batch</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Welcome_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please select the Pay Batch or enter the ID of the Pay Batch for which you can choose to either&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;A.&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Delete all existing Journals for this Pay Batch&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Recreate the COP Journal&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The option to also recreate the Leave Accrual Journal&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;or,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;B.&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Delete all PT Distribution records for this Pay Batch&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Delete all existing Journals for this Pay Batch&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Recreate the PT Distribution records for this Pay Batch&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Recreate the COP Journal&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The option to also recreate the Leave Accrual Journal&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Option_A_or_B</name>
            <choiceReferences>A</choiceReferences>
            <choiceReferences>B</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Option A or B</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PayBatch</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>tc9_pr__Pay_Batch__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pay Batch</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>tc9_pr__Pay_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Leave_Accrual_Option</name>
        <label>Leave Accrual Option</label>
        <locationX>248</locationX>
        <locationY>2378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Leave_Accrual_or_Not</targetReference>
        </connector>
        <fields>
            <name>COP</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Congratulations, you have now initiated the creation of the Cost of Payroll Journal.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you also want to create the Leave Accrual Journal please select the option below and press &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Leave_Accrual_Journal</name>
            <choiceReferences>CreateLeaveJNL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create Leave Accrual Journal</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>248</locationX>
        <locationY>2834</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You have successfully completed the creation of the new Journals!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>You_have_successfully_completed_Option_B</name>
        <label>You have successfully completed Option B</label>
        <locationX>820</locationX>
        <locationY>2378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Option_B_Completion</name>
            <fieldText>&lt;p&gt;You have successfully kicked off the process of creation of new PT Distribution Records and New Journals.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Note that it may take a few minutes to complete in the background&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GL_Admin_Recreate_Journals_for_a_Pay_Batch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>JNLLinestodelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tc9_bgl__Acc_Payroll_Journal_Lines__c</objectType>
    </variables>
    <variables>
        <name>JournalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
