.vscode/allianceuat_compare/force-app/main/default/flows/Resolve_Job_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_10</name>
        <label>Assignment 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>employeeAcceptance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shift_Detail.sirenum__Accepted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shift_With_Job_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Mandatory_Skill_Display_List</name>
        <label>Create Mandatory Skill Display List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MandatoryDisplayList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Match_Mandatory_Skills_to_Worker</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Match_Mandatory_Skills_to_Worker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_OR_Skill_Display_List</name>
        <label>Create OR Skill Display List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrSkillDisplayList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Match_OR_Skills_to_Worker</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Match_OR_Skills_to_Worker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Role_Display_List</name>
        <label>Create Role Display List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RoleDisplayList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Match_Roles_To_Worker_Tickets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Match_Roles_To_Worker_Tickets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Non_Value_For_Mandatory_Skill_Display_List</name>
        <label>Set Non Value For Mandatory Skill Display List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Match_Mandatory_Skills_to_Worker.IsDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Match_Mandatory_Skills_to_Worker.sirenum__Competency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Match_Mandatory_Skills_to_Worker.sirenum__Competency__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Mandatory_Skill_Display_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Non_Value_For_OR_Skill_Display_List</name>
        <label>Set Non Value For OR Skill Display List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Match_OR_Skills_to_Worker.IsDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Match_OR_Skills_to_Worker.sirenum__Competency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Match_OR_Skills_to_Worker.sirenum__Competency__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OR_Skill_Display_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Non_Value_for_Role_Display_List</name>
        <label>Set Non Value for Role Display List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Match_Roles_To_Worker_Tickets.IsDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Match_Roles_To_Worker_Tickets.sirenum__Competency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Match_Roles_To_Worker_Tickets.sirenum__Competency__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Role_Display_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Value_For_Mandatory_Skill_Display_List</name>
        <label>Set Value For Mandatory Skill Display List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Match_Mandatory_Skills_to_Worker.IsDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Match_Mandatory_Skills_to_Worker.sirenum__Competency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Match_Mandatory_Skills_to_Worker.sirenum__Competency__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Mandatory_Skill_Display_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Value_For_OR_Skill_Display_List</name>
        <label>Set Value For OR Skill Display List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Match_OR_Skills_to_Worker.IsDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Match_OR_Skills_to_Worker.sirenum__Competency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Match_OR_Skills_to_Worker.sirenum__Competency__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OR_Skill_Display_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_for_Role_Display_List</name>
        <label>Set Values for Role Display List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Match_Roles_To_Worker_Tickets.IsDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Match_Roles_To_Worker_Tickets.sirenum__Competency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Match_Roles_To_Worker_Tickets.sirenum__Competency__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Role_Display_List</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Found_Mandatory_Skill_Match</name>
        <label>Found Mandatory Skill Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Non_Value_For_Mandatory_Skill_Display_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mandatory Skill</defaultConnectorLabel>
        <rules>
            <name>Found_Matching_Mandatory_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Mandatory_Skills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Value_For_Mandatory_Skill_Display_List</targetReference>
            </connector>
            <label>Found Matching Mandatory Skill</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_OR_Skill_Match</name>
        <label>Found OR Skill Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Non_Value_For_OR_Skill_Display_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mandatory Skill</defaultConnectorLabel>
        <rules>
            <name>Found_OR_Mandatory_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_OR_Skills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Value_For_OR_Skill_Display_List</targetReference>
            </connector>
            <label>Found OR Mandatory Skill</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Role_Match</name>
        <label>Found Role Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Non_Value_for_Role_Display_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Role</defaultConnectorLabel>
        <rules>
            <name>Found_Matching_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values_for_Role_Display_List</targetReference>
            </connector>
            <label>Found Matching Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shift_Data_Provided</name>
        <label>Shift Data Provided</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Shift_Data_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shift_Id_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shiftId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Shift_Detail</targetReference>
            </connector>
            <label>Shift Id populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Resolve Job Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resolve Job Role</label>
    <loops>
        <name>Match_Mandatory_Skills_to_Worker</name>
        <label>Match Mandatory Skills to Worker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Mandatory_Bundle_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Matching_Mandatory_Skills</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_OR_Bundle_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Match_OR_Skills_to_Worker</name>
        <label>Match OR Skills to Worker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_OR_Bundle_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Matching_OR_Skills</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_WFM_Roles_From_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Match_Roles_To_Worker_Tickets</name>
        <label>Match Roles To Worker Tickets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Role_Bundle_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Matching_Roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Mandatory_Bundle_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Mandatory_Bundle_Items</name>
        <label>Get Mandatory Bundle Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_Mandatory_Skills_to_Worker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__CompetencyBundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift_Detail.sirenum__ShiftDemand__r.sirenum__CompetencyBundle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__CompetencyBundleItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Mandatory_Skills</name>
        <label>Get Matching Mandatory Skills</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Mandatory_Skill_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift_Detail.sirenum__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Match_Mandatory_Skills_to_Worker.sirenum__Competency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Revoked__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_OR_Skills</name>
        <label>Get Matching OR Skills</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_OR_Skill_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift_Detail.sirenum__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Match_OR_Skills_to_Worker.sirenum__Competency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Revoked__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Roles</name>
        <label>Get Matching Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Role_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift_Detail.sirenum__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Match_Roles_To_Worker_Tickets.sirenum__Competency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Revoked__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OR_Bundle_Items</name>
        <label>Get OR Bundle Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_OR_Skills_to_Worker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__CompetencyBundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift_Detail.sirenum__ShiftDemand__r.Skill_Attribute_OR_Bundle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__CompetencyBundleItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Role_Bundle_Items</name>
        <label>Get Role Bundle Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_Roles_To_Worker_Tickets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__CompetencyBundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift_Detail.sirenum__ShiftDemand__r.Role_OR_Bundle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__CompetencyBundleItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shift_Detail</name>
        <label>Get Shift Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Role_Bundle_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>shiftId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WFM_Roles_From_Contract</name>
        <label>Get WFM Roles From Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Role_Select_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift_Detail.sirenum__ShiftDemand__r.sirenum__Team__r.sirenum__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Multi</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Shift_With_Employee_Acceptance</name>
        <label>Copy 1 of Update Shift With Employee Acceptance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Shift_Update_Successful</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>shiftId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>sirenum__Accepted__c</field>
            <value>
                <elementReference>employeeAcceptance</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift_With_Job_Role</name>
        <label>Update Shift With Job Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Shift_With_Employee_Acceptance</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Setting_Job_Role</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>shiftId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>sirenum__Team__c</field>
            <value>
                <elementReference>WFMRoleList.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Setting_Job_Role</name>
        <label>Error Setting Job Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorSettingJobRole</name>
            <fieldText>&lt;p&gt;Unable to set the Job Role please contact support for assistance to resolve&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Shift_Data_Provided</name>
        <label>No Shift Data Provided</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoShiftDataProvided</name>
            <fieldText>&lt;p&gt;No Shift Id Provided confirm the shift has been saved to the system if so please speak to support for assistants with this.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Role_Select_Screen</name>
        <label>Role Select Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_10</targetReference>
        </connector>
        <fields>
            <name>Shift_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Shift_Detail.Name</elementReference>
            </defaultValue>
            <fieldText>Shift Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RoleTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>sirenum__CompetencyBundleItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Role List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>RoleDisplayList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;sirenum__CompetencyBundleItem__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;RoleDisplayList&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;sirenum__Competency__c&quot;,&quot;guid&quot;:&quot;column-9492&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Competency&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;IsDeleted&quot;,&quot;guid&quot;:&quot;column-cd54&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Held by Worker&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Deleted&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;sirenum__CompetencyBundleItem__c&quot;,&quot;fieldReferences&quot;:[&quot;sirenum__Competency__c&quot;,&quot;IsDeleted&quot;],&quot;elementReference&quot;:&quot;RoleDisplayList&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MandatorySkillList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>sirenum__CompetencyBundleItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mandatory Skills</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>MandatoryDisplayList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;sirenum__CompetencyBundleItem__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;MandatoryDisplayList&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;sirenum__Competency__c&quot;,&quot;guid&quot;:&quot;column-3505&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Competency&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;IsDeleted&quot;,&quot;guid&quot;:&quot;column-959a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Held by Worker&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Deleted&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;sirenum__CompetencyBundleItem__c&quot;,&quot;fieldReferences&quot;:[&quot;sirenum__Competency__c&quot;,&quot;IsDeleted&quot;],&quot;elementReference&quot;:&quot;MandatoryDisplayList&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OrSkillList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>sirenum__CompetencyBundleItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>OR Skill List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>OrSkillDisplayList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;sirenum__CompetencyBundleItem__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;OrSkillDisplayList&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;sirenum__Competency__c&quot;,&quot;guid&quot;:&quot;column-c585&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Competency&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;IsDeleted&quot;,&quot;guid&quot;:&quot;column-4f69&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Held by Worker&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Deleted&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;sirenum__CompetencyBundleItem__c&quot;,&quot;fieldReferences&quot;:[&quot;sirenum__Competency__c&quot;,&quot;IsDeleted&quot;],&quot;elementReference&quot;:&quot;OrSkillDisplayList&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_WRM_Job_Role</name>
            <fieldText>Select WRM Job Role</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_WRM_Job_Role_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WFMRoleList</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>sirenum__Team__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_WFM_Roles_From_Contract</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>keyField</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;sirenum__Team__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_WFM_Roles_From_Contract&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-cb03&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Job Role&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-6a71&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnReferences</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;sirenum__Team__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;],&quot;elementReference&quot;:&quot;Get_WFM_Roles_From_Contract&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Shift_Update_Successful</name>
        <label>Shift Update Successful</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShiftUpdateSuccessful</name>
            <fieldText>&lt;p&gt;{!Get_Shift_Detail.Name} has been updated with the role : {!WFMRoleList.firstSelectedRow.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Shift_Data_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>employeeAcceptance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MandatoryDisplayList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__CompetencyBundleItem__c</objectType>
    </variables>
    <variables>
        <name>OrSkillDisplayList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__CompetencyBundleItem__c</objectType>
    </variables>
    <variables>
        <name>RoleDisplayList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__CompetencyBundleItem__c</objectType>
    </variables>
    <variables>
        <name>shiftId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
