.vscode/allianceuat_compare/force-app/main/default/flows/Resolve_WFM_job_Role_on_Shift.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Role_Assignment_Data</name>
        <label>Role Assignment Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RoleMatchcount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoleCompId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Match_worker_tickets_to_Roles.sirenum__Competency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Match_worker_tickets_to_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Skill_Assignment_Data</name>
        <label>Skill Assignment Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SkillMatchCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SkillCompId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Match_Worker_And_WFM_Job_Role_tickets_to_Skills.sirenum__Competency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Match_Worker_And_WFM_Job_Role_tickets_to_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Shift_with_WFM_Job_Role</name>
        <label>Update Shift with WFM Job Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.sirenum__Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matching_WFM_Job_Role.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_A_Multi_Role_To_Resolve</name>
        <label>Is A Multi Role To Resolve</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Multi_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Role_Bundle_Item</targetReference>
            </connector>
            <label>Is Multi Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_to_WFM_Role_And_Skill_Found</name>
        <label>Match to WFM Role And Skill Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Match_Worker_And_WFM_Job_Role_tickets_to_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skill_and_WFM_Role_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WFM_Job_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skill_Tickets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skill_Assignment_Data</targetReference>
            </connector>
            <label>Skill and WFM Role Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matchable_WFM_Role_Found</name>
        <label>Matchable WFM Role Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_WFM_Job_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shift_with_WFM_Job_Role</targetReference>
            </connector>
            <label>Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Count_Is_1</name>
        <label>Role Count Is 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single_Role_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoleMatchcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Skills</targetReference>
            </connector>
            <label>Single Role Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Match_found</name>
        <label>Role Match found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Match_worker_tickets_to_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Role Match</defaultConnectorLabel>
        <rules>
            <name>Role_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Tickets_That_Match_Role_Com</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Role_Assignment_Data</targetReference>
            </connector>
            <label>Role Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_Count_Is_1</name>
        <label>Skill Count Is 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single_Skill_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillMatchCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_WFM_Job_Role</targetReference>
            </connector>
            <label>Single Skill Match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Resolve WFM job Role on Shift {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resolve WFM job Role on Shift</label>
    <loops>
        <name>Match_Worker_And_WFM_Job_Role_tickets_to_Skills</name>
        <label>Match Worker And WFM Job Role tickets to Skills</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WFM_Job_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Skill_Count_Is_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Match_worker_tickets_to_Roles</name>
        <label>Match worker tickets to Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Role_Bundle_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Active_Tickets_That_Match_Role_Com</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Role_Count_Is_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Tickets_That_Match_Role_Com</name>
        <label>Get Active Tickets That Match Role Com</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Role_Match_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Match_worker_tickets_to_Roles.sirenum__Competency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Revoked__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_WFM_Job_Role</name>
        <label>Get Matching WFM Job Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matchable_WFM_Role_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Role_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoleCompId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Skill_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SkillCompId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Team__r.sirenum__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Role_Bundle_Item</name>
        <label>Get Role Bundle Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_worker_tickets_to_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__CompetencyBundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__ShiftDemand__r.Role_OR_Bundle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__CompetencyBundleItem__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>sirenum__Competency__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Skills</name>
        <label>Get Skills</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_Worker_And_WFM_Job_Role_tickets_to_Skills</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>sirenum__CompetencyBundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__ShiftDemand__r.sirenum__CompetencyBundle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__CompetencyBundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__ShiftDemand__r.Skill_Attribute_OR_Bundle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__CompetencyBundleItem__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>sirenum__Competency__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Skill_Tickets</name>
        <label>Skill Tickets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_to_WFM_Role_And_Skill_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Match_Worker_And_WFM_Job_Role_tickets_to_Skills.sirenum__Competency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Revoked__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WFM_Job_Role</name>
        <label>WFM Job Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skill_Tickets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Team__r.sirenum__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Skill_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Match_Worker_And_WFM_Job_Role_tickets_to_Skills.sirenum__Competency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_A_Multi_Role_To_Resolve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__ShiftDemand__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sirenum__Shift__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RoleCompId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoleMatchcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SkillCompId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillMatchCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
