.vscode/allianceuat_compare/force-app/main/default/flows/s5m__BH4SFPublishNewShiftsForClosingReports.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Invokes the &quot;Publish new Shifts for Closing Reports&quot; adaptive batch</description>
        <name>Invoke_the_batch</name>
        <label>Invoke the batch</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>sirenum__AdaptiveInvoker</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>names</name>
            <value>
                <stringValue>Publish Shifts for Closing Reports</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sirenum__AdaptiveInvoker</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>FatalAlertIndex</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Shifts_available</name>
        <label>Are Shifts available</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Shifts Exist</defaultConnectorLabel>
        <rules>
            <name>Shifts_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shiftRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_the_batch</targetReference>
            </connector>
            <label>Shifts Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Side Effect Request: Initiate BH4SF Closing Report Shift Publication {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Side Effect Request: Initiate BH4SF Closing Report Shift Publication</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Shifts</name>
        <label>Get Shifts</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Shifts_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Published__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Published_Ever__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__AlertHighestSeverity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>FatalAlertIndex</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Broadcasts__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Cancelled__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>s5m__BH4SFClosingReport__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sirenum__Shift__c</object>
        <outputReference>shiftRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Shifts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Setup.sirenum__Sirenum_Global_Settings__c.sirenum__Auto_Publish_Placement_Shifts__c} &amp;&amp;
(ISPICKVAL({!$Record.sirenum__Status__c}, &apos;Complete&apos;) || ISPICKVAL({!$Record.sirenum__Status__c}, &apos;Failed&apos;)) &amp;&amp; ISPICKVAL({!$Record.sirenum__Type__c}, &apos;sirenum.RulesSideEffect&apos;)</filterFormula>
        <object>sirenum__SideEffectRequest__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>shiftRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift__c</objectType>
    </variables>
</Flow>
