.vscode/allianceuat_compare/force-app/main/default/flows/s5m__BH4SFManageJobOffers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Gets the job offers ready for creation update, or other existing job offers not flagged for DML</description>
        <name>getJobOffersForUpsert</name>
        <label>getJobOffersForUpsert</label>
        <locationX>6774</locationX>
        <locationY>2906</locationY>
        <actionName>sirenum__GetJobOffersReadyForUpsertInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckGetJobOffersError</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>captureFaultMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>demandFieldPath</name>
            <value>
                <stringValue>s5m__BH4SFJob__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isManagerApprovalRequired</name>
            <value>
                <elementReference>isManagerApproval</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>otherOffers</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shiftIds</name>
            <value>
                <elementReference>demandIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workerIds</name>
            <value>
                <elementReference>selectedWorkerIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sirenum__GetJobOffersReadyForUpsertInvocable</nameSegment>
        <outputParameters>
            <assignToReference>invitationsToCreate</assignToReference>
            <name>invitationsToCreate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>invitationsToUpdate</assignToReference>
            <name>invitationsToUpdate</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends invitation reminder emails to the contact email addresses in the Email Address Collection</description>
        <name>sendInvitationReminderEmail</name>
        <label>Send Invitation Reminder Email</label>
        <locationX>2030</locationX>
        <locationY>3530</locationY>
        <actionName>sirenum__SendEmailFromTemplateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkEmailError</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>captureFaultMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>emailTemplateInvitationReminder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipients</name>
            <value>
                <elementReference>activeJobOfferContactIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sirenum__SendEmailFromTemplateInvocable</nameSegment>
        <outputParameters>
            <assignToReference>emailSendError</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>emailRecipientsError</assignToReference>
            <name>errorRecipients</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Need  a new transaction set as the job offer is updated individually in a loop since WFM does not support bulkification when approving Job Offers requiring the updates to be performed in single DMLs</description>
        <name>Set_New_Transaction</name>
        <label>Set New Transaction</label>
        <locationX>4318</locationX>
        <locationY>3686</locationY>
        <actionName>sirenum__IdTypeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_Accepted_Job_Offers</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <nameSegment>sirenum__IdTypeInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Log_Entry_to_list</name>
        <label>Add Log Entry to list</label>
        <locationX>5022</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>jobOfferCompleteErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!jobOfferCompleteErrors} {!Iterate_Selected_Contacts.Name}  -  {!$Flow.FaultMessage} {!lineBreak} {!lineBreak}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Selected_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current contact Id to the activeJobOfferContactIds collection variable.</description>
        <name>addContactId</name>
        <label>Add Contact Id</label>
        <locationX>2294</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>activeJobOfferContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateActiveJobOffers.sirenum__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateActiveJobOffers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current Contact name to the errorRecipientsList collection.</description>
        <name>addContactNameToRecipients</name>
        <label>Add Contact Name To Recipients</label>
        <locationX>1986</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>errorRecipientsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateErrorContacts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateErrorContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current Email address to the errorRecipientsList collection.</description>
        <name>addEmailToRecipient</name>
        <label>Add Email To Recipient</label>
        <locationX>2162</locationX>
        <locationY>4778</locationY>
        <assignmentItems>
            <assignToReference>errorRecipientsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughRecipients</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current User&apos;s name to the errorRecipientsList collection.</description>
        <name>addUserNameToRecipients</name>
        <label>Add User Name To Recipients</label>
        <locationX>1986</locationX>
        <locationY>4370</locationY>
        <assignmentItems>
            <assignToReference>errorRecipientsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateErrorUsers.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateErrorUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Job_offers_to_approve_count</name>
        <label>Assign Job offers to approve count</label>
        <locationX>3944</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>jobOffersToApproveCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>jobOffersToApprove</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Closing_Reports</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Remaining_Openings</name>
        <label>Assign Remaining Openings</label>
        <locationX>3944</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>remainingOpeningsCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.TR1__Number_of_Openings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentClosingReportsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Closing_Reports</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>remainingOpeningsCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>currentClosingReportsCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_existing_accepted_job_offers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the current push notification and add to the collection</description>
        <name>assignCurrentPushNotification</name>
        <label>Assign Current Push Notification</label>
        <locationX>2294</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>pushNotificationCurrent.sirenum__WhoId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterateActiveJobOffers.sirenum__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pushNotificationCurrent.sirenum__WhatId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterateActiveJobOffers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pushNotificationCurrent.sirenum__TemplateName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pushNotificationTemplateName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pushNotificationEventCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pushNotificationCurrent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addContactId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the job offer to the current job offer</description>
        <name>assignJobOffer</name>
        <label>Assign Job Offer</label>
        <locationX>7038</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>CurrentJobOfferInLoop.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buildJobOffersForUpdate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentJobOfferInLoop.sirenum__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buildJobOffersForUpdate.sirenum__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentJobOfferInLoop.sirenum__Approval_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buildJobOffersForUpdate.sirenum__Approval_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalJobffersForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentJobOfferInLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>buildJobOffersForUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignJobOfferErrorToGeneralError</name>
        <label>Assign Job Offer Error To General Error</label>
        <locationX>6598</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>generalError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetJobOffersForUpsertError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>generalErrorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Captures the fault message to present to the user.</description>
        <name>captureFaultMessage</name>
        <label>Capture Fault Message</label>
        <locationX>842</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>generalError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>generalErrorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Job_Offer_Errors</name>
        <label>Clear Job Offer Errors</label>
        <locationX>4230</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>jobOfferCompleteErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contacts_For_errors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clears a list of variables and collections so that the existing values are not retained if a user performs another action.</description>
        <name>clearVariablesAndCollections</name>
        <label>Clear Variables And Collections</label>
        <locationX>5285</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>activeJobOfferContactIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>activeJobOfferContactIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pushNotificationEventCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>pushNotificationEventCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedWorkerIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>selectedWorkerIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorRecipientsList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>errorRecipientsList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getActiveJobOffers</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>getActiveJobOffers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invitationsToCreate</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>invitationsToCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalJobffersForUpdate</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>finalJobffersForUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailRecipientsError</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>emailRecipientsError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>displayCorrectScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Show a general error but allow continue to Existing Worker invitations screen</description>
        <name>generalErrorwithContinue</name>
        <label>General Error with Continue</label>
        <locationX>5542</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>generalError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>generalErrorMessageWithContinue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the recordId to the demandIds collection.</description>
        <name>populateDemandList</name>
        <label>Populate Demand List</label>
        <locationX>7129</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>demandIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Accepted_Job_Offers_to_Complete</name>
        <label>Set Accepted Job Offers to Complete</label>
        <locationX>4318</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>acceptedJobOfferToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Accepted_Job_Offers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acceptedJobOfferToUpdate.sirenum__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_job_offer_to_complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the amount of workers selected by the user.</description>
        <name>Set_Selected_Workers_Count</name>
        <label>Set Count Selected Workers</label>
        <locationX>3713</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>countSelectedWorkers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>selectedWorkerIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobOffersToReject</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>jobOffersToReject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>remainingOpeningsCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.TR1__Number_of_Openings__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>selectedWorkersForApprove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setApprovedJobOfferstoStale</name>
        <label>Set Approved Job Offers to Stale</label>
        <locationX>5366</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>iterateActiveJobOffersToReject.sirenum__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobOffersToReject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateActiveJobOffersToReject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateActiveJobOffersToReject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the amount of workers selected by the user.</description>
        <name>SetCountSelectedAvailableWorkers</name>
        <label>Set Count Selected Workers</label>
        <locationX>6554</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>countSelectedWorkers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>selectedWorkerIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedAvailableWorkers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the amount of workers selected by the user.</description>
        <name>setCountSelectedWorkersToReject</name>
        <label>Set Count Selected Workers</label>
        <locationX>5102</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>countSelectedWorkers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>selectedWorkerIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobOffersToReject</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>jobOffersToReject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>selectedWorkersToReject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the amount of workers selected by the user.</description>
        <name>SetCountSelectedWorkersToRemind</name>
        <label>Set Count Selected Workers</label>
        <locationX>1403</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>countSelectedWorkers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>selectedWorkerIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedWorkersToRemind</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the amount of workers selected by the user.</description>
        <name>SetCountSelectedWorkersToUninvite</name>
        <label>Set Count Selected Workers</label>
        <locationX>248</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>countSelectedWorkers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>selectedWorkerIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedWorkersToUninvite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the IsManagerApproval variable to False.</description>
        <name>setIsManagerApprovalFalse</name>
        <label>Set Is Manager Approval False</label>
        <locationX>6642</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>isManagerApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getJobOffersForUpsert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the IsManagerApproval variable to True.</description>
        <name>setIsManagerApprovalTrue</name>
        <label>Set Is Manager Approval True</label>
        <locationX>6906</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>isManagerApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getJobOffersForUpsert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the paramsAlreadyEntered variable as true</description>
        <name>setParamsEntered</name>
        <label>Set Params Entered</label>
        <locationX>5175</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>paramsAlreadyEntered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>clearVariablesAndCollections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the ScreenToDisplay variable to AvailableWorkersChoice.</description>
        <name>setScreenToAvailableWorkers</name>
        <label>Set Screen To Available Workers</label>
        <locationX>5087</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>screenToDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>availableWorkersChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>haveParamsAlreadyBeenEntered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the ScreenToDisplay variable to ExistingInvitationsChoice.</description>
        <name>setScreenToExistingInvitations</name>
        <label>Set Screen To Existing Invitations</label>
        <locationX>5483</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>screenToDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingInvitationsChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>clearVariablesAndCollections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Having been through the process of showing existing Job Offers we now need to make sure we show the warning if necessary.</description>
        <name>SetShowNoJobOffersWarning</name>
        <label>Set Show No Job Offers Warning</label>
        <locationX>5219</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>showNoJobOffersWarning</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setScreenToAvailableWorkers</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>approveWorkersChoice</name>
        <choiceText>Approve selected worker(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve selected worker(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>availableWorkersChoice</name>
        <choiceText>Find more workers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Find more workers</stringValue>
        </value>
    </choices>
    <choices>
        <name>existingInvitationsChoice</name>
        <choiceText>Existing Invitations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Invitations</stringValue>
        </value>
    </choices>
    <choices>
        <name>finishedChoice</name>
        <choiceText>or I’m done</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>or I’m done</stringValue>
        </value>
    </choices>
    <choices>
        <name>inviteFastestFingerFirstChoice</name>
        <choiceText>Invite the selected worker(s) with Fastest Finger First</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invite the selected worker(s) with Fastest Finger First</stringValue>
        </value>
    </choices>
    <choices>
        <name>inviteManagerApprovalChoice</name>
        <choiceText>Invite the selected worker(s) with Manager Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invite the selected worker(s) with Manager Approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>rejectWorkersChoice</name>
        <choiceText>Reject selected worker(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject selected worker(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>reminderChoice</name>
        <choiceText>Send a reminder to the selected worker(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send a reminder to the selected worker(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>uninviteWorkersChoice</name>
        <choiceText>Uninvite the selected worker(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uninvite the selected worker(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>viewExistingJobOffersChoice</name>
        <choiceText>View existing Job Offers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View existing Job Offers</stringValue>
        </value>
    </choices>
    <constants>
        <description>Error to present to the user when the Site, Location, Job Role, Job Type and Rota are not the same across all shifts.</description>
        <name>fieldsAreNotTheSameError</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ensure that the Site, Location, Job Role, Job Type and Rota are the same for all shifts.</stringValue>
        </value>
    </constants>
    <constants>
        <name>findResourceAdditionalFields</name>
        <dataType>String</dataType>
        <value>
            <stringValue>find_resource_additional_fields</stringValue>
        </value>
    </constants>
    <constants>
        <name>noExistingJobOffersError</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There are no existing job offers.</stringValue>
        </value>
    </constants>
    <constants>
        <description>The &quot;large&quot; size for the screens.</description>
        <name>screenSizeLarge</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Large</stringValue>
        </value>
    </constants>
    <constants>
        <description>The &quot;Medium&quot; size for screens.</description>
        <name>screenSizeMedium</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_there_existing_accepted_job_offers</name>
        <label>Are there existing accepted job offers</label>
        <locationX>3944</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Clear_Job_Offer_Errors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Accepted Job Offers Exist</defaultConnectorLabel>
        <rules>
            <name>No_Accepted_job_offers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobOffersToApproveCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accepted_Job_offer_Message_screen</targetReference>
            </connector>
            <label>No Accepted job offers</label>
        </rules>
        <rules>
            <name>More_job_offers_than_openings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobOffersToApproveCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>remainingOpeningsCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>More_Job_Offers_Than_Openings_Screen</targetReference>
            </connector>
            <label>More job offers than openings</label>
        </rules>
    </decisions>
    <decisions>
        <description>The decision to perform from the chosen action.</description>
        <name>availableWorkersAction</name>
        <label>Available Workers Action</label>
        <locationX>7412</locationX>
        <locationY>2282</locationY>
        <defaultConnectorLabel>Or I&apos;m done</defaultConnectorLabel>
        <rules>
            <name>inviteWorkersAction</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectAvailableWorkersAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>inviteFastestFingerFirstChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectAvailableWorkersAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>inviteManagerApprovalChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectAvailableWorkersActionMedium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>inviteFastestFingerFirstChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectAvailableWorkersActionMedium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>inviteManagerApprovalChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCountSelectedAvailableWorkers</targetReference>
            </connector>
            <label>Invite Workers Action</label>
        </rules>
        <rules>
            <name>viewExistingJobOffersAction</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectAvailableWorkersAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>viewExistingJobOffersChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectAvailableWorkersActionMedium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>viewExistingJobOffersChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>getActiveJobOffer</targetReference>
            </connector>
            <label>View Existing Job Offers Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Job_is_valid</name>
        <label>Check if Job is valid</label>
        <locationX>7041</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Invalid_Job_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Job is not valid</defaultConnectorLabel>
        <rules>
            <name>Job_is_valid</name>
            <conditionLogic>NOT(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.TR1__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job.s5m__BH4SFFillRateByClosingReports__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getActiveJobOffer</targetReference>
            </connector>
            <label>Job is valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Contact</name>
        <label>Check Selected Contact</label>
        <locationX>5154</locationX>
        <locationY>3794</locationY>
        <defaultConnector>
            <targetReference>Iterate_Selected_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Contact_With_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Selected_Contacts.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Accepted_Job_Offers.sirenum__Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Log_Entry_to_list</targetReference>
            </connector>
            <label>Is Contact With Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if EmailSendError is set.</description>
        <name>checkEmailError</name>
        <label>Check Email Error</label>
        <locationX>2030</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>sentRemindersScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Errors</defaultConnectorLabel>
        <rules>
            <name>errorSendingEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailSendError</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>emailSendError</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactsWithFailedEmails</targetReference>
            </connector>
            <label>Error Sending Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckGetJobOffersError</name>
        <label>Check Get Job Offers Error</label>
        <locationX>6774</locationX>
        <locationY>3014</locationY>
        <defaultConnector>
            <targetReference>createJobOffers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Job Offer Get Error</defaultConnectorLabel>
        <rules>
            <name>HasJobOfferGetError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetJobOffersForUpsertError</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetJobOffersForUpsertError</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignJobOfferErrorToGeneralError</targetReference>
            </connector>
            <label>Has Job Offer Get Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there are any non-complete job offers that should be deleted.</description>
        <name>checkIfAnyJobOffersToDelete</name>
        <label>Check If Any Job Offers To Delete</label>
        <locationX>446</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <targetReference>deleteJobOffers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Some Job Offers To Delete</defaultConnectorLabel>
        <rules>
            <name>noJobOffersToDelete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getJobOffersToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>screenWidthExistingInvitations</targetReference>
            </connector>
            <label>No Job Offers to Delete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if any records were found, to ensure that reminders are only sent when there are some non-complete job offers.</description>
        <name>checkIfAnySelectedActiveJobOffers</name>
        <label>Check If Any Selected Active Job Offers</label>
        <locationX>1700</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <targetReference>iterateActiveJobOffers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected Active Job Offers</defaultConnectorLabel>
        <rules>
            <name>noSelectedActiveJobOffers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActiveJobOffers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>screenWidthExistingInvitations</targetReference>
            </connector>
            <label>No Selected Active Job Offers</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfJobOfferExists</name>
        <label>Check If Job Offer Exists</label>
        <locationX>5285</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>setScreenToExistingInvitations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active Job Offer</defaultConnectorLabel>
        <rules>
            <name>noActiveJobOffer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActiveJobOffer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShouldShowNoExistingJobOffersScreen</targetReference>
            </connector>
            <label>No Active Job Offer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the current recipient contains the @ symbol to see if the recipient is an email address.</description>
        <name>checkIfRecipientContainsAtSymbol</name>
        <label>Check If Recipient Contains @ Symbol</label>
        <locationX>2074</locationX>
        <locationY>4670</locationY>
        <defaultConnector>
            <targetReference>addEmailToRecipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contains @ Symbol</defaultConnectorLabel>
        <rules>
            <name>doesNotContainAtSymbol</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughRecipients</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopThroughRecipients</targetReference>
            </connector>
            <label>Does Not Contain @ Symbol</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks what screen to display based on the ScreenToDisplay value.</description>
        <name>displayCorrectScreen</name>
        <label>Display Correct Screen</label>
        <locationX>5285</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>screenWidthAvailableWorkers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Available Workers</defaultConnectorLabel>
        <rules>
            <name>showExistingInvitationsScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screenToDisplay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>existingInvitationsChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenWidthExistingInvitations</targetReference>
            </connector>
            <label>Existing Invitations</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the activeJobOfferContactIds collection variable contains the current contact.</description>
        <name>doesTheContactExist</name>
        <label>Does The Contact Exist</label>
        <locationX>2206</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>assignCurrentPushNotification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>contactExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeJobOfferContactIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>iterateActiveJobOffers.sirenum__Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateActiveJobOffers</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>The decision to perform from the chosen action.</description>
        <name>existingInvitationsAction</name>
        <label>Existing Invitations Action</label>
        <locationX>3159</locationX>
        <locationY>2282</locationY>
        <defaultConnectorLabel>Or I&apos;m done</defaultConnectorLabel>
        <rules>
            <name>uninviteWorkers</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectExistingInvitationsAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>uninviteWorkersChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectExistingInvitationsActionMedium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>uninviteWorkersChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCountSelectedWorkersToUninvite</targetReference>
            </connector>
            <label>Uninvite Workers</label>
        </rules>
        <rules>
            <name>sendAReminder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectExistingInvitationsAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>reminderChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectExistingInvitationsActionMedium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>reminderChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCountSelectedWorkersToRemind</targetReference>
            </connector>
            <label>Send A Reminder</label>
        </rules>
        <rules>
            <name>findMoreWorkers</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectExistingInvitationsAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>availableWorkersChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectExistingInvitationsActionMedium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>availableWorkersChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>setScreenToAvailableWorkers</targetReference>
            </connector>
            <label>Find More Workers</label>
        </rules>
        <rules>
            <name>approveWorkers</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectExistingInvitationsAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>approveWorkersChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectExistingInvitationsActionMedium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>approveWorkersChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selected_Workers_Count</targetReference>
            </connector>
            <label>Approve Workers</label>
        </rules>
        <rules>
            <name>rejectWorkers</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectExistingInvitationsAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rejectWorkersChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectExistingInvitationsActionMedium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rejectWorkersChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCountSelectedWorkersToReject</targetReference>
            </connector>
            <label>Reject Workers</label>
        </rules>
    </decisions>
    <decisions>
        <description>Did the user request FFF or Manager Approval.</description>
        <name>fffOrManagerApproval</name>
        <label>FFF OR Manager Approval</label>
        <locationX>6774</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>setIsManagerApprovalTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invite With Manager Approval</defaultConnectorLabel>
        <rules>
            <name>inviteWithFastestFingerFirst</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectAvailableWorkersAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>inviteFastestFingerFirstChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectAvailableWorkersActionMedium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>inviteFastestFingerFirstChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setIsManagerApprovalFalse</targetReference>
            </connector>
            <label>Invite With Fastest Finger First</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Approval_Errors</name>
        <label>Has Approval Errors</label>
        <locationX>4230</locationX>
        <locationY>4352</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>getActiveJobOffer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Approval errors do not exist</defaultConnectorLabel>
        <rules>
            <name>Approval_Errors_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobOfferCompleteErrors</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Offer_Approval_Error_Screen</targetReference>
            </connector>
            <label>Approval Errors Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the user has already entered the params screen.</description>
        <name>haveParamsAlreadyBeenEntered</name>
        <label>Have Params Already Been Entered</label>
        <locationX>5087</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>parameterScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Params Not Entered</defaultConnectorLabel>
        <rules>
            <name>paramsHaveBeenEntered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paramsAlreadyEntered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clearVariablesAndCollections</targetReference>
            </connector>
            <label>Params Have Been Entered</label>
        </rules>
    </decisions>
    <decisions>
        <description>The decision to perform based on if the recordId is set.</description>
        <name>isRecordIdNull</name>
        <label>Is Record Id Null</label>
        <locationX>7041</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>populateDemandList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Null</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether to use the medium or large variant for the screen.</description>
        <name>screenWidthAvailableWorkers</name>
        <label>Screen Width</label>
        <locationX>7412</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>availableWorkersScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Large</defaultConnectorLabel>
        <rules>
            <name>screenWidthMediumAvailableWorkers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screenWidth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>screenSizeMedium</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>availableWorkersScreenMedium</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether to use the medium or large variant for the screen.</description>
        <name>screenWidthExistingInvitations</name>
        <label>Screen Width</label>
        <locationX>3159</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>existingInvitationsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Large</defaultConnectorLabel>
        <rules>
            <name>screenWidthMediumExistingInvitations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screenWidth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>screenSizeMedium</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>existingInvitationsScreenMedium</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
    </decisions>
    <decisions>
        <description>The decision to determine if the user has selected at least one worker to invite.</description>
        <name>SelectedAvailableWorkers</name>
        <label>Selected Workers</label>
        <locationX>6554</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>fffOrManagerApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Workers Selected</defaultConnectorLabel>
        <rules>
            <name>NoAvailableWorkersSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countSelectedWorkers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoAvailableWorkersSelectedScreen</targetReference>
            </connector>
            <label>No Workers Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>The decision to determine if the user has selected at least one worker to remind.</description>
        <name>selectedWorkersForApprove</name>
        <label>Selected Workers for approve</label>
        <locationX>3713</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Get_Accepted_Job_Offers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Workers Selected</defaultConnectorLabel>
        <rules>
            <name>No_Workers_Selected_For_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countSelectedWorkers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accepted_Job_offer_Message_screen</targetReference>
            </connector>
            <label>No Workers Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>The decision to determine if the user has selected at least one worker to remind.</description>
        <name>selectedWorkersToReject</name>
        <label>Selected Workers</label>
        <locationX>5102</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>getActiveJobOffersToReject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Workers Selected</defaultConnectorLabel>
        <rules>
            <name>noWorkersSelectedForRejection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countSelectedWorkers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>noWorkersSelectedToReject</targetReference>
            </connector>
            <label>No Workers Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>The decision to determine if the user has selected at least one worker to remind.</description>
        <name>SelectedWorkersToRemind</name>
        <label>Selected Workers</label>
        <locationX>1403</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>getActiveJobOffers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Workers Selected</defaultConnectorLabel>
        <rules>
            <name>NoWorkersSelectedToRemind</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countSelectedWorkers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoWorkersSelectedReminder</targetReference>
            </connector>
            <label>No Workers Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>The decision to determine if the user has selected at least one worker to invite.</description>
        <name>SelectedWorkersToUninvite</name>
        <label>Selected Workers</label>
        <locationX>248</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>getJobOffersToDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Workers Selected</defaultConnectorLabel>
        <rules>
            <name>NoWorkersSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countSelectedWorkers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoWorkersSelectedScreen</targetReference>
            </connector>
            <label>No Workers Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>When there are no existing Job Offers we should only warn the user if they tried to access them manually.</description>
        <name>ShouldShowNoExistingJobOffersScreen</name>
        <label>Should Show No Existing Job Offers Screen</label>
        <locationX>5087</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>SetShowNoJobOffersWarning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Show</defaultConnectorLabel>
        <rules>
            <name>DisplayNoExistingJobOffersScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>showNoJobOffersWarning</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoExistingJobOffers</targetReference>
            </connector>
            <label>Display No Existing Job Offers Screen</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>severityAlertPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>sirenum__Severity__c</picklistField>
        <picklistObject>sirenum__Alert__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>lineBreak</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br&gt;&apos;</expression>
    </formulas>
    <formulas>
        <description>The formatted text of the selected value of the Highest Severity Broken picklist, provided to the Invite Workers Search component.</description>
        <name>maxSeverity</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!highestSeverityBroken}, &quot;NONE&quot;)</expression>
    </formulas>
    <interviewLabel>Manage Job Offers {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Manage Job Offers</label>
    <loops>
        <description>Iterate the invitations to update, creating records with only the fields that need updating, avoiding the risk of overwriting fields that have been changed outside of the flow</description>
        <name>buildJobOffersForUpdate</name>
        <label>Build Job Offers For Update</label>
        <locationX>6950</locationX>
        <locationY>3230</locationY>
        <collectionReference>invitationsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignJobOffer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateJobOffers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Accepted_Job_Offers</name>
        <label>Iterate Accepted Job Offers</label>
        <locationX>4230</locationX>
        <locationY>3362</locationY>
        <collectionReference>jobOffersToApprove</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Accepted_Job_Offers_to_Complete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Approval_Errors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Selected_Contacts</name>
        <label>Iterate Selected Contacts</label>
        <locationX>4934</locationX>
        <locationY>3686</locationY>
        <collectionReference>selectedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Selected_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Iterate_Accepted_Job_Offers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates the active job offers.</description>
        <name>iterateActiveJobOffers</name>
        <label>Iterate Active Job Offers</label>
        <locationX>2030</locationX>
        <locationY>2822</locationY>
        <collectionReference>getActiveJobOffers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>doesTheContactExist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createPushNotifications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateActiveJobOffersToReject</name>
        <label>Iterate Active Job Offers</label>
        <locationX>5278</locationX>
        <locationY>2714</locationY>
        <collectionReference>getActiveJobOffersToReject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setApprovedJobOfferstoStale</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateRejectedJobOffers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the contact records where the Id is in emailRecipientsError.</description>
        <name>iterateErrorContacts</name>
        <label>Iterate Contacts With Failed Email</label>
        <locationX>1898</locationX>
        <locationY>3854</locationY>
        <collectionReference>getContactsWithFailedEmails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addContactNameToRecipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getUsersWithFailedEmails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the contact records where the Id or email is in emailRecipientsError.</description>
        <name>iterateErrorUsers</name>
        <label>Iterate Users With Failed Email</label>
        <locationX>1898</locationX>
        <locationY>4262</locationY>
        <collectionReference>getUsersWithFailedEmails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addUserNameToRecipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopThroughRecipients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the emailRecipientsError collection.</description>
        <name>loopThroughRecipients</name>
        <label>Loop Through Recipients</label>
        <locationX>1898</locationX>
        <locationY>4562</locationY>
        <collectionReference>emailRecipientsError</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkIfRecipientContainsAtSymbol</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sendEmailErrorScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createJobOffers</name>
        <label>Create Job Offers</label>
        <locationX>6950</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>buildJobOffersForUpdate</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>captureFaultMessage</targetReference>
        </faultConnector>
        <inputReference>invitationsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create push notifications.</description>
        <name>createPushNotifications</name>
        <label>Create Push Notifications</label>
        <locationX>2030</locationX>
        <locationY>3422</locationY>
        <connector>
            <targetReference>sendInvitationReminderEmail</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>captureFaultMessage</targetReference>
        </faultConnector>
        <inputReference>pushNotificationEventCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Delete any job offers that were retrieved.</description>
        <name>deleteJobOffers</name>
        <label>Delete Job Offers</label>
        <locationX>578</locationX>
        <locationY>2822</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getActiveJobOffer</targetReference>
        </connector>
        <faultConnector>
            <targetReference>captureFaultMessage</targetReference>
        </faultConnector>
        <inputReference>getJobOffersToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Get all the active job offers.</description>
        <name>Get_Accepted_Job_Offers</name>
        <label>Get Accepted Job Offers</label>
        <locationX>3944</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Job_offers_to_approve_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedWorkerIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>s5m__BH4SFJob__c</field>
            <operator>In</operator>
            <value>
                <elementReference>demandIds</elementReference>
            </value>
        </filters>
        <object>sirenum__Shift_Invitation__c</object>
        <outputReference>jobOffersToApprove</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>sirenum__Status__c</queriedFields>
        <queriedFields>sirenum__Contact__c</queriedFields>
        <sortField>sirenum__Contact__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Closing_Reports</name>
        <label>Get Closing Reports</label>
        <locationX>3944</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Remaining_Openings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Job__c</field>
            <operator>In</operator>
            <value>
                <elementReference>demandIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TR1__Closing_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_For_errors</name>
        <label>Get Contacts For errors</label>
        <locationX>4230</locationX>
        <locationY>3254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Accepted_Job_Offers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedWorkerIds</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>selectedContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>7041</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Job_is_valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>See if there is an active job offer from any of the input jobs.</description>
        <name>getActiveJobOffer</name>
        <label>Get Active Job Offer</label>
        <locationX>5285</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfJobOfferExists</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>captureFaultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>s5m__BH4SFJob__c</field>
            <operator>In</operator>
            <value>
                <elementReference>demandIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Stale</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift_Invitation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the active job offers.</description>
        <name>getActiveJobOffers</name>
        <label>Get Active Job Offers</label>
        <locationX>1700</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfAnySelectedActiveJobOffers</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>captureFaultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedWorkerIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Stale</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>s5m__BH4SFJob__c</field>
            <operator>In</operator>
            <value>
                <elementReference>demandIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift_Invitation__c</object>
        <sortField>sirenum__Contact__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the active job offers.</description>
        <name>getActiveJobOffersToReject</name>
        <label>Get Active Job Offers</label>
        <locationX>5278</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateActiveJobOffersToReject</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>generalErrorwithContinue</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedWorkerIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>s5m__BH4SFJob__c</field>
            <operator>In</operator>
            <value>
                <elementReference>demandIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift_Invitation__c</object>
        <sortField>sirenum__Contact__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all the contacts where the id is in the emailRecipientsError collection.</description>
        <name>getContactsWithFailedEmails</name>
        <label>Get Contacts With Failed Emails</label>
        <locationX>1898</locationX>
        <locationY>3746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateErrorContacts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>emailRecipientsError</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Job Offers to be deleted when the uninvite option is selected.</description>
        <name>getJobOffersToDelete</name>
        <label>Get Job Offers To Delete</label>
        <locationX>446</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfAnyJobOffersToDelete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedWorkerIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Stale</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>s5m__BH4SFJob__c</field>
            <operator>In</operator>
            <value>
                <elementReference>demandIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift_Invitation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all the users where the id is in the emailRecipientsError collection.</description>
        <name>getUsersWithFailedEmails</name>
        <label>Get Users With Failed Emails</label>
        <locationX>1898</locationX>
        <locationY>4154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateErrorUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>emailRecipientsError</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>WFM does not support bulkification when approving Job Offers requiring the updates to be performed in single DMLs</description>
        <name>Update_job_offer_to_complete</name>
        <label>Update job offer to complete</label>
        <locationX>4318</locationX>
        <locationY>3578</locationY>
        <connector>
            <targetReference>Set_New_Transaction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Iterate_Selected_Contacts</targetReference>
        </faultConnector>
        <inputReference>acceptedJobOfferToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the job offers returned from the apex call</description>
        <name>updateJobOffers</name>
        <label>Update Job Offers</label>
        <locationX>6950</locationX>
        <locationY>3530</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>clearVariablesAndCollections</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>captureFaultMessage</targetReference>
        </faultConnector>
        <inputReference>finalJobffersForUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRejectedJobOffers</name>
        <label>Update Rejected Job Offers</label>
        <locationX>5278</locationX>
        <locationY>3014</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getActiveJobOffer</targetReference>
        </connector>
        <faultConnector>
            <targetReference>generalErrorwithContinue</targetReference>
        </faultConnector>
        <inputReference>jobOffersToReject</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Accepted_Job_offer_Message_screen</name>
        <label>Accepted Job offer Message screen</label>
        <locationX>3713</locationX>
        <locationY>4886</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getActiveJobOffer</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_PleaseSelectAWorkerToReject</name>
            <fieldText>&lt;p&gt;Please select at least one worker to approve, with the offer in Accepted status.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The Available Workers Screen.</description>
        <name>availableWorkersScreen</name>
        <label>Available Workers Screen</label>
        <locationX>7544</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>availableWorkersAction</targetReference>
        </connector>
        <fields>
            <name>availableWorkersScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>availableWorkersScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AvailableWorkersSummaries</name>
                    <extensionName>sirenum:recordSummaries</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordIds</name>
                        <value>
                            <elementReference>demandIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxHeight</name>
                        <value>
                            <stringValue>20vh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldSetName</name>
                        <value>
                            <stringValue>ils_find_workers_fields</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AvailableWorkersSpace</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>InviteWorkersSearch</name>
                    <extensionName>sirenum:inviteWorkersSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>demand</name>
                        <value>
                            <elementReference>demandIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>demandFieldPath</name>
                        <value>
                            <stringValue>s5m__BH4SFJob__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>highestSeverityBroken</name>
                        <value>
                            <elementReference>maxSeverity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldSetName</name>
                        <value>
                            <stringValue>ils_find_workers_fields</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maximumDistance</name>
                        <value>
                            <elementReference>maximumDistance</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minimumPercentage</name>
                        <value>
                            <elementReference>minimumPercentage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxHeight</name>
                        <value>
                            <stringValue>37vh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Available Workers</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>generator</name>
                        <value>
                            <stringValue>BH4SFJob_Shift_Template_Generator</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedWorkerIds</assignToReference>
                        <name>selectionIds</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>availableWorkersScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>selectAvailableWorkersAction</name>
                    <choiceReferences>inviteFastestFingerFirstChoice</choiceReferences>
                    <choiceReferences>inviteManagerApprovalChoice</choiceReferences>
                    <choiceReferences>viewExistingJobOffersChoice</choiceReferences>
                    <choiceReferences>finishedChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>inviteFastestFingerFirstChoice</defaultSelectedChoiceReference>
                    <fieldText>Select an action to perform:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The Available Workers Screen using a single column.</description>
        <name>availableWorkersScreenMedium</name>
        <label>Available Workers Screen</label>
        <locationX>7280</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>availableWorkersAction</targetReference>
        </connector>
        <fields>
            <name>availableWorkersScreenMedium_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>availableWorkersScreenMedium_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AvailableWorkersSummariesMedium</name>
                    <extensionName>sirenum:recordSummaries</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordIds</name>
                        <value>
                            <elementReference>demandIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxHeight</name>
                        <value>
                            <stringValue>20vh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldSetName</name>
                        <value>
                            <stringValue>ils_find_workers_fields</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AvailableWorkersSpaceSingleColumn</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>InviteWorkersSearchMedium</name>
                    <extensionName>sirenum:inviteWorkersSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>demand</name>
                        <value>
                            <elementReference>demandIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>demandFieldPath</name>
                        <value>
                            <stringValue>s5m__BH4SFJob__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>highestSeverityBroken</name>
                        <value>
                            <elementReference>maxSeverity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldSetName</name>
                        <value>
                            <stringValue>ils_find_workers_fields</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maximumDistance</name>
                        <value>
                            <elementReference>maximumDistance</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minimumPercentage</name>
                        <value>
                            <elementReference>minimumPercentage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Available Workers</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxHeight</name>
                        <value>
                            <stringValue>20vh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>generator</name>
                        <value>
                            <stringValue>BH4SFJob_Shift_Template_Generator</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedWorkerIds</assignToReference>
                        <name>selectionIds</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>selectAvailableWorkersActionMedium</name>
                    <choiceReferences>inviteFastestFingerFirstChoice</choiceReferences>
                    <choiceReferences>inviteManagerApprovalChoice</choiceReferences>
                    <choiceReferences>viewExistingJobOffersChoice</choiceReferences>
                    <choiceReferences>finishedChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>inviteFastestFingerFirstChoice</defaultSelectedChoiceReference>
                    <fieldText>Select an action to perform:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The Existing Invitations Screen.</description>
        <name>existingInvitationsScreen</name>
        <label>Existing Invitations Screen</label>
        <locationX>3291</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>existingInvitationsAction</targetReference>
        </connector>
        <fields>
            <name>existingInvitationsScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>existingInvitationsScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExistingInvitationsSummaries</name>
                    <extensionName>sirenum:recordSummaries</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordIds</name>
                        <value>
                            <elementReference>demandIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxHeight</name>
                        <value>
                            <stringValue>16vh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldSetName</name>
                        <value>
                            <stringValue>ils_find_workers_fields</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ExistingInvitationsSpace</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ExistingWorkerInvitationsLWC</name>
                    <extensionName>sirenum:existingWorkerInvitations</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>demand</name>
                        <value>
                            <elementReference>demandIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxHeight</name>
                        <value>
                            <stringValue>37vh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Existing Job Offers</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>highestSeverityBroken</name>
                        <value>
                            <stringValue>Fatal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldSetName</name>
                        <value>
                            <stringValue>ils_find_workers_fields</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>demandFieldPath</name>
                        <value>
                            <stringValue>s5m__BH4SFJob__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>demandOrderByFieldPath</name>
                        <value>
                            <stringValue>TR1__Estimated_Start_Date__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>generator</name>
                        <value>
                            <stringValue>BH4SFJob_Shift_Template_Generator</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedWorkerIds</assignToReference>
                        <name>selectionIds</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>existingInvitationsScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>selectExistingInvitationsAction</name>
                    <choiceReferences>availableWorkersChoice</choiceReferences>
                    <choiceReferences>reminderChoice</choiceReferences>
                    <choiceReferences>uninviteWorkersChoice</choiceReferences>
                    <choiceReferences>approveWorkersChoice</choiceReferences>
                    <choiceReferences>rejectWorkersChoice</choiceReferences>
                    <choiceReferences>finishedChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>availableWorkersChoice</defaultSelectedChoiceReference>
                    <fieldText>Select an action to perform:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approve_Workers_Message_Large</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;This action may take a little time. Please wait until the results are shown as closing the dialog early may prevent the approvals from being done.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>selectExistingInvitationsAction</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>approveWorkersChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The Existing Invitations Screen using a single column.</description>
        <name>existingInvitationsScreenMedium</name>
        <label>Existing Invitations Screen</label>
        <locationX>3027</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>existingInvitationsAction</targetReference>
        </connector>
        <fields>
            <name>existingInvitationsScreenMedium_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>existingInvitationsScreenMedium_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExistingInvitationsSummariesMedium</name>
                    <extensionName>sirenum:recordSummaries</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordIds</name>
                        <value>
                            <elementReference>demandIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxHeight</name>
                        <value>
                            <stringValue>14vh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldSetName</name>
                        <value>
                            <stringValue>ils_find_workers_fields</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ExistingInvitationsSpaceSingleColumn</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ExistingWorkerInvitationsLWCMedium</name>
                    <extensionName>sirenum:existingWorkerInvitations</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>demand</name>
                        <value>
                            <elementReference>demandIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Existing Job Offers</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>highestSeverityBroken</name>
                        <value>
                            <stringValue>Fatal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldSetName</name>
                        <value>
                            <stringValue>ils_find_workers_fields</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxHeight</name>
                        <value>
                            <stringValue>20vh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>demandFieldPath</name>
                        <value>
                            <stringValue>s5m__BH4SFJob__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>demandOrderByFieldPath</name>
                        <value>
                            <stringValue>TR1__Estimated_Start_Date__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>generator</name>
                        <value>
                            <stringValue>BH4SFJob_Shift_Template_Generator</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedWorkerIds</assignToReference>
                        <name>selectionIds</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>selectExistingInvitationsActionMedium</name>
                    <choiceReferences>availableWorkersChoice</choiceReferences>
                    <choiceReferences>reminderChoice</choiceReferences>
                    <choiceReferences>uninviteWorkersChoice</choiceReferences>
                    <choiceReferences>approveWorkersChoice</choiceReferences>
                    <choiceReferences>rejectWorkersChoice</choiceReferences>
                    <choiceReferences>finishedChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>availableWorkersChoice</defaultSelectedChoiceReference>
                    <fieldText>Select an action to perform:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approve_Message_Medium</name>
            <fieldText>&lt;p&gt;This action may take a little time. Please wait until the results are shown as closing the dialog early may prevent the approvals from being done.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>selectExistingInvitationsActionMedium</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>approveWorkersChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>generalErrorMessageWithContinue</name>
        <label>General Error Message with Continue</label>
        <locationX>5542</locationX>
        <locationY>3230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>screenWidthExistingInvitations</targetReference>
        </connector>
        <fields>
            <name>errorMessageWithContinue</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;An error occurred. {!generalError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The General Error Screen.</description>
        <name>generalErrorScreen</name>
        <label>General Error Screen</label>
        <locationX>842</locationX>
        <locationY>3038</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>generalErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;An error occurred. {!generalError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Job_Screen</name>
        <label>Invalid Job Screen</label>
        <locationX>8798</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invalid_Job_Message</name>
            <fieldText>&lt;p&gt;Sorry, this Job is no longer valid. It may be filled, closed, cancelled, or already finished.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Job_Offer_Approval_Error_Screen</name>
        <label>Job Offer Approval Error Screen</label>
        <locationX>4098</locationX>
        <locationY>4460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getActiveJobOffer</targetReference>
        </connector>
        <fields>
            <name>Job_Offer_Complete_Errors</name>
            <fieldText>&lt;p&gt;{!jobOfferCompleteErrors}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>More_Job_Offers_Than_Openings_Screen</name>
        <label>More Job Offers Than Openings Screen</label>
        <locationX>3834</locationX>
        <locationY>3146</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getActiveJobOffer</targetReference>
        </connector>
        <fields>
            <name>Job_Offers_Exceed_Openings_Message</name>
            <fieldText>&lt;p&gt;Sorry, you have selected more workers than the number of openings for the Job.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Display a message when the user did not select at least one worker.</description>
        <name>NoAvailableWorkersSelectedScreen</name>
        <label>No Workers Selected</label>
        <locationX>6334</locationX>
        <locationY>2606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>screenWidthAvailableWorkers</targetReference>
        </connector>
        <fields>
            <name>PleaseSelectAvailableWorkerText</name>
            <fieldText>&lt;p&gt;Please select at least one worker to invite.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displayed when there are no existing Job Offers.</description>
        <name>NoExistingJobOffers</name>
        <label>No Existing Job Offers</label>
        <locationX>4955</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setScreenToAvailableWorkers</targetReference>
        </connector>
        <fields>
            <name>NoJobOffersWarning</name>
            <fieldText>&lt;p&gt;There are no existing Job Offers.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Find More Workers</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoWorkersSelectedReminder</name>
        <label>No Workers Selected</label>
        <locationX>1106</locationX>
        <locationY>2606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>screenWidthExistingInvitations</targetReference>
        </connector>
        <fields>
            <name>PleaseSelectAWorkerForReminder</name>
            <fieldText>&lt;p&gt;Please select at least one worker to send a reminder.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoWorkersSelectedScreen</name>
        <label>No Workers Selected</label>
        <locationX>50</locationX>
        <locationY>2606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>screenWidthExistingInvitations</targetReference>
        </connector>
        <fields>
            <name>PleaseSelectAWorker</name>
            <fieldText>&lt;p&gt;Please select at least one worker to uninvite.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>noWorkersSelectedToReject</name>
        <label>No Workers Selected</label>
        <locationX>4926</locationX>
        <locationY>2606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>screenWidthExistingInvitations</targetReference>
        </connector>
        <fields>
            <name>PleaseSelectAWorkerToReject</name>
            <fieldText>&lt;p&gt;Please select at least one worker to reject.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The Parameter Screen.</description>
        <name>parameterScreen</name>
        <label>Parameter Screen</label>
        <locationX>5175</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setParamsEntered</targetReference>
        </connector>
        <fields>
            <name>Explanation</name>
            <fieldText>&lt;p&gt;Before you continue finding more workers please review these parameters.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>minimumPercentage</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>60.0</numberValue>
            </defaultValue>
            <fieldText>Minimum Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Choose how good a match the worker must be for the job. Workers with a match percentage less than this are not considered. A 100% match means the Worker is a perfect match for the job.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>highestSeverityBroken</name>
            <choiceReferences>severityAlertPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Fatal</stringValue>
            </defaultValue>
            <fieldText>Highest Severity Broken</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;The worker&apos;s match percentage is reduced when certain rules are broken. However, rules have a severity and this is used to make sure that workers with broken rules with severities higher than this selection are not considered. If any broken rule should exclude the worker choose “None”. If no broken rule should exclude the worker choose “Fatal”.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>maximumDistance</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>$Setup.sirenum__Candidate_Search_Settings__c.sirenum__Maximum_Distance_from_Work_Site__c</elementReference>
            </defaultValue>
            <fieldText>Maximum Distance Override ({!$Setup.sirenum__Candidate_Search_Settings__c.sirenum__Distance_Units__c})</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Workers are only considered if they live within a default as-the-crow-flies distance of the job&apos;s site. This allows that default distance to be overridden.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The screen to display the error message and list of error recipients if there are any.</description>
        <name>sendEmailErrorScreen</name>
        <label>Send Email Error Screen</label>
        <locationX>1898</locationX>
        <locationY>5054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>emailSendErrorText</name>
            <fieldText>&lt;p&gt;{!emailSendError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>emailRecipientsErrorText</name>
            <fieldText>&lt;p&gt;{!errorRecipientsList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The screen displayed once reminders have been sent to the selected workers.</description>
        <name>sentRemindersScreen</name>
        <label>Sent Reminders Screen</label>
        <locationX>2162</locationX>
        <locationY>3746</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>clearVariablesAndCollections</targetReference>
        </connector>
        <fields>
            <name>sentRemindersText</name>
            <fieldText>&lt;p&gt;Reminders have been sent to the selected workers.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Existing Job Offers</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>6915</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isRecordIdNull</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>acceptedJobOfferToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift_Invitation__c</objectType>
    </variables>
    <variables>
        <description>The contact ids of those with active job offers.</description>
        <name>activeJobOfferContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Has the flow already captured the values of the fields (site, rota, location, job type, job role) that need to be the same across all shifts.</description>
        <name>areShiftFieldsSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>It is not possible to check the size of a collection in a flow. Instead, the amount of selected workers is counted after the action is performed.</description>
        <name>countSelectedWorkers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentClosingReportsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurrentJobOfferInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift_Invitation__c</objectType>
    </variables>
    <variables>
        <name>demandIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailRecipientsError</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The error message sent back in the results of the email invocable method</description>
        <name>emailSendError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The email template for the invitation reminder</description>
        <name>emailTemplateInvitationReminder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Invitation_Reminder</stringValue>
        </value>
    </variables>
    <variables>
        <name>errorRecipientsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The final job offers for update, with only the fields for update in them</description>
        <name>finalJobffersForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift_Invitation__c</objectType>
    </variables>
    <variables>
        <description>A variable used to set errors against to be used in the General Error screen</description>
        <name>generalError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <description>The error returned from the GetJobOffersForUpsert apex call</description>
        <name>GetJobOffersForUpsertError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A list of invitations to be created</description>
        <name>invitationsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift_Invitation__c</objectType>
    </variables>
    <variables>
        <description>A list of invitations to update</description>
        <name>invitationsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift_Invitation__c</objectType>
    </variables>
    <variables>
        <description>Whether the Job Offers should be flagged for manager approval or not</description>
        <name>isManagerApproval</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A concat of errors when saving updates when completing job offers</description>
        <name>jobOfferCompleteErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobOffersToApprove</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift_Invitation__c</objectType>
    </variables>
    <variables>
        <name>jobOffersToApproveCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>jobOffersToReject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift_Invitation__c</objectType>
    </variables>
    <variables>
        <name>jobRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>logEntriesEmpty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__LogEntry__c</objectType>
    </variables>
    <variables>
        <name>logEntriesForInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__LogEntry__c</objectType>
    </variables>
    <variables>
        <name>logEntriesForView</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__LogEntry__c</objectType>
    </variables>
    <variables>
        <name>logEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__LogEntry__c</objectType>
    </variables>
    <variables>
        <name>paramsAlreadyEntered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The current push notification in an iteration</description>
        <name>pushNotificationCurrent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__PushNotificationEvent__e</objectType>
    </variables>
    <variables>
        <description>A collection to hold push notification events ready for creation. This allows adding What and Who IDs whilst iterating the active Job Offers</description>
        <name>pushNotificationEventCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__PushNotificationEvent__e</objectType>
    </variables>
    <variables>
        <name>pushNotificationTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Push_Notify_Invite_Reminder</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the number of remaining openings for the current Job.</description>
        <name>remainingOpeningsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>rota</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenToDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input property allowing the width of certain screens to be changed. Must be one of &quot;Medium&quot; or &quot;Large&quot;.</description>
        <name>screenWidth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>screenSizeMedium</elementReference>
        </value>
    </variables>
    <variables>
        <name>selectedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>A list of the Ids of the workers that have been selected by the user on which to perform the selected action.</description>
        <name>selectedWorkerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Controls display of a screen warning the user that there are no existing Job Offers.</description>
        <name>showNoJobOffersWarning</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>site</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
