.vscode/allianceuat_compare/force-app/main/default/flows/Set_Invoice_Name_with_Award_Level_as_Default.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Invoice_Name_Null</name>
        <label>Is Invoice Name Null?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_for_Invoice_Name_on_MPR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>ALN-273: Create Flow to set default. Set Invoice Name on MPR to be updated with AwardLevel.Name. Cater for Invoice Name being changed</description>
    <environments>Default</environments>
    <interviewLabel>Set Invoice Name with Award Level as Default {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Invoice Name with Award Level as Default - Part 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Default_for_Invoice_Name_on_MPR</name>
        <label>Set Default for Invoice Name on MPR</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_Name__c</field>
            <value>
                <elementReference>$Record.tc9_et__Award_Level__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Invoice_Name_Null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Invoice_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>tc9_et__Minimum_Pay_Rate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Update_Assignments</name>
        <label>Update Assignments</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <flowName>Set_Invoice_Name_Default_Part_2</flowName>
        <inputAssignments>
            <name>varMPRrecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
