.vscode/allianceuat_compare/force-app/main/default/flows/Shift_Create_Update_Protect_distinct_Skill_values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_distinct_name</name>
        <label>Add distinct name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>distinctTicketNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Bundle_Items.sirenum__Competency__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Bundle_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_duplicate_name</name>
        <label>Add duplicate name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>duplicateTicketNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Bundle_Items.sirenum__Competency__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Bundle_Items</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Duplicate_tickets</name>
        <label>Duplicate tickets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>The following duplicate Competencies (across Competency Bundle and Skill Bundle) must be resolved before proceeding:
{!duplicateTicketNames}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Any_duplicates</name>
        <label>Any duplicates?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>duplicateTicketNames</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_tickets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Distinct_name_already_exists</name>
        <label>Distinct name already exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_distinct_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>distinctTicketNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Bundle_Items.sirenum__Competency__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_duplicate_name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Ensures that there are no overlaps in the items of the Skill bundle (OR) and the OOTB bundle (AND)</description>
    <environments>Default</environments>
    <interviewLabel>Shift: Create/Update: Protect distinct Skill values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shift: Create/Update: Protect distinct Skill values</label>
    <loops>
        <name>Loop_Bundle_Items</name>
        <label>Loop Bundle Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Bundle_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Distinct_name_already_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_duplicates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Bundle Items of Skill bundle (OR) and OOTB bundle (AND)</description>
        <name>Get_Bundle_Items</name>
        <label>Get Bundle Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Bundle_Items</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>sirenum__CompetencyBundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Skill_Attribute_OR_Bundle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__CompetencyBundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__CompetencyBundle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__CompetencyBundleItem__c</object>
        <sortField>sirenum__Competency__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bundle_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__CompetencyBundle__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Skill_Attribute_OR_Bundle__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sirenum__Shift__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>distinctTicketNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>duplicateTicketNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
