.vscode/allianceuat_compare/force-app/main/default/flows/Update_Default_Pay_Rate_on_PLR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Values</name>
        <label>Set Values</label>
        <locationX>270</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_PLR.LLR_Assignment_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_PLR.LLR_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_PLR.tc9_pr__Leave_Liability_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Hourly_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfPLR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_PLR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeaveAccrualRecord.Payee_Leave_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PLR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeaveAccrualRecord.Assignment_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeaveAccrualRecord.Assignment_Rate_Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeaveAccrualRecord.Old_Liability_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PLR.tc9_pr__Leave_Liability_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeaveAccrualRecord.Revaluation_Leave_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PLR.tc9_pr__Current_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeaveAccrualRecord.New_Liability_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Hourly_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfLeaveAccrual</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeaveAccrualRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_PLR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Liability_Rate_Change</name>
        <label>Check Liability Rate Change</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Skip LAR Creation</defaultConnectorLabel>
        <rules>
            <name>Proceed_with_LAR_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeaveAccrualRecord.New_Liability_Rate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LeaveAccrualRecord.Old_Liability_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_LARs</targetReference>
            </connector>
            <label>Proceed with LAR Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Pay_Rate</name>
        <label>Default Pay Rate?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Update</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_PLR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Default_Pay_Rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Effective_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PLR</targetReference>
            </connector>
            <label>Yes Default - Update PLR</label>
        </rules>
        <rules>
            <name>Yes_Pay_Code_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Pay_code__r.Define_as_default_pay_rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Effective_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hourly_Rate_on_AR</targetReference>
            </connector>
            <label>Yes - Pay Code Default</label>
        </rules>
    </decisions>
    <description>Flow to update the LLR on the PLR from Assignment Rate.  Needed for GL Accrual Journals
ALN-33 - Created</description>
    <environments>Default</environments>
    <interviewLabel>Update Default Pay Rate on PLR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Leave Liability Rate on PLR</label>
    <loops>
        <name>Loop_through_PLR</name>
        <label>Loop through PLR</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <collectionReference>Get_PLR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PLRs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_LARs</name>
        <label>Create LARs</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Update_Leave_Rate_Updated</targetReference>
        </connector>
        <inputReference>ListOfLeaveAccrual</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_PLR</name>
        <label>Get PLR</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_PLR</targetReference>
        </connector>
        <filterLogic>1 AND(2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Assignment__r.tc9_pr__Payee__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Leave_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Annual Leave</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Leave_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Long Service Leave</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Leave_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Time Off in Lieu</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Payee_Leave_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Hourly_Rate_on_AR</name>
        <label>Update Hourly Rate on AR</label>
        <locationX>138</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_PLR</targetReference>
        </connector>
        <inputAssignments>
            <field>tc9_pr__Default_Pay_Rate__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Hourly_Rate__c</field>
            <value>
                <elementReference>$Record.tc9_pr__Pay_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Leave_Rate_Updated</name>
        <label>Update Leave Rate Updated</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Leave_Liability_Rate_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PLRs</name>
        <label>Update PLRs</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Check_Liability_Rate_Change</targetReference>
        </connector>
        <inputReference>ListOfPLR</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Default_Pay_Rate</targetReference>
        </connector>
        <filterFormula>OR(
    AND(
        ISBLANK({!$Record.tc9_pr__Expiry_Date__c}),
        {!$Record.tc9_pr__Effective_Date__c} &lt;= TODAY(),
        {!$Record.Leave_Liability_Rate_Updated__c} = false
    ),
    AND(
        ISBLANK({!$Record.tc9_pr__Expiry_Date__c}),
        {!$Record.tc9_pr__Effective_Date__c} &lt;= TODAY(),
        ISCHANGED({!$Record.tc9_pr__Pay_Rate__c}),
        {!$Record.Leave_Liability_Rate_Updated__c} = true
    )
)</filterFormula>
        <object>tc9_pr__Assignment_Rate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LeaveAccrualRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Leave_Accrual_Revaluation__c</objectType>
    </variables>
    <variables>
        <name>ListOfLeaveAccrual</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Leave_Accrual_Revaluation__c</objectType>
    </variables>
    <variables>
        <name>ListOfPLR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Leave_Rule__c</objectType>
    </variables>
</Flow>
