.vscode/allianceuat_compare/force-app/main/default/flows/Update_Shift_from_Deleted_Break_Shift.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Which_Break</name>
        <label>Which Break?</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No Break</defaultConnectorLabel>
        <rules>
            <name>Break_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Shift.Break1_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Break_1</targetReference>
            </connector>
            <label>Break 1</label>
        </rules>
        <rules>
            <name>Break_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Shift.Break_2_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Break_2</targetReference>
            </connector>
            <label>Break 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delete Breaks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Shift from Deleted Break Shift</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Shift</name>
        <label>Get Shift</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Break</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Shift__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Break1_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Break_2_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Break_1</name>
        <label>Update Break 1</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Break1_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__BreakStartTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Break_Length__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__TSE_First_Break_Paid__c</field>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Break_2</name>
        <label>Update Break 2</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Break_2_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__Second_Break_Length__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__Second_Break_Start_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ext_sirint__TSE_Second_Break_Paid__c</field>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Shift</targetReference>
        </connector>
        <object>sirenum__Shift_Break__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
