.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Connect_App_Push_Notification_for_Site_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Time_Change</name>
        <label>Published?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Published__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.s5m__BH4SFJob__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Placement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Push_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Connect App Push Notification for Site Change</description>
    <environments>Default</environments>
    <interviewLabel>1218 - Connect App Push Notification for Site Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Connect App Push Notification for Site Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Push_Notification</name>
        <label>Create Push Notification</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>sirenum__Message__c</field>
            <value>
                <stringValue>The site for an upcoming shift has changed. Press to view the new location.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Title__c</field>
            <value>
                <stringValue>Your shift location has changed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WhatId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WhoId__c</field>
            <value>
                <elementReference>$Record.sirenum__Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__PushNotificationEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Time_Change</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>sirenum__Site__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>sirenum__Shift__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
