.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Create_Sourcing_Application_on_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Screening_Pack</name>
        <label>Send Screening Pack</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Branch_Email_Types_Subflow_Agency.EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Agency.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Screening_Pack_AES</name>
        <label>Send Screening Pack AES</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Branch_Email_Types_Subflow_ExtraStaff.EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_ExtraStaff.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Screening_Pack_ARRH</name>
        <label>Send Screening Pack ARRH</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Branch_Email_Types_Subflow_R_R.EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_R_R.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Agency_or_R_R</name>
        <label>Agency or R&amp;R</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Job.AA_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nursing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prescreening_Document_Pack</targetReference>
            </connector>
            <label>Agency</label>
        </rules>
        <rules>
            <name>R_R</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Job.AA_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rural &amp; Remote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prescreening_Document_Pack_RR</targetReference>
            </connector>
            <label>R&amp;R</label>
        </rules>
        <rules>
            <name>ExtraStaff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Job.AA_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health &amp; Hospo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Prescreening_Document_Pack</targetReference>
            </connector>
            <label>ExtraStaff</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 Create Sourcing Application on Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Create Sourcing Application on Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Application</name>
        <label>Application</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_Sub_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>TR1__Applicant__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Job__c</field>
            <value>
                <elementReference>get_Job.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Stage__c</field>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </inputAssignments>
        <object>TR1__Application_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Document_Assignment</name>
        <label>Create Document Assignment</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_Email_Template_ExtraStaff</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Prescreening_Document_Pack.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Assignment</name>
        <label>Create Document Assignment</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_Email_Template_Agency</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>Get_Prescreening_Document_Pack.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Assignment_RR</name>
        <label>Create Document Assignment</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_Email_Template_R_R</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>Get_Prescreening_Document_Pack_RR.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sub_Status</name>
        <label>Create Sub Status</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Agency_or_R_R</targetReference>
        </connector>
        <inputAssignments>
            <field>TR1__ATS_Stage__c</field>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Application__c</field>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Value__c</field>
            <value>
                <stringValue>New Candidate</stringValue>
            </value>
        </inputAssignments>
        <object>TR1__Sub_Status__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_2_of_Get_Prescreening_Document_Pack</name>
        <label>Get Prescreening Document Pack</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Create_Document_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Screening Pack - ExtraStaff</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Pack__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Agency</name>
        <label>Get Email Template - Agency</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Branch_Email_Types_Subflow_Agency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AN - Send Screening Pack</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_ExtraStaff</name>
        <label>Get Email Template - ExtraStaff</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Branch_Email_Types_Subflow_ExtraStaff</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AES - Send Screening Pack</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_R_R</name>
        <label>Get Email Template - R&amp;R</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Branch_Email_Types_Subflow_R_R</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ARRH - Send Screening Pack</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Job</name>
        <label>get Job</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Branch_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alliance Nursing - Website registrations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prescreening_Document_Pack</name>
        <label>Get Prescreening Document Pack</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Document_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Screening Pack - Nursing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Pack__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prescreening_Document_Pack_RR</name>
        <label>Get Prescreening Document Pack</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Document_Assignment_RR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Screening Pack - R&amp;R</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Pack__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Branch_Email</name>
        <label>Get Related Branch Email</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Job.Branch__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Email__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Candidate_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Created_via_form__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Branch_Email_Types_Subflow_Agency</name>
        <label>Branch Email Types Subflow - Agency</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Send_Screening_Pack</targetReference>
        </connector>
        <flowName>X1218_Branch_Email_Types_Subflow</flowName>
        <inputAssignments>
            <name>BranchName</name>
            <value>
                <elementReference>get_Job.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTypes</name>
            <value>
                <stringValue>Recruitment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Branch_Email_Types_Subflow_ExtraStaff</name>
        <label>Branch Email Types Subflow - ExtraStaff</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Send_Screening_Pack_AES</targetReference>
        </connector>
        <flowName>X1218_Branch_Email_Types_Subflow</flowName>
        <inputAssignments>
            <name>BranchName</name>
            <value>
                <elementReference>get_Job.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTypes</name>
            <value>
                <stringValue>Recruitment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Branch_Email_Types_Subflow_R_R</name>
        <label>Branch Email Types Subflow - R&amp;R</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Send_Screening_Pack_ARRH</targetReference>
        </connector>
        <flowName>X1218_Branch_Email_Types_Subflow</flowName>
        <inputAssignments>
            <name>BranchName</name>
            <value>
                <elementReference>get_Job.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTypes</name>
            <value>
                <stringValue>Recruitment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>JobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
