.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Update_hours_for_approved_public_holiday_shifts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Hours_captured</name>
        <label>Hours captured?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Billable_Shift_Length_to_1min</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HC_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Actual_Start_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Actual_End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billable_Shift_Length_to_7_6h</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Public_Holiday_Shift_of_7_6_Hours</name>
        <label>Is Public Holiday Shift of &lt;7.6 Hours?</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Actual_Shift_Length_Decimal__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>7.6</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Public_Holiday__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sponsored_Nurse_Competency</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sponsored_Nurse</name>
        <label>Is Sponsored Nurse?</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SN_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Qualification_for_Sponsored_Nurse.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hours_captured</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forEndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.sirenum__Scheduled_Start_Time__c} + (7.6/24)</expression>
    </formulas>
    <formulas>
        <name>forEndtime1min</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.sirenum__Scheduled_Start_Time__c}+ (1/1440)</expression>
    </formulas>
    <formulas>
        <name>forStartTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.sirenum__Scheduled_Start_Time__c}</expression>
    </formulas>
    <interviewLabel>1218- {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218-Update hours for approved public holiday shifts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Qualification_for_Sponsored_Nurse</name>
        <label>Get Contact Qualification for Sponsored Nurse</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Sponsored_Nurse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sponsored_Nurse_Competency.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sponsored_Nurse_Competency</name>
        <label>Get Sponsored Nurse Competency</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Qualification_for_Sponsored_Nurse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sponsored Nurse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billable_Shift_Length_to_1min</name>
        <label>Update Billable Shift Length to 1min</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>sirenum__Billable_End_Time__c</field>
            <value>
                <elementReference>forEndtime1min</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Billable_Start_Time__c</field>
            <value>
                <elementReference>forStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billable_Shift_Length_to_7_6h</name>
        <label>Update Billable Shift Length to 7.6h</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>sirenum__Billable_End_Time__c</field>
            <value>
                <elementReference>forEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Billable_Start_Time__c</field>
            <value>
                <elementReference>forStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Public_Holiday_Shift_of_7_6_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Allow_pay__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>sirenum__Shift__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
