.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Update_Certificate_Start_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Both_Start_Date_and_End_Date_Value</name>
        <label>Assign Both Start Date and End Date Value.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.b3o__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>aYrFromToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Start_Date_Populated_via_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.b3o__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>aYrFromToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.End_Date_Populated_via_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_End_Date_Value</name>
        <label>Assign End Date Value.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.b3o__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>aYrFromToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.End_Date_Populated_via_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Start_Date_Value</name>
        <label>Assign Start Date Value.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.b3o__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>aYrFromToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Start_Date_Populated_via_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_StartDate_or_End_Date_isRequired_in_Certificate_Type</name>
        <label>Check StartDate or End Date isRequired in Certificate Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Start_Date_and_End_Date_isRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.b3o__Certificate_Type__r.b3o__Require_Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.b3o__Certificate_Type__r.b3o__Require_End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Both_Start_Date_and_End_Date_Value</targetReference>
            </connector>
            <label>Both Start Date and End Date isRequired.</label>
        </rules>
        <rules>
            <name>Start_Date_isRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.b3o__Certificate_Type__r.b3o__Require_Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Start_Date_Value</targetReference>
            </connector>
            <label>Start Date isRequired.</label>
        </rules>
        <rules>
            <name>End_Date_isRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.b3o__Certificate_Type__r.b3o__Require_End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_End_Date_Value</targetReference>
            </connector>
            <label>End Date isRequired.</label>
        </rules>
    </decisions>
    <description>This Flow is used to update the Start Date or End Date field of the Certificate if Certificate Type Require Start Date or End Date field is checked.</description>
    <environments>Default</environments>
    <formulas>
        <name>aYrFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <interviewLabel>1218 - Update Certificate Start Date. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Update Certificate Start Date and End Date.</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_StartDate_or_End_Date_isRequired_in_Certificate_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Missing_Certificate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>b3o__Certificate__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
