.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Sub_Flow_to_Get_the_Email_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>This Assignment is used to assign the email template id in the variable.</description>
        <name>Assign_Email_Template_ID</name>
        <label>Assign Email Template ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>check record is fetched from the metadata or it is blank.</description>
        <name>Check_Email_Template</name>
        <label>Check Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Availbale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Brand_Email_Template_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template</targetReference>
            </connector>
            <label>Availbale</label>
        </rules>
    </decisions>
    <description>This flow is used to retrieve the email template. After obtaining the Notification Name and Brand value from the main flow, this flow will be utilized as a subflow.</description>
    <environments>Default</environments>
    <interviewLabel>1218 - Sub Flow to Get the Email Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Sub Flow to Get the Email Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This get element will get the Email template name from the Metadata type.</description>
        <name>Get_Brand_Email_Template_Record</name>
        <label>Get Brand Email Template Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notification_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NotificationName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Brand_Email_Template__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email_Template_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This get element is use to get the email template and its Id from the Email Template Name.</description>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Template_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Brand_Email_Template_Record.Email_Template_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Brand_Email_Template_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotificationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
