.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Site_Assignment_for_Exclusion_Competency_Tickets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_the_SiteId_to_Newly_Created_Ticket</name>
        <label>Assign the SiteId to Newly Created Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sirenum__TicketType__r.Site__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Competency_Category_isExclusion_and_Linked_to_Site</name>
        <label>Check Competency Category isExclusion and Linked to Site</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__r.Competency_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exclusion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__r.Site__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_SiteId_to_Newly_Created_Ticket</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This Flow is used to Update the site field of the Newly Created Ticket if Competency category is Exclusion and Competency is linked to Site.</description>
    <environments>Default</environments>
    <interviewLabel>1218 - Site Assignment for Exclusion Competency Tickets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Site Assignment for Exclusion Competency Tickets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Competency_Category_isExclusion_and_Linked_to_Site</targetReference>
        </connector>
        <object>sirenum__Ticket__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
