.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Resend_Link_to_the_Candidate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Candidate</name>
        <label>Send Email to Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>X1218_Branch_Email_Types_Subflow.EmailAddress</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>X1218_Sub_Flow_to_Get_the_Email_Template.EmailTemplateId</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This flow is used to resend the URL Link to the candidate.</description>
    <environments>Default</environments>
    <interviewLabel>1218 - Resend Link to the Candidate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Resend Link to the Candidate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Resend_Link__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X1218_Update_Session_Key</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resend_Link__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resend_Link__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>X1218_Branch_Email_Types_Subflow</name>
        <label>1218 - Branch Email Types Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_to_Candidate</targetReference>
        </connector>
        <flowName>X1218_Branch_Email_Types_Subflow</flowName>
        <inputAssignments>
            <name>BranchName</name>
            <value>
                <elementReference>$Record.Branch__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTypes</name>
            <value>
                <stringValue>Recruitment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X1218_Sub_Flow_to_Get_the_Email_Template</name>
        <label>1218 - Sub Flow to Get the Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X1218_Branch_Email_Types_Subflow</targetReference>
        </connector>
        <flowName>X1218_Sub_Flow_to_Get_the_Email_Template</flowName>
        <inputAssignments>
            <name>Brand</name>
            <value>
                <elementReference>$Record.Branch__r.Brand_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationName</name>
            <value>
                <stringValue>Resend Link</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X1218_Update_Session_Key</name>
        <label>1218 - Update Session Key</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X1218_Sub_Flow_to_Get_the_Email_Template</targetReference>
        </connector>
        <flowName>X1218_Update_Session_Key</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
