.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Ahpra_Review_Required.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Debug_Get_Ahpra_Record</name>
        <label>Debug Get Ahpra Record</label>
        <locationX>369</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>DebugAhpraRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Associated_Ahpra_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_previous_Ahpra_record_found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Compliance_Field_Changes</name>
        <label>Check Compliance Field Changes</label>
        <locationX>204</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>No changes found</defaultConnectorLabel>
        <rules>
            <name>Changes_identified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Ahpra_Records.Number_of_Conditions__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Number_of_Conditions__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Associated_Ahpra_Records.Number_of_Endorsements__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Number_of_Endorsements__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Associated_Ahpra_Records.Number_of_Reprimands__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Number_of_Reprimands__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Associated_Ahpra_Records.Number_of_Undertakings__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Number_of_Undertakings__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Associated_Ahpra_Records.Number_of_Notations__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Number_of_Notations__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Associated_Ahpra_Records.Number_of_Cautions__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Number_of_Cautions__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Passed_but_compliance_issues_found</targetReference>
            </connector>
            <label>Changes identified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_previous_Ahpra_record_found</name>
        <label>Check if previous Ahpra record found</label>
        <locationX>369</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Check_Initial_Compliance_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Previous Record</defaultConnectorLabel>
        <rules>
            <name>Previous_Record_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Ahpra_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_previous_check_resolved</targetReference>
            </connector>
            <label>Previous Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Initial_Compliance_fields</name>
        <label>Check Initial Compliance fields</label>
        <locationX>688</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>No issues found</defaultConnectorLabel>
        <rules>
            <name>Compliance_Issues_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Conditions__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Endorsements__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Reprimands__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Undertakings__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Notations__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Cautions__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ahpra_Review_Required</targetReference>
            </connector>
            <label>Compliance Issues Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_previous_check_resolved</name>
        <label>Was previous check resolved</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Check_Compliance_Field_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Previous check Passed</defaultConnectorLabel>
        <rules>
            <name>Previous_check_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Ahpra_Records.Ahpra_Review_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ahpra_Review_Required</targetReference>
            </connector>
            <label>Previous check Failed</label>
        </rules>
    </decisions>
    <description>When an Ahpra record is created, parse the response and see if a Client Review is required.</description>
    <environments>Default</environments>
    <interviewLabel>1218 Ahpra Review Required {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Ahpra Review Required</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Associated_Ahpra_Records</name>
        <label>Get Associated Ahpra Records</label>
        <locationX>369</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Debug_Get_Ahpra_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AHPRA_Candidate_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AHPRA_Candidate_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ahpra_Candidate_Check__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Ahpra_Review_Required</name>
        <label>Ahpra Review Required</label>
        <locationX>369</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>Ahpra_Review_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Previous_Passed_but_compliance_issues_found</name>
        <label>Previous Passed but compliance issues found</label>
        <locationX>72</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>Ahpra_Review_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>Reviewer_Comments__c</field>
            <value>
                <stringValue>Previous Passed but compliance issues found</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>243</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Associated_Ahpra_Records</targetReference>
        </connector>
        <object>Ahpra_Candidate_Check__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>DebugAhpraRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
