.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Mirror_Shift_Schedule_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_the_Status</name>
        <label>Check the Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Equal_to_Schedule_Display_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Schedule_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Schedule_Display_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Schedule_Status</targetReference>
            </connector>
            <label>Not Equal to Schedule Display Status</label>
        </rules>
    </decisions>
    <description>This flow is used to update the Schedule Status Field when Schedule Display Status field is change.</description>
    <environments>Default</environments>
    <interviewLabel>1218 - Cancel Shift Demand {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Mirror Shift Schedule Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>This is use to update the Schedule Status Field when Schedule Display Status field is change.</description>
        <name>Update_Schedule_Status</name>
        <label>Update Schedule Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Schedule_Status__c</field>
            <value>
                <elementReference>$Record.Schedule_Display_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Schedule_Display_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sirenum__Shift__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
