.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Route_EOI_Sourcing_Role_to_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Do_we_have_a_domain_source</name>
        <label>Do we have a domain source?</label>
        <locationX>588</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Route_EOI_Sourcing_Role_to_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_No_Domain_Source_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Source_domain__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No, No Domain Source found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_an_Alliance_Extra_Job</name>
        <label>Do we have an Alliance Extra Job</label>
        <locationX>1479</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Create_Extra_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alliance_Extra_Job_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Alliance_Extra_Staff.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Alliance Extra Job Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_an_Alliance_Nursing_Job</name>
        <label>Do we have an Alliance Nursing Job</label>
        <locationX>423</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Create_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alliance_Job_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Alliance_Nursing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Alliance Job Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_an_Alliance_Rural_Job</name>
        <label>Do we have an Alliance Rural Job</label>
        <locationX>951</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Create_Rural_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alliance_Rural_Job_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Alliance_Rural</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Alliance Rural Job Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_EOI_Sourcing_Role_to_Job</name>
        <label>Route EOI Sourcing Role to Job</label>
        <locationX>1149</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_Domain_uat_alliancenursing_nswbc_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Source_domain__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>uat-alliancenursing.nswbc.com.au</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job_Alliance_Nursing</targetReference>
            </connector>
            <label>Matched Domain uat-alliancenursing.nswbc.com</label>
        </rules>
        <rules>
            <name>Matched_Domain_uat_allianceruralremote_nswbc_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Source_domain__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>uat-allianceruralremote.nswbc.com.au</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job_Alliance_Rural</targetReference>
            </connector>
            <label>Matched Domain uat-allianceruralremote.nswbc.com</label>
        </rules>
        <rules>
            <name>Matched_Domain_uat_extrastaff_nswbc_com_au</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Source_domain__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>uat-extrastaff.nswbc.com.au</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job_Alliance_Extra_Staff</targetReference>
            </connector>
            <label>Matched Domain uat-extrastaff.nswbc.com.au</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_this_Form_Response_to_a_Job</name>
        <label>Route this Form Response to a Job?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Do_not_route_form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.b3f__Form__r.Route_EOI_Sourcing_Role_to_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No, Do not route form</label>
        </rules>
    </decisions>
    <description>Testing Bug</description>
    <environments>Default</environments>
    <interviewLabel>1218 {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>1218 Route EOI Sourcing Role to Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>555</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>TR1__Applicant__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Job__c</field>
            <value>
                <elementReference>Get_Job_Alliance_Nursing.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Stage__c</field>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </inputAssignments>
        <object>TR1__Application_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Extra_Application</name>
        <label>Create Extra Application</label>
        <locationX>1611</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Create_Extra_Sub_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>TR1__Applicant__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Job__c</field>
            <value>
                <stringValue>{!Get_Job_Alliance_Extra_Staff.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Stage__c</field>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </inputAssignments>
        <object>TR1__Application_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Extra_Sub_Status</name>
        <label>Create Extra Sub Status</label>
        <locationX>1611</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>TR1__ATS_Stage__c</field>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Application__c</field>
            <value>
                <elementReference>Create_Extra_Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Value__c</field>
            <value>
                <stringValue>New Candidate</stringValue>
            </value>
        </inputAssignments>
        <object>TR1__Sub_Status__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Rural_Application</name>
        <label>Create Rural Application</label>
        <locationX>1083</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Create_Rural_Sub_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>TR1__Applicant__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Job__c</field>
            <value>
                <stringValue>{!Get_Job_Alliance_Rural.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Stage__c</field>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </inputAssignments>
        <object>TR1__Application_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Rural_Sub_Status</name>
        <label>Create Rural Sub Status</label>
        <locationX>1083</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>TR1__ATS_Stage__c</field>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Application__c</field>
            <value>
                <elementReference>Create_Rural_Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Value__c</field>
            <value>
                <stringValue>New Candidate</stringValue>
            </value>
        </inputAssignments>
        <object>TR1__Sub_Status__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>588</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_a_domain_source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.b3f__New_Record_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Alliance_Extra_Staff</name>
        <label>Get Job Alliance Extra Staff</label>
        <locationX>1479</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_an_Alliance_Extra_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alliance Extra Staff - Website registrations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Alliance_Nursing</name>
        <label>Get Job Alliance Nursing</label>
        <locationX>423</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_an_Alliance_Nursing_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alliance Nursing - Website registrations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Alliance_Rural</name>
        <label>Get Job Alliance Rural</label>
        <locationX>951</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_an_Alliance_Rural_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alliance Rural &amp; Remote Health - Website registrations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Route_this_Form_Response_to_a_Job</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3f__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMPLETE</stringValue>
            </value>
        </filters>
        <object>b3f__FormResponse__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
