.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Create_Employee_Request_for_N_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Today_s_Date_to_Dates_Collection</name>
        <label>Add Today&apos;s Date to Dates Collection</label>
        <locationX>143</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>Dates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TodayDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_date_is_less_than_N_days_from_today</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Availability_day</name>
        <label>Availability day</label>
        <locationX>1287</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>AvailabilityScheduleDayfromFilter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_filtered_Availability_Schedule_day</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_filtered_Availability_Schedule_day</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_Single_Employee_Request_for_ND_Unavailable</name>
        <label>Copy 1 of Create Single Employee Request for ND Unavailable</label>
        <locationX>1067</locationX>
        <locationY>3564</locationY>
        <assignmentItems>
            <assignToReference>SingleERforUnavailable.sirenum__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleERforUnavailable.sirenum__Local_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_dates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleERforUnavailable.sirenum__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unavailable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleERforUnavailable.Created_from_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleERforUnavailable.sirenum__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AvailabilityScheduleDayfromFilter.Add_Note__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleERforUnavailable.sirenum__All_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Employee_Requests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleERforUnavailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Manual_ERs</name>
        <label>Count Manual ERs</label>
        <locationX>1045</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>countManualERs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Manual_Created_ER</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Manual_Employee_Request_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Single_Employee_Request_for_AM_Available</name>
        <label>Create Single Employee Request for AM Available</label>
        <locationX>1067</locationX>
        <locationY>1764</locationY>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforAMAvailable.sirenum__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforAMAvailable.sirenum__Local_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_dates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforAMAvailable.sirenum__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AM - Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforAMAvailable.Created_from_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforAMAvailable.sirenum__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AvailabilityScheduleDayfromFilter.Add_Note__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Employee_Requests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEmployeeRequestforAMAvailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_AM_Unavailable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Single_Employee_Request_for_AM_Unavailable</name>
        <label>Create Single Employee Request for AM Unavailable</label>
        <locationX>1067</locationX>
        <locationY>2064</locationY>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforAMUnavailable.sirenum__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforAMUnavailable.sirenum__Local_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_dates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforAMUnavailable.sirenum__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AM - Unavailable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforAMUnavailable.Created_from_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforAMUnavailable.sirenum__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AvailabilityScheduleDayfromFilter.Add_Note__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Employee_Requests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEmployeeRequestforAMUnavailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_PM_available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Single_Employee_Request_for_ND_Available</name>
        <label>Create Single Employee Request for ND Available</label>
        <locationX>1067</locationX>
        <locationY>2964</locationY>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforNDAvailabale.sirenum__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforNDAvailabale.sirenum__Local_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_dates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforNDAvailabale.sirenum__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ND - Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforNDAvailabale.Created_from_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforNDAvailabale.sirenum__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AvailabilityScheduleDayfromFilter.Add_Note__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Employee_Requests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEmployeeRequestforNDAvailabale</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_ND_unavailable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Single_Employee_Request_for_ND_Unavailable</name>
        <label>Create Single Employee Request for ND Unavailable</label>
        <locationX>1067</locationX>
        <locationY>3264</locationY>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforNDUnavailable.sirenum__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforNDUnavailable.sirenum__Local_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_dates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforNDUnavailable.sirenum__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ND - Unavailable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforNDUnavailable.Created_from_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforNDUnavailable.sirenum__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AvailabilityScheduleDayfromFilter.Add_Note__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Employee_Requests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEmployeeRequestforNDUnavailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Unavailable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Single_Employee_Request_for_PM_Available</name>
        <label>Create Single Employee Request for PM Available</label>
        <locationX>1067</locationX>
        <locationY>2364</locationY>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforPMAvailable.sirenum__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforPMAvailable.sirenum__Local_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_dates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforAMUnavailable.sirenum__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PM - Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforAMUnavailable.Created_from_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforPMAvailable.sirenum__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AvailabilityScheduleDayfromFilter.Add_Note__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Employee_Requests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEmployeeRequestforPMAvailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_PM_Unavailable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Single_Employee_Request_for_PM_Unavailable</name>
        <label>Create Single Employee Request for PM Unavailable</label>
        <locationX>1067</locationX>
        <locationY>2664</locationY>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforPMunavailable.sirenum__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforPMunavailable.sirenum__Local_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_dates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforPMunavailable.sirenum__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PM - Unavailable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforPMunavailable.Created_from_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmployeeRequestforPMunavailable.sirenum__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AvailabilityScheduleDayfromFilter.Add_Note__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Employee_Requests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEmployeeRequestforPMunavailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_ND_available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_Date</name>
        <label>Start Date</label>
        <locationX>473</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>TodayDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_date_is_less_than_N_days_from_today</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Availability_Schedule_Day</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Availability Schedule Day</label>
        <locationX>1199</locationX>
        <locationY>1248</locationY>
        <assignNextValueToReference>currentItem_Filter_Availability_Schedule_Day</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Availability_Schedule_day</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Availability_Schedule_Day.Day__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>TodayDay</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_over_filtered_Availability_Schedule_day</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Manual_Created_ER</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Manual Created ER</label>
        <locationX>1045</locationX>
        <locationY>924</locationY>
        <assignNextValueToReference>currentItem_Filter_Manual_Created_ER</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Manually_created_Employee_Requests</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Manual_Created_ER.sirenum__Local_Start_Date__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_over_dates</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Manual_ERs</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_date_is_less_than_N_days_from_today</name>
        <label>Check if date is less than N days from today</label>
        <locationX>473</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Loop_over_dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TodayDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NextNdays</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Today_s_Date_to_Dates_Collection</targetReference>
            </connector>
            <label>Less than</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Manual_Employee_Request_Exists</name>
        <label>Check if Manual Employee Request Exists</label>
        <locationX>1045</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>Filter_Availability_Schedule_Day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual_ER_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countManualERs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_dates</targetReference>
            </connector>
            <label>Manual ER Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Total_Employee_Request_is_not_Null</name>
        <label>Check if Total Employee Request is not Null</label>
        <locationX>803</locationX>
        <locationY>3924</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Employee_Requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Employee_Requests</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_AM_Available</name>
        <label>If AM - Available</label>
        <locationX>1199</locationX>
        <locationY>1656</locationY>
        <defaultConnector>
            <targetReference>If_AM_Unavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AM_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailabilityScheduleDayfromFilter.TypeSlot__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AM - Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Single_Employee_Request_for_AM_Available</targetReference>
            </connector>
            <label>AM - Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_AM_Unavailable</name>
        <label>If AM - Unavailable</label>
        <locationX>1199</locationX>
        <locationY>1956</locationY>
        <defaultConnector>
            <targetReference>If_PM_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AM_Unavailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailabilityScheduleDayfromFilter.TypeSlot__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AM - Unavailable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Single_Employee_Request_for_AM_Unavailable</targetReference>
            </connector>
            <label>AM - Unavailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_ND_available</name>
        <label>If ND- available</label>
        <locationX>1199</locationX>
        <locationY>2856</locationY>
        <defaultConnector>
            <targetReference>If_ND_unavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ND_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailabilityScheduleDayfromFilter.TypeSlot__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ND - Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Single_Employee_Request_for_ND_Available</targetReference>
            </connector>
            <label>ND - Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_ND_unavailable</name>
        <label>If ND- unavailable</label>
        <locationX>1199</locationX>
        <locationY>3156</locationY>
        <defaultConnector>
            <targetReference>If_Unavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ND_Unavailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailabilityScheduleDayfromFilter.TypeSlot__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ND - Unavailable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Single_Employee_Request_for_ND_Unavailable</targetReference>
            </connector>
            <label>ND - Unavailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_PM_available</name>
        <label>If PM- available</label>
        <locationX>1199</locationX>
        <locationY>2256</locationY>
        <defaultConnector>
            <targetReference>If_PM_Unavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PM_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailabilityScheduleDayfromFilter.TypeSlot__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PM - Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Single_Employee_Request_for_PM_Available</targetReference>
            </connector>
            <label>PM - Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_PM_Unavailable</name>
        <label>If PM- Unavailable</label>
        <locationX>1199</locationX>
        <locationY>2556</locationY>
        <defaultConnector>
            <targetReference>If_ND_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PM_Unavailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailabilityScheduleDayfromFilter.TypeSlot__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PM - Unavailable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Single_Employee_Request_for_PM_Unavailable</targetReference>
            </connector>
            <label>PM - Unavailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Unavailable</name>
        <label>If Unavailable</label>
        <locationX>1199</locationX>
        <locationY>3456</locationY>
        <defaultConnector>
            <targetReference>Loop_over_dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Unavailable_allday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailabilityScheduleDayfromFilter.Unavailable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Single_Employee_Request_for_ND_Unavailable</targetReference>
            </connector>
            <label>If Unavailable</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NextNdays</name>
        <dataType>Date</dataType>
        <expression>IF(
    OR(
        ISNULL({!$Record.End_Date__c}),
        {!$Record.End_Date__c} &gt; (TODAY() + 30 - 1)
    ),
    TODAY() + 30 - 1,
    {!$Record.End_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Start_Date__c}</expression>
    </formulas>
    <formulas>
        <name>TodayDay</name>
        <dataType>String</dataType>
        <expression>CASE(WEEKDAY({!Loop_over_dates}), 1, &quot;Sunday&quot;, 2, &quot;Monday&quot;, 3, &quot;Tuesday&quot;, 4, &quot;Wednesday&quot;, 5, &quot;Thursday&quot;, 6, &quot;Friday&quot;, 7, &quot;Saturday&quot;, &quot;None&quot;)</expression>
    </formulas>
    <formulas>
        <name>UpdateDate</name>
        <dataType>Date</dataType>
        <expression>{!TodayDate}+1</expression>
    </formulas>
    <interviewLabel>1218 Create Employee Request for N days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Create Employee Request for N days</label>
    <loops>
        <name>Loop_over_dates</name>
        <label>Loop over dates</label>
        <locationX>803</locationX>
        <locationY>816</locationY>
        <collectionReference>Dates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Manual_Created_ER</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Total_Employee_Request_is_not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_filtered_Availability_Schedule_day</name>
        <label>Loop over filtered Availability Schedule day</label>
        <locationX>1199</locationX>
        <locationY>1356</locationY>
        <collectionReference>Filter_Availability_Schedule_Day</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Availability_day</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_AM_Available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Employee_Requests</name>
        <label>Create Employee Requests</label>
        <locationX>671</locationX>
        <locationY>4032</locationY>
        <inputReference>Total_Employee_Requests</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Availability_Schedule_day</name>
        <label>Get Availability Schedule day</label>
        <locationX>473</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Availability_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Availability_Schedule_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manually_created_Employee_Requests</name>
        <label>Get Manually created Employee Requests</label>
        <locationX>473</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Availability_Schedule_day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_from_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Employee_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>473</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manually_created_Employee_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Availability_Schedule__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Run_After_1_minute</name>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Run After 1 minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AvailabilityScheduleDayfromFilter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Availability_Schedule_Day__c</objectType>
    </variables>
    <variables>
        <name>countManualERs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Availability_Schedule_Day</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Availability_Schedule_Day__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Manual_Created_ER</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Employee_Request__c</objectType>
    </variables>
    <variables>
        <name>Dates</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleEmployeeRequestforAMAvailable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Employee_Request__c</objectType>
    </variables>
    <variables>
        <name>SingleEmployeeRequestforAMUnavailable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Employee_Request__c</objectType>
    </variables>
    <variables>
        <name>SingleEmployeeRequestforNDAvailabale</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Employee_Request__c</objectType>
    </variables>
    <variables>
        <name>SingleEmployeeRequestforNDUnavailable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Employee_Request__c</objectType>
    </variables>
    <variables>
        <name>SingleEmployeeRequestforPMAvailable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Employee_Request__c</objectType>
    </variables>
    <variables>
        <name>SingleEmployeeRequestforPMunavailable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Employee_Request__c</objectType>
    </variables>
    <variables>
        <name>SingleERforUnavailable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Employee_Request__c</objectType>
    </variables>
    <variables>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Total_Employee_Requests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Employee_Request__c</objectType>
    </variables>
    <variables>
        <name>UpdatedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
