.vscode/allianceuat_compare/force-app/main/default/flows/X1218_BH_Connect_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetValues</name>
        <label>SetValues</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SelectedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectUser.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Platform_Event</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>1218 BH Connect Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 BH Connect Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Generate_Platform_Event</name>
        <label>Generate Platform Event</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>sirenum__Message__c</field>
            <value>
                <stringValue>This is a test Job message.  &lt;a href=&apos;www.google.co.uk&apos;&gt;View Job&lt;/a&gt;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Title__c</field>
            <value>
                <stringValue>New Job listed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WhoId__c</field>
            <value>
                <elementReference>SelectedUser</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__PushNotificationEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Create_Alliance_Connect_Notification</name>
        <label>Create Alliance Connect Notification</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetValues</targetReference>
        </connector>
        <fields>
            <name>SelectUser</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select an Alliance Connect User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>IsActive = True and ProfileId = &apos;00eQE000000cAsn&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchFieldName</name>
                <value>
                    <elementReference>Generate_Platform_Event</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>SelectedUser</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ShowId</name>
            <fieldText>&lt;p&gt;{!SelectUser.selectedValue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Alliance_Connect_Notification</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>SelectedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
