.vscode/allianceuat_compare/force-app/main/default/flows/X1218_3B_Assign_Skills.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection_Variable</name>
        <label>Add to Collection Variable</label>
        <locationX>1189</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>SingleSpecialityString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleSpeciality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedSpecialityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleSpecialityString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Selected_Speciality_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Value_To_String</name>
        <label>Assign_Selected_Value_To_String</label>
        <locationX>781</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>SelectedSpecialityString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Speciality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleSpecialityString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Selected_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Selected_Speciality_String</name>
        <label>Update the Selected Speciality String</label>
        <locationX>958</locationX>
        <locationY>1282</locationY>
        <assignmentItems>
            <assignToReference>SelectedSpecialityString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateSelectedSpecialityString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Classification_Skill_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Selected_String</name>
        <label>Check Selected String</label>
        <locationX>708</locationX>
        <locationY>865</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedSpecialityString</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Classification1</name>
        <label>Classification</label>
        <locationX>979</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Speciality_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Classification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Classification__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Classification_Skill</targetReference>
            </connector>
            <label>Classification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Speciality_changed</name>
        <label>Speciality changed</label>
        <locationX>979</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Speciality__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Value_To_String</targetReference>
            </connector>
            <label>SP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SingleSpeciality</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(LEFT({!SelectedSpecialityString},FIND(&quot;;&quot;,{!SelectedSpecialityString})),&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>UpdateSelectedSpecialityString</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!SelectedSpecialityString},{!SingleSpecialityString} + &quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>1218 3B Assign Skills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 3B Assign Skills</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Classification_Skill</name>
        <label>Create Classification Skill</label>
        <locationX>847</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Speciality_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>TR1__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Master_Skill__c</field>
            <value>
                <elementReference>$Record.Classification__c</elementReference>
            </value>
        </inputAssignments>
        <object>TR1__Skills__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Classification_Skill_0</name>
        <label>Create Speciality Skill</label>
        <locationX>504</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Check_Selected_String</targetReference>
        </connector>
        <inputAssignments>
            <field>TR1__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Master_Skill__c</field>
            <value>
                <elementReference>SelectedSpecialityString</elementReference>
            </value>
        </inputAssignments>
        <object>TR1__Skills__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>853</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Classification1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Classification__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Speciality__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>SelectedSpecialityList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSpecialityString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleSpecialityString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>special</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Special2</name>
        <dataType>Multipicklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
