.vscode/allianceuat_compare/force-app/main/default/flows/X1218_3B_Certificate_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Rejected_Email_Certificate</name>
        <label>Rejected Email Certificate</label>
        <locationX>1898</locationX>
        <locationY>1430</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Error_Message_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Branch_Email_Types_Subflow.EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>X1218_Sub_Flow_to_Get_the_Email_Template.EmailTemplateId</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Related_Candidate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_Certificate_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Document_Link</name>
        <label>Assign Document Link</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Get_Document.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Ticket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Document.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Document_Link</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Document_Expired</name>
        <choiceText>Document Expired</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Document_Expired</elementReference>
        </value>
    </choices>
    <choices>
        <name>Document_invalid</name>
        <choiceText>Invalid document</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Document_invalid</elementReference>
        </value>
    </choices>
    <choices>
        <name>Document_Unacceptable</name>
        <choiceText>Document Unacceptable</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Document_Unacceptable</elementReference>
        </value>
    </choices>
    <choices>
        <name>Document_unclear</name>
        <choiceText>Document Unclear</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Document_unclear</elementReference>
        </value>
    </choices>
    <choices>
        <name>DocumentInvalid</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Document Invalid&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document Invalid</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Clicked</name>
        <label>Action Clicked?</label>
        <locationX>1502</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Rejection_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reject</defaultConnectorLabel>
        <rules>
            <name>Verify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsVerify</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Competency_Record</targetReference>
            </connector>
            <label>Verify</label>
        </rules>
    </decisions>
    <decisions>
        <name>Certificate_Status</name>
        <label>Certificate Status</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>VerifyOrReject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending Approval</defaultConnectorLabel>
        <rules>
            <name>Already_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate_Record.b3o__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verified</targetReference>
            </connector>
            <label>Already Approved</label>
        </rules>
        <rules>
            <name>Already_Revoked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate_Record.Certificate_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revoke_Screen</targetReference>
            </connector>
            <label>Already Revoked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Competency_Record_Found</name>
        <label>Competency Record Found?</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>ID_Doc_certificate_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Competency_Record_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Competency_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ticket</targetReference>
            </connector>
            <label>Competency Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Exist</name>
        <label>Document Exist?</label>
        <locationX>710</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Competency_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Documentexist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document.ContentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Document_Link</targetReference>
            </connector>
            <label>Document Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>ID_Doc_certificate_type</name>
        <label>ID Doc certificate type?</label>
        <locationX>1502</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate_Record.b3o__Certificate_Type__r.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ID Doc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Approve_submission</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Master_Skill_Found</name>
        <label>Master Skill Found?</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Approve_submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Master_Skill_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Master_Skill_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Skill</targetReference>
            </connector>
            <label>Master Skill Found</label>
        </rules>
    </decisions>
    <description>Added business specific email templates. 29/04/25
Removed the Hard coded Branch logic and added the Sub Flow to make the logic dynamic. 11/6/25</description>
    <dynamicChoiceSets>
        <name>RejectionReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rejection_Comments__c</picklistField>
        <picklistObject>b3o__Certificate__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>RejectionButton</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Certificate_Record.Rejected_By__c}))</expression>
    </formulas>
    <formulas>
        <name>VerificationButton</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Certificate_Record.Verified_By__c}))</expression>
    </formulas>
    <interviewLabel>1218 3B Certificate Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 3B Certificate Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Document_Link</name>
        <label>Create Document Link</label>
        <locationX>578</locationX>
        <locationY>1946</locationY>
        <inputReference>Get_Document</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Skill</name>
        <label>Create Skill</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Approve_submission</targetReference>
        </connector>
        <inputAssignments>
            <field>TR1__Contact__c</field>
            <value>
                <elementReference>Get_Certificate_Record.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Expiration_Date__c</field>
            <value>
                <elementReference>Get_Certificate_Record.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Master_Skill__c</field>
            <value>
                <elementReference>Get_Master_Skill_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Source__c</field>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Start_Date__c</field>
            <value>
                <elementReference>Get_Certificate_Record.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>TR1__Skills__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Ticket</name>
        <label>Create Ticket</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Master_Skill_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Missing_Validity</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certificate_Record.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Get_Competency_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certificate_Record.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certificate_Record.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Certificate_Record</name>
        <label>Get Certificate Record</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Certificate_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Certificate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Competency_Record</name>
        <label>Get Competency Record</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Competency_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.b3o__Certificate_Type__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document</name>
        <label>Get Document</label>
        <locationX>710</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Document_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Master_Skill_Record</name>
        <label>Get Master Skill Record</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Master_Skill_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Master_Skill_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.b3o__Certificate_Type__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Master_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Branch_Email</name>
        <label>Get Related Branch Email</label>
        <locationX>1898</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Branch_Email_Types_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Candidate.Branch__c</elementReference>
            </value>
        </filters>
        <object>Branch_Email__c</object>
        <outputAssignments>
            <assignToReference>BranchName</assignToReference>
            <field>Branch__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailTypes</assignToReference>
            <field>Email_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Candidate</name>
        <label>Get Related Candidate</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X1218_Sub_Flow_to_Get_the_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Branch__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Approve_submission</name>
        <label>Approve submission</label>
        <locationX>710</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Certificate_Type_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.b3o__Certificate_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certificate_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.Main_Certificate_Type__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Approve_submission</name>
        <label>Approve submission</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Copy_2_of_Verified_By_and_When</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Certificate_Type_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.b3o__Certificate_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certificate_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.Main_Certificate_Type__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_certification</name>
        <label>Update certification</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certificate_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Certificate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Verified_By_and_When</name>
        <label>Verified By and When</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_certification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Verified_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Certificate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>reject_submission1</name>
        <label>reject submission</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Rejected_By_and_When</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Certificate_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.b3o__Certificate_Type__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certificate_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.Main_Certificate_Type__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Rejected_By_and_When</name>
        <label>Rejected By and When</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Related_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certificate_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejected_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejected_date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Reason__c</field>
            <value>
                <elementReference>Reason_to_reject_this_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Revoke_Certificate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>b3o__Certificate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Revert_Revoke_Certificate</name>
        <label>Revert Revoke Certificate</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_WFM_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rejected_By__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Revoke_Certificate__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>b3o__Certificate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Revert_Revoke_Certificate1</name>
        <label>Revert Revoke Certificate</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_WFM_Ticket1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Verified_By__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Certificate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_certification</name>
        <label>Update certification</label>
        <locationX>710</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Get_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certificate_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WFM_Ticket_Qualification__c</field>
            <value>
                <elementReference>Create_Ticket</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Certificate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Verified By and When</label>
        <locationX>710</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Update_certification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Verified_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Certificate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WFM_Ticket</name>
        <label>Update WFM Ticket</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.WFM_Ticket_Qualification__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Revoked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WFM_Ticket1</name>
        <label>Update WFM Ticket</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certificate_Record.WFM_Ticket_Qualification__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Revoked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
    </recordUpdates>
    <screens>
        <name>Competency_Not_Found</name>
        <label>Competency Not Found</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Competency_Not_Found2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Competency Record has not been found with the given Certificate Name. Ticket will not be created&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>2162</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Error: {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Error at: {!$Flow.CurrentDateTime}.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Flow: 1218 3B Certificate Approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Validity</name>
        <label>Missing Validity</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message_validity</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please populate the Valid &lt;/strong&gt;&lt;strong style=&quot;color: rgb(231, 54, 87);&quot;&gt;Start Date&lt;/strong&gt;&lt;strong&gt; and &lt;/strong&gt;&lt;strong style=&quot;color: rgb(238, 26, 72);&quot;&gt;End Date &lt;/strong&gt;&lt;strong&gt;in the &apos;Validity&apos; section and refresh your browser &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;before &lt;/strong&gt;&lt;strong&gt;you can verify the Certificate.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rejection_Reason</name>
        <label>Rejection Reason</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>reject_submission1</targetReference>
        </connector>
        <fields>
            <name>Reason_to_reject_this_record</name>
            <choiceReferences>RejectionReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason to reject this record:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Revoke_Screen</name>
        <label>Revoke Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Revert_Revoke_Certificate1</targetReference>
        </connector>
        <fields>
            <name>Returned_Rejected2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;Last Update regarding the current &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;Information&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Rejected by:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Get_Certificate_Record.Rejected_By__r.FirstName} &lt;/strong&gt;&lt;strong style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Certificate_Record.Rejected_By__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;﻿On: &lt;/span&gt;&lt;strong style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Get_Certificate_Record.Rejected_date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;With the following Reason: &lt;/span&gt;&lt;strong style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Get_Certificate_Record.Rejection_Reason__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verified</name>
        <label>Verified</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Revert_Revoke_Certificate</targetReference>
        </connector>
        <fields>
            <name>Approved</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana;&quot;&gt;Last Update regarding the current &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana;&quot;&gt;Information&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;Verified by:&lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Certificate_Record.Verified_By__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;﻿On: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;{!Get_Certificate_Record.Verified_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VerifyOrReject</name>
        <label>Verify Or Reject</label>
        <locationX>1502</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Clicked</targetReference>
        </connector>
        <fields>
            <name>certificateApproval</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Certificate Approval&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt;Please use the buttons below to&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt;either Approve or Reject the document that the candidate has provided.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Certificate_Record.Verified_By__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>navPending</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fire</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Verify Record</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledFlag</name>
                <value>
                    <elementReference>VerificationButton</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label2</name>
                <value>
                    <stringValue>Reject Record</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledFlag2</name>
                <value>
                    <elementReference>RejectionButton</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IsVerify</assignToReference>
                <name>fire</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Certificate_Record.Verified_By__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CertificateApproved</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;Last Update regarding the current &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;Information&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;Verified by: &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;{!$User.FirstName} {!$User.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;﻿On: &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;{!CurrentDate}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Certificate_Record.Verified_By__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Certificate_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Branch_Email_Types_Subflow</name>
        <label>Branch Email Types Subflow</label>
        <locationX>1898</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Rejected_Email_Certificate</targetReference>
        </connector>
        <flowName>X1218_Branch_Email_Types_Subflow</flowName>
        <inputAssignments>
            <name>BranchName</name>
            <value>
                <elementReference>Get_Related_Candidate.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTypes</name>
            <value>
                <stringValue>Recruitment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X1218_Sub_Flow_to_Get_the_Email_Template</name>
        <label>1218 - Sub Flow to Get the Email Template</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>X1218_Update_Session_Key</targetReference>
        </connector>
        <flowName>X1218_Sub_Flow_to_Get_the_Email_Template</flowName>
        <inputAssignments>
            <name>Brand</name>
            <value>
                <elementReference>Get_Related_Candidate.Branch__r.Brand_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationName</name>
            <value>
                <stringValue>Rejected Certificate</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X1218_Update_Session_Key</name>
        <label>1218 - Update Session Key</label>
        <locationX>1898</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_Related_Branch_Email</targetReference>
        </connector>
        <flowName>X1218_Update_Session_Key</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Related_Candidate.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BranchName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTypes</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsVerify</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
