.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Generate_Contact_PIN_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_PIN_Number</name>
        <label>Generate PIN Number</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>SIM_GenerateRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_All_active_TS_Approvers_to_check_PIN</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>9999.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>SIM_GenerateRandomNumber</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_PIN_to_Client_Contact</name>
        <label>Send PIN to Client Contact</label>
        <locationX>506</locationX>
        <locationY>1403</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>BranchEmailFromSubflow</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>X1218_Sub_Flow_to_Get_the_Email_Template.EmailTemplateId</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Email_Template_ID_not_Found</name>
        <label>Email Template ID not Found</label>
        <locationX>242</locationX>
        <locationY>1187</locationY>
        <customErrorMessages>
            <errorMessage>An email template could not be found.  

Please check the Contact&apos;s Branch &gt; Brand has been set correctly.


Please contact your Salesforce Administrator and asked then to check Custom Metadata Types → Brand Email Template.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_PIN_unique</name>
        <label>Is PIN unique</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Timesheet_Approver_PIN_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_PIN_has_been_used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_active_TS_Approvers_to_check_PIN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Generate_PIN_Number</targetReference>
            </connector>
            <label>No, PIN has been used</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Template_ID_retrieved</name>
        <label>Was a Template ID retrieved?</label>
        <locationX>374</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Branch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Email_Template_Id_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X1218_Sub_Flow_to_Get_the_Email_Template.EmailTemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Template_ID_not_Found</targetReference>
            </connector>
            <label>No, Email Template Id is NULL</label>
        </rules>
    </decisions>
    <description>Removed the Hard coded Branch logic and added the Sub Flow to make the logic dynamic. 11/6/25</description>
    <environments>Default</environments>
    <formulas>
        <name>FormattedPinNumber</name>
        <dataType>String</dataType>
        <expression>RIGHT(&apos;0000&apos; + TEXT({!Generate_PIN_Number.randomNumber}), 4)</expression>
    </formulas>
    <interviewLabel>1218 Generate Contact PIN Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Generate Contact PIN Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_active_TS_Approvers_to_check_PIN</name>
        <label>Get All active TS Approvers to check PIN</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_PIN_unique</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Temp_PIN_Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PIN_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FormattedPinNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Timesheet_Approver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_PIN_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Branch</name>
        <label>Get Related Branch</label>
        <locationX>506</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Branch_Email_Types_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Branch__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Email__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_PIN</name>
        <label>Update Contact PIN</label>
        <locationX>374</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>X1218_Sub_Flow_to_Get_the_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Shift_Approval_PIN_Number__c</field>
            <value>
                <elementReference>FormattedPinNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Timesheet_Approver_PIN_Number</name>
        <label>Update Timesheet Approver PIN Number</label>
        <locationX>374</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Contact_PIN</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIN_Number_Generated__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIN_Number__c</field>
            <value>
                <elementReference>FormattedPinNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PIN_Number__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>PIN_Number_Generated__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Account_Approval_Method__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PIN</stringValue>
            </value>
        </filters>
        <object>Timesheet_Approver__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Branch_Email_Types_Subflow</name>
        <label>Branch Email Types Subflow</label>
        <locationX>506</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Send_PIN_to_Client_Contact</targetReference>
        </connector>
        <flowName>X1218_Branch_Email_Types_Subflow</flowName>
        <inputAssignments>
            <name>BranchName</name>
            <value>
                <elementReference>Get_Related_Branch.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTypes</name>
            <value>
                <stringValue>Recruitment</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BranchEmailFromSubflow</assignToReference>
            <name>EmailAddress</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>X1218_Sub_Flow_to_Get_the_Email_Template</name>
        <label>1218 - Sub Flow to Get the Email Template</label>
        <locationX>374</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Was_a_Template_ID_retrieved</targetReference>
        </connector>
        <flowName>X1218_Sub_Flow_to_Get_the_Email_Template</flowName>
        <inputAssignments>
            <name>Brand</name>
            <value>
                <elementReference>$Record.Account__r.Branch__r.Brand_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationName</name>
            <value>
                <stringValue>PIN Creation Email</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>BranchEmailFromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PINNumberEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Here is your PIN Number for Approving Shifts &gt; {!FormattedPinNumber}</stringValue>
        </value>
    </variables>
</Flow>
