.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Document_Submission_Link_Certificate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Update</name>
        <label>Add to Update</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>toUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Certificates_Found</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Certificates_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Submission</name>
        <label>Assign Document Submission</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Certificates</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>1218 Document Submission - Link Certificate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Document Submission - Link Certificate</label>
    <loops>
        <name>Certificates_Found</name>
        <label>Certificates Found</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Certificates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Document_Submission</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Changes_on_Certificate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Certificates</name>
        <label>Get Certificates</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Certificates_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.b3o__Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Certificate_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.b3o__Document__r.null__NotFound</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>b3o__Certificate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Changes_on_Certificate</name>
        <label>Changes on Certificate</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>toUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Certificates</targetReference>
        </connector>
        <object>b3o__Document_Submission__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>toUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>b3o__Certificate__c</objectType>
    </variables>
</Flow>
