.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Reference_Approval_Candidate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Candidate_Email</name>
        <label>Candidate Email</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Branch_Email_Types_Subflow.EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>X1218_Sub_Flow_to_Get_the_Email_Template.EmailTemplateId</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Reference_Record.b3o__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Candidate_Email_0</name>
        <label>Candidate Email</label>
        <locationX>1634</locationX>
        <locationY>1430</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Branch_Email_Types_Subflow_0.EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>X1218_Sub_Flow_to_Get_the_Email_Template_2.EmailTemplateId</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Reference_Record.b3o__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <description>Declined</description>
        <name>Declined</name>
        <choiceText>Declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined</stringValue>
        </value>
    </choices>
    <choices>
        <name>Document_Expired</name>
        <choiceText>Document Expired</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Document_invalid</name>
        <choiceText>Invalid document</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Document_Unacceptable</name>
        <choiceText>Document Unacceptable</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Document_unclear</name>
        <choiceText>Document Unclear</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>DocumentInvalid</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Document Invalid&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document Invalid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invalid_contact_details</name>
        <choiceText>Invalid contact details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid contact details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Relevant</name>
        <choiceText>Not Relevant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Relevant</stringValue>
        </value>
    </choices>
    <choices>
        <description>Referee declined</description>
        <name>Referee_declined</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Referee declined&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Referee declined</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unresponsive</name>
        <choiceText>Unresponsive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unresponsive</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Clicked</name>
        <label>Action Clicked?</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Rejection_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reject</defaultConnectorLabel>
        <rules>
            <name>Verify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsVerify</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document</targetReference>
            </connector>
            <label>Verify</label>
        </rules>
    </decisions>
    <decisions>
        <name>Action_Clicked_Pending_Review</name>
        <label>Action Clicked - Pending Review</label>
        <locationX>1502</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Rejection_Reason_Pending_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Pending_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsVerify</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Document</targetReference>
            </connector>
            <label>Verify - Pending Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reference_Status</name>
        <label>Reference Status</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Already_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reference_Record.b3o__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending for review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verified</targetReference>
            </connector>
            <label>Already Approved</label>
        </rules>
        <rules>
            <name>Already_Rejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reference_Record.b3o__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invalid contact details</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reference_Record.b3o__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unresponsive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Screen</targetReference>
            </connector>
            <label>Already Rejected</label>
        </rules>
        <rules>
            <name>Candidate_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reference_Record.b3o__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted_by_Candidate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyOrReject</targetReference>
            </connector>
            <label>Candidate Submitted</label>
        </rules>
        <rules>
            <name>Pending_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reference_Record.b3o__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Or_Reject</targetReference>
            </connector>
            <label>Pending Review</label>
        </rules>
    </decisions>
    <description>Added business specific email templates. 30/04/25
Removed the Hard coded Branch logic and added the Sub Flow to make the logic dynamic. 11/6/25</description>
    <dynamicChoiceSets>
        <name>RejectionReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>b3o__Status__c</picklistField>
        <picklistObject>b3o__Reference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RejectionReasonPendingReviewchoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>b3o__Status__c</picklistField>
        <picklistObject>b3o__Reference__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>RejectionButton</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Reference_Record.Rejected_By__c}))</expression>
    </formulas>
    <formulas>
        <name>VerificationButton</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Reference_Record.Verified_By__c}))</expression>
    </formulas>
    <interviewLabel>1218 Reference Approval (Candidate) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Reference Approval (Candidate)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Document</name>
        <label>Get Document</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Reference</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reference_Record</name>
        <label>Get Reference Record</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reference_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Reference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Branch_Email</name>
        <label>Get Related Branch Email</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Branch_Email_Types_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Candidate.Branch__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruitment</stringValue>
            </value>
        </filters>
        <object>Branch_Email__c</object>
        <outputAssignments>
            <assignToReference>EmailAddress</assignToReference>
            <field>Email_Address__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Branch_Email_0</name>
        <label>Get Related Branch Email</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Branch_Email_Types_Subflow_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Candidate_Pending_Review.Branch__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruitment</stringValue>
            </value>
        </filters>
        <object>Branch_Email__c</object>
        <outputAssignments>
            <assignToReference>EmailAddress</assignToReference>
            <field>Email_Address__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Candidate</name>
        <label>Get Related Candidate</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X1218_Sub_Flow_to_Get_the_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reference_Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Candidate_Pending_Review</name>
        <label>Get Related Candidate - Pending Review</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X1218_Sub_Flow_to_Get_the_Email_Template_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reference_Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Document</name>
        <label>Get Related Document</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_Submission_Pending_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Reference</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Approve_submission</name>
        <label>Approve submission</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reference_Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>b3o__Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Document.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Approve_Submission_Pending_Review</name>
        <label>Approve Submission - Pending Review</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Verified_By_and_When_Pending_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reference_Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>b3o__Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Document.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reject_submission1</name>
        <label>Reject submission</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Rejected_By_and_When</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reference_Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Certificate_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reference_Record.Reference_Form_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>Request Update</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reject_Submission_Pending_Review</name>
        <label>Reject Submission - Pending Review</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Rejected_By_and_When_Pending_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reference_Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Certificate_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reference_Record.Reference_Form_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>Request Update</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Rejected_By_and_When</name>
        <label>Rejected By and When</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Related_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reference_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rejected_By_1st_Approval__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejected_Date_1st_Approval__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejected_Reason__c</field>
            <value>
                <elementReference>Rejection_Reason_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <elementReference>Rejection_Reason_1</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Reference__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Rejected_By_and_When_Pending_Review</name>
        <label>Rejected By and When - Pending Review</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Related_Candidate_Pending_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reference_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rejected_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejected_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejected_Reason__c</field>
            <value>
                <elementReference>Rejection_Reason_Pending_Review1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <elementReference>Rejection_Reason_Pending_Review1</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Reference__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Verified By and When</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Verified_By_1st_Approval__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_Date_1st_Approval__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>Referee approved</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Reference__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Verified_By_and_When_Pending_Review</name>
        <label>Verified By and When - Pending Review</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Verified_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Reference__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Error_Screen</name>
        <label>Copy 1 of Error Screen</label>
        <locationX>1898</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(244, 22, 22);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error at: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(238, 14, 14);&quot;&gt;{!$Flow.CurrentDateTime}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1106</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(244, 22, 22);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error at: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(238, 14, 14);&quot;&gt;{!$Flow.CurrentDateTime}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rejected_Screen</name>
        <label>Rejected Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Returned_Rejected2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana;&quot;&gt;Last Update regarding the current &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana;&quot;&gt;Information&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; font-family: verdana;&quot;&gt;Rejected by:&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px; font-family: verdana;&quot;&gt;{!Get_Reference_Record.Rejected_By_1st_Approval__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; font-family: verdana;&quot;&gt;﻿On: &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px; font-family: verdana;&quot;&gt;{!Get_Reference_Record.Rejected_Date_1st_Approval__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rejection_Reason</name>
        <label>Rejection Reason</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reject_submission1</targetReference>
        </connector>
        <fields>
            <name>Rejection_Reason_1</name>
            <choiceReferences>Not_Relevant</choiceReferences>
            <choiceReferences>Invalid_contact_details</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rejection_Reason_Pending_Review</name>
        <label>Rejection Reason - Pending Review</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reject_Submission_Pending_Review</targetReference>
        </connector>
        <fields>
            <name>Rejection_Reason_Pending_Review1</name>
            <choiceReferences>Not_Relevant</choiceReferences>
            <choiceReferences>Invalid_contact_details</choiceReferences>
            <choiceReferences>Referee_declined</choiceReferences>
            <choiceReferences>Unresponsive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verified</name>
        <label>Verified</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Approved</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana;&quot;&gt;Last Update regarding the current &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana;&quot;&gt;Information&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;Approved by:&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;{!Get_Reference_Record.Verified_By_1st_Approval__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;﻿On: &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;{!Get_Reference_Record.Verified_Date_1st_Approval__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verify_Or_Reject</name>
        <label>Verify Or Reject - Pending Review</label>
        <locationX>1502</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Clicked_Pending_Review</targetReference>
        </connector>
        <fields>
            <name>certificateApprovalscreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Reference Review&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please review the completed reference check and choose an option below:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>navPendingReview</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approve reference</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fire</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledFlag</name>
                <value>
                    <elementReference>VerificationButton</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label2</name>
                <value>
                    <stringValue>Decline reference</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledFlag2</name>
                <value>
                    <elementReference>RejectionButton</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IsVerify</assignToReference>
                <name>fire</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VerifyOrReject</name>
        <label>Verify Or Reject</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Clicked</targetReference>
        </connector>
        <fields>
            <name>certificateApproval</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Confirm Referee Details&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Is this a suitable referee to request references from for this candidate’s application?&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>navPending</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fire</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approve referee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledFlag</name>
                <value>
                    <elementReference>VerificationButton</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label2</name>
                <value>
                    <stringValue>Reject referee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledFlag2</name>
                <value>
                    <elementReference>RejectionButton</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IsVerify</assignToReference>
                <name>fire</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reference_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Branch_Email_Types_Subflow</name>
        <label>Branch Email Types Subflow</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Candidate_Email</targetReference>
        </connector>
        <flowName>X1218_Branch_Email_Types_Subflow</flowName>
        <inputAssignments>
            <name>BranchName</name>
            <value>
                <elementReference>Get_Reference_Record.b3o__Contact__r.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTypes</name>
            <value>
                <stringValue>Recruitment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Branch_Email_Types_Subflow_0</name>
        <label>Branch Email Types Subflow - Pending Review</label>
        <locationX>1634</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Candidate_Email_0</targetReference>
        </connector>
        <flowName>X1218_Branch_Email_Types_Subflow</flowName>
        <inputAssignments>
            <name>BranchName</name>
            <value>
                <elementReference>Get_Reference_Record.b3o__Contact__r.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTypes</name>
            <value>
                <stringValue>Recruitment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X1218_Sub_Flow_to_Get_the_Email_Template</name>
        <label>1218 - Sub Flow to Get the Email Template</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>X1218_Update_Session_Key</targetReference>
        </connector>
        <flowName>X1218_Sub_Flow_to_Get_the_Email_Template</flowName>
        <inputAssignments>
            <name>Brand</name>
            <value>
                <elementReference>Get_Related_Candidate.Branch__r.Brand_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationName</name>
            <value>
                <stringValue>New Reference Request</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X1218_Sub_Flow_to_Get_the_Email_Template_2</name>
        <label>1218 - Sub Flow to Get the Email Template 2</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>X1218_Update_Session_1</targetReference>
        </connector>
        <flowName>X1218_Sub_Flow_to_Get_the_Email_Template</flowName>
        <inputAssignments>
            <name>Brand</name>
            <value>
                <elementReference>Get_Related_Candidate_Pending_Review.Branch__r.Brand_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationName</name>
            <value>
                <stringValue>New Reference Request</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X1218_Update_Session_1</name>
        <label>1218 - Update Session Key 1</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_Related_Branch_Email_0</targetReference>
        </connector>
        <flowName>X1218_Update_Session_Key</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Related_Candidate_Pending_Review.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>X1218_Update_Session_Key</name>
        <label>1218 - Update Session Key</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_Related_Branch_Email</targetReference>
        </connector>
        <flowName>X1218_Update_Session_Key</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Related_Candidate.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTypes</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsVerify</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
