.vscode/allianceuat_compare/force-app/main/default/flows/X1218_Availability_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_Friday_Availability</name>
        <label>Create Friday Availability</label>
        <locationX>644</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>SingleDay.Availability_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Availability_Schedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Add_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Notes_Friday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Friday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.TypeSlot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Availability_Friday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Unavailable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unavailable_Friday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Saturday_Availability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Monday_Availability</name>
        <label>Create Monday Availability</label>
        <locationX>644</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>SingleDay.Availability_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Availability_Schedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Add_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_notes_Monday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.TypeSlot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Availability_Monday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Unavailable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unavailable_Monday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tuesday_Availability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Saturday_Availability</name>
        <label>Create Saturday Availability</label>
        <locationX>644</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>SingleDay.Availability_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Availability_Schedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Add_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Notes_Saturday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Saturday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.TypeSlot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Availability_Saturday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Unavailable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unavailable_Saturday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sunday_Availability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Sunday_Availability</name>
        <label>Create Sunday Availability</label>
        <locationX>644</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>SingleDay.Availability_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Availability_Schedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Add_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Notes_Sunday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sunday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.TypeSlot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Availability_Sunday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Unavailable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unavailable_Sunday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Collection_of_Days_is_not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Thursday_Availability</name>
        <label>Create Thursday Availability</label>
        <locationX>644</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>SingleDay.Availability_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Availability_Schedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Add_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Notes_Thursday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thursday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.TypeSlot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Availability_Thursday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Unavailable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unavailable_Thursday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Friday_Availability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Tuesday_Availability</name>
        <label>Create Tuesday Availability</label>
        <locationX>644</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>SingleDay.Availability_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Availability_Schedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Add_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_notes_Tuesday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tuesday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.TypeSlot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Availability_Tuesday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Unavailable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unavailable_Tuesday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Wednesday_Availability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Wednesday_Availability</name>
        <label>Create Wednesday Availability</label>
        <locationX>644</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>SingleDay.Availability_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Availability_Schedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Add_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Notes_Wednesday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wednesday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.TypeSlot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Availability_Wednesday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDay.Unavailable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unavailbale_Wednesday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Thursday_Availability</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Collection_of_Days_is_not_Null</name>
        <label>Check if Collection of Days is not Null</label>
        <locationX>644</locationX>
        <locationY>2078</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionofDays</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Availability_Days</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Old_Availability_Schedule_is_present</name>
        <label>Check if Old Availability Schedule is present</label>
        <locationX>446</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <targetReference>Thank_You_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Availability_Schedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Availability_Schedule</targetReference>
            </connector>
            <label>isPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Date_Check</name>
        <label>End Date Check</label>
        <locationX>347</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Create_Availability_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>endDate_CHECK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>startDate_CHECK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unable_to_proceed</targetReference>
            </connector>
            <label>&gt; 30</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Friday_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypeSlot__c</picklistField>
        <picklistObject>Availability_Schedule_Day__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MondayChoices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypeSlot__c</picklistField>
        <picklistObject>Availability_Schedule_Day__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Saturday_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypeSlot__c</picklistField>
        <picklistObject>Availability_Schedule_Day__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sunday_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypeSlot__c</picklistField>
        <picklistObject>Availability_Schedule_Day__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Thursday_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypeSlot__c</picklistField>
        <picklistObject>Availability_Schedule_Day__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tuesday_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypeSlot__c</picklistField>
        <picklistObject>Availability_Schedule_Day__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Wednesday_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypeSlot__c</picklistField>
        <picklistObject>Availability_Schedule_Day__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>today() + 30</expression>
    </formulas>
    <formulas>
        <name>endDate_CHECK</name>
        <dataType>Boolean</dataType>
        <expression>IF({!End_Date} - today() &gt; 30, true,false)</expression>
    </formulas>
    <formulas>
        <name>MonScreenValidation</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    AND(
        OR(
            CONTAINS({!Availability_Monday}, &quot;Available&quot;), 
            CONTAINS({!Availability_Monday}, &quot;ND&quot;), 
            CONTAINS({!Availability_Monday}, &quot;Unavailable&quot;)
        ), 
        {!Unavailable_Monday} = true
    ), 
    false, 
    true
)</expression>
    </formulas>
    <formulas>
        <name>startDate_CHECK</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Start_Date} - today() &gt; 30, true,false)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>1218 Availability Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Availability Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Availability_Days</name>
        <label>Create Availability Days</label>
        <locationX>446</locationX>
        <locationY>2186</locationY>
        <connector>
            <targetReference>Check_if_Old_Availability_Schedule_is_present</targetReference>
        </connector>
        <inputReference>CollectionofDays</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Availability_Schedule</name>
        <label>Create Availability Schedule</label>
        <locationX>644</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Create_Monday_Availability</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Availability_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Availability_Schedule</name>
        <label>Delete Old Availability Schedule</label>
        <locationX>314</locationX>
        <locationY>2402</locationY>
        <connector>
            <targetReference>Thankyou</targetReference>
        </connector>
        <inputReference>Get_Availability_Schedule</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Availability_Schedule</name>
        <label>Get Existing Availability Schedule</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_Monday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Availability_Schedule__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Friday</name>
        <label>Get existing Friday</label>
        <locationX>347</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_Saturday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Availability_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Availability_Schedule.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Friday</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Availability_Schedule_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Monday</name>
        <label>Get existing Monday</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_Tuesday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Availability_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Availability_Schedule.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monday</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Availability_Schedule_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Saturday</name>
        <label>Get existing Saturday</label>
        <locationX>347</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_Sunday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Availability_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Availability_Schedule.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Saturday</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Availability_Schedule_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Sunday</name>
        <label>Get existing Sunday</label>
        <locationX>347</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Availability_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Availability_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Availability_Schedule.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sunday</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Availability_Schedule_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Thursday</name>
        <label>Get existing Thursday</label>
        <locationX>347</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_Friday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Availability_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Availability_Schedule.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Thursday</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Availability_Schedule_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Tuesday</name>
        <label>Get existing Tuesday</label>
        <locationX>347</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_Wednesday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Availability_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Availability_Schedule.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tuesday</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Availability_Schedule_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Wednesday</name>
        <label>Get existing Wednesday</label>
        <locationX>347</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_Thursday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Availability_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Availability_Schedule.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wednesday</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Availability_Schedule_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Availability_Schedule</name>
        <label>Availability Schedule</label>
        <locationX>347</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>End_Date_Check</targetReference>
        </connector>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>EndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Monday</name>
            <fieldText>&lt;p&gt;Monday&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Availability_Monday</name>
            <choiceReferences>MondayChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Monday.TypeSlot__c</elementReference>
            </defaultValue>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Unavailable_Monday</name>
            <dataType>Boolean</dataType>
            <fieldText>Unavailable</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;You cannot select Unavailable when any of the above slot is selected.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!MonScreenValidation}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Add_notes_Monday</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Monday.Add_Note__c</elementReference>
            </defaultValue>
            <fieldText>Add notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tuesday</name>
            <fieldText>&lt;p&gt;Tuesday&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Availability_Tuesday</name>
            <choiceReferences>Tuesday_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Tuesday.TypeSlot__c</elementReference>
            </defaultValue>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Unavailable_Tuesday</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_existing_Tuesday.Unavailable__c</elementReference>
            </defaultValue>
            <fieldText>Unavailable</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_notes_Tuesday</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Tuesday.Add_Note__c</elementReference>
            </defaultValue>
            <fieldText>Add notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Wednesday</name>
            <fieldText>&lt;p&gt;Wednesday&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Availability_Wednesday</name>
            <choiceReferences>Wednesday_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Wednesday.TypeSlot__c</elementReference>
            </defaultValue>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Unavailbale_Wednesday</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_existing_Wednesday.Unavailable__c</elementReference>
            </defaultValue>
            <fieldText>Unavailable</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Notes_Wednesday</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Wednesday.Add_Note__c</elementReference>
            </defaultValue>
            <fieldText>Add Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Thursday</name>
            <fieldText>&lt;p&gt;Thursday&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Availability_Thursday</name>
            <choiceReferences>Thursday_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Thursday.TypeSlot__c</elementReference>
            </defaultValue>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Unavailable_Thursday</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_existing_Thursday.Unavailable__c</elementReference>
            </defaultValue>
            <fieldText>Unavailable</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Notes_Thursday</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Thursday.Add_Note__c</elementReference>
            </defaultValue>
            <fieldText>Add Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Friday</name>
            <fieldText>&lt;p&gt;Friday&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Availability_Friday</name>
            <choiceReferences>Friday_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Friday.TypeSlot__c</elementReference>
            </defaultValue>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Unavailable_Friday</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_existing_Friday.Unavailable__c</elementReference>
            </defaultValue>
            <fieldText>Unavailable</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Notes_Friday</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Friday.Add_Note__c</elementReference>
            </defaultValue>
            <fieldText>Add Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Saturday</name>
            <fieldText>&lt;p&gt;Saturday&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Availability_Saturday</name>
            <choiceReferences>Saturday_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Saturday.TypeSlot__c</elementReference>
            </defaultValue>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Unavailable_Saturday</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_existing_Saturday.Unavailable__c</elementReference>
            </defaultValue>
            <fieldText>Unavailable</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Notes_Saturday</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Saturday.Add_Note__c</elementReference>
            </defaultValue>
            <fieldText>Add Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sunday</name>
            <fieldText>&lt;p&gt;Sunday&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Availability_Sunday</name>
            <choiceReferences>Sunday_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Sunday.TypeSlot__c</elementReference>
            </defaultValue>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Unavailable_Sunday</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_existing_Sunday.Unavailable__c</elementReference>
            </defaultValue>
            <fieldText>Unavailable</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Notes_Sunday</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_existing_Sunday.Add_Note__c</elementReference>
            </defaultValue>
            <fieldText>Add Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>578</locationX>
        <locationY>2402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thankyoumessagefirst</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Thank you for providing your availability. We have received it and will integrate it into your schedule within the next few minutes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thankyou</name>
        <label>Thankyou</label>
        <locationX>314</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thankyoumessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Thank you for providing your updated availability. We have received it and will integrate it into your schedule within the next few minutes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unable_to_proceed</name>
        <label>Unable to proceed</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can only create availability for a maximum of 30 days in advance. Please click &quot;back&quot; to adjust your dates and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Availability_Schedule</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionofDays</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Availability_Schedule_Day__c</objectType>
    </variables>
    <variables>
        <name>SingleDay</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Availability_Schedule_Day__c</objectType>
    </variables>
</Flow>
