.vscode/allianceuat_compare/force-app/main/default/flows/X2c9_Custom_Assignment_Rate_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AR</name>
        <label>Assign AR</label>
        <locationX>534</locationX>
        <locationY>1592</locationY>
        <assignmentItems>
            <assignToReference>varAssignmentRate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AR_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_et__Invoice_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMPR.tc9_et__Custom_Pay_Rate_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_et__Invoice_Tax_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment.tc9_et__Invoice_Tax_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_et__Invoice_Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment.tc9_et__Invoice_Taxable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_et__To_Be_Invoiced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_pr__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_pr__Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMPR.tc9_et__Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_pr__Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMPR.tc9_et__Expiry_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_pr__Pay_code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMPR.tc9_et__Allowance_Pay_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_et__Timesheet_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timesheet_Activity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_pr__Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMPR.tc9_et__Pay_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_pr__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMPR.tc9_et__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_et__Invoice_Alone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_pr__Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Unexpired_Assignment_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AR2</name>
        <label>Assign AR</label>
        <locationX>875</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>varAssignmentRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Assignment_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_pr__Pay_code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Paycode_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_pr__Default_Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentRate.tc9_et__Rate_Calculator_Line__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Assignment_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>534</locationX>
        <locationY>2024</locationY>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Pay_Transactions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pay_Transactions1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Employee_MPR</name>
        <label>Assign Employee MPR</label>
        <locationX>83</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>varMPR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_MPR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MPR_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fixed_MPR</name>
        <label>Assign Fixed MPR</label>
        <locationX>347</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>varMPR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Minimum_Pay_Rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MPR_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pay_Transactions</name>
        <label>Assign Pay Transactions</label>
        <locationX>490</locationX>
        <locationY>2456</locationY>
        <assignmentItems>
            <assignToReference>varPayTransactions.tc9_pr__Assignment_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Assignment_Rate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransactions.tc9_pr__Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMPR.tc9_et__Pay_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransactions.tc9_et__Invoice_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMPR.tc9_et__Custom_Pay_Rate_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransactions.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pay_Transactions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPTCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPayTransactions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Pay_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Pay_Transactions</name>
        <label>Assign Pay Transactions</label>
        <locationX>138</locationX>
        <locationY>1700</locationY>
        <assignmentItems>
            <assignToReference>varPayTransactions.tc9_pr__Assignment_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_Rate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransactions.tc9_pr__Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_Rate.tc9_pr__Pay_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransactions.tc9_et__Invoice_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_Rate.tc9_et__Invoice_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayTransactions.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pay_Transactions1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPTCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPayTransactions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Pay_Transactions1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Default_AR_Found</name>
        <label>Default AR Found?</label>
        <locationX>743</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Assign_AR2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Default_AR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Default_Assignment_Rate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Default AR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Assignment_Rate</name>
        <label>Found Assignment Rate?</label>
        <locationX>292</locationX>
        <locationY>1376</locationY>
        <defaultConnector>
            <targetReference>Get_AR_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No AR Found</defaultConnectorLabel>
        <rules>
            <name>AR_Successfully_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assignment_Rate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Pay_Transactions</targetReference>
            </connector>
            <label>AR Successfully Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>MPR_Found</name>
        <label>MPR Found?</label>
        <locationX>611</locationX>
        <locationY>1052</locationY>
        <defaultConnector>
            <targetReference>Create_Debug_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>MPR_Successfully_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMPR.tc9_et__Pay_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Timesheet_Activity</targetReference>
            </connector>
            <label>MPR Successfully Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Type</name>
        <label>Payment Type</label>
        <locationX>611</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Debug_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Selection</defaultConnectorLabel>
        <rules>
            <name>Custom_Rule_Award_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Rule.Rate_Selection_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Award-Based</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Employee_Qualification</targetReference>
            </connector>
            <label>Custom Rule - Award-Based</label>
        </rules>
        <rules>
            <name>Custom_Rule_Fixed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Rule.Rate_Selection_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Minimum_Pay_Rate</targetReference>
            </connector>
            <label>Custom Rule - Fixed</label>
        </rules>
        <rules>
            <name>Cancellation_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Custom_Rule_ID__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Paycode_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Default_Assignment_Rate</targetReference>
            </connector>
            <label>Cancellation Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Pay_Transactions1</name>
        <label>Update Pay Transactions?</label>
        <locationX>534</locationX>
        <locationY>2132</locationY>
        <defaultConnectorLabel>No Update</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Assignment_Rate</targetReference>
            </connector>
            <label>Yes Update</label>
        </rules>
    </decisions>
    <description>Platform Event used to create custom Assignment Rates outside of 2cloudnine product rates creation functionality.
Currently used to create Allowance based Assignment Rates to drastically minimise MPR record creation and management for allowance based Assignment Rates.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmDebugLogError</name>
        <dataType>String</dataType>
        <expression>&quot;Custom Assignment Rate Creation Failed&quot; &amp;
&quot;Platform Event Details: &quot; &amp;
&quot;Assignment ID = &quot; &amp; {!$Record.Assignment_ID__c} &amp; 
&quot;, Pay Code ID = &quot; &amp; {!$Record.Paycode_ID__c} &amp; 
&quot;, TS Activity ID = &quot; &amp; {!$Record.Timesheet_Activity_ID__c} &amp; 
&quot;, Custom Rule ID = &quot; &amp; {!$Record.Custom_Rule_ID__c} &amp; 
&quot;, Effective Date = &quot; &amp; TEXT({!$Record.Effective_Date__c}) &amp;
&quot; Get Record Details: &quot; &amp;
&quot;, Employee Qualification = &quot; &amp; {!Get_Employee_Qualification.Id} &amp;
&quot;, Employee MPR = &quot; &amp; {!Get_Employee_MPR.Id} &amp;
&quot;, Fixed MPR = &quot; &amp; {!Get_Employee_MPR.Id} &amp;
&quot;, Cancellation MPR = &quot; &amp; {!Get_Custom_Rule.Id}</expression>
    </formulas>
    <formulas>
        <name>frmDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Updated from &apos;2c9 - Custom Assignment Rate Creation&apos; flow&quot; &amp; {!Get_New_Assignment_Rate.Id}</expression>
    </formulas>
    <formulas>
        <name>frmExpiryDate</name>
        <dataType>Date</dataType>
        <expression>{!varMPR.tc9_et__Effective_Date__c} - 1</expression>
    </formulas>
    <formulas>
        <name>frmToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>2c9 - Custom Assignment Rate Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2c9 - Custom Assignment Rate Creation</label>
    <loops>
        <name>Loop_Pay_Transactions</name>
        <label>Loop Pay Transactions</label>
        <locationX>402</locationX>
        <locationY>2348</locationY>
        <collectionReference>Get_Pay_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Pay_Transactions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Pay_Transactions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Pay_Transactions1</name>
        <label>Loop Pay Transactions</label>
        <locationX>50</locationX>
        <locationY>1592</locationY>
        <collectionReference>Copy_1_of_Get_Pay_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Pay_Transactions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Pay_Transactions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assignment_Rate</name>
        <label>Create Assignment Rate</label>
        <locationX>534</locationX>
        <locationY>1808</locationY>
        <connector>
            <targetReference>Get_Pay_Transactions</targetReference>
        </connector>
        <inputReference>varAssignmentRate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Debug_Log</name>
        <label>Create Debug Log</label>
        <locationX>930</locationX>
        <locationY>1160</locationY>
        <inputAssignments>
            <field>tc9_pr__Area__c</field>
            <value>
                <stringValue>Custom Assignment Rates Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Description__c</field>
            <value>
                <elementReference>frmDebugLogError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Source__c</field>
            <value>
                <stringValue>FLOW FAILURE - 2c9 - Custom Assignment Rate Creation</stringValue>
            </value>
        </inputAssignments>
        <object>tc9_pr__Debug_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Pay_Transactions</name>
        <label>Get Pay Transactions</label>
        <locationX>50</locationX>
        <locationY>1484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Pay_Transactions1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMPR.tc9_et__Allowance_Pay_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMPR.tc9_et__Timesheet_Activity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Invoice_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AR_Record_Type</name>
        <label>Get AR Record Type</label>
        <locationX>534</locationX>
        <locationY>1484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Assignment_Rate__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Timesheet</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignment</name>
        <label>Get Assignment</label>
        <locationX>611</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assignment_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignment_Rate</name>
        <label>Get Assignment Rate</label>
        <locationX>292</locationX>
        <locationY>1268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Assignment_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assignment_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMPR.tc9_et__Allowance_Pay_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Timesheet_Activity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Effective_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMPR.tc9_et__Effective_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Rule</name>
        <label>Get Custom Rule</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Custom_Rule_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Custom_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Assignment_Rate</name>
        <label>Get Default Assignment Rate</label>
        <locationX>743</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Default_AR_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assignment_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Default_Pay_Rate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_MPR</name>
        <label>Get Employee MPR</label>
        <locationX>83</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Employee_MPR</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</filterLogic>
        <filters>
            <field>tc9_et__Allowance_Pay_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Paycode_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Rate_Calculator_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment.tc9_ext_sirint__Job_Role__r.Allowance_Template_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Award_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_Qualification.sirenum__TicketType__r.Award_Classification__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Award_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_Qualification.sirenum__TicketType__r.Award_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Minimum_Pay_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Qualification</name>
        <label>Get Employee Qualification</label>
        <locationX>83</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_MPR</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 6 AND (4 OR 5)</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment.tc9_pr__Employee__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interpretation_Rule_Template_Group_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment.tc9_ext_sirint__Job_Role__r.tc9_ext_sirint__Interpretation_Rule__r.tc9_et__Interpretation_Rule_Template_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_from__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_until__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_until__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Award_Classification_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Minimum_Pay_Rate</name>
        <label>Get Minimum Pay Rate</label>
        <locationX>347</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Fixed_MPR</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</filterLogic>
        <filters>
            <field>tc9_et__Allowance_Pay_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Paycode_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Timesheet_Activity_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Rate_Calculator_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment.tc9_ext_sirint__Job_Role__r.Allowance_Template_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Minimum_Pay_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Assignment_Rate</name>
        <label>Get New Assignment Rate</label>
        <locationX>402</locationX>
        <locationY>2240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Pay_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMPR.tc9_et__Allowance_Pay_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMPR.tc9_et__Timesheet_Activity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment_Rate__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Transactions</name>
        <label>Get Pay Transactions</label>
        <locationX>534</locationX>
        <locationY>1916</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMPR.tc9_et__Allowance_Pay_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMPR.tc9_et__Timesheet_Activity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Assignment_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet_Activity</name>
        <label>Get Timesheet Activity</label>
        <locationX>292</locationX>
        <locationY>1160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignment_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Timesheet_Activity_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Project_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pay_Transactions</name>
        <label>Update Pay Transactions</label>
        <locationX>292</locationX>
        <locationY>2816</locationY>
        <inputReference>varPTCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>The purpose of this is to update any existing Assignment Rates that need to be expired before the effective date of the new Assignment Rate. This is required because their is no current process that automatically expires Assignment Rates when the expiry date of the MPR is added using this custom process.</description>
        <name>Update_Unexpired_Assignment_Rate</name>
        <label>Update Unexpired Assignment Rate</label>
        <locationX>534</locationX>
        <locationY>1700</locationY>
        <connector>
            <targetReference>Create_Assignment_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Paycode_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Timesheet_Activity_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_pr__Expiry_Date__c</field>
            <value>
                <elementReference>frmExpiryDate</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_pr__Assignment_Rate__c</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assignment</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Custom_Assignment_Rate__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAssignmentRate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Assignment_Rate__c</objectType>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varMPR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Minimum_Pay_Rate__c</objectType>
    </variables>
    <variables>
        <name>varPayTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>varPTCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
</Flow>
