.vscode/allianceuat_compare/force-app/main/default/flows/X2c9_Create_Invoiceable_Fee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Adjust_Counters</name>
        <label>Adjust Counters</label>
        <locationX>1106</locationX>
        <locationY>4442</locationY>
        <assignmentItems>
            <assignToReference>var_Fee_quantity</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>ff_quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_fees_remaining</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ff_fee_total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_total_fees_created</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_assignment</name>
        <label>assign assignment</label>
        <locationX>1634</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>var_AssignmentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.X2c9_Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PS_Fee_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Client</name>
        <label>Assign Client</label>
        <locationX>1084</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varClientID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.TR1__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set &apos;Fee Created&apos; checkbox to True</description>
        <name>Assign_Contract_Placement</name>
        <label>Assign Contract Placement</label>
        <locationX>842</locationX>
        <locationY>4226</locationY>
        <assignmentItems>
            <assignToReference>varPlacement.Fee_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlacement.Number_of_Fees_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_number_of_fees_created</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlacement.X2c9_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AssignmentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Placement_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Daily_Fee</name>
        <label>Assign Daily Fee</label>
        <locationX>842</locationX>
        <locationY>4010</locationY>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PS_Fee_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.TR1__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Fee_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Fee_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Fee_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Daily Fee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Alone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Daily_Invoice_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Invoice_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.TR1__Account__r.tc9_et__Default_Invoice_Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Tax_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.TR1__Account__r.tc9_et__Default_Invoice_Tax_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmCONTRACT_InvoiceTaxable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CONTRACT_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.TR1__Person_Placed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.Placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AssignmentID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.To_be_Invoiced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Daily_Invoiceable_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoiceable_Fee</name>
        <label>Assign Invoiceable Fee</label>
        <locationX>1084</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Perm_Fee_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Fee_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Fee_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Permanent Placement of Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Alone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Schedule.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Tax_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Tax_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmInvoiceTaxable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.Placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AssignmentID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.To_be_Invoiced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Invoiceable_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set &apos;Fee Created&apos; checkbox to True</description>
        <name>Assign_Placement</name>
        <label>Assign Placement</label>
        <locationX>1084</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>varPlacement.Fee_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlacement.X2c9_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AssignmentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Placement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Weekly_Fee</name>
        <label>Assign Weekly Fee</label>
        <locationX>1106</locationX>
        <locationY>4334</locationY>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PS_Fee_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.TR1__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Fee_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_fee_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Fee_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Weekly Fee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Alone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_Weekly_CONTRACT_Invoice_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weekly_Contract_Invoice_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.TR1__Account__r.tc9_et__Default_Invoice_Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Tax_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.TR1__Account__r.tc9_et__Default_Invoice_Tax_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Invoice_Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_Weekly_Invoice_Taxable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ff_quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.TR1__Person_Placed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.Placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.tc9_et__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AssignmentID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvoiceableFee.To_be_Invoiced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcs_invoiceable_fee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varInvoiceableFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjust_Counters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_award_details</name>
        <label>set award details</label>
        <locationX>567</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_award_classification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.TR1__Job__r.s5m__JobRole__r.tc9_ext_sirint__Award_Classification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_award_level</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Qualifications.sirenum__TicketType__r.Award_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RC_Group</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.TR1__Job__r.s5m__JobRole__r.Rate_Template_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_candidate_award_level_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Qualifications.sirenum__TicketType__r.Award_Level__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Qualifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Invoice_Qty_from_Fee_Qty</name>
        <label>Subtract Invoice Qty from Fee Qty</label>
        <locationX>1238</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>var_date_counter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ff_quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assignment_Already_Exists</name>
        <label>Assignment Already Exists?</label>
        <locationX>1502</locationX>
        <locationY>3170</locationY>
        <defaultConnector>
            <targetReference>assign_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Placement.X2c9_Assignment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PayrollServiceFee_Assignment_RT</targetReference>
            </connector>
            <label>No - Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Award_Classification_matches_Job</name>
        <label>Award Classification matches Job</label>
        <locationX>699</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Qualifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Qualifications.sirenum__TicketType__r.Award_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Placement.TR1__Job__r.s5m__JobRole__r.tc9_ext_sirint__Award_Classification__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_award_details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Fee</name>
        <label>Create Fee</label>
        <locationX>1502</locationX>
        <locationY>4010</locationY>
        <defaultConnector>
            <targetReference>Fees_to_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_create_next</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Fee_quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ff_quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_Invoice_Qty_from_Fee_Qty</targetReference>
            </connector>
            <label>Yes create next</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fee_Period</name>
        <label>Fee Period</label>
        <locationX>1502</locationX>
        <locationY>3902</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Daily</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Placement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFS_Daily</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Daily_Fee</targetReference>
            </connector>
            <label>Daily</label>
        </rules>
        <rules>
            <name>Weekly</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Placement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFS_Weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Placement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fee_for_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fee</targetReference>
            </connector>
            <label>Weekly</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fees_to_create</name>
        <label>Fees to create?</label>
        <locationX>1766</locationX>
        <locationY>4118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcs_invoiceable_fee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fees</targetReference>
            </connector>
            <label>Yes - Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_valid_credential</name>
        <label>Found valid credential?</label>
        <locationX>479</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>get_Minimum_Pay_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Error1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_award_level</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_credential</targetReference>
            </connector>
            <label>No - Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>MPR_Found</name>
        <label>MPR Found</label>
        <locationX>908</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Placement_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes continue</defaultConnectorLabel>
        <rules>
            <name>No_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Minimum_Pay_Rate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_mpr</targetReference>
            </connector>
            <label>No - Error</label>
        </rules>
        <rules>
            <name>Yes_but_no_rate</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>get_Minimum_Pay_Rate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Minimum_Pay_Rate.tc9_et__Custom_Pay_Rate_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Minimum_Pay_Rate.tc9_et__Custom_Pay_Rate_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_error_mpr</targetReference>
            </connector>
            <label>Yes - but no rate</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Default_Invoice_Entity</name>
        <label>No Default Invoice Entity</label>
        <locationX>1084</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>txtCreateFee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Default_Invoice_Entity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.tc9_et__Invoice_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Data</targetReference>
            </connector>
            <label>None Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Placement_Fee</name>
        <label>Placement Fee</label>
        <locationX>1502</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Assignment_Already_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Placement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Placement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Placement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_contract_test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client</targetReference>
            </connector>
            <label>Yes Placement</label>
        </rules>
        <rules>
            <name>Fee_for_Service_Daily</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Placement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFS_Daily</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_contract_test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Fee</targetReference>
            </connector>
            <label>Fee for Service - Daily</label>
        </rules>
        <rules>
            <name>Fee_for_Service_Weekly</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Placement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFS_Weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Placement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fee_for_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Weekly_CONTRACT_Create_Fee</targetReference>
            </connector>
            <label>Fee for Service - Weekly</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_0</name>
        <label>Quantity != 0</label>
        <locationX>1238</locationX>
        <locationY>4226</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ff_quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Weekly_Fee</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>ALN-26 - Created
ALN-21 - Added Payroll Service Fee model
ALN-175 - Cater for Daily and Weekly FFS Model
ALN-21 - Changed FFS Weekly record type to support 1218 changes
ALN-248 - Changed to support MPR for fee amount
ALN-316 - Added logic to cater for MPR being found but no rate</description>
    <dynamicChoiceSets>
        <name>choiceFeeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>tc9_et__Fee_Type__c</picklistField>
        <picklistObject>tc9_et__Invoiceable_Fee__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FeeDate</name>
        <dataType>Date</dataType>
        <expression>({!Get_Placement.TR1__Start_Date__c}-7) + ({!var_date_counter}* 7)</expression>
    </formulas>
    <formulas>
        <name>ff_CONTRACT_AssignmentName</name>
        <dataType>String</dataType>
        <expression>&quot;Payroll Service Fee: &quot; &amp; {!Get_Placement.TR1__Job__r.Name}</expression>
    </formulas>
    <formulas>
        <name>ff_CONTRACT_Invoice_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Payroll Service Fee&quot; &amp; BR() &amp; 
&quot;Candidate: &quot; &amp; 
  {!Get_Placement.TR1__Person_Placed__r.FirstName} &amp; &quot; &quot; &amp; 
  {!Get_Placement.TR1__Person_Placed__r.LastName} &amp; BR() &amp; 
&quot;Job: &quot; &amp; 
  {!Get_Placement.TR1__Job__r.Name}</expression>
    </formulas>
    <formulas>
        <name>ff_contract_invoice_taxable</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    ISPICKVAL({!Get_Placement.TR1__Account__r.tc9_et__Default_Invoice_Taxable__c}, &quot;Yes&quot;),
    TRUE,
    FALSE
)</expression>
    </formulas>
    <formulas>
        <name>ff_daily_CONTRACT_Invoice_Description</name>
        <dataType>String</dataType>
        <expression>{!Daily_Invoice_Description} &amp; BR() &amp; 
&quot;Fee for Week Ending: &quot; &amp; 
  TEXT(DAY({!ff_fee_date})) &amp; &quot;/&quot; &amp; 
  TEXT(MONTH({!ff_fee_date})) &amp; &quot;/&quot; &amp; 
  TEXT(YEAR({!ff_fee_date}))</expression>
    </formulas>
    <formulas>
        <name>ff_default_invoice_description</name>
        <dataType>String</dataType>
        <expression>&quot;Candidate: &quot; &amp; 
  {!Get_Placement.TR1__Person_Placed__r.FirstName} &amp; &quot; &quot; &amp; 
  {!Get_Placement.TR1__Person_Placed__r.LastName} &amp; BR() &amp; 
&quot;Job: &quot; &amp; 
  {!Get_Placement.TR1__Job__r.Name} &amp; BR() &amp; 
&quot;Start Date: &quot; &amp; 
  TEXT(DAY({!Get_Placement.TR1__Start_Date__c})) &amp; &quot;/&quot; &amp; 
  TEXT(MONTH({!Get_Placement.TR1__Start_Date__c})) &amp; &quot;/&quot; &amp; 
  TEXT(YEAR({!Get_Placement.TR1__Start_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>ff_end_of_last_week</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - MOD({!$Flow.CurrentDate} - DATE(2023, 1, 8), 7)</expression>
    </formulas>
    <formulas>
        <name>ff_fee_date</name>
        <dataType>Date</dataType>
        <expression>if({!FeeDate} &gt; {!Get_Placement.TR1__End_Date__c}, {!Get_Placement.TR1__End_Date__c}, {!FeeDate})</expression>
    </formulas>
    <formulas>
        <name>ff_fee_total</name>
        <dataType>Number</dataType>
        <expression>{!ff_quantity}* {!Weekly_Contract_Invoice_Rate}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>ff_number_of_fees_created</name>
        <dataType>Number</dataType>
        <expression>{!Get_Placement.Number_of_Fees_Created__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ff_placement_FFS_period</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Placement.RecordType.DeveloperName}, 
&quot;Fee_for_Service&quot;, &quot;Weekly&quot;,
&quot;Daily&quot;)</expression>
    </formulas>
    <formulas>
        <name>ff_quantity</name>
        <dataType>Number</dataType>
        <expression>if({!var_Fee_quantity}&gt;=1, 1, {!var_Fee_quantity})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ff_Weekly_CONTRACT_Invoice_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Payroll Service Fee&quot; &amp; BR() &amp; 
&quot;Candidate: &quot; &amp; 
  {!Get_Placement.TR1__Person_Placed__r.FirstName} &amp; &quot; &quot; &amp; 
  {!Get_Placement.TR1__Person_Placed__r.LastName} &amp; BR() &amp; 
&quot;Job: &quot; &amp; 
  {!Get_Placement.TR1__Job__r.Name} &amp; BR() &amp; 
&quot;Fee for Week Ending: &quot; &amp; 
  TEXT(DAY({!ff_fee_date})) &amp; &quot;/&quot; &amp; 
  TEXT(MONTH({!ff_fee_date})) &amp; &quot;/&quot; &amp; 
  TEXT(YEAR({!ff_fee_date}))</expression>
    </formulas>
    <formulas>
        <name>frm_CONTRACT_InvoiceTotalExTax</name>
        <dataType>Number</dataType>
        <expression>{!CONTRACT_Quantity} * {!Contract_Invoice_Rate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_CONTRACT_InvoiceTotalIncTax</name>
        <dataType>Number</dataType>
        <expression>IF({!CONTRACT_Toggle_Tax.value} = TRUE, ({!frm_CONTRACT_InvoiceTotalExTax} + {!frm_CONTRACT_InvoiceTotalTax}), {!frm_CONTRACT_InvoiceTotalExTax})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_CONTRACT_InvoiceTotalTax</name>
        <dataType>Number</dataType>
        <expression>({!CONTRACT_Quantity} * {!Contract_Invoice_Rate}* IF({!CONTRACT_Toggle_Tax.value} = TRUE, 0.1, 0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_Weekly_CONTRACT_InvoiceTotalExTax</name>
        <dataType>Number</dataType>
        <expression>1 *  {!Weekly_Contract_Invoice_Rate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_Weekly_CONTRACT_InvoiceTotalIncTax</name>
        <dataType>Number</dataType>
        <expression>IF({!Weekly_CONTRACT_Toggle_Tax.value}= TRUE, ({!frm_Weekly_CONTRACT_InvoiceTotalExTax} + {!frm_Weekly_CONTRACT_InvoiceTotalTax}), {!frm_Weekly_CONTRACT_InvoiceTotalExTax})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_Weekly_CONTRACT_InvoiceTotalTax</name>
        <dataType>Number</dataType>
        <expression>(1 * {!Weekly_Contract_Invoice_Rate}* IF({!Weekly_CONTRACT_Toggle_Tax.value} = TRUE, 0.1, 0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_Weekly_Invoice_Taxable</name>
        <dataType>String</dataType>
        <expression>IF(
{!Weekly_CONTRACT_Toggle_Tax.value} = true, &quot;Yes&quot;, &quot;No&quot;
)</expression>
    </formulas>
    <formulas>
        <name>frmCONTRACT_InvoiceTaxable</name>
        <dataType>String</dataType>
        <expression>IF(
{!CONTRACT_Toggle_Tax.value} = true, &quot;Yes&quot;, &quot;No&quot;
)</expression>
    </formulas>
    <formulas>
        <name>frmInvoiceTaxable</name>
        <dataType>String</dataType>
        <expression>IF(
{!Toggle_Tax.value} = true, &quot;Yes&quot;, &quot;No&quot;
)</expression>
    </formulas>
    <formulas>
        <name>frmInvoiceTotalExTax</name>
        <dataType>Number</dataType>
        <expression>{!Quantity} * {!Invoice_Rate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmInvoiceTotalIncTax</name>
        <dataType>Number</dataType>
        <expression>IF({!Toggle_Tax.value} = TRUE, ({!Quantity} * {!Invoice_Rate}) + ({!Quantity} * {!Invoice_Rate} * 0.10), {!Quantity} * {!Invoice_Rate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmInvoiceTotalTax</name>
        <dataType>Number</dataType>
        <expression>({!Quantity} * {!Invoice_Rate}) * IF({!Toggle_Tax.value} = TRUE, 0.10, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmTODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>2c9 - Create Invoiceable Fee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Invoiceable Fee</label>
    <loops>
        <name>Loop_Qualifications</name>
        <label>Loop Qualifications</label>
        <locationX>479</locationX>
        <locationY>350</locationY>
        <collectionReference>get_Person_Qualification</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Award_Classification_matches_Job</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_valid_credential</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assignment</name>
        <label>Create Assignment</label>
        <locationX>1084</locationX>
        <locationY>2330</locationY>
        <assignRecordIdToReference>var_AssignmentID</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Invoiceable_Fee</targetReference>
        </connector>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>Get_Placement.TR1__Account__r.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Placement__c</field>
            <value>
                <elementReference>Get_Placement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Perm_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Base_Salary__c</field>
            <value>
                <elementReference>Get_Placement.TR1__Salary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Client_Hiring_Manager__c</field>
            <value>
                <elementReference>Get_Placement.TR1__Job__r.TR1__Hiring_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Perm_Fee_Based_On__c</field>
            <value>
                <stringValue>Flat Fee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Perm_Flat_Fee_Amount__c</field>
            <value>
                <elementReference>Get_Placement.TR1__Adjusted_Fee_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Assignment_Name__c</field>
            <value>
                <elementReference>Get_Placement.TR1__Job__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Assignment_Start_Date__c</field>
            <value>
                <elementReference>Get_Placement.TR1__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Client__c</field>
            <value>
                <elementReference>Client.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Employee__c</field>
            <value>
                <elementReference>Get_Placement.TR1__Person_Placed__c</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_pr__Assignment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contract_Assignment</name>
        <label>Create Contract Assignment</label>
        <locationX>1370</locationX>
        <locationY>3386</locationY>
        <assignRecordIdToReference>var_AssignmentID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contract_Placement</targetReference>
        </connector>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>Get_Placement.TR1__Account__r.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Fee_Type__c</field>
            <value>
                <elementReference>Get_Placement.Contract_Fee_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Invoice_Amount__c</field>
            <value>
                <elementReference>Get_Placement.Contract_Fee_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Placement__c</field>
            <value>
                <elementReference>Get_Placement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_PayrollServiceFee_Assignment_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Round_Up_Part_Period_Fees__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Client_Hiring_Manager__c</field>
            <value>
                <elementReference>Get_Placement.TR1__Job__r.TR1__Hiring_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Assignment_End_Date__c</field>
            <value>
                <elementReference>Get_Placement.TR1__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Assignment_Name__c</field>
            <value>
                <elementReference>ff_CONTRACT_AssignmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Assignment_Start_Date__c</field>
            <value>
                <elementReference>Get_Placement.TR1__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Client__c</field>
            <value>
                <elementReference>Get_Placement.TR1__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_pr__Employee__c</field>
            <value>
                <elementReference>Get_Placement.TR1__Person_Placed__c</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_pr__Assignment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Daily_Invoiceable_Fee</name>
        <label>Create Daily Invoiceable Fee</label>
        <locationX>842</locationX>
        <locationY>4118</locationY>
        <connector>
            <targetReference>Assign_Contract_Placement</targetReference>
        </connector>
        <inputReference>varInvoiceableFee</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Fees</name>
        <label>Create Fees</label>
        <locationX>1634</locationX>
        <locationY>4226</locationY>
        <connector>
            <targetReference>Update_Assignment</targetReference>
        </connector>
        <inputReference>rcs_invoiceable_fee</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoiceable_Fee</name>
        <label>Create Invoiceable Fee</label>
        <locationX>1084</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Assign_Placement</targetReference>
        </connector>
        <inputReference>varInvoiceableFee</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1084</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_Tax_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varClientID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Contract_Assignment</name>
        <label>get Contract Assignment</label>
        <locationX>1502</locationX>
        <locationY>3794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fee_Period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignmentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Tax_ID</name>
        <label>Get Invoice Tax ID</label>
        <locationX>1084</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Default_Invoice_Entity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Tax_Rate__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Invoice_Tax_ID__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Minimum_Pay_Rate</name>
        <label>get Minimum Pay Rate</label>
        <locationX>908</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MPR_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) and 7</filterLogic>
        <filters>
            <field>tc9_et__Award_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_award_classification</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Award_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_award_level</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Rate_Calculator_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RC_Group</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Placement.TR1__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Placement.TR1__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fee_for_Service_Rate_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ff_placement_FFS_period</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Minimum_Pay_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payee</name>
        <label>Get Payee</label>
        <locationX>1084</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Perm_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employee.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Payee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PayrollServiceFee_Assignment_RT</name>
        <label>Get PayrollServiceFee Assignment RT</label>
        <locationX>1370</locationX>
        <locationY>3278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contract_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Assignment__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Perm</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Perm_Fee_Record_Type</name>
        <label>Get Perm Fee Record Type</label>
        <locationX>1084</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_et__Invoiceable_Fee__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Perm_Fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Perm_RT</name>
        <label>get Perm RT</label>
        <locationX>1084</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Assignment__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Perm</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Person_Qualification</name>
        <label>get Person Qualification</label>
        <locationX>479</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Qualifications</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Placement.TR1__Person_Placed__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_from__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Placement.TR1__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_until__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Placement.TR1__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Valid_until__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Placement</name>
        <label>Get Placement</label>
        <locationX>479</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Person_Qualification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPlacement.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Closing_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PS_Fee_Record_Type</name>
        <label>Get PS Fee Record Type</label>
        <locationX>1502</locationX>
        <locationY>3686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Contract_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_et__Invoiceable_Fee__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payroll_Services_Fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assignment</name>
        <label>Update Assignment</label>
        <locationX>1634</locationX>
        <locationY>4334</locationY>
        <connector>
            <targetReference>Update_Placement1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignmentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Fees_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fees_Remaining__c</field>
            <value>
                <elementReference>var_fees_remaining</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_pr__Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Placement</name>
        <label>Update Contract Placement</label>
        <locationX>1370</locationX>
        <locationY>3494</locationY>
        <connector>
            <targetReference>Get_PS_Fee_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Placement.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X2c9_Assignment__c</field>
            <value>
                <elementReference>var_AssignmentID</elementReference>
            </value>
        </inputAssignments>
        <object>TR1__Closing_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Placement</name>
        <label>Update Placement</label>
        <locationX>1084</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Fee_Created</targetReference>
        </connector>
        <inputReference>varPlacement</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Placement1</name>
        <label>Update Placement</label>
        <locationX>1634</locationX>
        <locationY>4442</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Placement.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Fees_Created__c</field>
            <value>
                <elementReference>var_total_fees_created</elementReference>
            </value>
        </inputAssignments>
        <object>TR1__Closing_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Placement_Details</name>
        <label>Update Placement Details</label>
        <locationX>842</locationX>
        <locationY>4334</locationY>
        <connector>
            <targetReference>Copy_2_of_Fee_Created</targetReference>
        </connector>
        <inputReference>varPlacement</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Create_Fee</name>
        <label>CONTRACT Create Fee</label>
        <locationX>1392</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Already_Exists</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Fee_Details</name>
            <fieldText>Fee Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Fee_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Fee_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>ff_end_of_last_week</elementReference>
                    </defaultValue>
                    <fieldText>Fee Date (end of prior week)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_txtBlank</name>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Fee_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>instruction</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(26, 119, 231); font-size: 14px;&quot;&gt;INSTRUCTIONS&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(26, 119, 231);&quot;&gt;At the conclusion of each week you will update the number of days worked with the days worked by the employee in the prior week.  Then create the &apos;fee&apos; which will create a fee for the Invoice Total amount (number of days worked X Daily Invoice Rate).  Once created this fee will be invoiced.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(26, 119, 231);&quot;&gt;This is to be repeated each week until the end of the assignment&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Daily_Invoice_Description</name>
            <defaultValue>
                <stringValue>{!ff_CONTRACT_Invoice_Description}</stringValue>
            </defaultValue>
            <fieldText>Invoice Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Details entered will display on the clients Invoice.  NOTE: For Daily Fees the Fee Date is added to the bottom of the invoice description so you do not need to add it&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CONTRACT_Invoice_Amount</name>
            <fieldText>Invoice Amount</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CONTRACT_Invoice_Amount_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CONTRACT_Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Number of Days worked (Quantity)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CONTRACT_Toggle_Tax</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Invoice Taxable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ff_contract_invoice_taxable</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CONTRACT_Invoice_Amount_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Invoice_Rate</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>get_Minimum_Pay_Rate.tc9_et__Custom_Pay_Rate_2__c</elementReference>
                    </defaultValue>
                    <fieldText>Daily Invoice Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Create_Fee_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Create_Fee_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CONTRACT_Invoice_Total_Ex_Tax</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frm_CONTRACT_InvoiceTotalExTax</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Total Ex. Tax</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Create_Fee_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CONTRACT_Invoice_Total_Tax</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frm_CONTRACT_InvoiceTotalTax</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Total Tax</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Create_Fee_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CONTRACT_Invoice_Total_Inc_Tax</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frm_CONTRACT_InvoiceTotalIncTax</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Total Inc. Tax</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Fee</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_error_mpr</name>
        <label>Copy 1 of error_mpr</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_dt_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 10, 10); font-size: 18px;&quot;&gt;ERROR&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An MPR record was found however No Fee for Service Rate is set:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Job Role: &lt;strong&gt;{!Get_Placement.TR1__Job__r.s5m__JobRole__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Award Classification: &lt;strong&gt;{!Get_Placement.TR1__Job__r.s5m__JobRole__r.tc9_ext_sirint__Award_Classification__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Award Level of Candidate: &lt;strong&gt;{!var_candidate_award_level_name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;RC Template Group:&lt;strong&gt; {!Get_Placement.TR1__Job__r.s5m__JobRole__r.Rate_Template_Group__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Fee Period:&lt;strong&gt; {!ff_placement_FFS_period}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;MPR Record: &lt;strong&gt;{!get_Minimum_Pay_Rate.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your administrator to ensure there is a valid Fee for Service Rate set on the MPR record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Fee_Created</name>
        <label>Contract Fee Created</label>
        <locationX>842</locationX>
        <locationY>4442</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_txtCreated</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your &lt;a href=&quot;/lightning/r/tc9_et__Invoiceable_Fee__c/{!varInvoiceableFee.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Invoiceable Fee&lt;/a&gt; has been successfully created for week ending: &lt;strong&gt;{!Contract_Fee_Date}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error_credential</name>
        <label>error_credential</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_dt_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(241, 10, 10);&quot;&gt;ERROR&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No award level available against the candidate (ticket/competency) based on the job role Award Classification:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Person Placed: &lt;strong&gt;{!Get_Placement.TR1__Person_Placed__r.FirstName} {!Get_Placement.TR1__Person_Placed__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Job Role Award Classification: &lt;strong&gt;{!Get_Placement.TR1__Job__r.s5m__JobRole__r.tc9_ext_sirint__Award_Classification__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check candidate has valid Award Level competency based on the award classification and start date of the placement.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error_mpr</name>
        <label>error_mpr</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(241, 10, 10);&quot;&gt;ERROR&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No Fee for Service Rate could be found based on the following details:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Job Role: &lt;strong&gt;{!Get_Placement.TR1__Job__r.s5m__JobRole__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Award Classification: &lt;strong&gt;{!Get_Placement.TR1__Job__r.s5m__JobRole__r.tc9_ext_sirint__Award_Classification__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Award Level of Candidate: &lt;strong&gt;{!var_candidate_award_level_name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;RC Template Group:&lt;strong&gt; {!Get_Placement.TR1__Job__r.s5m__JobRole__r.Rate_Template_Group__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Fee Period:&lt;strong&gt; {!ff_placement_FFS_period}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your administrator to ensure there is a valid Fee for Service Rate&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fee_Created</name>
        <label>Fee Created</label>
        <locationX>1084</locationX>
        <locationY>2870</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtCreated</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Your &lt;a href=&quot;/lightning/r/tc9_et__Invoiceable_Fee__c/{!varInvoiceableFee.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Invoiceable Fee&lt;/a&gt; has been successfully created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_Data</name>
        <label>Missing Data</label>
        <locationX>952</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>txtCreateFee</targetReference>
        </connector>
        <fields>
            <name>txtMissingDetails</name>
            <fieldText>&lt;p&gt;The related Client must have a &apos;Default Invoice Entity&apos; and &apos;Invoice Contact&apos; to create a Fee.&lt;/p&gt;&lt;p&gt;Please update the related Client and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1634</locationX>
        <locationY>4550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(4, 170, 18);&quot;&gt;SUCCESS&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have created the weekly contract fees for the date of this placement&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>txtCreateFee</name>
        <label>Create Fee</label>
        <locationX>1084</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Perm_Fee_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Fee_Details</name>
            <fieldText>Fee Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fee_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fee_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>frmTODAY</elementReference>
                    </defaultValue>
                    <fieldText>Fee Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>txtBlank</name>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Invoice_Schedule</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>tc9_et__Invoice_Schedule__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Invoice Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>tc9_et__Invoiceable_Fee__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Account.tc9_et__Default_Invoice_Schedule__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fee_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>tc9_et__Client__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Client</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>tc9_et__Invoiceable_Fee__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Account.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Placement</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Placement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>tc9_et__Invoiceable_Fee__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Placement</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Placement.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Placement.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Warning_Message</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 7, 7); font-size: 10px;&quot;&gt;Warning&lt;/strong&gt;&lt;span style=&quot;color: rgb(228, 7, 7); font-size: 10px;&quot;&gt;:  A fee has already been created for this Placement.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varPlacement.Fee_Created__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Employee</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>tc9_et__Employee__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>tc9_et__Invoiceable_Fee__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Placement.TR1__Person_Placed__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>txtEmployee</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Relating the Fee to an individual Employee is optional. If related to an Employee, the Employee&apos;s name will appear on the related Invoice.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varPlacement.TR1__Contact__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Invoice_Description</name>
            <defaultValue>
                <stringValue>{!ff_default_invoice_description}</stringValue>
            </defaultValue>
            <fieldText>Invoice Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Details entered will display on the clients Invoice.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Invoice_Amount</name>
            <fieldText>Invoice Amount</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invoice_Amount_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Toggle_Tax</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Invoice Taxable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Invoice_Amount_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Rate</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varPlacement.TR1__Adjusted_Fee_Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txtCreateFee_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>txtCreateFee_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Total_Ex_Tax</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmInvoiceTotalExTax</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Total Ex. Tax</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>txtCreateFee_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Total_Tax</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmInvoiceTotalTax</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Total Tax</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>txtCreateFee_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Total_Inc_Tax</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmInvoiceTotalIncTax</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Total Inc. Tax</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Fee</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Weekly_CONTRACT_Create_Fee</name>
        <label>Weekly CONTRACT Create Fee</label>
        <locationX>1656</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Already_Exists</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Fee_Details</name>
            <fieldText>Fee Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Copy_1_of_Fee_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_txtBlank</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(26, 119, 231);&quot;&gt;This will create a total of &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(26, 119, 231);&quot;&gt;{!Get_Placement.Number_of_Contract_Fees__c} &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(26, 119, 231);&quot;&gt;weekly fees.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Copy_1_of_Fee_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>warning</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(231, 26, 43); font-size: 16px;&quot;&gt;WARNING&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 10, 14);&quot;&gt;A total of {!Get_Placement.Number_of_Fees_Created__c} fees have already been created for this placement.  Please review before proceeding&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Placement.Number_of_Fees_Created__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Invoice_Description</name>
            <defaultValue>
                <stringValue>{!ff_Weekly_CONTRACT_Invoice_Description}</stringValue>
            </defaultValue>
            <fieldText>Invoice Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Details entered will display on the clients Invoice.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_CONTRACT_Invoice_Amount</name>
            <fieldText>Invoice Amount</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_CONTRACT_Invoice_Amount_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Weekly_CONTRACT_Toggle_Tax</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Invoice Taxable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ff_contract_invoice_taxable</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_CONTRACT_Invoice_Amount_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Weekly_Contract_Invoice_Rate</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>get_Minimum_Pay_Rate.tc9_et__Custom_Pay_Rate_2__c</elementReference>
                    </defaultValue>
                    <fieldText>Weekly Invoice Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Weekly_CONTRACT_Create_Fee_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Weekly_CONTRACT_Create_Fee_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Weekly_CONTRACT_Invoice_Total_Ex_Tax</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frm_Weekly_CONTRACT_InvoiceTotalExTax</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Total Ex. Tax</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Weekly_CONTRACT_Create_Fee_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Weekly_CONTRACT_Invoice_Total_Tax</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frm_Weekly_CONTRACT_InvoiceTotalTax</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Total Tax</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Weekly_CONTRACT_Create_Fee_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Weekly_CONTRACT_Invoice_Total_Inc_Tax</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frm_Weekly_CONTRACT_InvoiceTotalIncTax</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Total Inc. Tax</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Fees</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Placement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rcs_invoiceable_fee</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Invoiceable_Fee__c</objectType>
    </variables>
    <variables>
        <name>var_AssignmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_award_classification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_award_level</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_candidate_award_level_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_contract_test</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_date_counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Fee_quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Placement.Number_of_Contract_Fees__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_fees_remaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RC_Group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_total_fees_created</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varClientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInvoiceableFee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Invoiceable_Fee__c</objectType>
    </variables>
    <variables>
        <name>varPlacement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TR1__Closing_Report__c</objectType>
    </variables>
</Flow>
