.vscode/allianceuat_compare/force-app/main/default/flows/X3b_Send_Onboarding_Pack_from_ATS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Candidate</name>
        <label>Send Email to Candidate</label>
        <locationX>512</locationX>
        <locationY>2630</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>AsignmentFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Branch_Email_Types_Subflow.EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>X1218_Sub_Flow_to_Get_the_Email_Template.EmailTemplateId</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Application.TR1__Applicant__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_List_of_Doc_Pack</name>
        <label>Assign List of Doc Pack</label>
        <locationX>776</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>lstOfDocPack</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedDocumentPacks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Packs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewAssignment</name>
        <label>NewAssignment</label>
        <locationX>864</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>NewAssignment_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Assignment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Packs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ACT</name>
        <choiceText>ACT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACT</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NSW</name>
        <choiceText>NSW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NSW</stringValue>
        </value>
    </choices>
    <choices>
        <name>NT</name>
        <choiceText>NT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NT</stringValue>
        </value>
    </choices>
    <choices>
        <name>QLD</name>
        <choiceText>QLD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QLD</stringValue>
        </value>
    </choices>
    <choices>
        <name>SA</name>
        <choiceText>SA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SA</stringValue>
        </value>
    </choices>
    <choices>
        <name>SYD</name>
        <choiceText>SYD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SYD</stringValue>
        </value>
    </choices>
    <choices>
        <name>TAS</name>
        <choiceText>TAS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TAS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VIC</name>
        <choiceText>VIC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIC</stringValue>
        </value>
    </choices>
    <choices>
        <name>WA</name>
        <choiceText>WA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assignment_Found</name>
        <label>Assignment Found?</label>
        <locationX>996</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Already_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Document_Assignments</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Onboarding_Registration_Pack_Found</name>
        <label>Onboarding Registration Pack Found?</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SendOnboardingPack</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rural_Remote_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_Assignment_RR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Onboarding_Registration_Assignment_RR</targetReference>
            </connector>
            <label>Rural Remote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Onboarding_Registration_Pack_Found</name>
        <label>Onboarding Registration Pack Found?</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SendOnboardingPack</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExtraStaff_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Document_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Onboarding_Registration_Assignment</targetReference>
            </connector>
            <label>ExtraStaff</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nursing_or_RR</name>
        <label>Nursing or RR?</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>InfoScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nursing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.TR1__Job__r.AA_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nursing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document_Pack_Onboarding_Registration</targetReference>
            </connector>
            <label>Nursing</label>
        </rules>
        <rules>
            <name>Rural_Remote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.TR1__Job__r.AA_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rural &amp; Remote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document_Pack_Onboarding_Registration_RR</targetReference>
            </connector>
            <label>Rural Remote</label>
        </rules>
        <rules>
            <name>ExtraStaff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.TR1__Job__r.AA_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health &amp; Hospo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document_Pack_Onboarding_Registration_es</targetReference>
            </connector>
            <label>ExtraStaff</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Registration_Pack_Found</name>
        <label>Onboarding Registration Pack Found?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SendOnboardingPack</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nursing_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_Assignment_OR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Onboarding_Registration_Assignment</targetReference>
            </connector>
            <label>Nursing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Packs</name>
        <label>Send Packs</label>
        <locationX>776</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>NoEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendPack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewAssignment</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1218_Sub_Flow_to_Get_the_Email_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>updated with states column</description>
    <environments>Default</environments>
    <interviewLabel>3b Send Onboarding Pack from ATS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>3b Send Onboarding Pack from ATS</label>
    <loops>
        <name>Loop_Through_Selected_Packs</name>
        <label>Loop Through Selected Packs</label>
        <locationX>776</locationX>
        <locationY>1490</locationY>
        <collectionReference>SelectedDocumentPacks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Document_Assignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Packs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_2_of_Create_Onboarding_Registration_Assignment</name>
        <label>Create Onboarding Registration Assignment</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>SendOnboardingPack</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>Get_Application.TR1__Applicant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>OnboardingRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Assignments</name>
        <label>Create Document Assignments</label>
        <locationX>864</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>NewAssignment</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>Get_Application.TR1__Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>Loop_Through_Selected_Packs.Id</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Onboarding_Registration_Assignment</name>
        <label>Create Onboarding Registration Assignment</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>SendOnboardingPack</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>Get_Application.TR1__Applicant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>OnboardingRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Onboarding_Registration_Assignment_RR</name>
        <label>Create Onboarding Registration Assignment</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>SendOnboardingPack</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>Get_Application.TR1__Applicant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>OnboardingRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_2_of_Get_Document_Assignment</name>
        <label>Get Document Assignment</label>
        <locationX>1062</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Onboarding_Registration_Pack_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRegistrationID</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.TR1__Applicant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nursing_or_RR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Application_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Assignment_OR</name>
        <label>Get Document Assignment</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_Registration_Pack_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRegistrationID</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.TR1__Applicant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Assignment_RR</name>
        <label>Get Document Assignment</label>
        <locationX>622</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Onboarding_Registration_Pack_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingRegistrationID</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.TR1__Applicant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Assignments</name>
        <label>Get Document Assignments</label>
        <locationX>996</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.TR1__Applicant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Selected_Packs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Pack</name>
        <label>Get Document Pack</label>
        <locationX>776</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Document_packs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Packs_Found</targetReference>
        </faultConnector>
        <filterLogic>2 AND (1 OR 3) AND 4</filterLogic>
        <filters>
            <field>States__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>States</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sourcing - Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>General</stringValue>
            </value>
        </filters>
        <filters>
            <field>b3o__Disabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>b3o__Document_Pack__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Pack_Onboarding_Registration</name>
        <label>Get Document Pack - Onboarding Registration</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Assignment_OR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Alliance Nursing - Onboarding Pack</stringValue>
            </value>
        </filters>
        <filters>
            <field>b3o__Disabled__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>OnboardingRegistrationID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Pack_Onboarding_Registration_es</name>
        <label>et Document Pack - Onboarding Registration_rr</label>
        <locationX>1062</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Get_Document_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Alliance Extra Staff - Onboarding Pack</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>OnboardingRegistrationID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Pack_Onboarding_Registration_RR</name>
        <label>Get Document Pack - Onboarding Registration_rr</label>
        <locationX>622</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Assignment_RR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Alliance Rural &amp; Remote - Onboarding Pack</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>OnboardingRegistrationID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>776</locationX>
        <locationY>3062</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TR1__Stage__c</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>TR1__Application_V2__c</object>
    </recordUpdates>
    <screens>
        <name>Already_Assigned</name>
        <label>Already Assigned</label>
        <locationX>1128</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Selected_Packs</targetReference>
        </connector>
        <fields>
            <name>AlreadyAssigned</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Document Pack &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Document_Assignments.b3o__Document_Pack__r.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; has already been assigned.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AsignmentFound</name>
        <label>OnboardingPacksAssigned</label>
        <locationX>512</locationX>
        <locationY>2738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Application</targetReference>
        </connector>
        <fields>
            <name>Assigned</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Selected Onboarding Packs have been assigned if they haven&apos;t been already. Candidate will receive an email to open the packs and upload documents where necessary.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Document_packs</name>
        <label>Document packs</label>
        <locationX>776</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_List_of_Doc_Pack</targetReference>
        </connector>
        <fields>
            <name>choosePack</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please choose the Onboarding Pack you would like to send to the candidate:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Document_Packs_1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>b3o__Document_Pack__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Onboarding Packs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Document_Pack</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_Document_Pack</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ba6c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Document Pack Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;States__c&quot;,&quot;guid&quot;:&quot;column-6098&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;States&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedDocumentPacks</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>776</locationX>
        <locationY>2738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(244, 22, 22);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error at: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(238, 14, 14);&quot;&gt;{!$Flow.CurrentDateTime}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InfoScreen</name>
        <label>InfoScreen</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>screenmessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This Job doesn&apos;t have the AA Sector Field filled out.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Packs_Found</name>
        <label>No Packs Found</label>
        <locationX>1634</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoPacks</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;No Packs have been found. Please make sure there are Onboarding Packs in the system.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoEmail</name>
        <label>NoEmail</label>
        <locationX>1040</locationX>
        <locationY>2306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Application</targetReference>
        </connector>
        <fields>
            <name>nomail</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;No Emails were sent to Candidate as they have been assigned to the chosen Onboarding Packs already.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SendOnboardingPack</name>
        <label>SendOnboardingPack</label>
        <locationX>776</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stateselection</targetReference>
        </connector>
        <fields>
            <name>Pack</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Do you want to send onboarding packs to the candidate?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SendPack</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Send Pack(s)?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stateselection</name>
        <label>Stateselection</label>
        <locationX>776</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Document_Pack</targetReference>
        </connector>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;Please choose the state:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>States</name>
            <choiceReferences>VIC</choiceReferences>
            <choiceReferences>NSW</choiceReferences>
            <choiceReferences>QLD</choiceReferences>
            <choiceReferences>SA</choiceReferences>
            <choiceReferences>WA</choiceReferences>
            <choiceReferences>NT</choiceReferences>
            <choiceReferences>TAS</choiceReferences>
            <choiceReferences>ACT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>States</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Branch_Email_Types_Subflow</name>
        <label>Branch Email Types Subflow</label>
        <locationX>512</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Send_Email_to_Candidate</targetReference>
        </connector>
        <flowName>X1218_Branch_Email_Types_Subflow</flowName>
        <inputAssignments>
            <name>BranchName</name>
            <value>
                <elementReference>Get_Application.TR1__Applicant__r.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTypes</name>
            <value>
                <stringValue>Recruitment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X1218_Sub_Flow_to_Get_the_Email_Template</name>
        <label>1218 - Sub Flow to Get the Email Template</label>
        <locationX>512</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>X1218_Update_Session_Key</targetReference>
        </connector>
        <flowName>X1218_Sub_Flow_to_Get_the_Email_Template</flowName>
        <inputAssignments>
            <name>Brand</name>
            <value>
                <elementReference>Get_Application.TR1__Applicant__r.Branch__r.Brand_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationName</name>
            <value>
                <stringValue>Onboarding Pack</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X1218_Update_Session_Key</name>
        <label>1218 - Update Session Key</label>
        <locationX>512</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Branch_Email_Types_Subflow</targetReference>
        </connector>
        <flowName>X1218_Update_Session_Key</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Application.TR1__Applicant__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>DocumentPackId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOfFinalDocPack</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>b3o__Document__c</objectType>
    </variables>
    <variables>
        <name>lstOfDocPack</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>b3o__Document_Pack__c</objectType>
    </variables>
    <variables>
        <name>NewAssignment_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedDocumentPacks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>b3o__Document_Pack__c</objectType>
    </variables>
    <variables>
        <name>Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
