.vscode/allianceuat_compare/force-app/main/default/flows/X3B_Send_AN_Permission_to_Present_Form_in_Screening_Stage_Perm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Candidate</name>
        <label>Send Email to Candidate</label>
        <locationX>733</locationX>
        <locationY>849</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Application</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Application.TR1__Applicant__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>ACT</name>
        <choiceText>ACT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACT</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NSW</name>
        <choiceText>NSW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NSW</stringValue>
        </value>
    </choices>
    <choices>
        <name>NT</name>
        <choiceText>NT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NT</stringValue>
        </value>
    </choices>
    <choices>
        <name>QLD</name>
        <choiceText>QLD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QLD</stringValue>
        </value>
    </choices>
    <choices>
        <name>SA</name>
        <choiceText>SA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SA</stringValue>
        </value>
    </choices>
    <choices>
        <name>SYD</name>
        <choiceText>SYD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SYD</stringValue>
        </value>
    </choices>
    <choices>
        <name>TAS</name>
        <choiceText>TAS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TAS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VIC</name>
        <choiceText>VIC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIC</stringValue>
        </value>
    </choices>
    <choices>
        <name>WA</name>
        <choiceText>WA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Job_Record_Type_Permanent</name>
        <label>Job Record Type Permanent</label>
        <locationX>955</locationX>
        <locationY>495</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permanent_Job_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template</targetReference>
            </connector>
            <label>Permanent Job Type</label>
        </rules>
    </decisions>
    <description>Sends an email notification to the Candidate requesting them to sign the &apos;Permission to Represent&apos; Document. The email notification is sent when the candidate is moved to the Submittal Stage.</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>3B Send &quot;AN - Permission to Present&quot; Form in Screening Stage (Perm) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>3B Send &quot;AN - Permission to Present&quot; Form in Screening Stage (Perm)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>979</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Job_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Application_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>610</locationX>
        <locationY>633</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permission to present Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Job_Record_Type</name>
        <label>get Job Record Type</label>
        <locationX>977</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Record_Type_Permanent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permanent</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>948</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Email_Sent_to_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TR1__Stage__c</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>TR1__Application_V2__c</object>
    </recordUpdates>
    <screens>
        <name>Email_Sent_to_Candidate</name>
        <label>Email Sent to Candidate</label>
        <locationX>950</locationX>
        <locationY>1169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmailSent</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;AN - Permission to Present Form has been sent to candidate.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>853</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DocumentPackId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAssignment_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedDocumentPacks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>b3o__Document_Pack__c</objectType>
    </variables>
    <variables>
        <name>Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
